/* screen - basiccomponentbasiclayoutbasicgridserviceplugin */

.basiccomponentbasiclayoutbasicgridserviceplugin {
  background-color: var(--white);
  height: 4628px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-13-hstpcU {
  background-color: transparent;
  height: 866px;
  left: 420px;
  position: absolute;
  top: 3562px;
  width: 600px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-12-hstpcU {
  background-color: transparent;
  height: 898px;
  left: 400px;
  position: absolute;
  top: 2514px;
  width: 690px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-sub_-title-hstpcU {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 2456px;
  width: 1600px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-8-hstpcU {
  background-color: transparent;
  height: 866px;
  left: 400px;
  position: absolute;
  top: 1390px;
  width: 420px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-7-hstpcU {
  background-color: transparent;
  height: 898px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-hstpcU {
  background-color: transparent;
  height: 274px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-2-copy-2-LxehHB {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text1line-P96605 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text1line-D2mLR9 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text2line_m-P96605 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-2-copy-3-LxehHB {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text1line-TMa4UD {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text1line-CzqKuo {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text2line_m-TMa4UD {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-2-copy-4-LxehHB {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text1line-GM7JMd {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text1line-DIn5J3 {
  background-color: transparent;
  height: 57px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text2line_m-GM7JMd {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-2-copy-5-LxehHB {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 237px;
  width: 680px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-3-LxehHB {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-copy-hstpcU {
  background-color: transparent;
  height: 160px;
  left: 1140px;
  position: absolute;
  top: 2514px;
  width: 680px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-2-copy-2-gmzYex {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text1line-3zBi55 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text1line-RWPucB {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text2line_m-3zBi55 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-2-copy-3-gmzYex {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text1line-nEQUc6 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text1line-Sku2KB {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .table-guide-text2line_m-nEQUc6 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-3-gmzYex {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-sub_-title-mkMOPO {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-title-area-hstpcU {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-tab-service-feature_-basic-layout-hstpcU {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .x3rd-depth-y98CIe {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .tab-y98CIe {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .header_-app-bar-PxDiru {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 102px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .service-feature-type-PxDiru {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 71px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .layout_-basic-grid_-de-PxDiru {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 202px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .layout_-basic-grid_-se-PxDiru {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 208px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .layout_bg-PxDiru {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 68px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .layout_bg_-dynamic-br-PxDiru {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 251px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .progress-circle-PxDiru {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 91px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .refresh-PxDiru {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .lnb-favorite-card-hstpcU {
  background-color: transparent;
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .rectangle-q5dL35 {
  background-color: var(--concrete);
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .background-q5dL35 {
  background-color: var(--concrete);
  height: 1039px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .stacked-group-q5dL35 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-title-common-YOZogg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-contents1dpeth_close-YOZogg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-contents1dpeth_close-dgVIxG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-contents1dpeth_close-goEFEG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-contents2dpeth-copy-2-YOZogg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-contents2dpeth-copy-14-YOZogg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-contents2dpeth-copy-10-YOZogg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-contents2dpeth-copy-6-YOZogg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-contents2dpeth-copy-11-YOZogg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-contents2dpeth-copy-YOZogg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-contents2dpeth-copy-7-YOZogg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-contents2dpeth-copy-4-YOZogg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-contents2dpeth-copy-8-YOZogg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-contents2dpeth-YOZogg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-contents2dpeth-copy-9-YOZogg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-contents2dpeth-copy-5-YOZogg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-contents2dpeth-dgVIxG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-contents2dpeth-copy-3-YOZogg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-contents2dpeth-copy-12-YOZogg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-contents2dpeth-copy-15-YOZogg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-contents2dpeth-copy-13-YOZogg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-contents1dpeth_close-TIrAVf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-contents1dpeth_open_selected-YOZogg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-copy-YOZogg {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .empty-x1xOBn {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .line-copy-x1xOBn {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .empty-Px4CEJ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-title-common-copy-YOZogg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-contents1dpeth_close-l7bgRz {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-contents1dpeth_close-6E59xk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .group-YOZogg {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .empty-drxhax {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .line-copy-drxhax {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .empty-RNkTSL {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-title-common-dgVIxG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .line-q5dL35 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .home-net-gui-guidelin-q5dL35 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .webgnb-hstpcU {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .rectangle-NYGWWm {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .background-NYGWWm {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .index-NYGWWm {
  background-color: transparent;
  height: 22px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-select-VONBnN {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-unselect-VONBnN {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .web-index-unelect_main-NYGWWm {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentbasiclayoutbasicgridserviceplugin .logo-meeZcB {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
