/* screen - basiccomponentbasicheaderappbar */

.basiccomponentbasicheaderappbar {
  background-color: var(--white);
  height: 2243px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentbasicheaderappbar .group-17-QVRPX5 {
  background-color: transparent;
  height: 785px;
  left: 358px;
  position: absolute;
  top: 1259px;
  width: 732px;
}

.basiccomponentbasicheaderappbar .group-6-QVRPX5 {
  background-color: transparent;
  height: 238px;
  left: 420px;
  position: absolute;
  top: 871px;
  width: 670px;
}

.basiccomponentbasicheaderappbar .group-7-QVRPX5 {
  background-color: transparent;
  height: 379px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.basiccomponentbasicheaderappbar .group-3-copy-QVRPX5 {
  background-color: transparent;
  height: 194px;
  left: 1140px;
  position: absolute;
  top: 871px;
  width: 680px;
}

.basiccomponentbasicheaderappbar .group-QVRPX5 {
  background-color: transparent;
  height: 219px;
  left: 1140px;
  position: absolute;
  top: 312px;
  width: 680px;
}

.basiccomponentbasicheaderappbar .group-2-copy-3-MuxQHx {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 182px;
  width: 680px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-X8axx2 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-Iwadji {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentbasicheaderappbar .table-guide-text2line_m-X8axx2 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentbasicheaderappbar .group-2-copy-2-MuxQHx {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 680px;
}

.basiccomponentbasicheaderappbar .group-3-MuxQHx {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 30px;
  width: 680px;
}

.basiccomponentbasicheaderappbar .title-MuxQHx {
  background-color: transparent;
  height: 20px;
  left: 60px;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  width: 283px;
}

.basiccomponentbasicheaderappbar .group-13-QVRPX5 {
  background-color: transparent;
  height: 258px;
  left: 1140px;
  position: absolute;
  top: 1259px;
  width: 680px;
}

.basiccomponentbasicheaderappbar .group-2-copy-5-nTOw0n {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-copy-5-irL0SC {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-copy-6-irL0SC {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentbasicheaderappbar .table-guide-text2line_m-copy-2-irL0SC {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentbasicheaderappbar .group-2-copy-4-nTOw0n {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.basiccomponentbasicheaderappbar .group-3-copy-3-nTOw0n {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.basiccomponentbasicheaderappbar .group-12-nTOw0n {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 199px;
  width: 680px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-PX7Ooo {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-c9PwbY {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentbasicheaderappbar .table-guide-text2line_m-PX7Ooo {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentbasicheaderappbar .group-3-copy-2-QVRPX5 {
  background-color: transparent;
  height: 190px;
  left: 1140px;
  position: absolute;
  top: 1617px;
  width: 680px;
}

.basiccomponentbasicheaderappbar .web-sub_-title-QVRPX5 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentbasicheaderappbar .web-title-area-QVRPX5 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentbasicheaderappbar .web-tab-service-feature_-basic-layout-QVRPX5 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentbasicheaderappbar .x3rd-depth-bfEhqg {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.basiccomponentbasicheaderappbar .tab-bfEhqg {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponentbasicheaderappbar .header_-app-bar-Ioao9b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 102px;
}

.basiccomponentbasicheaderappbar .service-feature-type-Ioao9b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 71px;
}

.basiccomponentbasicheaderappbar .layout_-basic-grid_-de-Ioao9b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 202px;
}

.basiccomponentbasicheaderappbar .layout_-basic-grid_-se-Ioao9b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 206px;
}

.basiccomponentbasicheaderappbar .layout_bg-Ioao9b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 68px;
}

.basiccomponentbasicheaderappbar .layout_bg_-dynamic-br-Ioao9b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 251px;
}

.basiccomponentbasicheaderappbar .progress-circle-Ioao9b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 91px;
}

.basiccomponentbasicheaderappbar .refresh-Ioao9b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.basiccomponentbasicheaderappbar .lnb-favorite-card-QVRPX5 {
  background-color: transparent;
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasicheaderappbar .rectangle-VlteOa {
  background-color: var(--concrete);
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasicheaderappbar .background-VlteOa {
  background-color: var(--concrete);
  height: 1039px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasicheaderappbar .stacked-group-VlteOa {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-title-common-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents1dpeth_close-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents1dpeth_close-CBppAK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents1dpeth_close-dcllxz {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-2-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-14-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-10-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-6-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-11-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-7-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-4-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-8-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-9-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-5-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-CBppAK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-3-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-12-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-15-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-13-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents1dpeth_close-iXyuw8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents1dpeth_open_selected-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .group-copy-GmRnc8 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .empty-RZNR2Z {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentbasicheaderappbar .line-copy-RZNR2Z {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentbasicheaderappbar .empty-zBWp7V {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-title-common-copy-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents1dpeth_close-Lis7az {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents1dpeth_close-pDIbMD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .group-GmRnc8 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .empty-vSkH9o {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentbasicheaderappbar .line-copy-vSkH9o {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentbasicheaderappbar .empty-RsbqcF {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-title-common-CBppAK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .line-VlteOa {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentbasicheaderappbar .home-net-gui-guidelin-VlteOa {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.basiccomponentbasicheaderappbar .webgnb-QVRPX5 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentbasicheaderappbar .rectangle-e5xxNu {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentbasicheaderappbar .background-e5xxNu {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentbasicheaderappbar .index-e5xxNu {
  background-color: transparent;
  height: 22px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.basiccomponentbasicheaderappbar .web-index-select-FqtRtx {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.basiccomponentbasicheaderappbar .web-index-unselect-FqtRtx {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentbasicheaderappbar .web-index-unelect_main-e5xxNu {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentbasicheaderappbar .logo-HadctS {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
