/* screen - basiccomponentbasicprogresscircle */

.basiccomponentbasicprogresscircle {
  background-color: var(--white);
  height: 1206px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentbasicprogresscircle .group-7-QBUGIa {
  background-color: transparent;
  height: 630px;
  left: 420px;
  position: absolute;
  top: 376px;
  width: 1400px;
}

.basiccomponentbasicprogresscircle .web-sub_-title_w-description-QBUGIa {
  background-color: transparent;
  height: 91px;
  left: 320px;
  position: absolute;
  top: 285px;
  width: 1600px;
}

.basiccomponentbasicprogresscircle .web-title-area-QBUGIa {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentbasicprogresscircle .web-tab-favorite-car-QBUGIa {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.basiccomponentbasicprogresscircle .x3rd-depth-g7efI3 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.basiccomponentbasicprogresscircle .tab-g7efI3 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponentbasicprogresscircle .header_-app-bar-CU4zuP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 102px;
}

.basiccomponentbasicprogresscircle .service-feature-type-CU4zuP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 71px;
}

.basiccomponentbasicprogresscircle .layout_-basic-grid_-de-CU4zuP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 202px;
}

.basiccomponentbasicprogresscircle .layout_-basic-grid_-se-CU4zuP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 206px;
}

.basiccomponentbasicprogresscircle .layout_bg-CU4zuP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 68px;
}

.basiccomponentbasicprogresscircle .layout_bg_-dynamic-br-CU4zuP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 251px;
}

.basiccomponentbasicprogresscircle .progress-circle-CU4zuP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 91px;
}

.basiccomponentbasicprogresscircle .refresh-CU4zuP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.basiccomponentbasicprogresscircle .lnb-favorite-card-QBUGIa {
  background-color: transparent;
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasicprogresscircle .rectangle-C6ovo0 {
  background-color: var(--concrete);
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasicprogresscircle .background-C6ovo0 {
  background-color: var(--concrete);
  height: 1039px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasicprogresscircle .stacked-group-C6ovo0 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-title-common-0dkUse {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-contents1dpeth_close-0dkUse {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-contents1dpeth_close-IgBAx0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-contents1dpeth_close-QoTY8x {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-contents2dpeth-copy-2-0dkUse {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-contents2dpeth-copy-14-0dkUse {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-contents2dpeth-copy-10-0dkUse {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-contents2dpeth-copy-6-0dkUse {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-contents2dpeth-copy-11-0dkUse {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-contents2dpeth-copy-0dkUse {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-contents2dpeth-copy-7-0dkUse {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-contents2dpeth-copy-4-0dkUse {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-contents2dpeth-copy-8-0dkUse {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-contents2dpeth-0dkUse {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-contents2dpeth-copy-9-0dkUse {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-contents2dpeth-copy-5-0dkUse {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-contents2dpeth-IgBAx0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-contents2dpeth-copy-3-0dkUse {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-contents2dpeth-copy-12-0dkUse {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-contents2dpeth-copy-15-0dkUse {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-contents2dpeth-copy-13-0dkUse {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-contents1dpeth_close-CPrzGi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-contents1dpeth_open_selected-0dkUse {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .group-copy-0dkUse {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .empty-4CVpgg {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentbasicprogresscircle .line-copy-4CVpgg {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentbasicprogresscircle .empty-jLNMgx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-title-common-copy-0dkUse {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-contents1dpeth_close-Ht4i57 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-contents1dpeth_close-s1httN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .group-0dkUse {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .empty-sYx4IW {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentbasicprogresscircle .line-copy-sYx4IW {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentbasicprogresscircle .empty-AIRX8l {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasicprogresscircle .web-index-title-common-IgBAx0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicprogresscircle .line-C6ovo0 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentbasicprogresscircle .home-net-gui-guidelin-C6ovo0 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.basiccomponentbasicprogresscircle .webgnb-QBUGIa {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentbasicprogresscircle .rectangle-UpSbaK {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentbasicprogresscircle .background-UpSbaK {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentbasicprogresscircle .index-UpSbaK {
  background-color: transparent;
  height: 22px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.basiccomponentbasicprogresscircle .web-index-select-QJagR8 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.basiccomponentbasicprogresscircle .web-index-unselect-QJagR8 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentbasicprogresscircle .web-index-unelect_main-UpSbaK {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentbasicprogresscircle .logo-zJAdxB {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
