/* screen - basiccomponentbasiclayoutbg */

.basiccomponentbasiclayoutbg {
  background-color: var(--white);
  height: 2424px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentbasiclayoutbg .group-6-P2pMXe {
  background-color: transparent;
  height: 1940px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentbasiclayoutbg .web-title-area-P2pMXe {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 65px;
  width: 1600px;
}

.basiccomponentbasiclayoutbg .web-tab-favorite-car-P2pMXe {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.basiccomponentbasiclayoutbg .x3rd-depth-ffeTYV {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.basiccomponentbasiclayoutbg .tab-ffeTYV {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponentbasiclayoutbg .header_-app-bar-4Lcxik {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 102px;
}

.basiccomponentbasiclayoutbg .service-feature-type-4Lcxik {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 71px;
}

.basiccomponentbasiclayoutbg .layout_-basic-grid_-de-4Lcxik {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 202px;
}

.basiccomponentbasiclayoutbg .layout_-basic-grid_-se-4Lcxik {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 206px;
}

.basiccomponentbasiclayoutbg .layout_bg-4Lcxik {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.basiccomponentbasiclayoutbg .layout_bg_-dynamic-br-4Lcxik {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 251px;
}

.basiccomponentbasiclayoutbg .progress-circle-4Lcxik {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 91px;
}

.basiccomponentbasiclayoutbg .refresh-4Lcxik {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.basiccomponentbasiclayoutbg .lnb-favorite-card-P2pMXe {
  background-color: transparent;
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasiclayoutbg .rectangle-hTmIWx {
  background-color: var(--concrete);
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasiclayoutbg .background-hTmIWx {
  background-color: var(--concrete);
  height: 1039px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasiclayoutbg .stacked-group-hTmIWx {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-title-common-MZfAPp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-contents1dpeth_close-MZfAPp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-contents1dpeth_close-Rm8wRA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-contents1dpeth_close-x20Exq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-contents2dpeth-copy-2-MZfAPp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-contents2dpeth-copy-14-MZfAPp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-contents2dpeth-copy-10-MZfAPp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-contents2dpeth-copy-6-MZfAPp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-contents2dpeth-copy-11-MZfAPp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-contents2dpeth-copy-MZfAPp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-contents2dpeth-copy-7-MZfAPp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-contents2dpeth-copy-4-MZfAPp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-contents2dpeth-copy-8-MZfAPp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-contents2dpeth-MZfAPp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-contents2dpeth-copy-9-MZfAPp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-contents2dpeth-copy-5-MZfAPp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-contents2dpeth-Rm8wRA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-contents2dpeth-copy-3-MZfAPp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-contents2dpeth-copy-12-MZfAPp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-contents2dpeth-copy-15-MZfAPp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-contents2dpeth-copy-13-MZfAPp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-contents1dpeth_close-whoC5G {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-contents1dpeth_open_selected-MZfAPp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .group-copy-MZfAPp {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .empty-cxgZU5 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentbasiclayoutbg .line-copy-cxgZU5 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentbasiclayoutbg .empty-B4vyMU {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-title-common-copy-MZfAPp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-contents1dpeth_close-vA1H4w {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-contents1dpeth_close-JOgQ8l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .group-MZfAPp {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .empty-UfvtzN {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentbasiclayoutbg .line-copy-UfvtzN {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentbasiclayoutbg .empty-M4mhlC {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasiclayoutbg .web-index-title-common-Rm8wRA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbg .line-hTmIWx {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentbasiclayoutbg .home-net-gui-guidelin-hTmIWx {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.basiccomponentbasiclayoutbg .webgnb-P2pMXe {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentbasiclayoutbg .rectangle-xW3dif {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentbasiclayoutbg .background-xW3dif {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentbasiclayoutbg .index-xW3dif {
  background-color: transparent;
  height: 22px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.basiccomponentbasiclayoutbg .web-index-select-Aj0KCP {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.basiccomponentbasiclayoutbg .web-index-unselect-Aj0KCP {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentbasiclayoutbg .web-index-unelect_main-xW3dif {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentbasiclayoutbg .logo-7xe6Hx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
