/* screen - basiccomponentbasiclayoutbgdynamicbrandcolorchange */

.basiccomponentbasiclayoutbgdynamicbrandcolorchange {
  background-color: var(--white);
  height: 2394px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .group-5-Kui2JT {
  background-color: transparent;
  height: 1910px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-title-area-Kui2JT {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-tab-favorite-car-Kui2JT {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .x3rd-depth-J9Q3X9 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .tab-J9Q3X9 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .header_-app-bar-GqThUm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 102px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .service-feature-type-GqThUm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 71px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .layout_-basic-grid_-de-GqThUm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 202px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .layout_-basic-grid_-se-GqThUm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 206px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .layout_bg-GqThUm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 68px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .layout_bg_-dynamic-br-GqThUm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 252px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .progress-circle-GqThUm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 91px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .refresh-GqThUm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .lnb-favorite-card-Kui2JT {
  background-color: transparent;
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .rectangle-vYDlxQ {
  background-color: var(--concrete);
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .background-vYDlxQ {
  background-color: var(--concrete);
  height: 1039px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .stacked-group-vYDlxQ {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-title-common-goknqv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-contents1dpeth_close-goknqv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-contents1dpeth_close-3f4iwP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-contents1dpeth_close-SvIIb3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-contents2dpeth-copy-2-goknqv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-contents2dpeth-copy-14-goknqv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-contents2dpeth-copy-10-goknqv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-contents2dpeth-copy-6-goknqv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-contents2dpeth-copy-11-goknqv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-contents2dpeth-copy-goknqv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-contents2dpeth-copy-7-goknqv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-contents2dpeth-copy-4-goknqv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-contents2dpeth-copy-8-goknqv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-contents2dpeth-goknqv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-contents2dpeth-copy-9-goknqv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-contents2dpeth-copy-5-goknqv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-contents2dpeth-3f4iwP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-contents2dpeth-copy-3-goknqv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-contents2dpeth-copy-12-goknqv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-contents2dpeth-copy-15-goknqv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-contents2dpeth-copy-13-goknqv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-contents1dpeth_close-UTWxpj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-contents1dpeth_open_selected-goknqv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .group-copy-goknqv {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .empty-vo1CYo {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .line-copy-vo1CYo {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .empty-v3qxyt {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-title-common-copy-goknqv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-contents1dpeth_close-T1cIsx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-contents1dpeth_close-DyBiku {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .group-goknqv {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .empty-yWrIKP {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .line-copy-yWrIKP {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .empty-WtVCks {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-title-common-3f4iwP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .line-vYDlxQ {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .home-net-gui-guidelin-vYDlxQ {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .webgnb-Kui2JT {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .rectangle-lgjTxv {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .background-lgjTxv {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .index-lgjTxv {
  background-color: transparent;
  height: 22px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-select-3HZwOe {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-unselect-3HZwOe {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .web-index-unelect_main-lgjTxv {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentbasiclayoutbgdynamicbrandcolorchange .logo-hPda0R {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
