/* screen - basiccomponentplugininformation */

.basiccomponentplugininformation {
  background-color: var(--white);
  height: 4305px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentplugininformation .group-10-DnMQk9 {
  background-color: transparent;
  height: 1935px;
  left: 368px;
  position: absolute;
  top: 342px;
  width: 722px;
}

.basiccomponentplugininformation .group-11-DnMQk9 {
  background-color: transparent;
  height: 631px;
  left: 380px;
  position: absolute;
  top: 3474px;
  width: 1440px;
}

.basiccomponentplugininformation .group-13-DnMQk9 {
  background-color: transparent;
  height: 897px;
  left: 368px;
  position: absolute;
  top: 2427px;
  width: 722px;
}

.basiccomponentplugininformation .web-sub_-title-DnMQk9 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentplugininformation .group-copy-DnMQk9 {
  background-color: transparent;
  height: 287px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.basiccomponentplugininformation .group-2-copy-2-11Jedk {
  background-color: transparent;
  height: 164px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.basiccomponentplugininformation .group-2-copy-3-11Jedk {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 230px;
  width: 680px;
}

.basiccomponentplugininformation .table-guide-text1line-xgbmFE {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentplugininformation .table-guide-text1line-M1hoRf {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentplugininformation .table-guide-text2line_m-xgbmFE {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentplugininformation .group-3-11Jedk {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.basiccomponentplugininformation .group-copy-2-DnMQk9 {
  background-color: transparent;
  height: 113px;
  left: 1140px;
  position: absolute;
  top: 2427px;
  width: 680px;
}

.basiccomponentplugininformation .group-2-copy-3-nulb9v {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.basiccomponentplugininformation .table-guide-text1line-SXiGhq {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentplugininformation .table-guide-text1line-4hqJvi {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentplugininformation .table-guide-text2line_m-SXiGhq {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentplugininformation .group-3-nulb9v {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.basiccomponentplugininformation .group-3-copy-12-DnMQk9 {
  background-color: transparent;
  height: 194px;
  left: 1140px;
  position: absolute;
  top: 729px;
  width: 680px;
}

.basiccomponentplugininformation .group-3-copy-14-DnMQk9 {
  background-color: transparent;
  height: 120px;
  left: 1140px;
  position: absolute;
  top: 2640px;
  width: 680px;
}

.basiccomponentplugininformation .web-title-area-DnMQk9 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentplugininformation .web-tab-service-feature_-basic-layout-DnMQk9 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1599px;
}

.basiccomponentplugininformation .x3rd-depth-DWlFyl {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1599px;
}

.basiccomponentplugininformation .tab-DWlFyl {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponentplugininformation .plug-in-information-YrU01q {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 122px;
}

.basiccomponentplugininformation .lnb-favorite-card-DnMQk9 {
  background-color: transparent;
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentplugininformation .rectangle-ZhfNKk {
  background-color: var(--concrete);
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentplugininformation .background-ZhfNKk {
  background-color: var(--concrete);
  height: 1039px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentplugininformation .stacked-group-ZhfNKk {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentplugininformation .web-index-title-common-Pzbvy6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .web-index-contents1dpeth_close-Pzbvy6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .web-index-contents1dpeth_close-ISOJPv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .web-index-contents1dpeth_close-RsrzuR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .web-index-contents2dpeth-copy-2-Pzbvy6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .web-index-contents2dpeth-copy-14-Pzbvy6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .web-index-contents2dpeth-copy-10-Pzbvy6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .web-index-contents2dpeth-copy-6-Pzbvy6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .web-index-contents2dpeth-copy-11-Pzbvy6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .web-index-contents2dpeth-copy-Pzbvy6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .web-index-contents2dpeth-copy-7-Pzbvy6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .web-index-contents2dpeth-copy-4-Pzbvy6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .web-index-contents2dpeth-copy-8-Pzbvy6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .web-index-contents2dpeth-Pzbvy6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .web-index-contents2dpeth-copy-9-Pzbvy6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .web-index-contents2dpeth-copy-5-Pzbvy6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .web-index-contents2dpeth-ISOJPv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .web-index-contents2dpeth-copy-3-Pzbvy6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .web-index-contents2dpeth-copy-12-Pzbvy6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .web-index-contents2dpeth-copy-15-Pzbvy6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .web-index-contents2dpeth-copy-13-Pzbvy6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .web-index-contents1dpeth_close-C3TxYr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .web-index-contents1dpeth_open_selected-Pzbvy6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .group-copy-Pzbvy6 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .empty-xUSb67 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentplugininformation .line-copy-xUSb67 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentplugininformation .empty-Cz4C7N {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentplugininformation .web-index-title-common-copy-Pzbvy6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .web-index-contents1dpeth_close-8i8mbr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .web-index-contents1dpeth_close-tca57M {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .group-Pzbvy6 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .empty-JmK7hN {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentplugininformation .line-copy-JmK7hN {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentplugininformation .empty-yM4ez2 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentplugininformation .web-index-title-common-ISOJPv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentplugininformation .line-ZhfNKk {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentplugininformation .home-net-gui-guidelin-ZhfNKk {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.basiccomponentplugininformation .webgnb-DnMQk9 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentplugininformation .rectangle-pfMwwm {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentplugininformation .background-pfMwwm {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentplugininformation .index-pfMwwm {
  background-color: transparent;
  height: 22px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.basiccomponentplugininformation .web-index-select-PjBxXB {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.basiccomponentplugininformation .web-index-unselect-PjBxXB {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentplugininformation .web-index-unelect_main-pfMwwm {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentplugininformation .logo-o9tDTP {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
