/* screen - basiccomponentlistbasic */

.basiccomponentlistbasic {
  background-color: var(--white);
  height: 6700px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentlistbasic .group-3-copy-ZJ33bs {
  background-color: transparent;
  height: 194px;
  left: 1140px;
  position: absolute;
  top: 1584px;
  width: 680px;
}

.basiccomponentlistbasic .group-3-copy-2-ZJ33bs {
  background-color: transparent;
  height: 120px;
  left: 1140px;
  position: absolute;
  top: 2700px;
  width: 680px;
}

.basiccomponentlistbasic .group-3-copy-3-ZJ33bs {
  background-color: transparent;
  height: 187px;
  left: 1140px;
  position: absolute;
  top: 3316px;
  width: 680px;
}

.basiccomponentlistbasic .group-3-copy-4-ZJ33bs {
  background-color: transparent;
  height: 120px;
  left: 1140px;
  position: absolute;
  top: 6190px;
  width: 680px;
}

.basiccomponentlistbasic .group-43-ZJ33bs {
  background-color: transparent;
  height: 591px;
  left: 419px;
  position: absolute;
  top: 5909px;
  width: 670px;
}

.basiccomponentlistbasic .web-sub_-title-copy-2-ZJ33bs {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 5852px;
  width: 1600px;
}

.basiccomponentlistbasic .group-27-ZJ33bs {
  background-color: transparent;
  height: 850px;
  left: 320px;
  position: absolute;
  top: 283px;
  width: 1600px;
}

.basiccomponentlistbasic .group-28-ZJ33bs {
  background-color: transparent;
  height: 920px;
  left: 380px;
  position: absolute;
  top: 1390px;
  width: 710px;
}

.basiccomponentlistbasic .group-32-ZJ33bs {
  background-color: transparent;
  height: 251px;
  left: 380px;
  position: absolute;
  top: 2460px;
  width: 710px;
}

.basiccomponentlistbasic .group-33-ZJ33bs {
  background-color: transparent;
  height: 196px;
  left: 419px;
  position: absolute;
  top: 2861px;
  width: 362px;
}

.basiccomponentlistbasic .group-38-ZJ33bs {
  background-color: transparent;
  height: 553px;
  left: 380px;
  position: absolute;
  top: 3315px;
  width: 710px;
}

.basiccomponentlistbasic .group-41-ZJ33bs {
  background-color: transparent;
  height: 916px;
  left: 401px;
  position: absolute;
  top: 4018px;
  width: 689px;
}

.basiccomponentlistbasic .group-42-ZJ33bs {
  background-color: transparent;
  height: 569px;
  left: 401px;
  position: absolute;
  top: 5083px;
  width: 689px;
}

.basiccomponentlistbasic .group-ZJ33bs {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 1391px;
  width: 680px;
}

.basiccomponentlistbasic .group-2-copy-2-giEjuX {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.basiccomponentlistbasic .table-guide-text1line-1dd79X {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentlistbasic .table-guide-text1line-OcRfT4 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentlistbasic .table-guide-text2line_m-1dd79X {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentlistbasic .group-3-giEjuX {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.basiccomponentlistbasic .group-copy-ZJ33bs {
  background-color: transparent;
  height: 140px;
  left: 1140px;
  position: absolute;
  top: 2460px;
  width: 680px;
}

.basiccomponentlistbasic .group-2-copy-2-k2qKn6 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.basiccomponentlistbasic .table-guide-text1line-o8VewZ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentlistbasic .table-guide-text1line-NyUE6D {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentlistbasic .table-guide-text2line_m-o8VewZ {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentlistbasic .group-2-copy-3-k2qKn6 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.basiccomponentlistbasic .table-guide-text1line-GsZsY5 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentlistbasic .table-guide-text1line-3qwyku {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentlistbasic .table-guide-text2line_m-GsZsY5 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentlistbasic .group-3-k2qKn6 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.basiccomponentlistbasic .group-copy-2-ZJ33bs {
  background-color: transparent;
  height: 227px;
  left: 1140px;
  position: absolute;
  top: 4018px;
  width: 680px;
}

.basiccomponentlistbasic .group-2-copy-2-BbxwEq {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.basiccomponentlistbasic .table-guide-text1line-tCcwcy {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentlistbasic .table-guide-text1line-ktE5m8 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentlistbasic .table-guide-text2line_m-tCcwcy {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentlistbasic .group-2-copy-3-BbxwEq {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.basiccomponentlistbasic .table-guide-text1line-AsVlOa {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentlistbasic .table-guide-text1line-Z0FGna {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentlistbasic .table-guide-text2line_m-AsVlOa {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentlistbasic .group-2-copy-4-BbxwEq {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.basiccomponentlistbasic .table-guide-text1line-IMVhXV {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentlistbasic .table-guide-text1line-XO6PBU {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentlistbasic .table-guide-text2line_m-IMVhXV {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentlistbasic .group-3-BbxwEq {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.basiccomponentlistbasic .group-copy-3-ZJ33bs {
  background-color: transparent;
  height: 207px;
  left: 1140px;
  position: absolute;
  top: 5084px;
  width: 680px;
}

.basiccomponentlistbasic .group-2-copy-2-qEc7xO {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.basiccomponentlistbasic .table-guide-text1line-CDFzIN {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentlistbasic .table-guide-text1line-OOtZPz {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentlistbasic .table-guide-text2line_m-CDFzIN {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentlistbasic .group-2-copy-3-qEc7xO {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.basiccomponentlistbasic .table-guide-text1line-CB8KAV {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentlistbasic .table-guide-text1line-bIXspJ {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentlistbasic .table-guide-text2line_m-CB8KAV {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentlistbasic .group-2-copy-4-qEc7xO {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.basiccomponentlistbasic .table-guide-text1line-WxeawD {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentlistbasic .table-guide-text1line-TdXgYm {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentlistbasic .table-guide-text2line_m-WxeawD {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentlistbasic .group-3-qEc7xO {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.basiccomponentlistbasic .group-copy-4-ZJ33bs {
  background-color: transparent;
  height: 180px;
  left: 1140px;
  position: absolute;
  top: 5910px;
  width: 680px;
}

.basiccomponentlistbasic .group-2-copy-2-3p4d2G {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.basiccomponentlistbasic .table-guide-text1line-dDDwog {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentlistbasic .table-guide-text1line-UUWWcr {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentlistbasic .table-guide-text2line_m-dDDwog {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentlistbasic .group-2-copy-3-3p4d2G {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.basiccomponentlistbasic .table-guide-text1line-e2Bgz5 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentlistbasic .table-guide-text1line-czrEkf {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentlistbasic .table-guide-text2line_m-e2Bgz5 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentlistbasic .group-3-3p4d2G {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.basiccomponentlistbasic .web-sub_-title-copy-2-gA9Ei4 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 3258px;
  width: 1600px;
}

.basiccomponentlistbasic .web-sub_-title-copy-ZJ33bs {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 1333px;
  width: 1600px;
}

.basiccomponentlistbasic .web-title-area-ZJ33bs {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentlistbasic .web-tab-service-feature_-basic-layout-ZJ33bs {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1599px;
}

.basiccomponentlistbasic .x3rd-depth-6WLbxZ {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1599px;
}

.basiccomponentlistbasic .tab-6WLbxZ {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponentlistbasic .basic-LzGcSM {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 33px;
}

.basiccomponentlistbasic .service-feature-type-LzGcSM {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 56px;
}

.basiccomponentlistbasic .service-feature-type-copy-LzGcSM {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.basiccomponentlistbasic .service-feature-type-copy-2-LzGcSM {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 52px;
}

.basiccomponentlistbasic .service-feature-type-copy-3-LzGcSM {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.basiccomponentlistbasic .service-feature-type-copy-5-LzGcSM {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 124px;
}

.basiccomponentlistbasic .service-feature-type-copy-4-LzGcSM {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 76px;
}

.basiccomponentlistbasic .lnb-favorite-card-ZJ33bs {
  background-color: transparent;
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .rectangle-DEuh6N {
  background-color: var(--concrete);
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .background-DEuh6N {
  background-color: var(--concrete);
  height: 1039px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .stacked-group-DEuh6N {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-title-common-QSzP2l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-QSzP2l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-PafPJh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-6SPyiZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-copy-2-QSzP2l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-copy-14-QSzP2l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-copy-10-QSzP2l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-copy-6-QSzP2l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-copy-11-QSzP2l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-copy-QSzP2l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-copy-7-QSzP2l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-copy-4-QSzP2l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-copy-8-QSzP2l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-QSzP2l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-copy-9-QSzP2l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-copy-5-QSzP2l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-PafPJh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-copy-3-QSzP2l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-copy-12-QSzP2l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-copy-15-QSzP2l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-copy-13-QSzP2l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-vP2OUl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_open_selected-QSzP2l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .group-copy-QSzP2l {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .empty-5X2B3l {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentlistbasic .line-copy-5X2B3l {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentlistbasic .empty-1FxWJG {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-title-common-copy-QSzP2l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-HpaODD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-Qx1sJU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .group-QSzP2l {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .empty-ILrPvv {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentlistbasic .line-copy-ILrPvv {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentlistbasic .empty-oAqNmJ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-title-common-PafPJh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistbasic .line-DEuh6N {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentlistbasic .home-net-gui-guidelin-DEuh6N {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.basiccomponentlistbasic .webgnb-ZJ33bs {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistbasic .rectangle-JQlHvy {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistbasic .background-JQlHvy {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistbasic .index-JQlHvy {
  background-color: transparent;
  height: 22px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.basiccomponentlistbasic .web-index-select-vqsxzi {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.basiccomponentlistbasic .web-index-unselect-vqsxzi {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentlistbasic .web-index-unelect_main-JQlHvy {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentlistbasic .logo-4ECrxG {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
