/* screen - basiccomponentgraphinfo */

.basiccomponentgraphinfo {
  background-color: var(--white);
  height: 5649px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentgraphinfo .group-3-copy-8-GV2zMB {
  background-color: transparent;
  height: 278px;
  left: 1141px;
  position: absolute;
  top: 2942px;
  width: 680px;
}

.basiccomponentgraphinfo .table-guide-title-copy-5-GV2zMB {
  background-color: transparent;
  height: 56px;
  left: 421px;
  position: absolute;
  top: 2942px;
  width: 670px;
}

.basiccomponentgraphinfo .group-GV2zMB {
  background-color: transparent;
  height: 183px;
  left: 420px;
  position: absolute;
  top: 3048px;
  width: 346px;
}

.basiccomponentgraphinfo .group-2-GV2zMB {
  background-color: transparent;
  height: 152px;
  left: 420px;
  position: absolute;
  top: 3331px;
  width: 337px;
}

.basiccomponentgraphinfo .group-3-GV2zMB {
  background-color: transparent;
  height: 182px;
  left: 420px;
  position: absolute;
  top: 3582px;
  width: 346px;
}

.basiccomponentgraphinfo .group-30-GV2zMB {
  background-color: transparent;
  height: 870px;
  left: 320px;
  position: absolute;
  top: 3913px;
  width: 1501px;
}

.basiccomponentgraphinfo .group-25-GV2zMB {
  background-color: transparent;
  height: 516px;
  left: 419px;
  position: absolute;
  top: 4933px;
  width: 1401px;
}

.basiccomponentgraphinfo .group-17-GV2zMB {
  background-color: transparent;
  height: 537px;
  left: 419px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.basiccomponentgraphinfo .group-10-GV2zMB {
  background-color: transparent;
  height: 134px;
  left: 419px;
  position: absolute;
  top: 977px;
  width: 362px;
}

.basiccomponentgraphinfo .group-27-GV2zMB {
  background-color: transparent;
  height: 695px;
  left: 320px;
  position: absolute;
  top: 1260px;
  width: 1600px;
}

.basiccomponentgraphinfo .group-3-copy-7-GV2zMB {
  background-color: transparent;
  height: 130px;
  left: 1140px;
  position: absolute;
  top: 2432px;
  width: 680px;
}

.basiccomponentgraphinfo .group-28-GV2zMB {
  background-color: transparent;
  height: 837px;
  left: 320px;
  position: absolute;
  top: 2105px;
  width: 770px;
}

.basiccomponentgraphinfo .group-copy-GV2zMB {
  background-color: transparent;
  height: 227px;
  left: 1140px;
  position: absolute;
  top: 2105px;
  width: 680px;
}

.basiccomponentgraphinfo .group-2-copy-2-ycAFMX {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.basiccomponentgraphinfo .table-guide-text1line-c8ZypM {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentgraphinfo .table-guide-text1line-pQ0l5v {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentgraphinfo .table-guide-text2line_m-c8ZypM {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentgraphinfo .group-2-copy-6-ycAFMX {
  background-color: transparent;
  height: 104px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.basiccomponentgraphinfo .group-3-ycAFMX {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.basiccomponentgraphinfo .group-1bjakv {
  background-color: transparent;
  height: 160px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.basiccomponentgraphinfo .group-2-copy-2-Dos9e1 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.basiccomponentgraphinfo .table-guide-text1line-F3abiG {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentgraphinfo .table-guide-text1line-JUPFpf {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentgraphinfo .table-guide-text2line_m-F3abiG {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentgraphinfo .group-2-copy-6-Dos9e1 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.basiccomponentgraphinfo .table-guide-text1line-Q1s1nL {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentgraphinfo .table-guide-text1line-Cxk1oG {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentgraphinfo .table-guide-text2line_m-Q1s1nL {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentgraphinfo .group-3-Dos9e1 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.basiccomponentgraphinfo .web-sub_-title-GV2zMB {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentgraphinfo .web-title-area-GV2zMB {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentgraphinfo .web-tab-service-feature_-basic-layout-GV2zMB {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentgraphinfo .x3rd-depth-raIAS0 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.basiccomponentgraphinfo .tab-raIAS0 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponentgraphinfo .basic-xwCVbi {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 33px;
}

.basiccomponentgraphinfo .service-feature-type-xwCVbi {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 87px;
}

.basiccomponentgraphinfo .service-feature-type-copy-xwCVbi {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 25px;
}

.basiccomponentgraphinfo .service-feature-type-copy-2-xwCVbi {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 36px;
}

.basiccomponentgraphinfo .lnb-favorite-card-GV2zMB {
  background-color: transparent;
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphinfo .rectangle-tgp9gW {
  background-color: var(--concrete);
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphinfo .background-tgp9gW {
  background-color: var(--concrete);
  height: 1039px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphinfo .stacked-group-tgp9gW {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-title-common-vSqalU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-contents1dpeth_close-vSqalU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-contents1dpeth_close-21Jzzf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-contents1dpeth_close-5orAby {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-contents2dpeth-copy-2-vSqalU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-contents2dpeth-copy-14-vSqalU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-contents2dpeth-copy-10-vSqalU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-contents2dpeth-copy-6-vSqalU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-contents2dpeth-copy-11-vSqalU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-contents2dpeth-copy-vSqalU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-contents2dpeth-copy-7-vSqalU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-contents2dpeth-copy-4-vSqalU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-contents2dpeth-copy-8-vSqalU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-contents2dpeth-vSqalU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-contents2dpeth-copy-9-vSqalU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-contents2dpeth-copy-5-vSqalU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-contents2dpeth-21Jzzf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-contents2dpeth-copy-3-vSqalU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-contents2dpeth-copy-12-vSqalU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-contents2dpeth-copy-15-vSqalU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-contents2dpeth-copy-13-vSqalU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-contents1dpeth_close-Unjq7w {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-contents1dpeth_open_selected-vSqalU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .group-copy-vSqalU {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .empty-LoWnO5 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentgraphinfo .line-copy-LoWnO5 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentgraphinfo .empty-YyQdCe {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-title-common-copy-vSqalU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-contents1dpeth_close-3oHBuV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-contents1dpeth_close-RzyNd9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .group-vSqalU {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .empty-ltJALw {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentgraphinfo .line-copy-ltJALw {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentgraphinfo .empty-i51VQN {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphinfo .web-index-title-common-21Jzzf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphinfo .line-tgp9gW {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentgraphinfo .home-net-gui-guidelin-tgp9gW {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.basiccomponentgraphinfo .webgnb-GV2zMB {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentgraphinfo .rectangle-jlDdGT {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentgraphinfo .background-jlDdGT {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentgraphinfo .index-jlDdGT {
  background-color: transparent;
  height: 22px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.basiccomponentgraphinfo .web-index-select-zbY9LT {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.basiccomponentgraphinfo .web-index-unselect-zbY9LT {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentgraphinfo .web-index-unelect_main-jlDdGT {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentgraphinfo .logo-x9NQCb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
