/* screen - basiccomponentlistlistgridlist */

.basiccomponentlistlistgridlist {
  background-color: var(--white);
  height: 1754px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentlistlistgridlist .group-4-K8Tbzs {
  background-color: transparent;
  height: 628px;
  left: 380px;
  position: absolute;
  top: 342px;
  width: 710px;
}

.basiccomponentlistlistgridlist .group-5-K8Tbzs {
  background-color: transparent;
  height: 434px;
  left: 419px;
  position: absolute;
  top: 1120px;
  width: 1400px;
}

.basiccomponentlistlistgridlist .group-K8Tbzs {
  background-color: transparent;
  height: 190px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.basiccomponentlistlistgridlist .group-2-copy-2-NpZfQ0 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.basiccomponentlistlistgridlist .table-guide-text1line-Dx3Kxx {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentlistlistgridlist .table-guide-text1line-Ar81iI {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentlistlistgridlist .table-guide-text2line_m-Dx3Kxx {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentlistlistgridlist .group-2-copy-3-NpZfQ0 {
  background-color: transparent;
  height: 87px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.basiccomponentlistlistgridlist .table-guide-text1line-cKZhcL {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentlistlistgridlist .table-guide-text1line-vhKv6I {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentlistlistgridlist .table-guide-text2line_m-cKZhcL {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentlistlistgridlist .group-2-cKZhcL {
  background-color: transparent;
  height: 40px;
  left: 60px;
  position: absolute;
  top: 47px;
  width: 258px;
}

.basiccomponentlistlistgridlist .group-3-NpZfQ0 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.basiccomponentlistlistgridlist .web-sub_-title-K8Tbzs {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentlistlistgridlist .web-title-area-K8Tbzs {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentlistlistgridlist .web-tab-service-feature_-basic-layout-K8Tbzs {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1599px;
}

.basiccomponentlistlistgridlist .x3rd-depth-E5oiQx {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1599px;
}

.basiccomponentlistlistgridlist .tab-E5oiQx {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponentlistlistgridlist .basic-xjpwJ8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 33px;
}

.basiccomponentlistlistgridlist .service-feature-type-xjpwJ8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 56px;
}

.basiccomponentlistlistgridlist .service-feature-type-copy-xjpwJ8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.basiccomponentlistlistgridlist .service-feature-type-copy-2-xjpwJ8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 52px;
}

.basiccomponentlistlistgridlist .service-feature-type-copy-3-xjpwJ8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.basiccomponentlistlistgridlist .service-feature-type-copy-5-xjpwJ8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 124px;
}

.basiccomponentlistlistgridlist .service-feature-type-copy-4-xjpwJ8 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 80px;
}

.basiccomponentlistlistgridlist .lnb-favorite-card-K8Tbzs {
  background-color: transparent;
  height: 1642px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistlistgridlist .rectangle-SKOeVd {
  background-color: var(--concrete);
  height: 1642px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistlistgridlist .background-SKOeVd {
  background-color: var(--concrete);
  height: 1187px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistlistgridlist .stacked-group-SKOeVd {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-title-common-z7dqh0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-contents1dpeth_close-z7dqh0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-contents1dpeth_close-VrEtoK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-contents1dpeth_close-rxRJvF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-contents2dpeth-copy-2-z7dqh0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-contents2dpeth-copy-14-z7dqh0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-contents2dpeth-copy-10-z7dqh0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-contents2dpeth-copy-6-z7dqh0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-contents2dpeth-copy-11-z7dqh0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-contents2dpeth-copy-z7dqh0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-contents2dpeth-copy-7-z7dqh0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-contents2dpeth-copy-4-z7dqh0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-contents2dpeth-copy-8-z7dqh0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-contents2dpeth-z7dqh0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-contents2dpeth-copy-9-z7dqh0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-contents2dpeth-copy-5-z7dqh0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-contents2dpeth-VrEtoK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-contents2dpeth-copy-3-z7dqh0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-contents2dpeth-copy-12-z7dqh0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-contents2dpeth-copy-15-z7dqh0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-contents2dpeth-copy-13-z7dqh0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-contents1dpeth_close-MqqOos {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-contents1dpeth_open_selected-z7dqh0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .group-copy-z7dqh0 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .empty-w8gYqs {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentlistlistgridlist .line-copy-w8gYqs {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentlistlistgridlist .empty-dlur6t {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-title-common-copy-z7dqh0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-contents1dpeth_close-xI4wpn {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-contents1dpeth_close-M3rMOs {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .group-z7dqh0 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .empty-76O6di {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentlistlistgridlist .line-copy-76O6di {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentlistlistgridlist .empty-f1mDrd {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistlistgridlist .web-index-title-common-VrEtoK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistgridlist .line-SKOeVd {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentlistlistgridlist .home-net-gui-guidelin-SKOeVd {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.basiccomponentlistlistgridlist .webgnb-K8Tbzs {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistlistgridlist .rectangle-Z7vDkh {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistlistgridlist .background-Z7vDkh {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistlistgridlist .index-Z7vDkh {
  background-color: transparent;
  height: 22px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.basiccomponentlistlistgridlist .web-index-select-9AV5ER {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.basiccomponentlistlistgridlist .web-index-unselect-9AV5ER {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentlistlistgridlist .web-index-unelect_main-Z7vDkh {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentlistlistgridlist .logo-u1W2V9 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
