/* screen - basiccomponentlistlistwithbutton */

.basiccomponentlistlistwithbutton {
  background-color: var(--white);
  height: 5378px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentlistlistwithbutton .group-60-oou1c4 {
  background-color: transparent;
  height: 887px;
  left: 400px;
  position: absolute;
  top: 2653px;
  width: 1071px;
}

.basiccomponentlistlistwithbutton .group-61-oou1c4 {
  background-color: transparent;
  height: 734px;
  left: 419px;
  position: absolute;
  top: 3796px;
  width: 988px;
}

.basiccomponentlistlistwithbutton .group-62-oou1c4 {
  background-color: transparent;
  height: 301px;
  left: 400px;
  position: absolute;
  top: 4787px;
  width: 853px;
}

.basiccomponentlistlistwithbutton .group-55-copy-2-oou1c4 {
  background-color: transparent;
  height: 129px;
  left: 1259px;
  position: absolute;
  top: 5013px;
  width: 562px;
}

.basiccomponentlistlistwithbutton .group-58-oou1c4 {
  background-color: transparent;
  height: 507px;
  left: 400px;
  position: absolute;
  top: 878px;
  width: 781px;
}

.basiccomponentlistlistwithbutton .group-59-oou1c4 {
  background-color: transparent;
  height: 534px;
  left: 400px;
  position: absolute;
  top: 1651px;
  width: 937px;
}

.basiccomponentlistlistwithbutton .group-57-oou1c4 {
  background-color: transparent;
  height: 337px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentlistlistwithbutton .group-53-oou1c4 {
  background-color: transparent;
  height: 330px;
  left: 1220px;
  position: absolute;
  top: 3106px;
  width: 600px;
}

.basiccomponentlistlistwithbutton .group-36-JlwdL3 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 600px;
}

.basiccomponentlistlistwithbutton .table-guide-text1line-sVyHWX {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 41px;
}

.basiccomponentlistlistwithbutton .table-guide-text2line_m-copy-2-sVyHWX {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 50px;
  position: absolute;
  top: 0px;
  width: 394px;
}

.basiccomponentlistlistwithbutton .table-guide-text2line_m-copy-5-sVyHWX {
  background-color: transparent;
  height: 37px;
  left: 451px;
  position: absolute;
  top: 0px;
  width: 149px;
}

.basiccomponentlistlistwithbutton .group-3-JlwdL3 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 600px;
}

.basiccomponentlistlistwithbutton .group-49-JlwdL3 {
  background-color: transparent;
  height: 37px;
  left: 50px;
  position: absolute;
  top: 103px;
  width: 394px;
}

.basiccomponentlistlistwithbutton .table-guide-text2line_m-copy-3-naEOXG {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 394px;
}

.basiccomponentlistlistwithbutton .group-copy-5-JlwdL3 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 197px;
  width: 600px;
}

.basiccomponentlistlistwithbutton .group-52-JlwdL3 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 271px;
  width: 600px;
}

.basiccomponentlistlistwithbutton .table-guide-text1line-1VGkWC {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 41px;
}

.basiccomponentlistlistwithbutton .table-guide-text2line_m-copy-1VGkWC {
  background-color: transparent;
  height: 53px;
  left: 451px;
  position: absolute;
  top: 0px;
  width: 149px;
}

.basiccomponentlistlistwithbutton .rectangle-M9IDxi {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 149px;
}

.basiccomponentlistlistwithbutton .group-M9IDxi {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 137px;
}

.basiccomponentlistlistwithbutton .content-92vpMA {
  background-color: transparent;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 22px;
  white-space: nowrap;
  width: 137px;
}

.basiccomponentlistlistwithbutton .title-92vpMA {
  background-color: transparent;
  color: #0074d4;
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 137px;
}

.basiccomponentlistlistwithbutton .table-guide-text2line_m-copy-3-1VGkWC {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 49px;
  position: absolute;
  top: 0px;
  width: 394px;
}

.basiccomponentlistlistwithbutton .group-51-JlwdL3 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 600px;
}

.basiccomponentlistlistwithbutton .table-guide-text2line_m-copy-BczXTT {
  background-color: transparent;
  height: 37px;
  left: 451px;
  position: absolute;
  top: 0px;
  width: 149px;
}

.basiccomponentlistlistwithbutton .table-guide-text1line-BczXTT {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 41px;
}

.basiccomponentlistlistwithbutton .table-guide-text2line_m-copy-3-BczXTT {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 49px;
  position: absolute;
  top: 0px;
  width: 394px;
}

.tableguidetext2linemcopy {
  background-color: transparent;
  height: 31px;
  left: 1671px;
  opacity: 1;
  position: absolute;
  top: 3209px;
  width: 149px;
}

.tableguidetext2linemcopy .rectangle-VQwXOp {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 149px;
}

.tableguidetext2linemcopy .contents-VQwXOp {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 137px;
}

.basiccomponentlistlistwithbutton .group-48-oou1c4 {
  background-color: transparent;
  height: 416px;
  left: 1220px;
  position: absolute;
  top: 1979px;
  width: 600px;
}

.basiccomponentlistlistwithbutton .group-2-QKpKYr {
  background-color: transparent;
  height: 127px;
  left: 0px;
  position: absolute;
  top: 289px;
  width: 600px;
}

.basiccomponentlistlistwithbutton .group-28-QKpKYr {
  background-color: transparent;
  height: 279px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 600px;
}

.basiccomponentlistlistwithbutton .group-56-TPzViQ {
  background-color: transparent;
  height: 223px;
  left: 451px;
  position: absolute;
  top: 56px;
  width: 149px;
}

.basiccomponentlistlistwithbutton .table-guide-text2line-U7o8Gh {
  background-color: transparent;
  height: 223px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 149px;
}

.basiccomponentlistlistwithbutton .table-guide-text1line-copy-TPzViQ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 41px;
}

.basiccomponentlistlistwithbutton .table-guide-text2line_m-TPzViQ {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 55px;
  position: absolute;
  top: 56px;
  width: 394px;
}

.basiccomponentlistlistwithbutton .group-3-TPzViQ {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 600px;
}

.basiccomponentlistlistwithbutton .group-47-oou1c4 {
  background-color: transparent;
  height: 214px;
  left: 1220px;
  position: absolute;
  top: 1179px;
  width: 600px;
}

.basiccomponentlistlistwithbutton .group-3-OtwmDU {
  background-color: transparent;
  height: 111px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 600px;
}

.basiccomponentlistlistwithbutton .table-guide-text2line_m-OtwmDU {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 49px;
  position: absolute;
  top: 56px;
  width: 394px;
}

.basiccomponentlistlistwithbutton .table-guide-text2line_m-copy-OtwmDU {
  background-color: transparent;
  height: 37px;
  left: 451px;
  position: absolute;
  top: 56px;
  width: 149px;
}

.basiccomponentlistlistwithbutton .table-guide-text1line-OtwmDU {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 41px;
}

.basiccomponentlistlistwithbutton .group-3-tywtD5 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 600px;
}

.basiccomponentlistlistwithbutton .group-50-oou1c4 {
  background-color: transparent;
  height: 390px;
  left: 1260px;
  position: absolute;
  top: 4788px;
  width: 560px;
}

.basiccomponentlistlistwithbutton .group-9-4Hq1XP {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 560px;
}

.basiccomponentlistlistwithbutton .table-guide-text2line_m-copy-J9FMMF {
  background-color: transparent;
  height: 37px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 139px;
}

.basiccomponentlistlistwithbutton .table-guide-text1line-J9FMMF {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 38px;
}

.basiccomponentlistlistwithbutton .table-guide-text2line_m-copy-2-J9FMMF {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 40px;
  position: absolute;
  top: 0px;
  width: 374px;
}

.basiccomponentlistlistwithbutton .group-3-4Hq1XP {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 560px;
}

.basiccomponentlistlistwithbutton .group-copy-3-4Hq1XP {
  background-color: transparent;
  height: 114px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 560px;
}

.basiccomponentlistlistwithbutton .group-copy-4-4Hq1XP {
  background-color: transparent;
  height: 116px;
  left: 0px;
  position: absolute;
  top: 227px;
  width: 560px;
}

.basiccomponentlistlistwithbutton .group-copy-5-4Hq1XP {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 353px;
  width: 560px;
}

.basiccomponentlistlistwithbutton .web-sub_-title-oou1c4 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 2595px;
  width: 1600px;
}

.basiccomponentlistlistwithbutton .web-sub_-title-VgekTc {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 1593px;
  width: 1600px;
}

.basiccomponentlistlistwithbutton .web-sub_-title-KztynS {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 3740px;
  width: 1600px;
}

.basiccomponentlistlistwithbutton .web-sub_-title-Wym6tN {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 4730px;
  width: 1600px;
}

.basiccomponentlistlistwithbutton .web-sub_-title-4pJtzf {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 820px;
  width: 1600px;
}

.basiccomponentlistlistwithbutton .web-title-area-oou1c4 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentlistlistwithbutton .web-tab-service-feature_-basic-layout-oou1c4 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1599px;
}

.basiccomponentlistlistwithbutton .x3rd-depth-wr54mT {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1599px;
}

.basiccomponentlistlistwithbutton .tab-wr54mT {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponentlistlistwithbutton .basic-IGcIsj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 33px;
}

.basiccomponentlistlistwithbutton .service-feature-type-IGcIsj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 56px;
}

.basiccomponentlistlistwithbutton .service-feature-type-copy-IGcIsj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.basiccomponentlistlistwithbutton .service-feature-type-copy-2-IGcIsj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 52px;
}

.basiccomponentlistlistwithbutton .service-feature-type-copy-3-IGcIsj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.basiccomponentlistlistwithbutton .service-feature-type-copy-5-IGcIsj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 124px;
}

.basiccomponentlistlistwithbutton .service-feature-type-copy-4-IGcIsj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 76px;
}

.basiccomponentlistlistwithbutton .lnb-favorite-card-oou1c4 {
  background-color: transparent;
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistlistwithbutton .rectangle-KI5NTr {
  background-color: var(--concrete);
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistlistwithbutton .background-KI5NTr {
  background-color: var(--concrete);
  height: 1039px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistlistwithbutton .stacked-group-KI5NTr {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-title-common-Pp75iC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-contents1dpeth_close-Pp75iC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-contents1dpeth_close-U6L7O8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-contents1dpeth_close-C0ihK4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-contents2dpeth-copy-2-Pp75iC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-contents2dpeth-copy-14-Pp75iC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-contents2dpeth-copy-10-Pp75iC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-contents2dpeth-copy-6-Pp75iC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-contents2dpeth-copy-11-Pp75iC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-contents2dpeth-copy-Pp75iC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-contents2dpeth-copy-7-Pp75iC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-contents2dpeth-copy-4-Pp75iC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-contents2dpeth-copy-8-Pp75iC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-contents2dpeth-Pp75iC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-contents2dpeth-copy-9-Pp75iC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-contents2dpeth-copy-5-Pp75iC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-contents2dpeth-U6L7O8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-contents2dpeth-copy-3-Pp75iC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-contents2dpeth-copy-12-Pp75iC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-contents2dpeth-copy-15-Pp75iC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-contents2dpeth-copy-13-Pp75iC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-contents1dpeth_close-6fx681 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-contents1dpeth_open_selected-Pp75iC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .group-copy-Pp75iC {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .empty-uMiKeQ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentlistlistwithbutton .line-copy-uMiKeQ {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentlistlistwithbutton .empty-u4q1qg {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-title-common-copy-Pp75iC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-contents1dpeth_close-TeqBsf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-contents1dpeth_close-CBcTxQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .group-Pp75iC {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .empty-TxrTmK {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentlistlistwithbutton .line-copy-TxrTmK {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentlistlistwithbutton .empty-vYbIGI {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistlistwithbutton .web-index-title-common-U6L7O8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentlistlistwithbutton .line-KI5NTr {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentlistlistwithbutton .home-net-gui-guidelin-KI5NTr {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.basiccomponentlistlistwithbutton .webgnb-oou1c4 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistlistwithbutton .rectangle-wS5cVo {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistlistwithbutton .background-wS5cVo {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistlistwithbutton .index-wS5cVo {
  background-color: transparent;
  height: 22px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.basiccomponentlistlistwithbutton .web-index-select-w1OvsZ {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.basiccomponentlistlistwithbutton .web-index-unselect-w1OvsZ {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentlistlistwithbutton .web-index-unelect_main-wS5cVo {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentlistlistwithbutton .logo-HlxEUT {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
