/* screen - basiccomponentbasicrefresh */

.basiccomponentbasicrefresh {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1211px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.basiccomponentbasicrefresh .group-4-zpfJxW {
  background-color: transparent;
  height: 727px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentbasicrefresh .web-title-area-zpfJxW {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentbasicrefresh .web-tab-favorite-car-zpfJxW {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.basiccomponentbasicrefresh .x3rd-depth-mRFVXL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.basiccomponentbasicrefresh .tab-mRFVXL {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponentbasicrefresh .header_-app-bar-lI50KR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 102px;
}

.basiccomponentbasicrefresh .service-feature-type-lI50KR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 71px;
}

.basiccomponentbasicrefresh .layout_-basic-grid_-de-lI50KR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 202px;
}

.basiccomponentbasicrefresh .layout_-basic-grid_-se-lI50KR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 206px;
}

.basiccomponentbasicrefresh .layout_bg-lI50KR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 68px;
}

.basiccomponentbasicrefresh .layout_bg_-dynamic-br-lI50KR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 251px;
}

.basiccomponentbasicrefresh .progress-circle-lI50KR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 91px;
}

.basiccomponentbasicrefresh .refresh-lI50KR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.basiccomponentbasicrefresh .lnb-favorite-card-zpfJxW {
  background-color: transparent;
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasicrefresh .rectangle-CDoD9W {
  background-color: var(--concrete);
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasicrefresh .background-CDoD9W {
  background-color: var(--concrete);
  height: 1039px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasicrefresh .stacked-group-CDoD9W {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-title-common-KRkjut {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-contents1dpeth_close-KRkjut {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-contents1dpeth_close-YcDtGd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-contents1dpeth_close-7mRU0G {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-contents2dpeth-copy-2-KRkjut {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-contents2dpeth-copy-14-KRkjut {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-contents2dpeth-copy-10-KRkjut {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-contents2dpeth-copy-6-KRkjut {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-contents2dpeth-copy-11-KRkjut {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-contents2dpeth-copy-KRkjut {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-contents2dpeth-copy-7-KRkjut {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-contents2dpeth-copy-4-KRkjut {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-contents2dpeth-copy-8-KRkjut {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-contents2dpeth-KRkjut {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-contents2dpeth-copy-9-KRkjut {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-contents2dpeth-copy-5-KRkjut {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-contents2dpeth-YcDtGd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-contents2dpeth-copy-3-KRkjut {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-contents2dpeth-copy-12-KRkjut {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-contents2dpeth-copy-15-KRkjut {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-contents2dpeth-copy-13-KRkjut {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-contents1dpeth_close-FrYcTe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-contents1dpeth_open_selected-KRkjut {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .group-copy-KRkjut {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .empty-nmcQyG {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentbasicrefresh .line-copy-nmcQyG {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentbasicrefresh .empty-JIWyQe {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-title-common-copy-KRkjut {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-contents1dpeth_close-Y5h46H {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-contents1dpeth_close-Rc5omI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .group-KRkjut {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .empty-s5KgrV {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentbasicrefresh .line-copy-s5KgrV {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentbasicrefresh .empty-BDbhe4 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasicrefresh .web-index-title-common-YcDtGd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicrefresh .line-CDoD9W {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentbasicrefresh .home-net-gui-guidelin-CDoD9W {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.basiccomponentbasicrefresh .webgnb-zpfJxW {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentbasicrefresh .rectangle-VbhzQF {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentbasicrefresh .background-VbhzQF {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentbasicrefresh .index-VbhzQF {
  background-color: transparent;
  height: 22px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.basiccomponentbasicrefresh .web-index-select-3eP4HK {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.basiccomponentbasicrefresh .web-index-unselect-3eP4HK {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentbasicrefresh .web-index-unelect_main-VbhzQF {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentbasicrefresh .logo-8uv4v4 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
