/* screen - basiccomponentpageindicatorpageindicator */

.basiccomponentpageindicatorpageindicator {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentpageindicatorpageindicator .group-5-cwx0nP {
  background-color: transparent;
  height: 565px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentpageindicatorpageindicator .web-title-area-cwx0nP {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentpageindicatorpageindicator .web-tab-service-feature_-basic-layout-cwx0nP {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1599px;
}

.basiccomponentpageindicatorpageindicator .x3rd-depth-et11d7 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1599px;
}

.basiccomponentpageindicatorpageindicator .tab-et11d7 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponentpageindicatorpageindicator .page-indicator-Iae2pz {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 89px;
}

.basiccomponentpageindicatorpageindicator .service-feature-type-Iae2pz {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 59px;
}

.basiccomponentpageindicatorpageindicator .lnb-favorite-card-cwx0nP {
  background-color: transparent;
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .rectangle-4juDnJ {
  background-color: var(--concrete);
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .background-4juDnJ {
  background-color: var(--concrete);
  height: 1039px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .stacked-group-4juDnJ {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-title-common-zfm88S {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-contents1dpeth_close-zfm88S {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-contents1dpeth_close-5BPqNC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-contents1dpeth_close-uhuhs1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-contents2dpeth-copy-2-zfm88S {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-contents2dpeth-copy-14-zfm88S {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-contents2dpeth-copy-10-zfm88S {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-contents2dpeth-copy-6-zfm88S {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-contents2dpeth-copy-11-zfm88S {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-contents2dpeth-copy-zfm88S {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-contents2dpeth-copy-7-zfm88S {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-contents2dpeth-copy-4-zfm88S {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-contents2dpeth-copy-8-zfm88S {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-contents2dpeth-zfm88S {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-contents2dpeth-copy-9-zfm88S {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-contents2dpeth-copy-5-zfm88S {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-contents2dpeth-5BPqNC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-contents2dpeth-copy-3-zfm88S {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-contents2dpeth-copy-12-zfm88S {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-contents2dpeth-copy-15-zfm88S {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-contents2dpeth-copy-13-zfm88S {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-contents1dpeth_close-4mjzeV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-contents1dpeth_open_selected-zfm88S {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .group-copy-zfm88S {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .empty-C1Z1OV {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .line-copy-C1Z1OV {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentpageindicatorpageindicator .empty-8XTpZd {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-title-common-copy-zfm88S {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-contents1dpeth_close-ThnSC9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-contents1dpeth_close-S48tYg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .group-zfm88S {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .empty-ihw1LR {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .line-copy-ihw1LR {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentpageindicatorpageindicator .empty-mYnytA {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .web-index-title-common-5BPqNC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentpageindicatorpageindicator .line-4juDnJ {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentpageindicatorpageindicator .home-net-gui-guidelin-4juDnJ {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.basiccomponentpageindicatorpageindicator .webgnb-cwx0nP {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentpageindicatorpageindicator .rectangle-KvLQr4 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentpageindicatorpageindicator .background-KvLQr4 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentpageindicatorpageindicator .index-KvLQr4 {
  background-color: transparent;
  height: 22px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.basiccomponentpageindicatorpageindicator .web-index-select-eSWnIb {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.basiccomponentpageindicatorpageindicator .web-index-unselect-eSWnIb {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentpageindicatorpageindicator .web-index-unelect_main-KvLQr4 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentpageindicatorpageindicator .logo-6Np1Rf {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
