/* screen - basiccomponentdialogsbasic */

.basiccomponentdialogsbasic {
  background-color: var(--white);
  height: 1235px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentdialogsbasic .group-8-OQG5EQ {
  background-color: transparent;
  height: 751px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentdialogsbasic .web-title-area-OQG5EQ {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentdialogsbasic .web-tab-service-feature_-basic-layout-OQG5EQ {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1599px;
}

.basiccomponentdialogsbasic .x3rd-depth-GSiMFx {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1599px;
}

.basiccomponentdialogsbasic .tab-GSiMFx {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponentdialogsbasic .basic-iwBxeh {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 33px;
}

.basiccomponentdialogsbasic .lnb-favorite-card-OQG5EQ {
  background-color: transparent;
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdialogsbasic .rectangle-nxVlnF {
  background-color: var(--concrete);
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdialogsbasic .background-nxVlnF {
  background-color: var(--concrete);
  height: 1039px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdialogsbasic .stacked-group-nxVlnF {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-title-common-ZQfb0R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-contents1dpeth_close-ZQfb0R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-contents1dpeth_close-JMfKOx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-contents1dpeth_close-mL84aL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-contents2dpeth-copy-2-ZQfb0R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-contents2dpeth-copy-14-ZQfb0R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-contents2dpeth-copy-10-ZQfb0R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-contents2dpeth-copy-6-ZQfb0R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-contents2dpeth-copy-11-ZQfb0R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-contents2dpeth-copy-ZQfb0R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-contents2dpeth-copy-7-ZQfb0R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-contents2dpeth-copy-4-ZQfb0R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-contents2dpeth-copy-8-ZQfb0R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-contents2dpeth-ZQfb0R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-contents2dpeth-copy-9-ZQfb0R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-contents2dpeth-copy-5-ZQfb0R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-contents2dpeth-JMfKOx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-contents2dpeth-copy-3-ZQfb0R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-contents2dpeth-copy-12-ZQfb0R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-contents2dpeth-copy-15-ZQfb0R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-contents2dpeth-copy-13-ZQfb0R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-contents1dpeth_close-V0vxmM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-contents1dpeth_open_selected-ZQfb0R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .group-copy-ZQfb0R {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .empty-sfM7Ux {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentdialogsbasic .line-copy-sfM7Ux {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentdialogsbasic .empty-yL2Uoz {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-title-common-copy-ZQfb0R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-contents1dpeth_close-oABExt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-contents1dpeth_close-Eit2c6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .group-ZQfb0R {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .empty-xxXdvZ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentdialogsbasic .line-copy-xxXdvZ {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentdialogsbasic .empty-1MRhw6 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdialogsbasic .web-index-title-common-JMfKOx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentdialogsbasic .line-nxVlnF {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentdialogsbasic .home-net-gui-guidelin-nxVlnF {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.basiccomponentdialogsbasic .webgnb-OQG5EQ {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentdialogsbasic .rectangle-mHFJCr {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentdialogsbasic .background-mHFJCr {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentdialogsbasic .index-mHFJCr {
  background-color: transparent;
  height: 22px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.basiccomponentdialogsbasic .web-index-select-v4zROE {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.basiccomponentdialogsbasic .web-index-unselect-v4zROE {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentdialogsbasic .web-index-unelect_main-mHFJCr {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentdialogsbasic .logo-PIIJfJ {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
