/* screen - basiccomponentnoitem */

.basiccomponentnoitem {
  background-color: var(--white);
  height: 1412px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentnoitem .group-3-H4ndcu {
  background-color: transparent;
  height: 305px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.basiccomponentnoitem .group-2-copy-3-5cgXpv {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 248px;
  width: 680px;
}

.basiccomponentnoitem .table-guide-text1line-vC0PxC {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentnoitem .table-guide-text1line-RhTlcj {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentnoitem .table-guide-text2line_m-vC0PxC {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentnoitem .group-6-5cgXpv {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 152px;
  width: 680px;
}

.basiccomponentnoitem .table-guide-text2line_b-copy-jNTItO {
  background-color: transparent;
  height: 86px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentnoitem .table-guide-text1line-copy-3-jNTItO {
  background-color: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentnoitem .table-guide-text2line_m-jNTItO {
  background-color: transparent;
  height: 80px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentnoitem .group-8-5cgXpv {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.basiccomponentnoitem .table-guide-text2line_b-copy-YS7Ow3 {
  background-color: transparent;
  height: 86px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentnoitem .table-guide-text1line-copy-3-YS7Ow3 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentnoitem .table-guide-text2line_m-YS7Ow3 {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentnoitem .descriptiontabletop-5cgXpv {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.basiccomponentnoitem .group-3-copy-12-H4ndcu {
  background-color: transparent;
  height: 194px;
  left: 1140px;
  position: absolute;
  top: 747px;
  width: 680px;
}

.basiccomponentnoitem .group-7-H4ndcu {
  background-color: transparent;
  height: 870px;
  left: 368px;
  position: absolute;
  top: 342px;
  width: 722px;
}

.basiccomponentnoitem .web-sub_-title-H4ndcu {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentnoitem .web-title-area-H4ndcu {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentnoitem .lnb-favorite-card-H4ndcu {
  background-color: transparent;
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentnoitem .rectangle-IBxiRV {
  background-color: var(--concrete);
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentnoitem .background-IBxiRV {
  background-color: var(--concrete);
  height: 1039px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentnoitem .stacked-group-IBxiRV {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentnoitem .web-index-title-common-GMxCrU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .web-index-contents1dpeth_close-GMxCrU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .web-index-contents1dpeth_close-cdoSFS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .web-index-contents1dpeth_close-LHPtTI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .web-index-contents2dpeth-copy-2-GMxCrU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .web-index-contents2dpeth-copy-14-GMxCrU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .web-index-contents2dpeth-copy-10-GMxCrU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .web-index-contents2dpeth-copy-6-GMxCrU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .web-index-contents2dpeth-copy-11-GMxCrU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .web-index-contents2dpeth-copy-GMxCrU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .web-index-contents2dpeth-copy-7-GMxCrU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .web-index-contents2dpeth-copy-4-GMxCrU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .web-index-contents2dpeth-copy-8-GMxCrU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .web-index-contents2dpeth-GMxCrU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .web-index-contents2dpeth-copy-9-GMxCrU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .web-index-contents2dpeth-copy-5-GMxCrU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .web-index-contents2dpeth-cdoSFS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .web-index-contents2dpeth-copy-3-GMxCrU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .web-index-contents2dpeth-copy-12-GMxCrU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .web-index-contents2dpeth-copy-15-GMxCrU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .web-index-contents2dpeth-copy-13-GMxCrU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .web-index-contents1dpeth_close-b3ur5N {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .web-index-contents1dpeth_open_selected-GMxCrU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .group-copy-GMxCrU {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .empty-tzWyzu {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentnoitem .line-copy-tzWyzu {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentnoitem .empty-APxcXv {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentnoitem .web-index-title-common-copy-GMxCrU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .web-index-contents1dpeth_close-jqd1Wb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .web-index-contents1dpeth_close-B2qPpw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .group-GMxCrU {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .empty-FEDtoG {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentnoitem .line-copy-FEDtoG {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentnoitem .empty-48Twua {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentnoitem .web-index-title-common-cdoSFS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentnoitem .line-IBxiRV {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentnoitem .home-net-gui-guidelin-IBxiRV {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.basiccomponentnoitem .webgnb-H4ndcu {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentnoitem .rectangle-7G8xgx {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentnoitem .background-7G8xgx {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentnoitem .index-7G8xgx {
  background-color: transparent;
  height: 22px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.basiccomponentnoitem .web-index-select-stYlgQ {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.basiccomponentnoitem .web-index-unselect-stYlgQ {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentnoitem .web-index-unelect_main-7G8xgx {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentnoitem .logo-gG1GVz {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
