/* screen - basiccomponentgraphresponsiveui */

.basiccomponentgraphresponsiveui {
  background-color: var(--white);
  height: 2185px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentgraphresponsiveui .group-14-hHPngZ {
  background-color: transparent;
  height: 392px;
  left: 419px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.basiccomponentgraphresponsiveui .group-11-hHPngZ {
  background-color: transparent;
  height: 333px;
  left: 419px;
  position: absolute;
  top: 884px;
  width: 600px;
}

.basiccomponentgraphresponsiveui .group-9-hHPngZ {
  background-color: transparent;
  height: 618px;
  left: 419px;
  position: absolute;
  top: 1367px;
  width: 1400px;
}

.basiccomponentgraphresponsiveui .group-hHPngZ {
  background-color: transparent;
  height: 247px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.basiccomponentgraphresponsiveui .group-2-copy-2-l4HkiI {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.basiccomponentgraphresponsiveui .table-guide-text1line-CAxWZz {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentgraphresponsiveui .table-guide-text1line-s8DXBM {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentgraphresponsiveui .table-guide-text2line_m-CAxWZz {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentgraphresponsiveui .group-2-copy-5-l4HkiI {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.basiccomponentgraphresponsiveui .group-2-copy-6-l4HkiI {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 680px;
}

.basiccomponentgraphresponsiveui .table-guide-text1line-NKc1TR {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentgraphresponsiveui .table-guide-text1line-8FgFFl {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentgraphresponsiveui .table-guide-text2line_m-NKc1TR {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentgraphresponsiveui .group-3-l4HkiI {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.basiccomponentgraphresponsiveui .web-sub_-title-hHPngZ {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentgraphresponsiveui .web-title-area-hHPngZ {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentgraphresponsiveui .web-tab-service-feature_-basic-layout-hHPngZ {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentgraphresponsiveui .x3rd-depth-KO9zxk {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.basiccomponentgraphresponsiveui .tab-KO9zxk {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponentgraphresponsiveui .basic-oU3pIU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 33px;
}

.basiccomponentgraphresponsiveui .service-feature-type-oU3pIU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 87px;
}

.basiccomponentgraphresponsiveui .service-feature-type-copy-oU3pIU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 24px;
}

.basiccomponentgraphresponsiveui .service-feature-type-copy-2-oU3pIU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 36px;
}

.basiccomponentgraphresponsiveui .lnb-favorite-card-hHPngZ {
  background-color: transparent;
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphresponsiveui .rectangle-sNnP5m {
  background-color: var(--concrete);
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphresponsiveui .background-sNnP5m {
  background-color: var(--concrete);
  height: 1039px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphresponsiveui .stacked-group-sNnP5m {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-title-common-jis5hv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-contents1dpeth_close-jis5hv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-contents1dpeth_close-ZrrCov {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-contents1dpeth_close-IFv7pi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-contents2dpeth-copy-2-jis5hv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-contents2dpeth-copy-14-jis5hv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-contents2dpeth-copy-10-jis5hv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-contents2dpeth-copy-6-jis5hv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-contents2dpeth-copy-11-jis5hv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-contents2dpeth-copy-jis5hv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-contents2dpeth-copy-7-jis5hv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-contents2dpeth-copy-4-jis5hv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-contents2dpeth-copy-8-jis5hv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-contents2dpeth-jis5hv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-contents2dpeth-copy-9-jis5hv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-contents2dpeth-copy-5-jis5hv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-contents2dpeth-ZrrCov {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-contents2dpeth-copy-3-jis5hv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-contents2dpeth-copy-12-jis5hv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-contents2dpeth-copy-15-jis5hv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-contents2dpeth-copy-13-jis5hv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-contents1dpeth_close-vhtvL5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-contents1dpeth_open_selected-jis5hv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .group-copy-jis5hv {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .empty-9HwJtV {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentgraphresponsiveui .line-copy-9HwJtV {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentgraphresponsiveui .empty-l1lpAD {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-title-common-copy-jis5hv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-contents1dpeth_close-EAx3AN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-contents1dpeth_close-lH15Hc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .group-jis5hv {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .empty-Ec4tyI {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentgraphresponsiveui .line-copy-Ec4tyI {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentgraphresponsiveui .empty-5uIxoz {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphresponsiveui .web-index-title-common-ZrrCov {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphresponsiveui .line-sNnP5m {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentgraphresponsiveui .home-net-gui-guidelin-sNnP5m {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.basiccomponentgraphresponsiveui .webgnb-hHPngZ {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentgraphresponsiveui .rectangle-AxxJVS {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentgraphresponsiveui .background-AxxJVS {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentgraphresponsiveui .index-AxxJVS {
  background-color: transparent;
  height: 22px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.basiccomponentgraphresponsiveui .web-index-select-KcImsP {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.basiccomponentgraphresponsiveui .web-index-unselect-KcImsP {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentgraphresponsiveui .web-index-unelect_main-AxxJVS {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentgraphresponsiveui .logo-5x4Hwv {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
