/* screen - basiccomponenttextfieldsstates */

.basiccomponenttextfieldsstates {
  background-color: var(--white);
  height: 4407px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponenttextfieldsstates .group-20-W58mWk {
  background-color: transparent;
  height: 184px;
  left: 367px;
  position: absolute;
  top: 2706px;
  width: 723px;
}

.basiccomponenttextfieldsstates .group-18-W58mWk {
  background-color: transparent;
  height: 594px;
  left: 367px;
  position: absolute;
  top: 1709px;
  width: 723px;
}

.basiccomponenttextfieldsstates .group-16-W58mWk {
  background-color: transparent;
  height: 518px;
  left: 367px;
  position: absolute;
  top: 860px;
  width: 723px;
}

.basiccomponenttextfieldsstates .group-21-W58mWk {
  background-color: transparent;
  height: 817px;
  left: 349px;
  position: absolute;
  top: 3391px;
  width: 1471px;
}

.basiccomponenttextfieldsstates .group-3-copy-10-W58mWk {
  background-color: transparent;
  height: 402px;
  left: 1140px;
  position: absolute;
  top: 1127px;
  width: 680px;
}

.basiccomponenttextfieldsstates .group-3-copy-11-W58mWk {
  background-color: transparent;
  height: 456px;
  left: 1140px;
  position: absolute;
  top: 2070px;
  width: 680px;
}

.basiccomponenttextfieldsstates .group-3-copy-12-W58mWk {
  background-color: transparent;
  height: 268px;
  left: 1140px;
  position: absolute;
  top: 2973px;
  width: 680px;
}

.basiccomponenttextfieldsstates .group-15-W58mWk {
  background-color: transparent;
  height: 396px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponenttextfieldsstates .group-copy-W58mWk {
  background-color: transparent;
  height: 197px;
  left: 1140px;
  position: absolute;
  top: 830px;
  width: 680px;
}

.basiccomponenttextfieldsstates .group-2-copy-2-IczpLR {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 680px;
}

.basiccomponenttextfieldsstates .table-guide-text1line-gx4zo9 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponenttextfieldsstates .table-guide-text1line-FDOu4O {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponenttextfieldsstates .table-guide-text2line_m-gx4zo9 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponenttextfieldsstates .group-2-copy-3-IczpLR {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 133px;
  width: 680px;
}

.basiccomponenttextfieldsstates .group-3-IczpLR {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 30px;
  width: 680px;
}

.basiccomponenttextfieldsstates .title-IczpLR {
  background-color: transparent;
  height: 20px;
  left: 0px;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  width: 283px;
}

.basiccomponenttextfieldsstates .group-copy-2-W58mWk {
  background-color: transparent;
  height: 291px;
  left: 1140px;
  position: absolute;
  top: 1679px;
  width: 680px;
}

.basiccomponenttextfieldsstates .group-2-copy-2-Sh2SnT {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 680px;
}

.basiccomponenttextfieldsstates .table-guide-text1line-04xaVN {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponenttextfieldsstates .table-guide-text1line-G2GcK1 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponenttextfieldsstates .table-guide-text2line_m-04xaVN {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponenttextfieldsstates .group-2-copy-3-Sh2SnT {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 133px;
  width: 680px;
}

.basiccomponenttextfieldsstates .group-2-copy-4-Sh2SnT {
  background-color: transparent;
  height: 84px;
  left: 0px;
  position: absolute;
  top: 207px;
  width: 680px;
}

.basiccomponenttextfieldsstates .group-3-Sh2SnT {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 30px;
  width: 680px;
}

.basiccomponenttextfieldsstates .title-copy-Sh2SnT {
  background-color: transparent;
  height: 20px;
  left: 0px;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  width: 283px;
}

.basiccomponenttextfieldsstates .group-copy-3-W58mWk {
  background-color: transparent;
  height: 197px;
  left: 1140px;
  position: absolute;
  top: 2676px;
  width: 680px;
}

.basiccomponenttextfieldsstates .group-2-copy-2-DrTLVx {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 680px;
}

.basiccomponenttextfieldsstates .table-guide-text1line-6toZVW {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponenttextfieldsstates .table-guide-text1line-eTIn9l {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponenttextfieldsstates .table-guide-text2line_m-6toZVW {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponenttextfieldsstates .group-2-copy-4-DrTLVx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 133px;
  width: 680px;
}

.basiccomponenttextfieldsstates .group-3-DrTLVx {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 30px;
  width: 680px;
}

.basiccomponenttextfieldsstates .title-copy-2-DrTLVx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  width: 283px;
}

.basiccomponenttextfieldsstates .web-title-area-W58mWk {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponenttextfieldsstates .web-tab-service-feature_-basic-layout-W58mWk {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponenttextfieldsstates .x3rd-depth-MBIk5b {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.basiccomponenttextfieldsstates .tab-MBIk5b {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponenttextfieldsstates .basic-PEIYFj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 31px;
}

.basiccomponenttextfieldsstates .auto_complete-text-f-PEIYFj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 144px;
}

.basiccomponenttextfieldsstates .states-PEIYFj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 40px;
}

.basiccomponenttextfieldsstates .lnb-favorite-card-W58mWk {
  background-color: transparent;
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponenttextfieldsstates .rectangle-JPPJAf {
  background-color: var(--concrete);
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponenttextfieldsstates .background-JPPJAf {
  background-color: var(--concrete);
  height: 1039px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponenttextfieldsstates .stacked-group-JPPJAf {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-title-common-aqn8XM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-contents1dpeth_close-aqn8XM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-contents1dpeth_close-mFD1xd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-contents1dpeth_close-ON9PS2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-contents2dpeth-copy-2-aqn8XM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-contents2dpeth-copy-14-aqn8XM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-contents2dpeth-copy-10-aqn8XM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-contents2dpeth-copy-6-aqn8XM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-contents2dpeth-copy-11-aqn8XM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-contents2dpeth-copy-aqn8XM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-contents2dpeth-copy-7-aqn8XM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-contents2dpeth-copy-4-aqn8XM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-contents2dpeth-copy-8-aqn8XM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-contents2dpeth-aqn8XM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-contents2dpeth-copy-9-aqn8XM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-contents2dpeth-copy-5-aqn8XM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-contents2dpeth-mFD1xd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-contents2dpeth-copy-3-aqn8XM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-contents2dpeth-copy-12-aqn8XM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-contents2dpeth-copy-15-aqn8XM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-contents2dpeth-copy-13-aqn8XM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-contents1dpeth_close-NakGcz {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-contents1dpeth_open_selected-aqn8XM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .group-copy-aqn8XM {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .empty-8PxDNN {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponenttextfieldsstates .line-copy-8PxDNN {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponenttextfieldsstates .empty-se6SWf {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-title-common-copy-aqn8XM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-contents1dpeth_close-jPP4UR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-contents1dpeth_close-75hqOy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .group-aqn8XM {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .empty-yoNnWx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponenttextfieldsstates .line-copy-yoNnWx {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponenttextfieldsstates .empty-skAOSF {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponenttextfieldsstates .web-index-title-common-mFD1xd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponenttextfieldsstates .line-JPPJAf {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponenttextfieldsstates .home-net-gui-guidelin-JPPJAf {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.basiccomponenttextfieldsstates .webgnb-W58mWk {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponenttextfieldsstates .rectangle-XJQj4I {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponenttextfieldsstates .background-XJQj4I {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponenttextfieldsstates .index-XJQj4I {
  background-color: transparent;
  height: 22px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.basiccomponenttextfieldsstates .web-index-select-LXjZa4 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.basiccomponenttextfieldsstates .web-index-unselect-LXjZa4 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponenttextfieldsstates .web-index-unelect_main-XJQj4I {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponenttextfieldsstates .logo-A0OgyJ {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
