/* screen - basiccomponentgraphbasic */

.basiccomponentgraphbasic {
  background-color: var(--white);
  height: 5339px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentgraphbasic .group-RZvP4B {
  background-color: transparent;
  height: 493px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.basiccomponentgraphbasic .group-11-RZvP4B {
  background-color: transparent;
  height: 513px;
  left: 1140px;
  position: absolute;
  top: 985px;
  width: 680px;
}

.basiccomponentgraphbasic .group-10-RZvP4B {
  background-color: transparent;
  height: 350px;
  left: 373px;
  position: absolute;
  top: 342px;
  width: 717px;
}

.basiccomponentgraphbasic .group-4-RZvP4B {
  background-color: transparent;
  height: 571px;
  left: 363px;
  position: absolute;
  top: 985px;
  width: 727px;
}

.basiccomponentgraphbasic .group-9-RZvP4B {
  background-color: transparent;
  height: 582px;
  left: 419px;
  position: absolute;
  top: 2803px;
  width: 1400px;
}

.basiccomponentgraphbasic .group-13-RZvP4B {
  background-color: transparent;
  height: 508px;
  left: 1140px;
  position: absolute;
  top: 1706px;
  width: 680px;
}

.basiccomponentgraphbasic .group-19-RZvP4B {
  background-color: transparent;
  height: 229px;
  left: 420px;
  position: absolute;
  top: 1705px;
  width: 670px;
}

.basiccomponentgraphbasic .group-12-RZvP4B {
  background-color: transparent;
  height: 571px;
  left: 420px;
  position: absolute;
  top: 2083px;
  width: 670px;
}

.basiccomponentgraphbasic .group-6-RZvP4B {
  background-color: transparent;
  height: 357px;
  left: 400px;
  position: absolute;
  top: 3535px;
  width: 690px;
}

.basiccomponentgraphbasic .group-8-RZvP4B {
  background-color: transparent;
  height: 616px;
  left: 420px;
  position: absolute;
  top: 4523px;
  width: 1400px;
}

.basiccomponentgraphbasic .group-7-RZvP4B {
  background-color: transparent;
  height: 331px;
  left: 360px;
  position: absolute;
  top: 4042px;
  width: 1460px;
}

.basiccomponentgraphbasic .group-2-copy-2-RZvP4B {
  background-color: transparent;
  height: 37px;
  left: 1140px;
  position: absolute;
  top: 3591px;
  width: 680px;
}

.basiccomponentgraphbasic .group-2-copy-6-RZvP4B {
  background-color: transparent;
  height: 64px;
  left: 1140px;
  position: absolute;
  top: 3638px;
  width: 680px;
}

.basiccomponentgraphbasic .table-guide-text1line-msC8Dt {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.basiccomponentgraphbasic .table-guide-text1line-hGfOQa {
  background-color: transparent;
  height: 64px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.basiccomponentgraphbasic .table-guide-text2line_m-msC8Dt {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentgraphbasic .table-guide-text1line-RZvP4B {
  background-color: transparent;
  height: 37px;
  left: 1140px;
  position: absolute;
  top: 3808px;
  width: 50px;
}

.basiccomponentgraphbasic .table-guide-text1line-iKC1qb {
  background-color: transparent;
  height: 37px;
  left: 1550px;
  position: absolute;
  top: 3808px;
  width: 270px;
}

.basiccomponentgraphbasic .table-guide-text2line_m-RZvP4B {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 1200px;
  position: absolute;
  top: 3808px;
  width: 340px;
}

.basiccomponentgraphbasic .group-2-copy-7-RZvP4B {
  background-color: transparent;
  height: 86px;
  left: 1140px;
  position: absolute;
  top: 3712px;
  width: 680px;
}

.basiccomponentgraphbasic .group-3-RZvP4B {
  background-color: transparent;
  height: 56px;
  left: 1140px;
  position: absolute;
  top: 3535px;
  width: 680px;
}

.basiccomponentgraphbasic .web-sub_-title-RZvP4B {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentgraphbasic .web-title-area-RZvP4B {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentgraphbasic .web-tab-service-feature_-basic-layout-RZvP4B {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentgraphbasic .x3rd-depth-n1xyWP {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.basiccomponentgraphbasic .tab-n1xyWP {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponentgraphbasic .basic-7wnuZy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 33px;
}

.basiccomponentgraphbasic .service-feature-type-7wnuZy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 87px;
}

.basiccomponentgraphbasic .service-feature-type-copy-7wnuZy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 24px;
}

.basiccomponentgraphbasic .service-feature-type-copy-2-7wnuZy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 36px;
}

.basiccomponentgraphbasic .lnb-favorite-card-RZvP4B {
  background-color: transparent;
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphbasic .rectangle-ReSvt5 {
  background-color: var(--concrete);
  height: 1494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphbasic .background-ReSvt5 {
  background-color: var(--concrete);
  height: 1039px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphbasic .stacked-group-ReSvt5 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-title-common-j4xSSE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-contents1dpeth_close-j4xSSE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-contents1dpeth_close-7iqqdw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-contents1dpeth_close-jQgTsV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-contents2dpeth-copy-2-j4xSSE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-contents2dpeth-copy-14-j4xSSE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-contents2dpeth-copy-10-j4xSSE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-contents2dpeth-copy-6-j4xSSE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-contents2dpeth-copy-11-j4xSSE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-contents2dpeth-copy-j4xSSE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-contents2dpeth-copy-7-j4xSSE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-contents2dpeth-copy-4-j4xSSE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-contents2dpeth-copy-8-j4xSSE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-contents2dpeth-j4xSSE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-contents2dpeth-copy-9-j4xSSE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-contents2dpeth-copy-5-j4xSSE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-contents2dpeth-7iqqdw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-contents2dpeth-copy-3-j4xSSE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-contents2dpeth-copy-12-j4xSSE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-contents2dpeth-copy-15-j4xSSE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-contents2dpeth-copy-13-j4xSSE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-contents1dpeth_close-rLvHXf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-contents1dpeth_open_selected-j4xSSE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .group-copy-j4xSSE {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .empty-agiCxW {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentgraphbasic .line-copy-agiCxW {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentgraphbasic .empty-UeknyL {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-title-common-copy-j4xSSE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-contents1dpeth_close-8HX36Q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-contents1dpeth_close-YnfyaC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .group-j4xSSE {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .empty-x6YuWG {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentgraphbasic .line-copy-x6YuWG {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentgraphbasic .empty-oZ7Map {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphbasic .web-index-title-common-7iqqdw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentgraphbasic .line-ReSvt5 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentgraphbasic .home-net-gui-guidelin-ReSvt5 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.basiccomponentgraphbasic .webgnb-RZvP4B {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentgraphbasic .rectangle-zRxgOw {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentgraphbasic .background-zRxgOw {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentgraphbasic .index-zRxgOw {
  background-color: transparent;
  height: 22px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.basiccomponentgraphbasic .web-index-select-oQSnMx {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.basiccomponentgraphbasic .web-index-unselect-oQSnMx {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentgraphbasic .web-index-unelect_main-zRxgOw {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentgraphbasic .logo-3yogS3 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
