/* screen - c2caccesstokenfamilyhub */

.c2caccesstokenfamilyhub {
  background-color: var(--white);
  height: 1177px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2caccesstokenfamilyhub .group-4-JBfdSx {
  background-color: transparent;
  height: 215px;
  left: 400px;
  position: absolute;
  top: 762px;
  width: 315px;
}

.c2caccesstokenfamilyhub .group-8-JBfdSx {
  background-color: transparent;
  height: 320px;
  left: 380px;
  position: absolute;
  top: 342px;
  width: 710px;
}

.c2caccesstokenfamilyhub .web-sub_-title-JBfdSx {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.c2caccesstokenfamilyhub .group-JBfdSx {
  background-color: transparent;
  height: 403px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.c2caccesstokenfamilyhub .group-5-LN6Ijp {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.c2caccesstokenfamilyhub .group-7-LN6Ijp {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 366px;
  width: 680px;
}

.c2caccesstokenfamilyhub .table-guide-text1line-SxGec6 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.c2caccesstokenfamilyhub .table-guide-text2line_m-SxGec6 {
  background-color: transparent;
  height: 34px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2caccesstokenfamilyhub .table-guide-text1line-7YZwUK {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2caccesstokenfamilyhub .group-6-LN6Ijp {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 165px;
  width: 680px;
}

.c2caccesstokenfamilyhub .table-guide-text1line-XOjKzr {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.c2caccesstokenfamilyhub .table-guide-text2line_m-XOjKzr {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2caccesstokenfamilyhub .table-guide-text1line-dBpaKg {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2caccesstokenfamilyhub .group-6-copy-LN6Ijp {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 232px;
  width: 680px;
}

.c2caccesstokenfamilyhub .table-guide-text1line-copy-Z6vxvn {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.c2caccesstokenfamilyhub .table-guide-text2line_m-Z6vxvn {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2caccesstokenfamilyhub .table-guide-text1line-copy-2-Z6vxvn {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2caccesstokenfamilyhub .group-6-copy-2-LN6Ijp {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 299px;
  width: 680px;
}

.c2caccesstokenfamilyhub .table-guide-text1line-copy-3-zPfjWY {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.c2caccesstokenfamilyhub .table-guide-text2line_m-zPfjWY {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2caccesstokenfamilyhub .table-guide-text1line-copy-4-zPfjWY {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2caccesstokenfamilyhub .table-guide-title-LN6Ijp {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.c2caccesstokenfamilyhub .web-title-area-JBfdSx {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.c2caccesstokenfamilyhub .web-tabc2-c_-access-token-JBfdSx {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.c2caccesstokenfamilyhub .x3rd-depth-F5Ptxx {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.c2caccesstokenfamilyhub .tab-F5Ptxx {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.c2caccesstokenfamilyhub .life-tab-device-tab-dn6LUO {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 264px;
}

.c2caccesstokenfamilyhub .partner-refresh-toke-dn6LUO {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 207px;
}

.c2caccesstokenfamilyhub .st-refresh-token-inv-dn6LUO {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 175px;
}

.c2caccesstokenfamilyhub .family-hub-token-i-dn6LUO {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 194px;
}

.c2caccesstokenfamilyhub .lnb-service-feature-JBfdSx {
  background-color: transparent;
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2caccesstokenfamilyhub .rectangle-fvInJ4 {
  background-color: var(--concrete);
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2caccesstokenfamilyhub .line-fvInJ4 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2caccesstokenfamilyhub .home-net-gui-guidelin-fvInJ4 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup2 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup2 .web-index-title-reference-copy-2-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-EHSxTt {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .empty-xwsxPD {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup2 .line-copy-xwsxPD {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup2 .empty-ijbXHj {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .web-index-title-reference-copy-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-copy-EHSxTt {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .empty-K690TO {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup2 .line-copy-K690TO {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup2 .empty-6Nhabs {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .web-index-title-reference-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents1dpeth_close-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents1dpeth_close-0RYxOQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents1dpeth_close-t5mxGF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents1dpeth_close-copy-2-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents1dpeth_close-I1EwES {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents1dpeth_open_selected-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents1d-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .web-index-contents1d-0RYxOQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.c2caccesstokenfamilyhub .webgnb-JBfdSx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2caccesstokenfamilyhub .rectangle-aITSPR {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2caccesstokenfamilyhub .background-aITSPR {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2caccesstokenfamilyhub .index-aITSPR {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.c2caccesstokenfamilyhub .web-index-select-tVolPo {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.c2caccesstokenfamilyhub .web-index-unselect-tVolPo {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.c2caccesstokenfamilyhub .web-index-unelect_main-aITSPR {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.c2caccesstokenfamilyhub .logo-wlMbxD {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
