/* screen - c2caccesstokenst */

.c2caccesstokenst {
  background-color: var(--white);
  height: 1408px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2caccesstokenst .group-11-hiyVvu {
  background-color: transparent;
  height: 866px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.c2caccesstokenst .group-12-hiyVvu {
  background-color: transparent;
  height: 355px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.c2caccesstokenst .group-5-JVg5yQ {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.c2caccesstokenst .table-guide-text1line-NdIFm3 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.c2caccesstokenst .table-guide-text1line-jMocuZ {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2caccesstokenst .table-guide-text2line_-strongman-NdIFm3 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2caccesstokenst .group-7-JVg5yQ {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 276px;
  width: 680px;
}

.c2caccesstokenst .table-guide-text1line-VnCtw0 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.c2caccesstokenst .table-guide-text2line_m-VnCtw0 {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2caccesstokenst .table-guide-text1line-BokD0P {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2caccesstokenst .group-6-JVg5yQ {
  background-color: transparent;
  height: 121px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.c2caccesstokenst .table-guide-text1line-jjDkOC {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.c2caccesstokenst .table-guide-text2line_m-jjDkOC {
  background-color: transparent;
  height: 121px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2caccesstokenst .table-guide-text1line-XLyxCA {
  background-color: transparent;
  height: 59px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2caccesstokenst .table-guide-title-JVg5yQ {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.c2caccesstokenst .web-sub_-title-hiyVvu {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.c2caccesstokenst .web-title-area-hiyVvu {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.c2caccesstokenst .web-tabc2-c_-access-token-hiyVvu {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.c2caccesstokenst .x3rd-depth-dzCWFa {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.c2caccesstokenst .tab-dzCWFa {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.c2caccesstokenst .life-tab-device-tab-D8Ydke {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 264px;
}

.c2caccesstokenst .partner-refresh-toke-D8Ydke {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 207px;
}

.c2caccesstokenst .st-refresh-token-inv-D8Ydke {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.c2caccesstokenst .family-hub-token-i-D8Ydke {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 187px;
}

.c2caccesstokenst .lnb-service-feature-hiyVvu {
  background-color: transparent;
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2caccesstokenst .rectangle-IabgX4 {
  background-color: var(--concrete);
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2caccesstokenst .line-IabgX4 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2caccesstokenst .home-net-gui-guidelin-IabgX4 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup31 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup31 .web-index-title-reference-copy-2-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .group-jjB0ne {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .empty-GihQE5 {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup31 .line-copy-GihQE5 {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup31 .empty-JoxSjB {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup31 .web-index-title-reference-copy-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .group-copy-jjB0ne {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .empty-gBHVxl {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup31 .line-copy-gBHVxl {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup31 .empty-jRf5Uq {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup31 .web-index-title-reference-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents1dpeth_close-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents1dpeth_close-gxzyi9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents1dpeth_close-oVO9mY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents1dpeth_close-copy-2-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents1dpeth_close-4Qx3xt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents1dpeth_open_selected-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents1d-jjB0ne {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup31 .web-index-contents1d-gxzyi9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.c2caccesstokenst .webgnb-hiyVvu {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2caccesstokenst .rectangle-kZ42GD {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2caccesstokenst .background-kZ42GD {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2caccesstokenst .index-kZ42GD {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.c2caccesstokenst .web-index-select-scyhJP {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.c2caccesstokenst .web-index-unselect-scyhJP {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.c2caccesstokenst .web-index-unelect_main-kZ42GD {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.c2caccesstokenst .logo-RptnoM {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
