/* screen - c2cconnectedstartpage */

.c2cconnectedstartpage {
  background-color: var(--white);
  height: 2453px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2cconnectedstartpage .group-12-aj6brw {
  background-color: transparent;
  height: 546px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.c2cconnectedstartpage .group-5-Ukb9kG {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.c2cconnectedstartpage .table-guide-text1line-AE1xim {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.c2cconnectedstartpage .table-guide-text1line_mint-AE1xim {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2cconnectedstartpage .table-guide-text1line-Dup2iX {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2cconnectedstartpage .group-4-Ukb9kG {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.c2cconnectedstartpage .table-guide-text1line-2IJUDi {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.c2cconnectedstartpage .table-guide-text2line_-strongman-2IJUDi {
  background-color: transparent;
  height: 80px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2cconnectedstartpage .table-guide-text1line-2xFWzg {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2cconnectedstartpage .group-8-Ukb9kG {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 324px;
  width: 680px;
}

.c2cconnectedstartpage .table-guide-text1line-JYDo1s {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.c2cconnectedstartpage .table-guide-text2line_-strongman-JYDo1s {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2cconnectedstartpage .table-guide-text1line-Wiyv0L {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2cconnectedstartpage .group-10-Ukb9kG {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 393px;
  width: 680px;
}

.c2cconnectedstartpage .table-guide-text1line-4VCfW5 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.c2cconnectedstartpage .table-guide-text2line_m-4VCfW5 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2cconnectedstartpage .table-guide-text2line-4VCfW5 {
  background-color: transparent;
  height: 64px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2cconnectedstartpage .group-9-Ukb9kG {
  background-color: transparent;
  height: 121px;
  left: 0px;
  position: absolute;
  top: 193px;
  width: 680px;
}

.c2cconnectedstartpage .table-guide-text1line-DqDXnu {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.c2cconnectedstartpage .table-guide-text2line_m-DqDXnu {
  background-color: transparent;
  height: 121px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2cconnectedstartpage .table-guide-text1line-9xRFv8 {
  background-color: transparent;
  height: 59px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2cconnectedstartpage .table-guide-title-Ukb9kG {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.c2cconnectedstartpage .group-11-Ukb9kG {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 467px;
  width: 680px;
}

.c2cconnectedstartpage .table-guide-text1line-o76K9B {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.c2cconnectedstartpage .table-guide-text2line_m-o76K9B {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2cconnectedstartpage .table-guide-text1line-YLWpOZ {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2cconnectedstartpage .group-20-aj6brw {
  background-color: transparent;
  height: 313px;
  left: 1140px;
  position: absolute;
  top: 1347px;
  width: 680px;
}

.c2cconnectedstartpage .group-6-aj6brw {
  background-color: transparent;
  height: 905px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.c2cconnectedstartpage .group-22-aj6brw {
  background-color: transparent;
  height: 906px;
  left: 400px;
  position: absolute;
  top: 1347px;
  width: 668px;
}

.c2cconnectedstartpage .strong-man-gui-aj6brw {
  background-color: transparent;
  height: 18px;
  left: 1140px;
  position: absolute;
  top: 314px;
  width: 232px;
}

.c2cconnectedstartpage .web-sub_-title-aj6brw {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.c2cconnectedstartpage .web-title-area-aj6brw {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.c2cconnectedstartpage .web-tabc2-c_apart-servide-connected-aj6brw {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.c2cconnectedstartpage .x3rd-depth-kM6wDL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.c2cconnectedstartpage .tab-kM6wDL {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.c2cconnectedstartpage .overview-caemYC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 58px;
}

.c2cconnectedstartpage .onboarding_start-pag-caemYC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 145px;
}

.c2cconnectedstartpage .onboarding_-caemYC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 188px;
}

.c2cconnectedstartpage .onboarding_-welcome-p-caemYC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 160px;
}

.c2cconnectedstartpage .onboarding_-strongman-caemYC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 168px;
}

.c2cconnectedstartpage .lnb-service-feature-aj6brw {
  background-color: transparent;
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2cconnectedstartpage .rectangle-Pu47xu {
  background-color: var(--concrete);
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2cconnectedstartpage .line-Pu47xu {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2cconnectedstartpage .home-net-gui-guidelin-Pu47xu {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup32 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup32 .web-index-title-reference-copy-2-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .group-ccl8pA {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .empty-RJlUSA {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup32 .line-copy-RJlUSA {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup32 .empty-QQygoB {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup32 .web-index-title-reference-copy-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .group-copy-ccl8pA {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .empty-DLve8I {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup32 .line-copy-DLve8I {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup32 .empty-quBk7B {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup32 .web-index-title-reference-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents1dpeth_close-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents1dpeth_close-r52NPu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents1dpeth_close-j9jixb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents1dpeth_close-copy-2-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents1dpeth_close-X0PFGB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents1dpeth_open_selected-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents1d-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents1d-r52NPu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.c2cconnectedstartpage .webgnb-aj6brw {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2cconnectedstartpage .rectangle-hO6wft {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2cconnectedstartpage .background-hO6wft {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2cconnectedstartpage .index-hO6wft {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.c2cconnectedstartpage .web-index-select-AEua1B {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.c2cconnectedstartpage .web-index-unselect-AEua1B {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.c2cconnectedstartpage .web-index-unelect_main-hO6wft {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.c2cconnectedstartpage .logo-4Pjg1o {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
