/* screen - coreapplifetabservicefeaturequicklink */

.coreapplifetabservicefeaturequicklink {
  background-color: var(--white);
  height: 3391px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.coreapplifetabservicefeaturequicklink .group-5-copy-4-k0Y1MD {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .group-4-copy-OUYLnW {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-PEu42x {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line_mint-PEu42x {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-5QVyQM {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .group-4-copy-3-OUYLnW {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-WwJFjq {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line_mint-WwJFjq {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-YYGxLR {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .table-guide-title-OUYLnW {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .group-5-copy-5-k0Y1MD {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 1010px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .group-4-copy-XRIGoo {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-fxGudU {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line_mint-fxGudU {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-ahv24A {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .group-4-copy-3-XRIGoo {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-G1Kjmt {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line_mint-G1Kjmt {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-xzWPPe {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .table-guide-title-XRIGoo {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .group-5-copy-6-k0Y1MD {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 1624px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .group-4-copy-xarZZ3 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-MOhjfl {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line_mint-MOhjfl {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-t9qc1n {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .group-4-copy-3-xarZZ3 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-noK1LS {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line_mint-noK1LS {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-R8MB9T {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .table-guide-title-xarZZ3 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .group-3-copy-2-k0Y1MD {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 698px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .group-3-copy-3-k0Y1MD {
  background-color: transparent;
  height: 140px;
  left: 1140px;
  position: absolute;
  top: 1312px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .group-3-copy-4-k0Y1MD {
  background-color: transparent;
  height: 140px;
  left: 1140px;
  position: absolute;
  top: 1926px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .group-5-copy-7-k0Y1MD {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 2265px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .group-4-copy-0GOPex {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-XuxVcy {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line_mint-XuxVcy {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-AY9wqv {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .group-4-copy-3-0GOPex {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-kAMQ0J {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line_mint-kAMQ0J {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-SIJyWW {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .table-guide-title-0GOPex {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .group-12-k0Y1MD {
  background-color: transparent;
  height: 464px;
  left: 380px;
  position: absolute;
  top: 396px;
  width: 710px;
}

.coreapplifetabservicefeaturequicklink .group-13-k0Y1MD {
  background-color: transparent;
  height: 464px;
  left: 365px;
  position: absolute;
  top: 1010px;
  width: 725px;
}

.coreapplifetabservicefeaturequicklink .group-14-k0Y1MD {
  background-color: transparent;
  height: 491px;
  left: 365px;
  position: absolute;
  top: 1624px;
  width: 725px;
}

.coreapplifetabservicefeaturequicklink .group-15-k0Y1MD {
  background-color: transparent;
  height: 926px;
  left: 380px;
  position: absolute;
  top: 2265px;
  width: 710px;
}

.coreapplifetabservicefeaturequicklink .web-sub_-title-k0Y1MD {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.coreapplifetabservicefeaturequicklink .web-title-area-k0Y1MD {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.coreapplifetabservicefeaturequicklink .web-tabc2-c_re_popup-k0Y1MD {
  background-color: transparent;
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.coreapplifetabservicefeaturequicklink .rectangle-KAEJHY {
  background-color: var(--white);
  height: 100px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreapplifetabservicefeaturequicklink .x3rd-depth-KAEJHY {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreapplifetabservicefeaturequicklink .tab-sL9I5Q {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.coreapplifetabservicefeaturequicklink .layout-D9fVwW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 42px;
}

.coreapplifetabservicefeaturequicklink .life-tab-D9fVwW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.coreapplifetabservicefeaturequicklink .service-card-health-D9fVwW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 112px;
}

.coreapplifetabservicefeaturequicklink .basic-_-title-D9fVwW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicefeaturequicklink .basic-_-page-indicat-D9fVwW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.coreapplifetabservicefeaturequicklink .basic-_-bg-copy-D9fVwW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 65px;
}

.coreapplifetabservicefeaturequicklink .basic-_-primary-colo-D9fVwW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 132px;
}

.coreapplifetabservicefeaturequicklink .x3rd-depth-copy-KAEJHY {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.coreapplifetabservicefeaturequicklink .tab-DWV2Y1 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.coreapplifetabservicefeaturequicklink .basic-type-9E4xvc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 63px;
}

.coreapplifetabservicefeaturequicklink .quick-link-type-copy-9E4xvc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.coreapplifetabservicefeaturequicklink .quick-link-type-_-se-9E4xvc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 266px;
}

.coreapplifetabservicefeaturequicklink .quick-link-type-_-ic-9E4xvc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}

.coreapplifetabservicefeaturequicklink .banner-type-9E4xvc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicefeaturequicklink .broken-token-9E4xvc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 83px;
}

.coreapplifetabservicefeaturequicklink .lnb-service-feature-k0Y1MD {
  background-color: transparent;
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreapplifetabservicefeaturequicklink .rectangle-jBrQvE {
  background-color: var(--concrete);
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreapplifetabservicefeaturequicklink .line-jBrQvE {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.coreapplifetabservicefeaturequicklink .home-net-gui-guidelin-jBrQvE {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup10 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup10 .web-index-title-reference-copy-2-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .group-E2POdD {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .empty-4Renr7 {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup10 .line-copy-4Renr7 {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup10 .empty-sgeOVG {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup10 .web-index-title-reference-copy-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .group-copy-E2POdD {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .empty-RUqUKT {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup10 .line-copy-RUqUKT {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup10 .empty-NGgm9h {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup10 .web-index-title-reference-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents1dpeth_close-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents1dpeth_close-x7jztO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents1dpeth_close-n0qPXN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents1dpeth_close-copy-2-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents1dpeth_close-vOmlnN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents1dpeth_open_selected-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents1d-E2POdD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup10 .web-index-contents1d-x7jztO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.coreapplifetabservicefeaturequicklink .webgnb-k0Y1MD {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicefeaturequicklink .rectangle-ablmNW {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicefeaturequicklink .background-ablmNW {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicefeaturequicklink .index-ablmNW {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.coreapplifetabservicefeaturequicklink .web-index-select-0uOhDy {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.coreapplifetabservicefeaturequicklink .web-index-unselect-0uOhDy {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.coreapplifetabservicefeaturequicklink .web-index-unelect_main-ablmNW {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.coreapplifetabservicefeaturequicklink .logo-0cZVUX {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
