/* screen - coreapplifetabservicecardbrokenlayout */

.coreapplifetabservicecardbrokenlayout {
  background-color: var(--white);
  height: 4874px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.coreapplifetabservicecardbrokenlayout .group-5-copy-Y9FLxc {
  background-color: transparent;
  height: 318px;
  left: 1140px;
  position: absolute;
  top: 2140px;
  width: 680px;
}

.coreapplifetabservicecardbrokenlayout .group-3-copy-2-Y9FLxc {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 2558px;
  width: 680px;
}

.coreapplifetabservicecardbrokenlayout .group-10-Y9FLxc {
  background-color: transparent;
  height: 289px;
  left: 380px;
  position: absolute;
  top: 2140px;
  width: 710px;
}

.coreapplifetabservicecardbrokenlayout .web-sub_-title-copy-Y9FLxc {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 2082px;
  width: 1600px;
}

.coreapplifetabservicecardbrokenlayout .web-sub_-title-copy-2-Y9FLxc {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 2851px;
  width: 1600px;
}

.coreapplifetabservicecardbrokenlayout .group-14-Y9FLxc {
  background-color: transparent;
  height: 307px;
  left: 380px;
  position: absolute;
  top: 2909px;
  width: 710px;
}

.coreapplifetabservicecardbrokenlayout .group-5-copy-2-Y9FLxc {
  background-color: transparent;
  height: 204px;
  left: 1140px;
  position: absolute;
  top: 2909px;
  width: 680px;
}

.coreapplifetabservicecardbrokenlayout .group-3-copy-3-Y9FLxc {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 3213px;
  width: 680px;
}

.coreapplifetabservicecardbrokenlayout .web-sub_-title-copy-3-Y9FLxc {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 3506px;
  width: 1600px;
}

.coreapplifetabservicecardbrokenlayout .group-12-Y9FLxc {
  background-color: transparent;
  height: 350px;
  left: 392px;
  position: absolute;
  top: 3564px;
  width: 698px;
}

.coreapplifetabservicecardbrokenlayout .group-3-copy-4-Y9FLxc {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 3564px;
  width: 680px;
}

.coreapplifetabservicecardbrokenlayout .group-13-Y9FLxc {
  background-color: transparent;
  height: 560px;
  left: 320px;
  position: absolute;
  top: 4114px;
  width: 1600px;
}

.coreapplifetabservicecardbrokenlayout .group-8-Y9FLxc {
  background-color: transparent;
  height: 1056px;
  left: 400px;
  position: absolute;
  top: 396px;
  width: 690px;
}

.coreapplifetabservicecardbrokenlayout .table-guide-title-copy-16-Y9FLxc {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 1452px;
  width: 670px;
}

.coreapplifetabservicecardbrokenlayout .group-9-Y9FLxc {
  background-color: transparent;
  height: 287px;
  left: 380px;
  position: absolute;
  top: 1488px;
  width: 413px;
}

.coreapplifetabservicecardbrokenlayout .group-5-Y9FLxc {
  background-color: transparent;
  height: 113px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.coreapplifetabservicecardbrokenlayout .group-4-copy-utnVNG {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.coreapplifetabservicecardbrokenlayout .table-guide-text1line-BFAnJu {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardbrokenlayout .table-guide-text1line_mint-BFAnJu {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardbrokenlayout .table-guide-text1line-4N6Xwg {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardbrokenlayout .table-guide-title-utnVNG {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.coreapplifetabservicecardbrokenlayout .group-4-copy-Y9FLxc {
  background-color: transparent;
  height: 104px;
  left: 1140px;
  position: absolute;
  top: 1508px;
  width: 680px;
}

.coreapplifetabservicecardbrokenlayout .table-guide-text1line-fruK4F {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardbrokenlayout .table-guide-text1line_mint-fruK4F {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardbrokenlayout .table-guide-text1line-ciMkK5 {
  background-color: transparent;
  height: 104px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardbrokenlayout .group-4-copy-5-Y9FLxc {
  background-color: transparent;
  height: 57px;
  left: 1140px;
  position: absolute;
  top: 1622px;
  width: 680px;
}

.coreapplifetabservicecardbrokenlayout .table-guide-text1line-vcD2ND {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardbrokenlayout .table-guide-text1line_mint-vcD2ND {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardbrokenlayout .table-guide-text1line-Bi3HgK {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardbrokenlayout .group-4-copy-4-Y9FLxc {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 1140px;
  position: absolute;
  top: 1689px;
  width: 680px;
}

.coreapplifetabservicecardbrokenlayout .table-guide-text1line-rEXPcb {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardbrokenlayout .table-guide-text1line_mint-rEXPcb {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardbrokenlayout .table-guide-text1line-hszaUy {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardbrokenlayout .group-4-copy-6-Y9FLxc {
  background-color: transparent;
  height: 57px;
  left: 1140px;
  position: absolute;
  top: 1758px;
  width: 680px;
}

.coreapplifetabservicecardbrokenlayout .table-guide-text1line-75ozUN {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardbrokenlayout .table-guide-text1line_mint-75ozUN {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardbrokenlayout .table-guide-text1line-zkq94M {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardbrokenlayout .group-4-copy-7-Y9FLxc {
  background-color: transparent;
  height: 57px;
  left: 1140px;
  position: absolute;
  top: 1825px;
  width: 680px;
}

.coreapplifetabservicecardbrokenlayout .table-guide-text1line-ZTGYxt {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardbrokenlayout .table-guide-text1line_mint-ZTGYxt {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardbrokenlayout .table-guide-text1line-fBETZU {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardbrokenlayout .table-guide-title-Y9FLxc {
  background-color: transparent;
  height: 56px;
  left: 1140px;
  position: absolute;
  top: 1452px;
  width: 680px;
}

.coreapplifetabservicecardbrokenlayout .web-sub_-title-Y9FLxc {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.coreapplifetabservicecardbrokenlayout .web-title-area-Y9FLxc {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.coreapplifetabservicecardbrokenlayout .web-tabc2-c_re_popup-Y9FLxc {
  background-color: transparent;
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.coreapplifetabservicecardbrokenlayout .rectangle-YAurxi {
  background-color: var(--white);
  height: 100px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreapplifetabservicecardbrokenlayout .x3rd-depth-YAurxi {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreapplifetabservicecardbrokenlayout .tab-45z8Wx {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.coreapplifetabservicecardbrokenlayout .layout-AJ0rpg {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 42px;
}

.coreapplifetabservicecardbrokenlayout .life-tab-AJ0rpg {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.coreapplifetabservicecardbrokenlayout .service-card-health-AJ0rpg {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 112px;
}

.coreapplifetabservicecardbrokenlayout .basic-_-title-AJ0rpg {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicecardbrokenlayout .basic-_-page-indicat-AJ0rpg {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.coreapplifetabservicecardbrokenlayout .basic-_-bg-copy-AJ0rpg {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 65px;
}

.coreapplifetabservicecardbrokenlayout .basic-_-primary-colo-AJ0rpg {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 132px;
}

.coreapplifetabservicecardbrokenlayout .x3rd-depth-copy-YAurxi {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.coreapplifetabservicecardbrokenlayout .tab-Qce86Z {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.coreapplifetabservicecardbrokenlayout .basic-type-rqiqLm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 63px;
}

.coreapplifetabservicecardbrokenlayout .quick-link-type-copy-rqiqLm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.coreapplifetabservicecardbrokenlayout .quick-link-type-_-se-rqiqLm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 265px;
}

.coreapplifetabservicecardbrokenlayout .quick-link-type-_-ic-rqiqLm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}

.coreapplifetabservicecardbrokenlayout .banner-type-rqiqLm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicecardbrokenlayout .broken-token-rqiqLm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 83px;
}

.coreapplifetabservicecardbrokenlayout .lnb-service-feature-Y9FLxc {
  background-color: transparent;
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreapplifetabservicecardbrokenlayout .rectangle-1ak0vz {
  background-color: var(--concrete);
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreapplifetabservicecardbrokenlayout .line-1ak0vz {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.coreapplifetabservicecardbrokenlayout .home-net-gui-guidelin-1ak0vz {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup .web-index-title-reference-copy-2-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .group-cmWrxo {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .empty-I12gSr {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup .line-copy-I12gSr {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup .empty-CMGcNK {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup .web-index-title-reference-copy-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .group-copy-cmWrxo {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .empty-cxKBVJ {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup .line-copy-cxKBVJ {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup .empty-WNTzCv {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup .web-index-title-reference-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents1dpeth_close-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents1dpeth_close-xX8VD4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents1dpeth_close-m70ycG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents1dpeth_close-copy-2-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents1dpeth_close-guR1GK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents1dpeth_open_selected-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents1d-cmWrxo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup .web-index-contents1d-xX8VD4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.coreapplifetabservicecardbrokenlayout .webgnb-Y9FLxc {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicecardbrokenlayout .rectangle-GKvVkG {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicecardbrokenlayout .background-GKvVkG {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicecardbrokenlayout .index-GKvVkG {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.coreapplifetabservicecardbrokenlayout .web-index-select-Q0yfo4 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.coreapplifetabservicecardbrokenlayout .web-index-unselect-Q0yfo4 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.coreapplifetabservicecardbrokenlayout .web-index-unelect_main-GKvVkG {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.coreapplifetabservicecardbrokenlayout .logo-xOGxDk {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
