/* screen - coreapplifetabservicecardbannertype */

.coreapplifetabservicecardbannertype {
  background-color: var(--white);
  height: 1773px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.coreapplifetabservicecardbannertype .group-6-BlCaid {
  background-color: transparent;
  height: 474px;
  left: 365px;
  position: absolute;
  top: 990px;
  width: 725px;
}

.coreapplifetabservicecardbannertype .group-4-BlCaid {
  background-color: transparent;
  height: 480px;
  left: 380px;
  position: absolute;
  top: 396px;
  width: 710px;
}

.coreapplifetabservicecardbannertype .group-5-BlCaid {
  background-color: transparent;
  height: 390px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.coreapplifetabservicecardbannertype .group-4-copy-jzX7Rq {
  background-color: transparent;
  height: 84px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-xENxS8 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-xENxS8 {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-iSgOLx {
  background-color: transparent;
  height: 84px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardbannertype .group-4-copy-3-jzX7Rq {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 680px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-qUJNBI {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-qUJNBI {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-Nj2RjY {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardbannertype .group-4-copy-5-jzX7Rq {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 197px;
  width: 680px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-ZctZL4 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-ZctZL4 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-8buGGV {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardbannertype .group-4-copy-4-jzX7Rq {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 264px;
  width: 680px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-Mpp72L {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-Mpp72L {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-0uCKE3 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardbannertype .group-4-copy-6-jzX7Rq {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 333px;
  width: 680px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-PZX9Pq {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-PZX9Pq {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-70ra0c {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardbannertype .table-guide-title-jzX7Rq {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.coreapplifetabservicecardbannertype .group-5-copy-BlCaid {
  background-color: transparent;
  height: 390px;
  left: 1140px;
  position: absolute;
  top: 990px;
  width: 680px;
}

.coreapplifetabservicecardbannertype .group-4-copy-xVvpHf {
  background-color: transparent;
  height: 84px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-yZiHpC {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-yZiHpC {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-4jT5DD {
  background-color: transparent;
  height: 84px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardbannertype .group-4-copy-3-xVvpHf {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 680px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-xuLFeL {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-xuLFeL {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-xdx5DR {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardbannertype .group-4-copy-5-xVvpHf {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 197px;
  width: 680px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-4OwCr9 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-4OwCr9 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-p2b45h {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardbannertype .group-4-copy-4-xVvpHf {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 264px;
  width: 680px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-U2I8LU {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-U2I8LU {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-r5sI3W {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardbannertype .group-4-copy-6-xVvpHf {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 333px;
  width: 680px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-hzcU4M {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-hzcU4M {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-d5JTsF {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardbannertype .table-guide-title-xVvpHf {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.coreapplifetabservicecardbannertype .group-3-copy-2-BlCaid {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 1480px;
  width: 680px;
}

.coreapplifetabservicecardbannertype .web-sub_-title-BlCaid {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.coreapplifetabservicecardbannertype .web-title-area-BlCaid {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.coreapplifetabservicecardbannertype .web-tabc2-c_re_popup-BlCaid {
  background-color: transparent;
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.coreapplifetabservicecardbannertype .rectangle-QweNgF {
  background-color: var(--white);
  height: 100px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreapplifetabservicecardbannertype .x3rd-depth-QweNgF {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreapplifetabservicecardbannertype .tab-mgFmWF {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.coreapplifetabservicecardbannertype .layout-T6mZ7e {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 42px;
}

.coreapplifetabservicecardbannertype .life-tab-T6mZ7e {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.coreapplifetabservicecardbannertype .service-card-health-T6mZ7e {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 112px;
}

.coreapplifetabservicecardbannertype .basic-_-title-T6mZ7e {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicecardbannertype .basic-_-page-indicat-T6mZ7e {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.coreapplifetabservicecardbannertype .basic-_-bg-copy-T6mZ7e {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 65px;
}

.coreapplifetabservicecardbannertype .basic-_-primary-colo-T6mZ7e {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 132px;
}

.coreapplifetabservicecardbannertype .x3rd-depth-copy-QweNgF {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.coreapplifetabservicecardbannertype .tab-eYXBnR {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.coreapplifetabservicecardbannertype .basic-type-4FkRBd {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 63px;
}

.coreapplifetabservicecardbannertype .quick-link-type-copy-4FkRBd {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.coreapplifetabservicecardbannertype .quick-link-type-_-se-4FkRBd {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 265px;
}

.coreapplifetabservicecardbannertype .quick-link-type-_-ic-4FkRBd {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}

.coreapplifetabservicecardbannertype .banner-type-4FkRBd {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicecardbannertype .broken-token-4FkRBd {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 83px;
}

.coreapplifetabservicecardbannertype .lnb-service-feature-BlCaid {
  background-color: transparent;
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreapplifetabservicecardbannertype .rectangle-THxBnF {
  background-color: var(--concrete);
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreapplifetabservicecardbannertype .line-THxBnF {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.coreapplifetabservicecardbannertype .home-net-gui-guidelin-THxBnF {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup37 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup37 .web-index-title-reference-copy-2-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .group-eRGhFg {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .empty-5AiKBk {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup37 .line-copy-5AiKBk {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup37 .empty-bn0OeK {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup37 .web-index-title-reference-copy-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .group-copy-eRGhFg {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .empty-4z0Y1p {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup37 .line-copy-4z0Y1p {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup37 .empty-fqL3pO {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup37 .web-index-title-reference-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents1dpeth_close-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents1dpeth_close-ZufxnJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents1dpeth_close-TcvOR7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents1dpeth_close-copy-2-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents1dpeth_close-842lk6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents1dpeth_open_selected-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents1d-eRGhFg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup37 .web-index-contents1d-ZufxnJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.coreapplifetabservicecardbannertype .webgnb-BlCaid {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicecardbannertype .rectangle-9I92xH {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicecardbannertype .background-9I92xH {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicecardbannertype .index-9I92xH {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.coreapplifetabservicecardbannertype .web-index-select-1wDQuD {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.coreapplifetabservicecardbannertype .web-index-unselect-1wDQuD {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.coreapplifetabservicecardbannertype .web-index-unelect_main-9I92xH {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.coreapplifetabservicecardbannertype .logo-MHHkLn {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
