/* screen - coreapplifetabservicecardbasictype */

.coreapplifetabservicecardbasictype {
  background-color: var(--white);
  height: 3026px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.coreapplifetabservicecardbasictype .group-MIr5cQ {
  background-color: transparent;
  height: 888px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.coreapplifetabservicecardbasictype .group-2-MIr5cQ {
  background-color: transparent;
  height: 585px;
  left: 380px;
  position: absolute;
  top: 1406px;
  width: 710px;
}

.coreapplifetabservicecardbasictype .group-3-MIr5cQ {
  background-color: transparent;
  height: 712px;
  left: 380px;
  position: absolute;
  top: 2141px;
  width: 1440px;
}

.coreapplifetabservicecardbasictype .group-5-MIr5cQ {
  background-color: transparent;
  height: 467px;
  left: 1140px;
  position: absolute;
  top: 1376px;
  width: 680px;
}

.coreapplifetabservicecardbasictype .group-4-copy-Qe6xKl {
  background-color: transparent;
  height: 84px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 680px;
}

.coreapplifetabservicecardbasictype .table-guide-text1line-lwP1SX {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardbasictype .table-guide-text1line_mint-lwP1SX {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardbasictype .table-guide-text1line-TjGLFt {
  background-color: transparent;
  height: 84px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardbasictype .group-4-copy-2-Qe6xKl {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 180px;
  width: 680px;
}

.coreapplifetabservicecardbasictype .table-guide-text1line-NS2nNw {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardbasictype .table-guide-text1line_mint-NS2nNw {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardbasictype .table-guide-text1line-WdYHro {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardbasictype .group-4-copy-3-Qe6xKl {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 227px;
  width: 680px;
}

.coreapplifetabservicecardbasictype .table-guide-text1line-hISgR8 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardbasictype .table-guide-text1line_mint-hISgR8 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardbasictype .table-guide-text1line-kbw3Tx {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardbasictype .group-4-copy-4-Qe6xKl {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 294px;
  width: 680px;
}

.coreapplifetabservicecardbasictype .table-guide-text1line-Sjtxxg {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardbasictype .table-guide-text1line_mint-Sjtxxg {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardbasictype .table-guide-text1line-iEZMKG {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardbasictype .group-4-copy-5-Qe6xKl {
  background-color: transparent;
  height: 106px;
  left: 0px;
  position: absolute;
  top: 361px;
  width: 680px;
}

.coreapplifetabservicecardbasictype .table-guide-text1line-AB2Jlo {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardbasictype .table-guide-text1line_mint-AB2Jlo {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardbasictype .contents-AB2Jlo {
  background-color: transparent;
  color: #ff5656;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 66px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 89px;
  white-space: nowrap;
  width: 334px;
}

.coreapplifetabservicecardbasictype .table-guide-text1line-mty2cG {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardbasictype .table-guide-title-Qe6xKl {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 30px;
  width: 680px;
}

.coreapplifetabservicecardbasictype .contents-Qe6xKl {
  background-color: transparent;
  height: 20px;
  left: 150px;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  width: 528px;
}

.coreapplifetabservicecardbasictype .web-title-area-MIr5cQ {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.coreapplifetabservicecardbasictype .web-tabc2-c_re_popup-MIr5cQ {
  background-color: transparent;
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.coreapplifetabservicecardbasictype .rectangle-eQv2WL {
  background-color: var(--white);
  height: 100px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreapplifetabservicecardbasictype .x3rd-depth-eQv2WL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreapplifetabservicecardbasictype .tab-PsOxAo {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.coreapplifetabservicecardbasictype .layout-UY2Y0y {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 42px;
}

.coreapplifetabservicecardbasictype .life-tab-UY2Y0y {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.coreapplifetabservicecardbasictype .service-card-health-UY2Y0y {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 112px;
}

.coreapplifetabservicecardbasictype .basic-_-title-UY2Y0y {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicecardbasictype .basic-_-page-indicat-UY2Y0y {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.coreapplifetabservicecardbasictype .basic-_-bg-copy-UY2Y0y {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 65px;
}

.coreapplifetabservicecardbasictype .basic-_-primary-colo-UY2Y0y {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 132px;
}

.coreapplifetabservicecardbasictype .x3rd-depth-copy-eQv2WL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.coreapplifetabservicecardbasictype .tab-myDjOM {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.coreapplifetabservicecardbasictype .basic-type-SfOuxm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 64px;
}

.coreapplifetabservicecardbasictype .quick-link-type-copy-SfOuxm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.coreapplifetabservicecardbasictype .quick-link-type-_-se-SfOuxm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 265px;
}

.coreapplifetabservicecardbasictype .quick-link-type-_-ic-SfOuxm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}

.coreapplifetabservicecardbasictype .banner-type-SfOuxm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicecardbasictype .broken-token-SfOuxm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 83px;
}

.coreapplifetabservicecardbasictype .lnb-service-feature-MIr5cQ {
  background-color: transparent;
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreapplifetabservicecardbasictype .rectangle-O9c4dW {
  background-color: var(--concrete);
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreapplifetabservicecardbasictype .line-O9c4dW {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.coreapplifetabservicecardbasictype .home-net-gui-guidelin-O9c4dW {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup19 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup19 .web-index-title-reference-copy-2-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .group-gHI6id {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .empty-AGvkEs {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup19 .line-copy-AGvkEs {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup19 .empty-KCBRwc {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup19 .web-index-title-reference-copy-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .group-copy-gHI6id {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .empty-Id0aPw {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup19 .line-copy-Id0aPw {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup19 .empty-hcnG0C {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup19 .web-index-title-reference-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .web-index-contents1dpeth_close-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .web-index-contents1dpeth_close-nIdFqd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .web-index-contents1dpeth_close-OMA8tG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .web-index-contents1dpeth_close-copy-2-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .web-index-contents1dpeth_close-DKMpaj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .web-index-contents1dpeth_open_selected-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .web-index-contents1d-gHI6id {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup19 .web-index-contents1d-nIdFqd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.coreapplifetabservicecardbasictype .webgnb-MIr5cQ {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicecardbasictype .rectangle-yvCvSh {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicecardbasictype .background-yvCvSh {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicecardbasictype .index-yvCvSh {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.coreapplifetabservicecardbasictype .web-index-select-fX71aY {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.coreapplifetabservicecardbasictype .web-index-unselect-fX71aY {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.coreapplifetabservicecardbasictype .web-index-unelect_main-yvCvSh {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.coreapplifetabservicecardbasictype .logo-xPvQoS {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
