/* screen - coreapplifetabservicecardquicklinktype */

.coreapplifetabservicecardquicklinktype {
  background-color: var(--white);
  height: 4902px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.coreapplifetabservicecardquicklinktype .group-22-k1WPvS {
  background-color: transparent;
  height: 853px;
  left: 420px;
  position: absolute;
  top: 3849px;
  width: 670px;
}

.coreapplifetabservicecardquicklinktype .group-12-k1WPvS {
  background-color: transparent;
  height: 693px;
  left: 380px;
  position: absolute;
  top: 2142px;
  width: 710px;
}

.coreapplifetabservicecardquicklinktype .group-10-k1WPvS {
  background-color: transparent;
  height: 790px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.coreapplifetabservicecardquicklinktype .group-11-k1WPvS {
  background-color: transparent;
  height: 676px;
  left: 380px;
  position: absolute;
  top: 1278px;
  width: 710px;
}

.coreapplifetabservicecardquicklinktype .group-13-k1WPvS {
  background-color: transparent;
  height: 676px;
  left: 400px;
  position: absolute;
  top: 2985px;
  width: 690px;
}

.coreapplifetabservicecardquicklinktype .group-15-k1WPvS {
  background-color: transparent;
  height: 714px;
  left: 1140px;
  position: absolute;
  top: 1278px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-jVFATI {
  background-color: transparent;
  height: 84px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-jct7g7 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-jct7g7 {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-zT7LF1 {
  background-color: transparent;
  height: 84px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-3-jVFATI {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-gaA2LC {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-gaA2LC {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-YwlcKy {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-4-jVFATI {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 217px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-BIxfyC {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-BIxfyC {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-21xsek {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-6-jVFATI {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 284px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-n36JDU {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-n36JDU {
  background-color: transparent;
  cursor: pointer;
  height: 77px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-XwRJ8s {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-7-jVFATI {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 371px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-2Fi257 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-2Fi257 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-2EflkA {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .group-5-jVFATI {
  background-color: transparent;
  height: 276px;
  left: 0px;
  position: absolute;
  top: 438px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-VxSwzI {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-copy-VxSwzI {
  background-color: transparent;
  cursor: pointer;
  height: 276px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-Uzpj0t {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .table-guide-title-jVFATI {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .group-17-k1WPvS {
  background-color: transparent;
  height: 694px;
  left: 1140px;
  position: absolute;
  top: 2142px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-GOc393 {
  background-color: transparent;
  height: 84px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-tS51cM {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-tS51cM {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-lFN9ir {
  background-color: transparent;
  height: 84px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-3-GOc393 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-4qqPTj {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-4qqPTj {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-cT3WYJ {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-4-GOc393 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 217px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-ED3Hac {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-ED3Hac {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-YXyOuN {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-6-GOc393 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 284px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-nUEyXQ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-nUEyXQ {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-ZbF2xH {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-7-GOc393 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 351px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-XwPFKM {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-XwPFKM {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-wkSIVE {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .group-16-GOc393 {
  background-color: transparent;
  height: 276px;
  left: 0px;
  position: absolute;
  top: 418px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-4xsjj0 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-FAxFnm {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-copy-4xsjj0 {
  background-color: transparent;
  cursor: pointer;
  height: 276px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .table-guide-title-GOc393 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .group-18-k1WPvS {
  background-color: transparent;
  height: 714px;
  left: 1140px;
  position: absolute;
  top: 2985px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-8TM3Cl {
  background-color: transparent;
  height: 84px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-P4Y4Bn {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-P4Y4Bn {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-3a30AM {
  background-color: transparent;
  height: 84px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-3-8TM3Cl {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-yeLaxM {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-yeLaxM {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-7JmoEl {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-4-8TM3Cl {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 217px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-1xQwxf {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-1xQwxf {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-vRDgDL {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-6-8TM3Cl {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 284px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-fcY5dV {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-fcY5dV {
  background-color: transparent;
  cursor: pointer;
  height: 77px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-DgPUBP {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-7-8TM3Cl {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 371px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-l1MZOZ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-l1MZOZ {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-JreIIa {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .group-9-8TM3Cl {
  background-color: transparent;
  height: 276px;
  left: 0px;
  position: absolute;
  top: 438px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-QliC6Q {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-LqF2hU {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-copy-QliC6Q {
  background-color: transparent;
  cursor: pointer;
  height: 276px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .table-guide-title-8TM3Cl {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .group-5-copy-3-k1WPvS {
  background-color: transparent;
  height: 180px;
  left: 1140px;
  position: absolute;
  top: 3849px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-iWDepI {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-8Id6Xx {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-8Id6Xx {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-q3x1Xk {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-3-iWDepI {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-yiAbMl {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-yiAbMl {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-XG5IMN {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .table-guide-title-iWDepI {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .web-title-area-k1WPvS {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.coreapplifetabservicecardquicklinktype .web-tabc2-c_re_popup-k1WPvS {
  background-color: transparent;
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.coreapplifetabservicecardquicklinktype .rectangle-ipwhF1 {
  background-color: var(--white);
  height: 100px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreapplifetabservicecardquicklinktype .x3rd-depth-ipwhF1 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreapplifetabservicecardquicklinktype .tab-yufXnx {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.coreapplifetabservicecardquicklinktype .layout-M40sKv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 42px;
}

.coreapplifetabservicecardquicklinktype .life-tab-M40sKv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.coreapplifetabservicecardquicklinktype .service-card-health-M40sKv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 112px;
}

.coreapplifetabservicecardquicklinktype .basic-_-title-M40sKv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicecardquicklinktype .basic-_-page-indicat-M40sKv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.coreapplifetabservicecardquicklinktype .basic-_-bg-copy-M40sKv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 65px;
}

.coreapplifetabservicecardquicklinktype .basic-_-primary-colo-M40sKv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 132px;
}

.coreapplifetabservicecardquicklinktype .x3rd-depth-copy-ipwhF1 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.coreapplifetabservicecardquicklinktype .tab-xxHhfp {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.coreapplifetabservicecardquicklinktype .basic-type-uAJp8a {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 63px;
}

.coreapplifetabservicecardquicklinktype .quick-link-type-copy-uAJp8a {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 93px;
}

.coreapplifetabservicecardquicklinktype .quick-link-type-_-se-uAJp8a {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 265px;
}

.coreapplifetabservicecardquicklinktype .quick-link-type-_-ic-uAJp8a {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}

.coreapplifetabservicecardquicklinktype .banner-type-uAJp8a {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicecardquicklinktype .broken-token-uAJp8a {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 83px;
}

.coreapplifetabservicecardquicklinktype .lnb-service-feature-k1WPvS {
  background-color: transparent;
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreapplifetabservicecardquicklinktype .rectangle-XL0FxZ {
  background-color: var(--concrete);
  height: 758px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreapplifetabservicecardquicklinktype .line-XL0FxZ {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.coreapplifetabservicecardquicklinktype .home-net-gui-guidelin-XL0FxZ {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup33 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup33 .web-index-title-reference-copy-2-5M1lf4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup33 .group-5M1lf4 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup33 .empty-2FW25I {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup33 .line-copy-2FW25I {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup33 .empty-z8RxxY {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup33 .web-index-title-reference-copy-5M1lf4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup33 .group-copy-5M1lf4 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup33 .empty-wWQmX5 {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup33 .line-copy-wWQmX5 {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup33 .empty-kxxWxp {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup33 .web-index-title-reference-5M1lf4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup33 .web-index-contents1dpeth_close-5M1lf4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup33 .web-index-contents1dpeth_close-OjTrZU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup33 .web-index-contents1dpeth_close-qRDROa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup33 .web-index-contents1dpeth_close-copy-2-5M1lf4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup33 .web-index-contents1dpeth_close-4u7UVx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup33 .web-index-contents1dpeth_open_selected-5M1lf4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup33 .web-index-contents1d-5M1lf4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup33 .web-index-contents1d-OjTrZU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.coreapplifetabservicecardquicklinktype .webgnb-k1WPvS {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicecardquicklinktype .rectangle-42SwVt {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicecardquicklinktype .background-42SwVt {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicecardquicklinktype .index-42SwVt {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.coreapplifetabservicecardquicklinktype .web-index-select-bkuSvL {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.coreapplifetabservicecardquicklinktype .web-index-unselect-bkuSvL {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.coreapplifetabservicecardquicklinktype .web-index-unelect_main-42SwVt {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.coreapplifetabservicecardquicklinktype .logo-DBgVLP {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
