/* screen - devicepluginlightdimmertype */

.devicepluginlightdimmertype {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2220px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.devicepluginlightdimmertype .group-8-xD4EdS {
  background-color: transparent;
  height: 816px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.devicepluginlightdimmertype .group-5-xD4EdS {
  background-color: transparent;
  height: 256px;
  left: 420px;
  position: absolute;
  top: 1764px;
  width: 620px;
}

.devicepluginlightdimmertype .group-7-xD4EdS {
  background-color: transparent;
  height: 256px;
  left: 400px;
  position: absolute;
  top: 1358px;
  width: 690px;
}

.devicepluginlightdimmertype .group-copy-2-xD4EdS {
  background-color: transparent;
  height: 331px;
  left: 1140px;
  position: absolute;
  top: 1358px;
  width: 680px;
}

.devicepluginlightdimmertype .group-2-copy-1kDbzx {
  background-color: transparent;
  height: 159px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.devicepluginlightdimmertype .table-guide-text1line-GuaqDO {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginlightdimmertype .table-guide-text1line-Mf1Bij {
  background-color: transparent;
  height: 159px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginlightdimmertype .table-guide-text2line_m-GuaqDO {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginlightdimmertype .table-guide-text2line_m-copy-GuaqDO {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 57px;
  width: 340px;
}

.devicepluginlightdimmertype .group-2-copy-3-1kDbzx {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 272px;
  width: 680px;
}

.devicepluginlightdimmertype .table-guide-text1line-LVcuYR {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginlightdimmertype .table-guide-text1line-BIgAwC {
  background-color: transparent;
  height: 59px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginlightdimmertype .table-guide-text2line_m-LVcuYR {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginlightdimmertype .group-2-copy-6-1kDbzx {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicepluginlightdimmertype .descriptiontabletop-1kDbzx {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicepluginlightdimmertype .group-copy-xD4EdS {
  background-color: transparent;
  height: 301px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.devicepluginlightdimmertype .group-2-NBb30a {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicepluginlightdimmertype .descriptiontabletop-NBb30a {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicepluginlightdimmertype .group-2-copy-NBb30a {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.devicepluginlightdimmertype .table-guide-text1line-o1ppsF {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginlightdimmertype .table-guide-text1line-oIyxWu {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginlightdimmertype .table-guide-text2line_m-o1ppsF {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginlightdimmertype .group-2-copy-3-NBb30a {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 680px;
}

.devicepluginlightdimmertype .table-guide-text1line-us98d3 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginlightdimmertype .table-guide-text1line-JcwxE4 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginlightdimmertype .table-guide-text2line_m-us98d3 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginlightdimmertype .group-2-copy-4-NBb30a {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 197px;
  width: 680px;
}

.devicepluginlightdimmertype .table-guide-text1line-Gxth6q {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginlightdimmertype .table-guide-text1line-DWJvd2 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginlightdimmertype .table-guide-text2line_m-Gxth6q {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginlightdimmertype .group-2-copy-5-NBb30a {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 244px;
  width: 680px;
}

.devicepluginlightdimmertype .table-guide-text1line-C6uGyn {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginlightdimmertype .table-guide-text1line-gFcznH {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginlightdimmertype .table-guide-text2line_m-C6uGyn {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginlightdimmertype .web-sub_-title-xD4EdS {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicepluginlightdimmertype .web-title-area-xD4EdS {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicepluginlightdimmertype .web-tab-device-plug-xD4EdS {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicepluginlightdimmertype .x3rd-depth-ZObDkW {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.devicepluginlightdimmertype .tab-ESqYNv {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 102px;
  position: relative;
  top: 0px;
  width: auto;
}

.devicepluginlightdimmertype .switch-type-VvBJQM {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 72px;
}

.devicepluginlightdimmertype .dimmer-type-VvBJQM {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 80px;
}

.devicepluginlightdimmertype .lnb-device-plug-in-xD4EdS {
  background-color: transparent;
  height: 1218px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginlightdimmertype .rectangle-axC6dz {
  background-color: var(--concrete);
  height: 1218px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginlightdimmertype .stacked-group-axC6dz {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicepluginlightdimmertype .web-index-title-common-KL83Tm {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.devicepluginlightdimmertype .web-index-contents1dpeth_close-KL83Tm {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightdimmertype .web-index-contents1dpeth_close-4iDm7U {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightdimmertype .web-index-contents1dpeth_close-ZuUoPZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightdimmertype .web-index-contents1dpeth_close-YeN8vU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightdimmertype .web-index-contents1dpeth_close-kT83nS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightdimmertype .group-copy-KL83Tm {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightdimmertype .empty-COfL9k {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginlightdimmertype .line-copy-COfL9k {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginlightdimmertype .empty-BxGeCI {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginlightdimmertype .web-index-title-common-copy-KL83Tm {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightdimmertype .web-index-contents1dpeth_open_selected-KL83Tm {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightdimmertype .web-index-contents2dpeth-KL83Tm {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightdimmertype .web-index-contents2dpeth-4iDm7U {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightdimmertype .web-index-contents2dpeth-ZuUoPZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightdimmertype .web-index-contents2dpeth-YeN8vU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightdimmertype .web-index-contents2dpeth-kT83nS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightdimmertype .web-index-contents2dpeth-GFal1k {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightdimmertype .web-index-contents2dpeth-9lKe91 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightdimmertype .web-index-contents2dpeth-pTnjBr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightdimmertype .web-index-contents2dpeth-G8JDoq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightdimmertype .web-index-contents2dpeth-2wCDTI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightdimmertype .web-index-contents2dpeth-MiDdmV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightdimmertype .web-index-contents1dpeth_close-GFal1k {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightdimmertype .group-KL83Tm {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightdimmertype .empty-KgWbgm {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginlightdimmertype .line-copy-KgWbgm {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginlightdimmertype .empty-dwx3DY {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginlightdimmertype .web-index-title-common-4iDm7U {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightdimmertype .line-axC6dz {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicepluginlightdimmertype .home-net-gui-guidelin-axC6dz {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicepluginlightdimmertype .webgnb-xD4EdS {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicepluginlightdimmertype .rectangle-0xigjx {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginlightdimmertype .background-0xigjx {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginlightdimmertype .index-0xigjx {
  background-color: transparent;
  height: 28px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.devicepluginlightdimmertype .web-index-select-GiQlm9 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.devicepluginlightdimmertype .web-index-unselect-GiQlm9 {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicepluginlightdimmertype .web-index-unelect_main-0xigjx {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicepluginlightdimmertype .logo-vhSo6a {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
