/* screen - devicefeatureadditionalinformation1 */

.devicefeatureadditionalinformation1 {
  background-color: var(--white);
  height: 2098px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.devicefeatureadditionalinformation1 .group-3-copy-WA6cxx {
  background-color: transparent;
  height: 194px;
  left: 1140px;
  position: absolute;
  top: 582px;
  width: 680px;
}

.devicefeatureadditionalinformation1 .group-3-copy-3-WA6cxx {
  background-color: transparent;
  height: 120px;
  left: 1140px;
  position: absolute;
  top: 1691px;
  width: 680px;
}

.devicefeatureadditionalinformation1 .group-4-WA6cxx {
  background-color: transparent;
  height: 804px;
  left: 372px;
  position: absolute;
  top: 342px;
  width: 718px;
}

.devicefeatureadditionalinformation1 .group-3-WA6cxx {
  background-color: transparent;
  height: 603px;
  left: 372px;
  position: absolute;
  top: 1295px;
  width: 718px;
}

.devicefeatureadditionalinformation1 .group-copy-2-WA6cxx {
  background-color: transparent;
  height: 296px;
  left: 1140px;
  position: absolute;
  top: 1295px;
  width: 680px;
}

.devicefeatureadditionalinformation1 .group-2-copy-3-lLxfyI {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.devicefeatureadditionalinformation1 .group-2-copy-4-lLxfyI {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.devicefeatureadditionalinformation1 .table-guide-text1line-xYLw5I {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeatureadditionalinformation1 .table-guide-text1line-HsAkxL {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicefeatureadditionalinformation1 .table-guide-text2line_m-xYLw5I {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicefeatureadditionalinformation1 .group-2-copy-5-lLxfyI {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 237px;
  width: 680px;
}

.devicefeatureadditionalinformation1 .group-2-copy-2-lLxfyI {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicefeatureadditionalinformation1 .table-guide-text1line-MbmSx3 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeatureadditionalinformation1 .table-guide-text1line-xkA3b3 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicefeatureadditionalinformation1 .table-guide-text2line_m-MbmSx3 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicefeatureadditionalinformation1 .descriptiontabletop-lLxfyI {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicefeatureadditionalinformation1 .group-WA6cxx {
  background-color: transparent;
  height: 140px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.devicefeatureadditionalinformation1 .group-2-copy-3-C8MSmE {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.devicefeatureadditionalinformation1 .group-2-copy-2-C8MSmE {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicefeatureadditionalinformation1 .table-guide-text1line-iuwtbw {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeatureadditionalinformation1 .table-guide-text1line-2fxmUJ {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicefeatureadditionalinformation1 .table-guide-text2line_m-iuwtbw {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicefeatureadditionalinformation1 .descriptiontabletop-C8MSmE {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicefeatureadditionalinformation1 .web-sub_-title_w-description-WA6cxx {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicefeatureadditionalinformation1 .web-title-area-WA6cxx {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicefeatureadditionalinformation1 .web-tab-device-feature_-capabilities-WA6cxx {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicefeatureadditionalinformation1 .x3rd-depth-5U0MBD {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.devicefeatureadditionalinformation1 .tab-5U0MBD {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.devicefeatureadditionalinformation1 .additional-informati-oFSSEf {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 169px;
}

.devicefeatureadditionalinformation1 .service-feature-type-oFSSEf {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 153px;
}

.devicefeatureadditionalinformation1 .additional-informati-xeAeOW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 154px;
}

.devicefeatureadditionalinformation1 .time-routine-oFSSEf {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 94px;
}

.devicefeatureadditionalinformation1 .lnb-favorite-card-WA6cxx {
  background-color: transparent;
  height: 896px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeatureadditionalinformation1 .rectangle-OQCo6H {
  background-color: var(--concrete);
  height: 896px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeatureadditionalinformation1 .background-OQCo6H {
  background-color: var(--concrete);
  height: 814px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeatureadditionalinformation1 .stacked-group-OQCo6H {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicefeatureadditionalinformation1 .web-index-title-common-GMkOEw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation1 .web-index-contents1dpeth_close-GMkOEw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation1 .web-index-contents1dpeth_close-lX8ziO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation1 .web-index-contents1dpeth_close-F1BPK8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation1 .web-index-contents1dpeth_close-v6AIpB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation1 .web-index-contents2dpeth-GMkOEw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation1 .web-index-contents2dpeth-lX8ziO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation1 .web-index-contents2dpeth-copy-2-GMkOEw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation1 .web-index-contents2dpeth-copy-3-GMkOEw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation1 .web-index-contents1dpeth_open_selected-GMkOEw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation1 .group-copy-GMkOEw {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation1 .empty-sxiQ49 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeatureadditionalinformation1 .line-copy-sxiQ49 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeatureadditionalinformation1 .empty-xuSU0B {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeatureadditionalinformation1 .web-index-title-common-copy-GMkOEw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation1 .web-index-contents1dpeth_close-qJXlzD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation1 .web-index-contents1dpeth_close-U22StI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation1 .group-GMkOEw {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation1 .empty-t8ZO9C {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeatureadditionalinformation1 .line-copy-t8ZO9C {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeatureadditionalinformation1 .empty-yQJbXc {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeatureadditionalinformation1 .web-index-title-common-lX8ziO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation1 .line-OQCo6H {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicefeatureadditionalinformation1 .home-net-gui-guidelin-OQCo6H {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicefeatureadditionalinformation1 .webgnb-WA6cxx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicefeatureadditionalinformation1 .rectangle-u2XKvF {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeatureadditionalinformation1 .background-u2XKvF {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeatureadditionalinformation1 .index-u2XKvF {
  background-color: transparent;
  height: 28px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.devicefeatureadditionalinformation1 .web-index-select-FHK0Pz {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.devicefeatureadditionalinformation1 .web-index-unselect-FHK0Pz {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicefeatureadditionalinformation1 .web-index-unelect_main-u2XKvF {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicefeatureadditionalinformation1 .logo-ULIwxo {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
