/* screen - deviceplugingasvalvestatustype */

.deviceplugingasvalvestatustype {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1358px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.deviceplugingasvalvestatustype .group-4-6PMNMZ {
  background-color: transparent;
  height: 816px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.deviceplugingasvalvestatustype .group-6PMNMZ {
  background-color: transparent;
  height: 593px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.deviceplugingasvalvestatustype .group-2-0SxPtA {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.deviceplugingasvalvestatustype .descriptiontabletop-0SxPtA {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.deviceplugingasvalvestatustype .group-2-copy-0SxPtA {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.deviceplugingasvalvestatustype .table-guide-text1line-HP4Jf7 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.deviceplugingasvalvestatustype .table-guide-text1line-1ODSo7 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.deviceplugingasvalvestatustype .table-guide-text2line_m-HP4Jf7 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.deviceplugingasvalvestatustype .group-2-copy-2-0SxPtA {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.deviceplugingasvalvestatustype .table-guide-text1line-0fDdgi {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.deviceplugingasvalvestatustype .table-guide-text1line-IOzxlp {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.deviceplugingasvalvestatustype .table-guide-text2line_m-0fDdgi {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.deviceplugingasvalvestatustype .group-2-copy-6-0SxPtA {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 237px;
  width: 340px;
}

.deviceplugingasvalvestatustype .table-guide-text2line_m-KuJxUx {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.deviceplugingasvalvestatustype .group-2-copy-3-0SxPtA {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 306px;
  width: 680px;
}

.deviceplugingasvalvestatustype .table-guide-text1line-MGDQmh {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.deviceplugingasvalvestatustype .table-guide-text1line-zNL0wA {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.deviceplugingasvalvestatustype .table-guide-text2line_m-MGDQmh {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.deviceplugingasvalvestatustype .group-2-copy-4-0SxPtA {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 353px;
  width: 680px;
}

.deviceplugingasvalvestatustype .table-guide-text1line-reaR28 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.deviceplugingasvalvestatustype .table-guide-text1line-YZx6XO {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.deviceplugingasvalvestatustype .table-guide-text2line_m-reaR28 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.deviceplugingasvalvestatustype .group-2-copy-7-0SxPtA {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 420px;
  width: 680px;
}

.deviceplugingasvalvestatustype .table-guide-text1line-o9lxu7 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.deviceplugingasvalvestatustype .table-guide-text1line-h5b0x3 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.deviceplugingasvalvestatustype .table-guide-text2line_m-o9lxu7 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.deviceplugingasvalvestatustype .group-2-copy-5-0SxPtA {
  background-color: transparent;
  height: 106px;
  left: 0px;
  position: absolute;
  top: 487px;
  width: 680px;
}

.deviceplugingasvalvestatustype .table-guide-text1line-6gC0xx {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.deviceplugingasvalvestatustype .table-guide-text1line-XgVG57 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.deviceplugingasvalvestatustype .table-guide-text2line_m-6gC0xx {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.deviceplugingasvalvestatustype .table-guide-text2line_m-copy-6gC0xx {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 47px;
  width: 340px;
}

.deviceplugingasvalvestatustype .web-sub_-title-6PMNMZ {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.deviceplugingasvalvestatustype .web-title-area-6PMNMZ {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.deviceplugingasvalvestatustype .web-tab-device-plug-6PMNMZ {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.deviceplugingasvalvestatustype .x3rd-depth-wKCxAo {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.deviceplugingasvalvestatustype .tab-0FAlbJ {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 102px;
  position: relative;
  top: 0px;
  width: auto;
}

.deviceplugingasvalvestatustype .status-type-voRcu0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 71px;
}

.deviceplugingasvalvestatustype .lnb-device-plug-in-6PMNMZ {
  background-color: transparent;
  height: 1218px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvestatustype .rectangle-I6FJKD {
  background-color: var(--concrete);
  height: 1218px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvestatustype .stacked-group-I6FJKD {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.deviceplugingasvalvestatustype .web-index-title-common-Hb3W2w {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvestatustype .web-index-contents1dpeth_close-Hb3W2w {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvestatustype .web-index-contents1dpeth_close-ymGKI2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvestatustype .web-index-contents1dpeth_close-gx3gGb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvestatustype .web-index-contents1dpeth_close-DaeRiB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvestatustype .web-index-contents1dpeth_close-ROUijO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvestatustype .group-copy-Hb3W2w {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvestatustype .empty-TJrFCl {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.deviceplugingasvalvestatustype .line-copy-TJrFCl {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.deviceplugingasvalvestatustype .empty-E2O7yp {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvestatustype .web-index-title-common-copy-Hb3W2w {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvestatustype .web-index-contents1dpeth_open_selected-Hb3W2w {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvestatustype .web-index-contents2dpeth-Hb3W2w {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvestatustype .web-index-contents2dpeth-ymGKI2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvestatustype .web-index-contents2dpeth-gx3gGb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvestatustype .web-index-contents2dpeth-DaeRiB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvestatustype .web-index-contents2dpeth-ROUijO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvestatustype .web-index-contents2dpeth-haAM47 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvestatustype .web-index-contents2dpeth-TxmoFS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvestatustype .web-index-contents2dpeth-zOMfad {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvestatustype .web-index-contents2dpeth-rkFTfp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvestatustype .web-index-contents2dpeth-PUjWDm {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvestatustype .web-index-contents2dpeth-whSNIO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvestatustype .web-index-contents1dpeth_close-haAM47 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvestatustype .group-Hb3W2w {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvestatustype .empty-Wxi0oB {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.deviceplugingasvalvestatustype .line-copy-Wxi0oB {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.deviceplugingasvalvestatustype .empty-1NRnuc {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugingasvalvestatustype .web-index-title-common-ymGKI2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugingasvalvestatustype .line-I6FJKD {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.deviceplugingasvalvestatustype .home-net-gui-guidelin-I6FJKD {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.deviceplugingasvalvestatustype .webgnb-6PMNMZ {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.deviceplugingasvalvestatustype .rectangle-KgA3GG {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.deviceplugingasvalvestatustype .background-KgA3GG {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.deviceplugingasvalvestatustype .index-KgA3GG {
  background-color: transparent;
  height: 28px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.deviceplugingasvalvestatustype .web-index-select-S6EuIJ {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.deviceplugingasvalvestatustype .web-index-unselect-S6EuIJ {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.deviceplugingasvalvestatustype .web-index-unelect_main-KgA3GG {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.deviceplugingasvalvestatustype .logo-1GzbMW {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
