/* screen - devicepluginelevatoronebuttontype */

.devicepluginelevatoronebuttontype {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2266px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.devicepluginelevatoronebuttontype .group-5-fNDLrK {
  background-color: transparent;
  height: 830px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.devicepluginelevatoronebuttontype .group-9-fNDLrK {
  background-color: transparent;
  height: 240px;
  left: 400px;
  position: absolute;
  top: 1391px;
  width: 690px;
}

.devicepluginelevatoronebuttontype .group-3-copy-fNDLrK {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 1973px;
  width: 680px;
}

.devicepluginelevatoronebuttontype .group-26-fNDLrK {
  background-color: transparent;
  height: 227px;
  left: 420px;
  position: absolute;
  top: 1781px;
  width: 336px;
}

.devicepluginelevatoronebuttontype .group-copy-fNDLrK {
  background-color: transparent;
  height: 482px;
  left: 1140px;
  position: absolute;
  top: 1391px;
  width: 680px;
}

.devicepluginelevatoronebuttontype .group-2-HcHJQa {
  background-color: transparent;
  height: 128px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicepluginelevatoronebuttontype .table-guide-text1line-GvRUhd {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginelevatoronebuttontype .table-guide-text1line-xRZVpP {
  background-color: transparent;
  height: 99px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginelevatoronebuttontype .table-guide-text2line_m-GvRUhd {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginelevatoronebuttontype .table-guide-text2line_m-copy-GvRUhd {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 69px;
  width: 340px;
}

.devicepluginelevatoronebuttontype .descriptiontabletop-HcHJQa {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicepluginelevatoronebuttontype .group-2-copy-HcHJQa {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 194px;
  width: 680px;
}

.devicepluginelevatoronebuttontype .group-2-copy-2-HcHJQa {
  background-color: transparent;
  height: 179px;
  left: 0px;
  position: absolute;
  top: 303px;
  width: 680px;
}

.devicepluginelevatoronebuttontype .group-fNDLrK {
  background-color: transparent;
  height: 504px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.devicepluginelevatoronebuttontype .group-2-fuFery {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicepluginelevatoronebuttontype .descriptiontabletop-fuFery {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicepluginelevatoronebuttontype .group-2-copy-fuFery {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.devicepluginelevatoronebuttontype .table-guide-text1line-psQsht {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginelevatoronebuttontype .table-guide-text1line-pSfoDh {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginelevatoronebuttontype .table-guide-text2line_m-psQsht {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginelevatoronebuttontype .group-2-copy-2-fuFery {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 680px;
}

.devicepluginelevatoronebuttontype .table-guide-text1line-njpKPZ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginelevatoronebuttontype .table-guide-text1line-riWK2c {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginelevatoronebuttontype .table-guide-text2line_m-njpKPZ {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginelevatoronebuttontype .group-2-copy-3-fuFery {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 197px;
  width: 680px;
}

.devicepluginelevatoronebuttontype .table-guide-text1line-Lzmyy7 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginelevatoronebuttontype .table-guide-text1line-a5720f {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginelevatoronebuttontype .table-guide-text2line_m-Lzmyy7 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginelevatoronebuttontype .group-3-fuFery {
  background-color: transparent;
  height: 193px;
  left: 0px;
  position: absolute;
  top: 244px;
  width: 680px;
}

.devicepluginelevatoronebuttontype .table-guide-text1line-nQexsv {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginelevatoronebuttontype .table-guide-text1line-ZxfoEx {
  background-color: transparent;
  height: 57px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginelevatoronebuttontype .table-guide-text2line_m-nQexsv {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginelevatoronebuttontype .group-6-nQexsv {
  background-color: transparent;
  height: 136px;
  left: 60px;
  position: absolute;
  top: 57px;
  width: 296px;
}

.devicepluginelevatoronebuttontype .group-2-copy-4-fuFery {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 447px;
  width: 680px;
}

.devicepluginelevatoronebuttontype .table-guide-text1line-wxbpBB {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginelevatoronebuttontype .table-guide-text1line-0G01lQ {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginelevatoronebuttontype .table-guide-text2line_m-wxbpBB {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginelevatoronebuttontype .web-sub_-title-fNDLrK {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicepluginelevatoronebuttontype .web-title-area-fNDLrK {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicepluginelevatoronebuttontype .web-tab-device-plug-fNDLrK {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicepluginelevatoronebuttontype .x3rd-depth-jyx3o2 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.devicepluginelevatoronebuttontype .tab-jTxsXP {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 102px;
  position: relative;
  top: 0px;
  width: auto;
}

.devicepluginelevatoronebuttontype .one-button-type-5F6zvf {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 101px;
}

.devicepluginelevatoronebuttontype .two-button-type-5F6zvf {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 100px;
}

.devicepluginelevatoronebuttontype .lnb-device-plug-in-fNDLrK {
  background-color: transparent;
  height: 1218px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginelevatoronebuttontype .rectangle-yekOb8 {
  background-color: var(--concrete);
  height: 1218px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginelevatoronebuttontype .stacked-group-yekOb8 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicepluginelevatoronebuttontype .web-index-title-common-5XTZOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatoronebuttontype .web-index-contents1dpeth_close-5XTZOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatoronebuttontype .web-index-contents1dpeth_close-3eIKsh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatoronebuttontype .web-index-contents1dpeth_close-FjI5wh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatoronebuttontype .web-index-contents1dpeth_close-6wlxZ3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatoronebuttontype .web-index-contents1dpeth_close-dZeZoa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatoronebuttontype .group-copy-5XTZOJ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatoronebuttontype .empty-3kAvJ7 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginelevatoronebuttontype .line-copy-3kAvJ7 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginelevatoronebuttontype .empty-G6LRbi {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginelevatoronebuttontype .web-index-title-common-copy-5XTZOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatoronebuttontype .web-index-contents1dpeth_open_selected-5XTZOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatoronebuttontype .web-index-contents2dpeth-5XTZOJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatoronebuttontype .web-index-contents2dpeth-3eIKsh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatoronebuttontype .web-index-contents2dpeth-FjI5wh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatoronebuttontype .web-index-contents2dpeth-6wlxZ3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatoronebuttontype .web-index-contents2dpeth-dZeZoa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatoronebuttontype .web-index-contents2dpeth-XvbNVx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatoronebuttontype .web-index-contents2dpeth-9OKDTQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatoronebuttontype .web-index-contents2dpeth-7nUxAH {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatoronebuttontype .web-index-contents2dpeth-j4xpZI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatoronebuttontype .web-index-contents2dpeth-FdGkLi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatoronebuttontype .web-index-contents2dpeth-1EVxzV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatoronebuttontype .web-index-contents1dpeth_close-XvbNVx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatoronebuttontype .group-5XTZOJ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatoronebuttontype .empty-991aLo {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginelevatoronebuttontype .line-copy-991aLo {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginelevatoronebuttontype .empty-RTFVRh {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginelevatoronebuttontype .web-index-title-common-3eIKsh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatoronebuttontype .line-yekOb8 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicepluginelevatoronebuttontype .home-net-gui-guidelin-yekOb8 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicepluginelevatoronebuttontype .webgnb-fNDLrK {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicepluginelevatoronebuttontype .rectangle-y6DMC1 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginelevatoronebuttontype .background-y6DMC1 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginelevatoronebuttontype .index-y6DMC1 {
  background-color: transparent;
  height: 28px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.devicepluginelevatoronebuttontype .web-index-select-GnuYXx {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.devicepluginelevatoronebuttontype .web-index-unselect-GnuYXx {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicepluginelevatoronebuttontype .web-index-unelect_main-y6DMC1 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicepluginelevatoronebuttontype .logo-qNqo4P {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
