/* screen - devicefeatureadditionalinformation2 */

.devicefeatureadditionalinformation2 {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.devicefeatureadditionalinformation2 .group-3-HnsIvt {
  background-color: transparent;
  height: 176px;
  left: 358px;
  position: absolute;
  top: 656px;
  width: 438px;
}

.devicefeatureadditionalinformation2 .group-10-HnsIvt {
  background-color: transparent;
  height: 214px;
  left: 358px;
  position: absolute;
  top: 342px;
  width: 732px;
}

.devicefeatureadditionalinformation2 .group-3-copy-HnsIvt {
  background-color: transparent;
  height: 190px;
  left: 1140px;
  position: absolute;
  top: 631px;
  width: 680px;
}

.devicefeatureadditionalinformation2 .group-HnsIvt {
  background-color: transparent;
  height: 189px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.devicefeatureadditionalinformation2 .group-2-copy-3-wgkqjM {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.devicefeatureadditionalinformation2 .group-2-copy-2-wgkqjM {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicefeatureadditionalinformation2 .table-guide-text1line-qJJG5x {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeatureadditionalinformation2 .table-guide-text1line-i9jt3P {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicefeatureadditionalinformation2 .table-guide-text2line_m-qJJG5x {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicefeatureadditionalinformation2 .descriptiontabletop-wgkqjM {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicefeatureadditionalinformation2 .web-sub_-title_w-description-HnsIvt {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicefeatureadditionalinformation2 .web-title-area-HnsIvt {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicefeatureadditionalinformation2 .web-tab-device-feature_-capabilities-HnsIvt {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicefeatureadditionalinformation2 .x3rd-depth-YyqAZA {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.devicefeatureadditionalinformation2 .tab-YyqAZA {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.devicefeatureadditionalinformation2 .additional-informati-sKshTR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 169px;
}

.devicefeatureadditionalinformation2 .service-feature-type-sKshTR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 152px;
}

.devicefeatureadditionalinformation2 .additional-informati-4vEnpX {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 155px;
}

.devicefeatureadditionalinformation2 .time-routine-sKshTR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 94px;
}

.devicefeatureadditionalinformation2 .lnb-favorite-card-HnsIvt {
  background-color: transparent;
  height: 896px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeatureadditionalinformation2 .rectangle-0VMvIn {
  background-color: var(--concrete);
  height: 896px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeatureadditionalinformation2 .background-0VMvIn {
  background-color: var(--concrete);
  height: 814px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeatureadditionalinformation2 .stacked-group-0VMvIn {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicefeatureadditionalinformation2 .web-index-title-common-lnXYt9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation2 .web-index-contents1dpeth_close-lnXYt9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation2 .web-index-contents1dpeth_close-9Z7Xh9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation2 .web-index-contents1dpeth_close-6lfHxX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation2 .web-index-contents1dpeth_close-zWTnhY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation2 .web-index-contents2dpeth-lnXYt9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation2 .web-index-contents2dpeth-9Z7Xh9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation2 .web-index-contents2dpeth-copy-2-lnXYt9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation2 .web-index-contents2dpeth-copy-3-lnXYt9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation2 .web-index-contents1dpeth_open_selected-lnXYt9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation2 .group-copy-lnXYt9 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation2 .empty-7ZPxL7 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeatureadditionalinformation2 .line-copy-7ZPxL7 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeatureadditionalinformation2 .empty-xREbWJ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeatureadditionalinformation2 .web-index-title-common-copy-lnXYt9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation2 .web-index-contents1dpeth_close-CGs0nU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation2 .web-index-contents1dpeth_close-veHFaY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation2 .group-lnXYt9 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation2 .empty-5slz6J {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeatureadditionalinformation2 .line-copy-5slz6J {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeatureadditionalinformation2 .empty-HSucAX {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeatureadditionalinformation2 .web-index-title-common-9Z7Xh9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation2 .line-0VMvIn {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicefeatureadditionalinformation2 .home-net-gui-guidelin-0VMvIn {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicefeatureadditionalinformation2 .webgnb-HnsIvt {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicefeatureadditionalinformation2 .rectangle-MwLTe8 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeatureadditionalinformation2 .background-MwLTe8 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeatureadditionalinformation2 .index-MwLTe8 {
  background-color: transparent;
  height: 28px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.devicefeatureadditionalinformation2 .web-index-select-EpSL6O {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.devicefeatureadditionalinformation2 .web-index-unselect-EpSL6O {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicefeatureadditionalinformation2 .web-index-unelect_main-MwLTe8 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicefeatureadditionalinformation2 .logo-j0fFLg {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
