/* screen - devicefeaturecapabilitiescardbasiclayout */

.devicefeaturecapabilitiescardbasiclayout {
  background-color: var(--white);
  height: 2921px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.devicefeaturecapabilitiescardbasiclayout .group-3-LbLHQi {
  background-color: transparent;
  height: 730px;
  left: 380px;
  position: absolute;
  top: 761px;
  width: 1440px;
}

.devicefeaturecapabilitiescardbasiclayout .group-14-LbLHQi {
  background-color: transparent;
  height: 236px;
  left: 380px;
  position: absolute;
  top: 1590px;
  width: 710px;
}

.devicefeaturecapabilitiescardbasiclayout .group-15-LbLHQi {
  background-color: transparent;
  height: 745px;
  left: 364px;
  position: absolute;
  top: 1976px;
  width: 726px;
}

.devicefeaturecapabilitiescardbasiclayout .group-25-LbLHQi {
  background-color: transparent;
  height: 222px;
  left: 399px;
  position: absolute;
  top: 342px;
  width: 691px;
}

.devicefeaturecapabilitiescardbasiclayout .group-3-copy-3-LbLHQi {
  background-color: transparent;
  height: 120px;
  left: 1140px;
  position: absolute;
  top: 2189px;
  width: 680px;
}

.devicefeaturecapabilitiescardbasiclayout .group-LbLHQi {
  background-color: transparent;
  height: 269px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.devicefeaturecapabilitiescardbasiclayout .group-2-copy-3-zJXENp {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 212px;
  width: 680px;
}

.devicefeaturecapabilitiescardbasiclayout .table-guide-text1line-fLGxJX {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiescardbasiclayout .table-guide-text1line-XiUqyN {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicefeaturecapabilitiescardbasiclayout .table-guide-text2line_m-fLGxJX {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicefeaturecapabilitiescardbasiclayout .group-2-copy-2-zJXENp {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 165px;
  width: 680px;
}

.devicefeaturecapabilitiescardbasiclayout .table-guide-text1line-Yx8Sx9 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiescardbasiclayout .table-guide-text1line-l0SvAo {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicefeaturecapabilitiescardbasiclayout .table-guide-text2line_m-Yx8Sx9 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicefeaturecapabilitiescardbasiclayout .group-2-copy-4-zJXENp {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicefeaturecapabilitiescardbasiclayout .descriptiontabletop-zJXENp {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicefeaturecapabilitiescardbasiclayout .group-copy-LbLHQi {
  background-color: transparent;
  height: 113px;
  left: 1140px;
  position: absolute;
  top: 1590px;
  width: 680px;
}

.devicefeaturecapabilitiescardbasiclayout .group-2-copy-2-yO10ku {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicefeaturecapabilitiescardbasiclayout .table-guide-text1line-XSBepd {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiescardbasiclayout .table-guide-text1line-WBekt6 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicefeaturecapabilitiescardbasiclayout .table-guide-text2line_m-XSBepd {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicefeaturecapabilitiescardbasiclayout .descriptiontabletop-yO10ku {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicefeaturecapabilitiescardbasiclayout .group-copy-2-LbLHQi {
  background-color: transparent;
  height: 113px;
  left: 1140px;
  position: absolute;
  top: 1976px;
  width: 680px;
}

.devicefeaturecapabilitiescardbasiclayout .group-2-copy-2-UEamt5 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicefeaturecapabilitiescardbasiclayout .table-guide-text1line-DjO3aq {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiescardbasiclayout .table-guide-text1line-swdLxN {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicefeaturecapabilitiescardbasiclayout .table-guide-text2line_m-DjO3aq {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicefeaturecapabilitiescardbasiclayout .descriptiontabletop-UEamt5 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicefeaturecapabilitiescardbasiclayout .web-sub_-title_w-description-LbLHQi {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicefeaturecapabilitiescardbasiclayout .web-title-area-LbLHQi {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicefeaturecapabilitiescardbasiclayout .web-tab-device-feature_-capabilities-LbLHQi {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicefeaturecapabilitiescardbasiclayout .x3rd-depth-V4MSHU {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.devicefeaturecapabilitiescardbasiclayout .tab-V4MSHU {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.devicefeaturecapabilitiescardbasiclayout .types-xq9FLU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 35px;
}

.devicefeaturecapabilitiescardbasiclayout .service-feature-type-xq9FLU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 107px;
}

.devicefeaturecapabilitiescardbasiclayout .value-xq9FLU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 35px;
}

.devicefeaturecapabilitiescardbasiclayout .value-slider-_-lin-xq9FLU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.devicefeaturecapabilitiescardbasiclayout .value-slider-_-ste-xq9FLU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 167px;
}

.devicefeaturecapabilitiescardbasiclayout .value-switch-sli-xq9FLU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 143px;
}

.devicefeaturecapabilitiescardbasiclayout .grouping-card-xq9FLU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 87px;
}

.devicefeaturecapabilitiescardbasiclayout .lnb-favorite-card-LbLHQi {
  background-color: transparent;
  height: 896px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .rectangle-GPGESh {
  background-color: var(--concrete);
  height: 896px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .background-GPGESh {
  background-color: var(--concrete);
  height: 814px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .stacked-group-GPGESh {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .web-index-title-common-CZ6Cn0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .web-index-contents1dpeth_close-CZ6Cn0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .web-index-contents1dpeth_close-MjfxF7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .web-index-contents1dpeth_close-NAL75E {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .web-index-contents1dpeth_close-FCX0Nj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .web-index-contents2dpeth-CZ6Cn0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .web-index-contents2dpeth-MjfxF7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .web-index-contents2dpeth-copy-2-CZ6Cn0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .web-index-contents2dpeth-copy-3-CZ6Cn0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .web-index-contents1dpeth_open_selected-CZ6Cn0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .group-copy-CZ6Cn0 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .empty-fi4WhE {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .line-copy-fi4WhE {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturecapabilitiescardbasiclayout .empty-xxHCLI {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .web-index-title-common-copy-CZ6Cn0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .web-index-contents1dpeth_close-pNVH8F {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .web-index-contents1dpeth_close-8xO7sE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .group-CZ6Cn0 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .empty-0LJlNs {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .line-copy-0LJlNs {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturecapabilitiescardbasiclayout .empty-sgCS7s {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .web-index-title-common-MjfxF7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiescardbasiclayout .line-GPGESh {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicefeaturecapabilitiescardbasiclayout .home-net-gui-guidelin-GPGESh {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicefeaturecapabilitiescardbasiclayout .webgnb-LbLHQi {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilitiescardbasiclayout .rectangle-RyNDmc {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilitiescardbasiclayout .background-RyNDmc {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilitiescardbasiclayout .index-RyNDmc {
  background-color: transparent;
  height: 28px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.devicefeaturecapabilitiescardbasiclayout .web-index-select-eRj7N0 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.devicefeaturecapabilitiescardbasiclayout .web-index-unselect-eRj7N0 {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicefeaturecapabilitiescardbasiclayout .web-index-unelect_main-RyNDmc {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicefeaturecapabilitiescardbasiclayout .logo-nwZNfW {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
