/* screen - devicefeaturecapabilitiesvalueswitchslider */

.devicefeaturecapabilitiesvalueswitchslider {
  background-color: var(--white);
  height: 1641px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.devicefeaturecapabilitiesvalueswitchslider .group-3-53pPdS {
  background-color: transparent;
  height: 652px;
  left: 380px;
  position: absolute;
  top: 342px;
  width: 710px;
}

.devicefeaturecapabilitiesvalueswitchslider .group-5-53pPdS {
  background-color: transparent;
  height: 297px;
  left: 380px;
  position: absolute;
  top: 1144px;
  width: 710px;
}

.devicefeaturecapabilitiesvalueswitchslider .group-copy-2-53pPdS {
  background-color: transparent;
  height: 247px;
  left: 1140px;
  position: absolute;
  top: 1144px;
  width: 680px;
}

.devicefeaturecapabilitiesvalueswitchslider .group-2-copy-2-lencZy {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicefeaturecapabilitiesvalueswitchslider .table-guide-text1line-Sn9TzM {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesvalueswitchslider .table-guide-text1line-niFk1t {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicefeaturecapabilitiesvalueswitchslider .table-guide-text2line_m-Sn9TzM {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicefeaturecapabilitiesvalueswitchslider .group-2-copy-3-lencZy {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.devicefeaturecapabilitiesvalueswitchslider .table-guide-text1line-LafYyb {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesvalueswitchslider .table-guide-text1line-XpxJ5l {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicefeaturecapabilitiesvalueswitchslider .table-guide-text2line_m-LafYyb {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicefeaturecapabilitiesvalueswitchslider .group-2-copy-2-RDzl16 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 680px;
}

.devicefeaturecapabilitiesvalueswitchslider .table-guide-text1line-J31ztg {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesvalueswitchslider .table-guide-text1line-xFVcFB {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicefeaturecapabilitiesvalueswitchslider .table-guide-text2line_m-J31ztg {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicefeaturecapabilitiesvalueswitchslider .descriptiontabletop-lencZy {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicefeaturecapabilitiesvalueswitchslider .group-53pPdS {
  background-color: transparent;
  height: 247px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.devicefeaturecapabilitiesvalueswitchslider .group-2-copy-2-SxpHep {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicefeaturecapabilitiesvalueswitchslider .table-guide-text1line-VvVX6s {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesvalueswitchslider .table-guide-text1line-0VU8Mm {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicefeaturecapabilitiesvalueswitchslider .table-guide-text2line_m-VvVX6s {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicefeaturecapabilitiesvalueswitchslider .group-2-copy-3-SxpHep {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.devicefeaturecapabilitiesvalueswitchslider .table-guide-text1line-NDDqra {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesvalueswitchslider .table-guide-text1line-HQh99K {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicefeaturecapabilitiesvalueswitchslider .table-guide-text2line_m-NDDqra {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicefeaturecapabilitiesvalueswitchslider .group-2-copy-2-oGZz2t {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 680px;
}

.devicefeaturecapabilitiesvalueswitchslider .table-guide-text1line-uY7UCk {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesvalueswitchslider .table-guide-text1line-zftVZF {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicefeaturecapabilitiesvalueswitchslider .table-guide-text2line_m-uY7UCk {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicefeaturecapabilitiesvalueswitchslider .descriptiontabletop-SxpHep {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicefeaturecapabilitiesvalueswitchslider .web-sub_-title_w-description-53pPdS {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicefeaturecapabilitiesvalueswitchslider .web-title-area-53pPdS {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicefeaturecapabilitiesvalueswitchslider .web-tab-device-feature_-capabilities-53pPdS {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicefeaturecapabilitiesvalueswitchslider .x3rd-depth-atwI9Q {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.devicefeaturecapabilitiesvalueswitchslider .tab-atwI9Q {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.devicefeaturecapabilitiesvalueswitchslider .types-ZANJU5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 35px;
}

.devicefeaturecapabilitiesvalueswitchslider .service-feature-type-ZANJU5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 106px;
}

.devicefeaturecapabilitiesvalueswitchslider .value-ZANJU5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 35px;
}

.devicefeaturecapabilitiesvalueswitchslider .value-slider-_-lin-ZANJU5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.devicefeaturecapabilitiesvalueswitchslider .value-slider-_-ste-ZANJU5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 167px;
}

.devicefeaturecapabilitiesvalueswitchslider .value-switch-sli-ZANJU5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 144px;
}

.devicefeaturecapabilitiesvalueswitchslider .grouping-card-ZANJU5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 87px;
}

.devicefeaturecapabilitiesvalueswitchslider .lnb-favorite-card-53pPdS {
  background-color: transparent;
  height: 896px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiesvalueswitchslider .rectangle-LrdqKn {
  background-color: var(--concrete);
  height: 896px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiesvalueswitchslider .background-LrdqKn {
  background-color: var(--concrete);
  height: 814px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiesvalueswitchslider .stacked-group-LrdqKn {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicefeaturecapabilitiesvalueswitchslider .web-index-title-common-sg5FGW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvalueswitchslider .web-index-contents1dpeth_close-sg5FGW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvalueswitchslider .web-index-contents1dpeth_close-b93gqe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvalueswitchslider .web-index-contents1dpeth_close-QUh8bc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvalueswitchslider .web-index-contents1dpeth_close-i00DHv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvalueswitchslider .web-index-contents2dpeth-sg5FGW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvalueswitchslider .web-index-contents2dpeth-b93gqe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvalueswitchslider .web-index-contents2dpeth-copy-2-sg5FGW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvalueswitchslider .web-index-contents2dpeth-copy-3-sg5FGW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvalueswitchslider .web-index-contents1dpeth_open_selected-sg5FGW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvalueswitchslider .group-copy-sg5FGW {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvalueswitchslider .empty-vFxTUt {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturecapabilitiesvalueswitchslider .line-copy-vFxTUt {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturecapabilitiesvalueswitchslider .empty-eYSbxk {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiesvalueswitchslider .web-index-title-common-copy-sg5FGW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvalueswitchslider .web-index-contents1dpeth_close-XVOq9t {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvalueswitchslider .web-index-contents1dpeth_close-2zNMxG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvalueswitchslider .group-sg5FGW {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvalueswitchslider .empty-jBPi7X {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturecapabilitiesvalueswitchslider .line-copy-jBPi7X {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturecapabilitiesvalueswitchslider .empty-Gy0rL2 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiesvalueswitchslider .web-index-title-common-b93gqe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvalueswitchslider .line-LrdqKn {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicefeaturecapabilitiesvalueswitchslider .home-net-gui-guidelin-LrdqKn {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicefeaturecapabilitiesvalueswitchslider .webgnb-53pPdS {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilitiesvalueswitchslider .rectangle-AfnjPh {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilitiesvalueswitchslider .background-AfnjPh {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilitiesvalueswitchslider .index-AfnjPh {
  background-color: transparent;
  height: 28px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.devicefeaturecapabilitiesvalueswitchslider .web-index-select-atJL2f {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.devicefeaturecapabilitiesvalueswitchslider .web-index-unselect-atJL2f {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicefeaturecapabilitiesvalueswitchslider .web-index-unelect_main-AfnjPh {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicefeaturecapabilitiesvalueswitchslider .logo-cQMMbx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
