/* screen - devicepluginsmartlockstuatustype */

.devicepluginsmartlockstuatustype {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1358px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.devicepluginsmartlockstuatustype .group-4-6LmNzS {
  background-color: transparent;
  height: 816px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.devicepluginsmartlockstuatustype .group-copy-6LmNzS {
  background-color: transparent;
  height: 313px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.devicepluginsmartlockstuatustype .group-2-Vk5VxE {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicepluginsmartlockstuatustype .descriptiontabletop-Vk5VxE {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicepluginsmartlockstuatustype .group-2-copy-Vk5VxE {
  background-color: transparent;
  height: 96px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.devicepluginsmartlockstuatustype .table-guide-text1line-K0GFxR {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginsmartlockstuatustype .table-guide-text1line-wOVyyV {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginsmartlockstuatustype .table-guide-text2line_m-K0GFxR {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginsmartlockstuatustype .table-guide-text2line_m-wOVyyV {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 37px;
  width: 340px;
}

.devicepluginsmartlockstuatustype .group-2-copy-4-Vk5VxE {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 209px;
  width: 680px;
}

.devicepluginsmartlockstuatustype .table-guide-text1line-E5d4bC {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginsmartlockstuatustype .table-guide-text1line-ZNFZJq {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginsmartlockstuatustype .table-guide-text2line_m-E5d4bC {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginsmartlockstuatustype .group-2-copy-6-Vk5VxE {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 256px;
  width: 680px;
}

.devicepluginsmartlockstuatustype .table-guide-text1line-n8hc4I {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginsmartlockstuatustype .table-guide-text1line-Vx0Xy0 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginsmartlockstuatustype .table-guide-text2line_m-n8hc4I {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginsmartlockstuatustype .web-sub_-title-6LmNzS {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicepluginsmartlockstuatustype .web-title-area-6LmNzS {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicepluginsmartlockstuatustype .web-tab-device-plug-in_-smart-plug-6LmNzS {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicepluginsmartlockstuatustype .x3rd-depth-EZeLVK {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.devicepluginsmartlockstuatustype .tab-WiGftR {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 102px;
  position: relative;
  top: 0px;
  width: auto;
}

.devicepluginsmartlockstuatustype .stuatus-type-jIRQDS {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 79px;
}

.devicepluginsmartlockstuatustype .lnb-device-plug-in-6LmNzS {
  background-color: transparent;
  height: 1218px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginsmartlockstuatustype .rectangle-0pNinS {
  background-color: var(--concrete);
  height: 1218px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginsmartlockstuatustype .stacked-group-0pNinS {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicepluginsmartlockstuatustype .web-index-title-common-YrT9D9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartlockstuatustype .web-index-contents1dpeth_close-YrT9D9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartlockstuatustype .web-index-contents1dpeth_close-WpYVjP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartlockstuatustype .web-index-contents1dpeth_close-7BrYvP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartlockstuatustype .web-index-contents1dpeth_close-0iox5p {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartlockstuatustype .web-index-contents1dpeth_close-xz4rtd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartlockstuatustype .group-copy-YrT9D9 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartlockstuatustype .empty-okBpRI {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginsmartlockstuatustype .line-copy-okBpRI {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginsmartlockstuatustype .empty-QDvpcX {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginsmartlockstuatustype .web-index-title-common-copy-YrT9D9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartlockstuatustype .web-index-contents1dpeth_open_selected-YrT9D9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartlockstuatustype .web-index-contents2dpeth-YrT9D9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartlockstuatustype .web-index-contents2dpeth-WpYVjP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartlockstuatustype .web-index-contents2dpeth-7BrYvP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartlockstuatustype .web-index-contents2dpeth-0iox5p {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartlockstuatustype .web-index-contents2dpeth-xz4rtd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartlockstuatustype .web-index-contents2dpeth-S7oIBd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartlockstuatustype .web-index-contents2dpeth-FNiLK8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartlockstuatustype .web-index-contents2dpeth-XUExlN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartlockstuatustype .web-index-contents2dpeth-xvxcQe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartlockstuatustype .web-index-contents2dpeth-Gm7tV7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartlockstuatustype .web-index-contents2dpeth-RJ1ww5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartlockstuatustype .web-index-contents1dpeth_close-S7oIBd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartlockstuatustype .group-YrT9D9 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartlockstuatustype .empty-0xxTD6 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginsmartlockstuatustype .line-copy-0xxTD6 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginsmartlockstuatustype .empty-TL1KR9 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginsmartlockstuatustype .web-index-title-common-WpYVjP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartlockstuatustype .line-0pNinS {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicepluginsmartlockstuatustype .home-net-gui-guidelin-0pNinS {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicepluginsmartlockstuatustype .webgnb-6LmNzS {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicepluginsmartlockstuatustype .rectangle-LtSZLq {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginsmartlockstuatustype .background-LtSZLq {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginsmartlockstuatustype .index-LtSZLq {
  background-color: transparent;
  height: 28px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.devicepluginsmartlockstuatustype .web-index-select-YhtlgU {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.devicepluginsmartlockstuatustype .web-index-unselect-YhtlgU {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicepluginsmartlockstuatustype .web-index-unelect_main-LtSZLq {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicepluginsmartlockstuatustype .logo-sQP0SC {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
