/* screen - devicepluginthermostat */

.devicepluginthermostat {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2203px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.devicepluginthermostat .group-4-ZpFx8X {
  background-color: transparent;
  height: 831px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.devicepluginthermostat .group-2-ZpFx8X {
  background-color: transparent;
  height: 240px;
  left: 420px;
  position: absolute;
  top: 1763px;
  width: 336px;
}

.devicepluginthermostat .group-5-ZpFx8X {
  background-color: transparent;
  height: 240px;
  left: 400px;
  position: absolute;
  top: 1373px;
  width: 690px;
}

.devicepluginthermostat .group-copy-2-ZpFx8X {
  background-color: transparent;
  height: 345px;
  left: 1140px;
  position: absolute;
  top: 1373px;
  width: 680px;
}

.devicepluginthermostat .group-2-3PVtTv {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicepluginthermostat .descriptiontabletop-3PVtTv {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicepluginthermostat .group-2-copy-3PVtTv {
  background-color: transparent;
  height: 106px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.devicepluginthermostat .table-guide-text1line-CX6CxC {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginthermostat .table-guide-text1line-282h2P {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginthermostat .table-guide-text2line_m-CX6CxC {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginthermostat .table-guide-text2line_m-copy-CX6CxC {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 47px;
  width: 340px;
}

.devicepluginthermostat .group-2-copy-4-3PVtTv {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 219px;
  width: 680px;
}

.devicepluginthermostat .table-guide-text1line-qqLEIT {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginthermostat .table-guide-text1line-gZqZ2g {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginthermostat .table-guide-text2line_m-qqLEIT {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginthermostat .group-2-copy-5-3PVtTv {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 266px;
  width: 680px;
}

.devicepluginthermostat .table-guide-text1line-D9xYTW {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginthermostat .table-guide-text1line-KTz8Fz {
  background-color: transparent;
  height: 79px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginthermostat .table-guide-text2line_m-D9xYTW {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginthermostat .group-copy-ZpFx8X {
  background-color: transparent;
  height: 368px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.devicepluginthermostat .group-2-TWMyiQ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicepluginthermostat .descriptiontabletop-TWMyiQ {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicepluginthermostat .group-2-copy-TWMyiQ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.devicepluginthermostat .table-guide-text1line-xWnM9Z {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginthermostat .table-guide-text1line-lFU3Xx {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginthermostat .table-guide-text2line_m-xWnM9Z {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginthermostat .group-2-copy-3-TWMyiQ {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 680px;
}

.devicepluginthermostat .table-guide-text1line-tDROxX {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginthermostat .table-guide-text1line-CCZ5DU {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginthermostat .table-guide-text2line_m-tDROxX {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginthermostat .group-2-copy-4-TWMyiQ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 217px;
  width: 680px;
}

.devicepluginthermostat .table-guide-text1line-7H1nkN {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginthermostat .table-guide-text1line-VdY0vZ {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginthermostat .table-guide-text2line_m-7H1nkN {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginthermostat .group-2-copy-5-TWMyiQ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 264px;
  width: 680px;
}

.devicepluginthermostat .table-guide-text1line-iBO9nk {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginthermostat .table-guide-text1line-qrFVug {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginthermostat .table-guide-text2line_m-iBO9nk {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginthermostat .group-2-copy-6-TWMyiQ {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 311px;
  width: 680px;
}

.devicepluginthermostat .table-guide-text1line-P9j00X {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginthermostat .table-guide-text1line-5DzgVo {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginthermostat .table-guide-text2line_m-P9j00X {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginthermostat .web-sub_-title-ZpFx8X {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicepluginthermostat .web-title-area-ZpFx8X {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicepluginthermostat .web-tab-device-plug-ZpFx8X {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicepluginthermostat .x3rd-depth-z8o5Z2 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.devicepluginthermostat .tab-ehs8SA {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 102px;
  position: relative;
  top: 0px;
  width: auto;
}

.devicepluginthermostat .thermostat-ULJNSy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 73px;
}

.devicepluginthermostat .lnb-device-plug-in-ZpFx8X {
  background-color: transparent;
  height: 1218px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginthermostat .rectangle-EMxmaw {
  background-color: var(--concrete);
  height: 1218px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginthermostat .stacked-group-EMxmaw {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicepluginthermostat .web-index-title-common-x9l2R0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.devicepluginthermostat .web-index-contents1dpeth_close-x9l2R0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginthermostat .web-index-contents1dpeth_close-PGLg8s {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginthermostat .web-index-contents1dpeth_close-XfJSex {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginthermostat .web-index-contents1dpeth_close-FalBtC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginthermostat .web-index-contents1dpeth_close-05TLsf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginthermostat .group-copy-x9l2R0 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginthermostat .empty-0xPxSi {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginthermostat .line-copy-0xPxSi {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginthermostat .empty-xaT3q5 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginthermostat .web-index-title-common-copy-x9l2R0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginthermostat .web-index-contents1dpeth_open_selected-x9l2R0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginthermostat .web-index-contents2dpeth-x9l2R0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginthermostat .web-index-contents2dpeth-PGLg8s {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginthermostat .web-index-contents2dpeth-XfJSex {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginthermostat .web-index-contents2dpeth-FalBtC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginthermostat .web-index-contents2dpeth-05TLsf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginthermostat .web-index-contents2dpeth-m8uJhg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginthermostat .web-index-contents2dpeth-u4z3hg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginthermostat .web-index-contents2dpeth-cmZKUe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginthermostat .web-index-contents2dpeth-Ml8LWl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginthermostat .web-index-contents2dpeth-CD1d4P {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginthermostat .web-index-contents2dpeth-Zz7PAN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginthermostat .web-index-contents1dpeth_close-m8uJhg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginthermostat .group-x9l2R0 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginthermostat .empty-cTyhIF {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginthermostat .line-copy-cTyhIF {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginthermostat .empty-i28hrE {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginthermostat .web-index-title-common-PGLg8s {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginthermostat .line-EMxmaw {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicepluginthermostat .home-net-gui-guidelin-EMxmaw {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicepluginthermostat .webgnb-ZpFx8X {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicepluginthermostat .rectangle-qBK78v {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginthermostat .background-qBK78v {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginthermostat .index-qBK78v {
  background-color: transparent;
  height: 28px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.devicepluginthermostat .web-index-select-nqQM5j {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.devicepluginthermostat .web-index-unselect-nqQM5j {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicepluginthermostat .web-index-unelect_main-qBK78v {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicepluginthermostat .logo-4Trdka {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
