/* screen - devicefeaturecapabilitiesvaluesliderstepgrade */

.devicefeaturecapabilitiesvaluesliderstepgrade {
  background-color: var(--white);
  height: 3446px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .group-19-xCQW6j {
  background-color: transparent;
  height: 942px;
  left: 420px;
  position: absolute;
  top: 2304px;
  width: 1400px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .group-9-xCQW6j {
  background-color: transparent;
  height: 796px;
  left: 380px;
  position: absolute;
  top: 342px;
  width: 710px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .group-10-xCQW6j {
  background-color: transparent;
  height: 866px;
  left: 400px;
  position: absolute;
  top: 1288px;
  width: 690px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .group-xCQW6j {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .group-2-copy-2-LMW2qY {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .table-guide-text1line-2lUU5k {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .table-guide-text1line-1TuFAx {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .table-guide-text2line_m-2lUU5k {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .descriptiontabletop-LMW2qY {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .group-copy-3-xCQW6j {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 840px;
  width: 680px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .group-2-copy-2-nS7ttP {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .table-guide-text1line-sNhNxU {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .table-guide-text1line-x7ESvJ {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .table-guide-text2line_m-sNhNxU {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .descriptiontabletop-nS7ttP {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .group-copy-2-xCQW6j {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 1288px;
  width: 680px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .group-2-copy-2-rlKTtK {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .table-guide-text1line-YbdfCv {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .table-guide-text1line-iVymmz {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .table-guide-text2line_m-YbdfCv {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .descriptiontabletop-rlKTtK {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-sub_-title_w-description-xCQW6j {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-title-area-xCQW6j {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-tab-device-feature_-capabilities-xCQW6j {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .x3rd-depth-dGyVpr {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .tab-dGyVpr {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .types-cBanxj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 35px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .service-feature-type-cBanxj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 106px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .value-cBanxj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 35px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .value-slider-_-lin-cBanxj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .value-slider-_-ste-cBanxj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 167px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .value-switch-sli-cBanxj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 143px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .grouping-card-cBanxj {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 87px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .lnb-favorite-card-xCQW6j {
  background-color: transparent;
  height: 896px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .rectangle-v2Kzyj {
  background-color: var(--concrete);
  height: 896px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .background-v2Kzyj {
  background-color: var(--concrete);
  height: 814px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .stacked-group-v2Kzyj {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-index-title-common-W1ioxO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-index-contents1dpeth_close-W1ioxO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-index-contents1dpeth_close-8x63qT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-index-contents1dpeth_close-xBDxNR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-index-contents1dpeth_close-Sk7GdV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-index-contents2dpeth-W1ioxO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-index-contents2dpeth-8x63qT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-index-contents2dpeth-copy-2-W1ioxO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-index-contents2dpeth-copy-3-W1ioxO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-index-contents1dpeth_open_selected-W1ioxO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .group-copy-W1ioxO {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .empty-M4xaoi {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .line-copy-M4xaoi {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .empty-3zWJwY {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-index-title-common-copy-W1ioxO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-index-contents1dpeth_close-AHCoBX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-index-contents1dpeth_close-JWbiXx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .group-W1ioxO {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .empty-T8EHTo {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .line-copy-T8EHTo {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .empty-UeHFfw {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-index-title-common-8x63qT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .line-v2Kzyj {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .home-net-gui-guidelin-v2Kzyj {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .webgnb-xCQW6j {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .rectangle-Jhdidi {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .background-Jhdidi {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .index-Jhdidi {
  background-color: transparent;
  height: 28px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-index-select-zcMgcu {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-index-unselect-zcMgcu {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .web-index-unelect_main-Jhdidi {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicefeaturecapabilitiesvaluesliderstepgrade .logo-NtBwZ7 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
