/* screen - devicefeaturemaindevicefeaturedropdown */

.devicefeaturemaindevicefeaturedropdown {
  background-color: var(--white);
  height: 1746px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.devicefeaturemaindevicefeaturedropdown .group-19-PEzTfx {
  background-color: transparent;
  height: 273px;
  left: 420px;
  position: absolute;
  top: 797px;
  width: 620px;
}

.devicefeaturemaindevicefeaturedropdown .group-12-PEzTfx {
  background-color: transparent;
  height: 326px;
  left: 420px;
  position: absolute;
  top: 1220px;
  width: 670px;
}

.devicefeaturemaindevicefeaturedropdown .group-2-PEzTfx {
  background-color: transparent;
  height: 272px;
  left: 352px;
  position: absolute;
  top: 375px;
  width: 738px;
}

.devicefeaturemaindevicefeaturedropdown .group-3-copy-PEzTfx {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 813px;
  width: 680px;
}

.devicefeaturemaindevicefeaturedropdown .group-copy-PEzTfx {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 1220px;
  width: 680px;
}

.devicefeaturemaindevicefeaturedropdown .group-2-copy-2-Fes8yt {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicefeaturemaindevicefeaturedropdown .table-guide-text1line-Dx7vgo {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturemaindevicefeaturedropdown .table-guide-text1line-F4Bk3i {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicefeaturemaindevicefeaturedropdown .table-guide-text2line_m-Dx7vgo {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicefeaturemaindevicefeaturedropdown .descriptiontabletop-Fes8yt {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicefeaturemaindevicefeaturedropdown .group-PEzTfx {
  background-color: transparent;
  height: 338px;
  left: 1140px;
  position: absolute;
  top: 375px;
  width: 680px;
}

.devicefeaturemaindevicefeaturedropdown .group-2-copy-3-cc7WQu {
  background-color: transparent;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 680px;
}

.devicefeaturemaindevicefeaturedropdown .group-2-copy-3-0e0cRH {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 279px;
  width: 680px;
}

.devicefeaturemaindevicefeaturedropdown .group-2-copy-2-cc7WQu {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.devicefeaturemaindevicefeaturedropdown .table-guide-text1line-c2rZqI {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturemaindevicefeaturedropdown .table-guide-text1line-RgczNB {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicefeaturemaindevicefeaturedropdown .table-guide-text2line_m-c2rZqI {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicefeaturemaindevicefeaturedropdown .group-2-copy-4-cc7WQu {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicefeaturemaindevicefeaturedropdown .table-guide-text1line-vPxXNI {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturemaindevicefeaturedropdown .table-guide-text1line-ObaekZ {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicefeaturemaindevicefeaturedropdown .table-guide-text2line_m-vPxXNI {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicefeaturemaindevicefeaturedropdown .descriptiontabletop-cc7WQu {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicefeaturemaindevicefeaturedropdown .web-sub_-title_w-description-PEzTfx {
  background-color: transparent;
  height: 91px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicefeaturemaindevicefeaturedropdown .web-title-area-PEzTfx {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicefeaturemaindevicefeaturedropdown .web-tab-device-featu-PEzTfx {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicefeaturemaindevicefeaturedropdown .x3rd-depth-muSfdx {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.devicefeaturemaindevicefeaturedropdown .tab-muSfdx {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.devicefeaturemaindevicefeaturedropdown .types-c5kB6C {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 35px;
}

.devicefeaturemaindevicefeaturedropdown .service-feature-type-c5kB6C {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 40px;
}

.devicefeaturemaindevicefeaturedropdown .toggle-c5kB6C {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 41px;
}

.devicefeaturemaindevicefeaturedropdown .buttons-c5kB6C {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 49px;
}

.devicefeaturemaindevicefeaturedropdown .buttons-2-c5kB6C {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 60px;
}

.devicefeaturemaindevicefeaturedropdown .dropdown-c5kB6C {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 65px;
}

.devicefeaturemaindevicefeaturedropdown .toggle-adjust-_-st-c5kB6C {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 177px;
}

.devicefeaturemaindevicefeaturedropdown .toggle-adjust-_-li-c5kB6C {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 187px;
}

.devicefeaturemaindevicefeaturedropdown .value-slider-c5kB6C {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 87px;
}

.devicefeaturemaindevicefeaturedropdown .lnb-favorite-card-PEzTfx {
  background-color: transparent;
  height: 896px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .rectangle-nVysls {
  background-color: var(--concrete);
  height: 896px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .background-nVysls {
  background-color: var(--concrete);
  height: 814px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .stacked-group-nVysls {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .web-index-title-common-rY4MEy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .web-index-contents1dpeth_close-rY4MEy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .web-index-contents1dpeth_close-6Y0ExF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .web-index-contents1dpeth_close-e4EAe8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .web-index-contents1dpeth_close-iTh607 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .web-index-contents2dpeth-rY4MEy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .web-index-contents2dpeth-6Y0ExF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .web-index-contents2dpeth-copy-2-rY4MEy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .web-index-contents2dpeth-copy-3-rY4MEy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .web-index-contents1dpeth_open_selected-rY4MEy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .group-copy-rY4MEy {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .empty-Vb6WQS {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .line-copy-Vb6WQS {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturemaindevicefeaturedropdown .empty-RLxxBy {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .web-index-title-common-copy-rY4MEy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .web-index-contents1dpeth_close-jIrlbV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .web-index-contents1dpeth_close-9tjw9F {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .group-rY4MEy {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .empty-zvJ8dy {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .line-copy-zvJ8dy {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturemaindevicefeaturedropdown .empty-A95j4N {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .web-index-title-common-6Y0ExF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturedropdown .line-nVysls {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicefeaturemaindevicefeaturedropdown .home-net-gui-guidelin-nVysls {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicefeaturemaindevicefeaturedropdown .webgnb-PEzTfx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicefeaturemaindevicefeaturedropdown .rectangle-JGBpFT {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturemaindevicefeaturedropdown .background-JGBpFT {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturemaindevicefeaturedropdown .index-JGBpFT {
  background-color: transparent;
  height: 28px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.devicefeaturemaindevicefeaturedropdown .web-index-select-OvPQCL {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.devicefeaturemaindevicefeaturedropdown .web-index-unselect-OvPQCL {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicefeaturemaindevicefeaturedropdown .web-index-unelect_main-JGBpFT {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicefeaturemaindevicefeaturedropdown .logo-3iXufX {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
