/* screen - devicefeaturemaindevicefeaturetoggleadjuststepslider */

.devicefeaturemaindevicefeaturetoggleadjuststepslider {
  background-color: var(--white);
  height: 1269px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .group-3-aj7gLy {
  background-color: transparent;
  height: 288px;
  left: 380px;
  position: absolute;
  top: 375px;
  width: 710px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .group-4-aj7gLy {
  background-color: transparent;
  height: 256px;
  left: 400px;
  position: absolute;
  top: 813px;
  width: 356px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .group-aj7gLy {
  background-color: transparent;
  height: 207px;
  left: 1140px;
  position: absolute;
  top: 375px;
  width: 680px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .group-2-copy-3-gzO44M {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 680px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .table-guide-text1line-8p3xw0 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .table-guide-text1line-SbvhX9 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .table-guide-text2line_m-8p3xw0 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .group-2-copy-2-gzO44M {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .table-guide-text1line-W6WGn4 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .table-guide-text1line-cofiMl {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .table-guide-text2line_m-W6WGn4 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .group-6-gzO44M {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .table-guide-text1line-eiuDYP {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .table-guide-text1line-gx48Zq {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .table-guide-text2line_m-eiuDYP {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .descriptiontabletop-gzO44M {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .web-sub_-title_w-description-aj7gLy {
  background-color: transparent;
  height: 91px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .web-title-area-aj7gLy {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .web-tab-device-featu-aj7gLy {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .x3rd-depth-4UpWQE {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .tab-4UpWQE {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .types-qIryfr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 35px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .service-feature-type-qIryfr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 40px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .toggle-qIryfr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 41px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .buttons-qIryfr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 49px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .buttons-2-qIryfr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 60px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .dropdown-qIryfr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 64px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .toggle-adjust-_-st-qIryfr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 177px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .toggle-adjust-_-li-qIryfr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 187px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .value-slider-qIryfr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 87px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .lnb-favorite-card-aj7gLy {
  background-color: transparent;
  height: 896px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .rectangle-soJiDK {
  background-color: var(--concrete);
  height: 896px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .background-soJiDK {
  background-color: var(--concrete);
  height: 814px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .stacked-group-soJiDK {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .web-index-title-common-BPzVfJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .web-index-contents1dpeth_close-BPzVfJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .web-index-contents1dpeth_close-gVwYJh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .web-index-contents1dpeth_close-5ghPR8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .web-index-contents1dpeth_close-E2WMcq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .web-index-contents2dpeth-BPzVfJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .web-index-contents2dpeth-gVwYJh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .web-index-contents2dpeth-copy-2-BPzVfJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .web-index-contents2dpeth-copy-3-BPzVfJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .web-index-contents1dpeth_open_selected-BPzVfJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .group-copy-BPzVfJ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .empty-wBcN9D {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .line-copy-wBcN9D {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .empty-yXrGw4 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .web-index-title-common-copy-BPzVfJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .web-index-contents1dpeth_close-cea4oB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .web-index-contents1dpeth_close-ejC8pr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .group-BPzVfJ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .empty-IAYpA6 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .line-copy-IAYpA6 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .empty-yhIxhf {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .web-index-title-common-gVwYJh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .line-soJiDK {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .home-net-gui-guidelin-soJiDK {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .webgnb-aj7gLy {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .rectangle-S6j74O {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .background-S6j74O {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .index-S6j74O {
  background-color: transparent;
  height: 28px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .web-index-select-PdqwDi {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .web-index-unselect-PdqwDi {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .web-index-unelect_main-S6j74O {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicefeaturemaindevicefeaturetoggleadjuststepslider .logo-HkTDp2 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
