/* screen - devicepluginsmartplugsmartplug */

.devicepluginsmartplugsmartplug {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1524px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.devicepluginsmartplugsmartplug .group-3-yxoWxQ {
  background-color: transparent;
  height: 982px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.devicepluginsmartplugsmartplug .group-copy-yxoWxQ {
  background-color: transparent;
  height: 587px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.devicepluginsmartplugsmartplug .group-2-CTThQx {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicepluginsmartplugsmartplug .descriptiontabletop-CTThQx {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicepluginsmartplugsmartplug .group-2-copy-CTThQx {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.devicepluginsmartplugsmartplug .table-guide-text1line-xGEa1M {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginsmartplugsmartplug .table-guide-text1line-Pman3K {
  background-color: transparent;
  height: 99px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginsmartplugsmartplug .table-guide-text2line_m-xGEa1M {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginsmartplugsmartplug .table-guide-text2line_m-Pman3K {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 37px;
  width: 340px;
}

.devicepluginsmartplugsmartplug .group-2-copy-2-CTThQx {
  background-color: transparent;
  height: 100px;
  left: 0px;
  position: absolute;
  top: 487px;
  width: 680px;
}

.devicepluginsmartplugsmartplug .group-2-copy-4-CTThQx {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 212px;
  width: 680px;
}

.devicepluginsmartplugsmartplug .table-guide-text1line-Zdwf1b {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginsmartplugsmartplug .table-guide-text1line-qO8S9m {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginsmartplugsmartplug .table-guide-text2line_m-Zdwf1b {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginsmartplugsmartplug .group-2-copy-6-CTThQx {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 279px;
  width: 680px;
}

.devicepluginsmartplugsmartplug .table-guide-text1line-JZJypt {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginsmartplugsmartplug .table-guide-text1line-XRKbY7 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginsmartplugsmartplug .table-guide-text2line_m-JZJypt {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginsmartplugsmartplug .group-2-copy-8-CTThQx {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 326px;
  width: 680px;
}

.devicepluginsmartplugsmartplug .table-guide-text1line-GpHn8R {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginsmartplugsmartplug .table-guide-text1line-TtxGrj {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginsmartplugsmartplug .table-guide-text2line_m-GpHn8R {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginsmartplugsmartplug .group-2-copy-9-CTThQx {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 373px;
  width: 680px;
}

.devicepluginsmartplugsmartplug .table-guide-text1line-PxinbI {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginsmartplugsmartplug .table-guide-text1line-unH50R {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginsmartplugsmartplug .table-guide-text2line_m-PxinbI {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginsmartplugsmartplug .group-2-copy-10-CTThQx {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 420px;
  width: 680px;
}

.devicepluginsmartplugsmartplug .table-guide-text1line-ZB9fCf {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginsmartplugsmartplug .table-guide-text1line-Sq2qDM {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.devicepluginsmartplugsmartplug .table-guide-text2line_m-ZB9fCf {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.devicepluginsmartplugsmartplug .web-sub_-title-yxoWxQ {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicepluginsmartplugsmartplug .web-title-area-yxoWxQ {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicepluginsmartplugsmartplug .web-tab-device-plug-in_-smart-plug-yxoWxQ {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicepluginsmartplugsmartplug .x3rd-depth-Hil1DK {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.devicepluginsmartplugsmartplug .tab-MpLdUy {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.devicepluginsmartplugsmartplug .smart-plug-7fxTWo {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 69px;
}

.devicepluginsmartplugsmartplug .basic-key-screen-7fxTWo {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 101px;
}

.devicepluginsmartplugsmartplug .lnb-device-plug-in-yxoWxQ {
  background-color: transparent;
  height: 1218px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginsmartplugsmartplug .rectangle-ZmzlyL {
  background-color: var(--concrete);
  height: 1218px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginsmartplugsmartplug .stacked-group-ZmzlyL {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicepluginsmartplugsmartplug .web-index-title-common-eVvCtk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartplugsmartplug .web-index-contents1dpeth_close-eVvCtk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartplugsmartplug .web-index-contents1dpeth_close-Jz7WH6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartplugsmartplug .web-index-contents1dpeth_close-QmY1ot {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartplugsmartplug .web-index-contents1dpeth_close-u7wXNK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartplugsmartplug .web-index-contents1dpeth_close-Cx5ZFO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartplugsmartplug .group-copy-eVvCtk {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartplugsmartplug .empty-wwST7X {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginsmartplugsmartplug .line-copy-wwST7X {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginsmartplugsmartplug .empty-Wi15en {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginsmartplugsmartplug .web-index-title-common-copy-eVvCtk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartplugsmartplug .web-index-contents1dpeth_open_selected-eVvCtk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartplugsmartplug .web-index-contents2dpeth-eVvCtk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartplugsmartplug .web-index-contents2dpeth-Jz7WH6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartplugsmartplug .web-index-contents2dpeth-QmY1ot {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartplugsmartplug .web-index-contents2dpeth-u7wXNK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartplugsmartplug .web-index-contents2dpeth-Cx5ZFO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartplugsmartplug .web-index-contents2dpeth-RIxKe0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartplugsmartplug .web-index-contents2dpeth-rMdzqx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartplugsmartplug .web-index-contents2dpeth-GpA68W {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartplugsmartplug .web-index-contents2dpeth-E3kAOs {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartplugsmartplug .web-index-contents2dpeth-5FCam9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartplugsmartplug .web-index-contents2dpeth-pTCdB3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartplugsmartplug .web-index-contents1dpeth_close-RIxKe0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartplugsmartplug .group-eVvCtk {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartplugsmartplug .empty-raIGLL {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginsmartplugsmartplug .line-copy-raIGLL {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginsmartplugsmartplug .empty-XJxkKw {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginsmartplugsmartplug .web-index-title-common-Jz7WH6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsmartplugsmartplug .line-ZmzlyL {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicepluginsmartplugsmartplug .home-net-gui-guidelin-ZmzlyL {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicepluginsmartplugsmartplug .webgnb-yxoWxQ {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicepluginsmartplugsmartplug .rectangle-w7XdgS {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginsmartplugsmartplug .background-w7XdgS {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginsmartplugsmartplug .index-w7XdgS {
  background-color: transparent;
  height: 28px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.devicepluginsmartplugsmartplug .web-index-select-X2j81m {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.devicepluginsmartplugsmartplug .web-index-unselect-X2j81m {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicepluginsmartplugsmartplug .web-index-unelect_main-w7XdgS {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.devicepluginsmartplugsmartplug .logo-VGrymD {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
