/* screen - deviceplugincurtainpartiallyopencase */

.deviceplugincurtainpartiallyopencase {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2546px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.deviceplugincurtainpartiallyopencase .group-3-copy-iUbVTR {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 1751px;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .group-copy-2-iUbVTR {
  background-color: transparent;
  height: 293px;
  left: 1140px;
  position: absolute;
  top: 1358px;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .group-2-copy-viLxHs {
  background-color: transparent;
  height: 128px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-RWpJEM {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-7FO6xJ {
  background-color: transparent;
  height: 99px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text2line_m-RWpJEM {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text2line_m-copy-RWpJEM {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 69px;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .descriptiontabletop-viLxHs {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .group-2-copy-3-viLxHs {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 194px;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .group-10-iUbVTR {
  background-color: transparent;
  height: 816px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.deviceplugincurtainpartiallyopencase .group-3-iUbVTR {
  background-color: transparent;
  height: 256px;
  left: 390px;
  position: absolute;
  top: 1764px;
  width: 451px;
}

.deviceplugincurtainpartiallyopencase .group-7-iUbVTR {
  background-color: transparent;
  height: 256px;
  left: 380px;
  position: absolute;
  top: 1358px;
  width: 710px;
}

.deviceplugincurtainpartiallyopencase .group-4-iUbVTR {
  background-color: transparent;
  height: 220px;
  left: 400px;
  position: absolute;
  top: 2126px;
  width: 356px;
}

.deviceplugincurtainpartiallyopencase .group-copy-iUbVTR {
  background-color: transparent;
  height: 321px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .group-2-kxHhyI {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .descriptiontabletop-kxHhyI {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .group-2-copy-kxHhyI {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-GqKrBY {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-yX9dcH {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text2line_m-GqKrBY {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .group-2-copy-3-kxHhyI {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-xlFOx4 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-5DgVwn {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text2line_m-xlFOx4 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .group-2-copy-4-kxHhyI {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 217px;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-EqwHdz {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-3LYbxx {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text2line_m-EqwHdz {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .group-2-copy-5-kxHhyI {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 264px;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-ffl2N9 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-e0SpNx {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text2line_m-ffl2N9 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .group-copy-3-iUbVTR {
  background-color: transparent;
  height: 207px;
  left: 1140px;
  position: absolute;
  top: 2126px;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .group-2-xo6mPG {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .group-2-copy-4-xo6mPG {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-n8FVxQ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-5P5lOO {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text2line_m-n8FVxQ {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .descriptiontabletop-xo6mPG {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .group-2-copy-5-xo6mPG {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-IsY09T {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-vyKmW8 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text2line_m-IsY09T {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .web-sub_-title-iUbVTR {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.deviceplugincurtainpartiallyopencase .web-title-area-iUbVTR {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.deviceplugincurtainpartiallyopencase .web-tab-device-plug-iUbVTR {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.deviceplugincurtainpartiallyopencase .x3rd-depth-wLYi9x {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.deviceplugincurtainpartiallyopencase .tab-OnLvJM {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 102px;
  position: relative;
  top: 0px;
  width: auto;
}

.deviceplugincurtainpartiallyopencase .x2-btn-OHXjxl {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 33px;
}

.deviceplugincurtainpartiallyopencase .partially-open-case-OHXjxl {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 117px;
}

.deviceplugincurtainpartiallyopencase .lnb-device-plug-in-iUbVTR {
  background-color: transparent;
  height: 1218px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .rectangle-0KftVP {
  background-color: var(--concrete);
  height: 1218px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .stacked-group-0KftVP {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .web-index-title-common-0DlrhF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .web-index-contents1dpeth_close-0DlrhF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .web-index-contents1dpeth_close-BDHssy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .web-index-contents1dpeth_close-vxlCbk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .web-index-contents1dpeth_close-PjRikN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .web-index-contents1dpeth_close-DN1oAf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .group-copy-0DlrhF {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .empty-iKn6D4 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .line-copy-iKn6D4 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.deviceplugincurtainpartiallyopencase .empty-v92qpx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .web-index-title-common-copy-0DlrhF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .web-index-contents1dpeth_open_selected-0DlrhF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .web-index-contents2dpeth-0DlrhF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .web-index-contents2dpeth-BDHssy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .web-index-contents2dpeth-vxlCbk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .web-index-contents2dpeth-PjRikN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .web-index-contents2dpeth-DN1oAf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .web-index-contents2dpeth-DOvltv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .web-index-contents2dpeth-ry3WN9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .web-index-contents2dpeth-Lo39DA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .web-index-contents2dpeth-uKHx9w {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .web-index-contents2dpeth-nZgmA4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .web-index-contents2dpeth-vcJUV7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .web-index-contents1dpeth_close-DOvltv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .group-0DlrhF {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .empty-O8xG9k {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .line-copy-O8xG9k {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.deviceplugincurtainpartiallyopencase .empty-bJHVEB {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .web-index-title-common-BDHssy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .line-0KftVP {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.deviceplugincurtainpartiallyopencase .home-net-gui-guidelin-0KftVP {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.deviceplugincurtainpartiallyopencase .webgnb-iUbVTR {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.deviceplugincurtainpartiallyopencase .rectangle-YSpF2D {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.deviceplugincurtainpartiallyopencase .background-YSpF2D {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.deviceplugincurtainpartiallyopencase .index-YSpF2D {
  background-color: transparent;
  height: 28px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.deviceplugincurtainpartiallyopencase .web-index-select-bY8YIM {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.deviceplugincurtainpartiallyopencase .web-index-unselect-bY8YIM {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.deviceplugincurtainpartiallyopencase .web-index-unelect_main-YSpF2D {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.deviceplugincurtainpartiallyopencase .logo-Xkevzx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
