/* screen - overviewiostoucharea */

.overviewiostoucharea {
  background-color: var(--white);
  height: 2569px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.overviewiostoucharea .group-14-LI2CDy {
  background-color: transparent;
  height: 2085px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.overviewiostoucharea .web-title-area-LI2CDy {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.overviewiostoucharea .web-tab-overview_touch-area-LI2CDy {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.overviewiostoucharea .x3rd-depth-fD3XS1 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.overviewiostoucharea .tab-fD3XS1 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.overviewiostoucharea .ripple-effect-touc-vVMCXv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 156px;
}

.overviewiostoucharea .service-feature-type-vVMCXv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.overviewiostoucharea .lnb-favorite-card-LI2CDy {
  background-color: transparent;
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewiostoucharea .rectangle-haDc5T {
  background-color: var(--concrete);
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewiostoucharea .stacked-group-haDc5T {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.overviewiostoucharea .web-index-title-common-xJufaS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.overviewiostoucharea .web-index-contents1dpeth_close-xJufaS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewiostoucharea .web-index-contents1dpeth_close-copy-xJufaS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewiostoucharea .web-index-contents1dpeth_close-copy-vRi0jZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewiostoucharea .web-index-contents1dpeth_close-copy-2-xJufaS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewiostoucharea .web-index-contents1dpeth_close-copy-3-xJufaS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewiostoucharea .web-index-contents1dpeth_close-copy-4-xJufaS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewiostoucharea .web-index-contents1dpeth_close-copy-5-xJufaS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewiostoucharea .web-index-contents1dpeth_close-copy-6-xJufaS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewiostoucharea .web-index-contents1dpeth_close-copy-7-xJufaS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewiostoucharea .web-index-contents1dpeth_close-vRi0jZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewiostoucharea .web-index-contents1dpeth_close-5hFxG0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewiostoucharea .web-index-contents1dpeth_close-pif06r {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewiostoucharea .web-index-contents1dpeth_open_selected-xJufaS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewiostoucharea .group-copy-xJufaS {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewiostoucharea .empty-xyGeSP {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.overviewiostoucharea .line-copy-xyGeSP {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.overviewiostoucharea .empty-qbFSNs {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewiostoucharea .web-index-title-common-copy-xJufaS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewiostoucharea .web-index-contents1dpeth_close-aT6IEL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewiostoucharea .web-index-contents1dpeth_close-80L4QN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewiostoucharea .group-xJufaS {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewiostoucharea .empty-kAodxR {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.overviewiostoucharea .line-copy-kAodxR {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.overviewiostoucharea .empty-xF4ETL {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewiostoucharea .web-index-title-common-vRi0jZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewiostoucharea .line-haDc5T {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.overviewiostoucharea .home-net-gui-guidelin-haDc5T {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.overviewiostoucharea .webgnb-LI2CDy {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.overviewiostoucharea .rectangle-1kVkU7 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.overviewiostoucharea .background-1kVkU7 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.overviewiostoucharea .index-1kVkU7 {
  background-color: transparent;
  height: 22px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.overviewiostoucharea .web-index-select-VXCray {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.overviewiostoucharea .web-index-unselect-VXCray {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.overviewiostoucharea .web-index-unelect_main-1kVkU7 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.overviewiostoucharea .logo-bVNj12 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
