/* screen - overviewrippleeffecttoucharea */

.overviewrippleeffecttoucharea {
  background-color: var(--white);
  height: 2729px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.overviewrippleeffecttoucharea .group-4-CKvgI5 {
  background-color: transparent;
  height: 2245px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.overviewrippleeffecttoucharea .web-title-area-CKvgI5 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.overviewrippleeffecttoucharea .web-tab-overview_touch-area-CKvgI5 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.overviewrippleeffecttoucharea .x3rd-depth-DXn9Lc {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.overviewrippleeffecttoucharea .tab-DXn9Lc {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.overviewrippleeffecttoucharea .ripple-effect-touc-HWmSJ0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 156px;
}

.overviewrippleeffecttoucharea .service-feature-type-HWmSJ0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.overviewrippleeffecttoucharea .lnb-favorite-card-CKvgI5 {
  background-color: transparent;
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewrippleeffecttoucharea .rectangle-U6R9IN {
  background-color: var(--concrete);
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewrippleeffecttoucharea .stacked-group-U6R9IN {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.overviewrippleeffecttoucharea .web-index-title-common-8FsEux {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.overviewrippleeffecttoucharea .web-index-contents1dpeth_close-8FsEux {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewrippleeffecttoucharea .web-index-contents1dpeth_close-copy-8FsEux {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewrippleeffecttoucharea .web-index-contents1dpeth_close-copy-PYoJrK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewrippleeffecttoucharea .web-index-contents1dpeth_close-copy-2-8FsEux {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewrippleeffecttoucharea .web-index-contents1dpeth_close-copy-3-8FsEux {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewrippleeffecttoucharea .web-index-contents1dpeth_close-copy-4-8FsEux {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewrippleeffecttoucharea .web-index-contents1dpeth_close-copy-5-8FsEux {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewrippleeffecttoucharea .web-index-contents1dpeth_close-copy-6-8FsEux {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewrippleeffecttoucharea .web-index-contents1dpeth_close-copy-7-8FsEux {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewrippleeffecttoucharea .web-index-contents1dpeth_close-PYoJrK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewrippleeffecttoucharea .web-index-contents1dpeth_close-Znwnyg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewrippleeffecttoucharea .web-index-contents1dpeth_close-DIUlAO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewrippleeffecttoucharea .web-index-contents1dpeth_open_selected-8FsEux {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewrippleeffecttoucharea .group-copy-8FsEux {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewrippleeffecttoucharea .empty-bGoyJx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.overviewrippleeffecttoucharea .line-copy-bGoyJx {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.overviewrippleeffecttoucharea .empty-mENiX1 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewrippleeffecttoucharea .web-index-title-common-copy-8FsEux {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewrippleeffecttoucharea .web-index-contents1dpeth_close-cXsWRI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewrippleeffecttoucharea .web-index-contents1dpeth_close-1q5lj1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewrippleeffecttoucharea .group-8FsEux {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewrippleeffecttoucharea .empty-yK5tYE {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.overviewrippleeffecttoucharea .line-copy-yK5tYE {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.overviewrippleeffecttoucharea .empty-wSpaXt {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewrippleeffecttoucharea .web-index-title-common-PYoJrK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewrippleeffecttoucharea .line-U6R9IN {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.overviewrippleeffecttoucharea .home-net-gui-guidelin-U6R9IN {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.overviewrippleeffecttoucharea .webgnb-CKvgI5 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.overviewrippleeffecttoucharea .rectangle-DeFf6T {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.overviewrippleeffecttoucharea .background-DeFf6T {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.overviewrippleeffecttoucharea .index-DeFf6T {
  background-color: transparent;
  height: 22px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.overviewrippleeffecttoucharea .web-index-select-v9kfOU {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.overviewrippleeffecttoucharea .web-index-unselect-v9kfOU {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.overviewrippleeffecttoucharea .web-index-unelect_main-DeFf6T {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.overviewrippleeffecttoucharea .logo-xaHjlQ {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
