/* screen - overviewintrohomenetreferenceguide */

.overviewintrohomenetreferenceguide {
  background-color: var(--white);
  height: 2615px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.overviewintrohomenetreferenceguide .group-12-PToNsu {
  background-color: transparent;
  height: 2131px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.overviewintrohomenetreferenceguide .web-title-area-PToNsu {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.overviewintrohomenetreferenceguide .web-tab-overview_touch-area-PToNsu {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.overviewintrohomenetreferenceguide .x3rd-depth-TTmFxf {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.overviewintrohomenetreferenceguide .tab-TTmFxf {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.overviewintrohomenetreferenceguide .intro-home-net-ref-SX0TQe {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 207px;
}

.overviewintrohomenetreferenceguide .lnb-favorite-card-PToNsu {
  background-color: transparent;
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewintrohomenetreferenceguide .rectangle-FTiaq4 {
  background-color: var(--concrete);
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewintrohomenetreferenceguide .stacked-group-FTiaq4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.overviewintrohomenetreferenceguide .web-index-title-common-Pyq3D5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.overviewintrohomenetreferenceguide .web-index-contents1dpeth_close-Pyq3D5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewintrohomenetreferenceguide .web-index-contents1dpeth_close-copy-Pyq3D5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewintrohomenetreferenceguide .web-index-contents1dpeth_close-copy-L4dfSy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewintrohomenetreferenceguide .web-index-contents1dpeth_close-copy-2-Pyq3D5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewintrohomenetreferenceguide .web-index-contents1dpeth_close-copy-3-Pyq3D5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewintrohomenetreferenceguide .web-index-contents1dpeth_close-copy-4-Pyq3D5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewintrohomenetreferenceguide .web-index-contents1dpeth_close-copy-5-Pyq3D5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewintrohomenetreferenceguide .web-index-contents1dpeth_close-copy-6-Pyq3D5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewintrohomenetreferenceguide .web-index-contents1dpeth_close-copy-7-Pyq3D5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewintrohomenetreferenceguide .web-index-contents1dpeth_close-L4dfSy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewintrohomenetreferenceguide .web-index-contents1dpeth_close-yZjGcV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewintrohomenetreferenceguide .web-index-contents1dpeth_close-LJ7UPj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewintrohomenetreferenceguide .web-index-contents1dpeth_open_selected-Pyq3D5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewintrohomenetreferenceguide .group-copy-Pyq3D5 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewintrohomenetreferenceguide .empty-kCqvFK {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.overviewintrohomenetreferenceguide .line-copy-kCqvFK {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.overviewintrohomenetreferenceguide .empty-7kE1TU {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewintrohomenetreferenceguide .web-index-title-common-copy-Pyq3D5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewintrohomenetreferenceguide .web-index-contents1dpeth_close-qcsU8g {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewintrohomenetreferenceguide .web-index-contents1dpeth_close-CB5SVL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewintrohomenetreferenceguide .group-Pyq3D5 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewintrohomenetreferenceguide .empty-kYDXR9 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.overviewintrohomenetreferenceguide .line-copy-kYDXR9 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.overviewintrohomenetreferenceguide .empty-iyX1Bu {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewintrohomenetreferenceguide .web-index-title-common-L4dfSy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewintrohomenetreferenceguide .line-FTiaq4 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.overviewintrohomenetreferenceguide .home-net-gui-guidelin-FTiaq4 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.overviewintrohomenetreferenceguide .webgnb-PToNsu {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.overviewintrohomenetreferenceguide .rectangle-ANzTvT {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.overviewintrohomenetreferenceguide .background-ANzTvT {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.overviewintrohomenetreferenceguide .index-ANzTvT {
  background-color: transparent;
  height: 22px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.overviewintrohomenetreferenceguide .web-index-select-tzI7zQ {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.overviewintrohomenetreferenceguide .web-index-unselect-tzI7zQ {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.overviewintrohomenetreferenceguide .web-index-unelect_main-ANzTvT {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.overviewintrohomenetreferenceguide .logo-T9Ss3v {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
