/* screen - overviewtypography */

.overviewtypography {
  background-color: var(--white);
  height: 1480px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.overviewtypography .group-6-eVxPGW {
  background-color: transparent;
  height: 996px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.overviewtypography .web-title-area-eVxPGW {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.overviewtypography .web-tab-overview_touch-area-eVxPGW {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.overviewtypography .x3rd-depth-FR3dSn {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.overviewtypography .tab-FR3dSn {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.overviewtypography .typography-8masfq {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 73px;
}

.overviewtypography .lnb-favorite-card-eVxPGW {
  background-color: transparent;
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewtypography .rectangle-5xcbHj {
  background-color: var(--concrete);
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewtypography .stacked-group-5xcbHj {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.overviewtypography .web-index-title-common-WW7TQY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.overviewtypography .web-index-contents1dpeth_close-WW7TQY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewtypography .web-index-contents1dpeth_close-copy-WW7TQY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewtypography .web-index-contents1dpeth_close-copy-fQIWca {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewtypography .web-index-contents1dpeth_close-copy-2-WW7TQY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewtypography .web-index-contents1dpeth_close-copy-3-WW7TQY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewtypography .web-index-contents1dpeth_close-copy-4-WW7TQY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewtypography .web-index-contents1dpeth_close-copy-5-WW7TQY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewtypography .web-index-contents1dpeth_close-copy-6-WW7TQY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewtypography .web-index-contents1dpeth_close-copy-7-WW7TQY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewtypography .web-index-contents1dpeth_close-fQIWca {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewtypography .web-index-contents1dpeth_close-2PVYCs {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewtypography .web-index-contents1dpeth_close-3EtcXr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewtypography .web-index-contents1dpeth_open_selected-WW7TQY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewtypography .group-copy-WW7TQY {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewtypography .empty-woCeEq {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.overviewtypography .line-copy-woCeEq {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.overviewtypography .empty-Ehlbum {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewtypography .web-index-title-common-copy-WW7TQY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewtypography .web-index-contents1dpeth_close-lMr6uc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewtypography .web-index-contents1dpeth_close-VGUoN9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewtypography .group-WW7TQY {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewtypography .empty-5mbsr6 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.overviewtypography .line-copy-5mbsr6 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.overviewtypography .empty-fLxbIW {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewtypography .web-index-title-common-fQIWca {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewtypography .line-5xcbHj {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.overviewtypography .home-net-gui-guidelin-5xcbHj {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.overviewtypography .webgnb-eVxPGW {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.overviewtypography .rectangle-ifSJ2h {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.overviewtypography .background-ifSJ2h {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.overviewtypography .index-ifSJ2h {
  background-color: transparent;
  height: 22px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.overviewtypography .web-index-select-k9Ajn9 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.overviewtypography .web-index-unselect-k9Ajn9 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.overviewtypography .web-index-unelect_main-ifSJ2h {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.overviewtypography .logo-Iql0cc {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
