/* screen - servicefeaturebasiclayoutbasic */

.servicefeaturebasiclayoutbasic {
  background-color: var(--white);
  height: 4489px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicefeaturebasiclayoutbasic .group-20-iGGxLS {
  background-color: transparent;
  height: 265px;
  left: 420px;
  position: absolute;
  top: 697px;
  width: 336px;
}

.servicefeaturebasiclayoutbasic .group-3-iGGxLS {
  background-color: transparent;
  height: 263px;
  left: 400px;
  position: absolute;
  top: 284px;
  width: 690px;
}

.servicefeaturebasiclayoutbasic .group-37-iGGxLS {
  background-color: transparent;
  height: 140px;
  left: 1140px;
  position: absolute;
  top: 284px;
  width: 680px;
}

.servicefeaturebasiclayoutbasic .descriptiontabletop-B5WN9v {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicefeaturebasiclayoutbasic .group-9-B5WN9v {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicefeaturebasiclayoutbasic .table-guide-text1line-UDxo61 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeaturebasiclayoutbasic .table-guide-text2line-UDxo61 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicefeaturebasiclayoutbasic .table-guide-text1line-CHQqMx {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeaturebasiclayoutbasic .group-36-B5WN9v {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicefeaturebasiclayoutbasic .table-guide-text1line-cnE485 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeaturebasiclayoutbasic .table-guide-text2line-cnE485 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicefeaturebasiclayoutbasic .table-guide-text1line-LSfoXB {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeaturebasiclayoutbasic .group-40-iGGxLS {
  background-color: transparent;
  height: 242px;
  left: 359px;
  position: absolute;
  top: 1162px;
  width: 731px;
}

.servicefeaturebasiclayoutbasic .group-21-iGGxLS {
  background-color: transparent;
  height: 370px;
  left: 390px;
  position: absolute;
  top: 1554px;
  width: 367px;
}

.servicefeaturebasiclayoutbasic .group-35-iGGxLS {
  background-color: transparent;
  height: 273px;
  left: 1140px;
  position: absolute;
  top: 1162px;
  width: 680px;
}

.servicefeaturebasiclayoutbasic .group-38-iGGxLS {
  background-color: transparent;
  height: 116px;
  left: 1140px;
  position: absolute;
  top: 2316px;
  width: 680px;
}

.servicefeaturebasiclayoutbasic .group-33-iGGxLS {
  background-color: transparent;
  height: 958px;
  left: 359px;
  position: absolute;
  top: 2074px;
  width: 731px;
}

.servicefeaturebasiclayoutbasic .group-18-iGGxLS {
  background-color: transparent;
  height: 113px;
  left: 1140px;
  position: absolute;
  top: 2582px;
  width: 680px;
}

.servicefeaturebasiclayoutbasic .group-18-copy-iGGxLS {
  background-color: transparent;
  height: 142px;
  left: 1140px;
  position: absolute;
  top: 2074px;
  width: 680px;
}

.servicefeaturebasiclayoutbasic .group-39-iGGxLS {
  background-color: transparent;
  height: 401px;
  left: 1140px;
  position: absolute;
  top: 3182px;
  width: 680px;
}

.servicefeaturebasiclayoutbasic .group-26-yVEnVg {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 125px;
  width: 680px;
}

.servicefeaturebasiclayoutbasic .table-guide-text1line-7I9rqJ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeaturebasiclayoutbasic .table-guide-text2line_m-7I9rqJ {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicefeaturebasiclayoutbasic .table-guide-text2line_m-copy-6-7I9rqJ {
  background-color: transparent;
  height: 86px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeaturebasiclayoutbasic .group-25-yVEnVg {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 221px;
  width: 680px;
}

.servicefeaturebasiclayoutbasic .table-guide-text1line-xTD8xA {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeaturebasiclayoutbasic .table-guide-text2line_m-xTD8xA {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicefeaturebasiclayoutbasic .table-guide-text2line_m-copy-5-xTD8xA {
  background-color: transparent;
  height: 86px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeaturebasiclayoutbasic .group-27-yVEnVg {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicefeaturebasiclayoutbasic .table-guide-text2line_m-copy-EiI9Xd {
  background-color: transparent;
  height: 59px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeaturebasiclayoutbasic .table-guide-text1line-EiI9Xd {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeaturebasiclayoutbasic .table-guide-text2line_m-EiI9Xd {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicefeaturebasiclayoutbasic .descriptiontabletop-yVEnVg {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicefeaturebasiclayoutbasic .group-24-yVEnVg {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 317px;
  width: 680px;
}

.servicefeaturebasiclayoutbasic .table-guide-text2line_m-RZXnYF {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicefeaturebasiclayoutbasic .table-guide-text2line_m-copy-5-RZXnYF {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeaturebasiclayoutbasic .table-guide-text1line-RZXnYF {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeaturebasiclayoutbasic .group-8-yVEnVg {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 364px;
  width: 680px;
}

.servicefeaturebasiclayoutbasic .table-guide-text1line-OCYHve {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeaturebasiclayoutbasic .table-guide-text2line_m-OCYHve {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicefeaturebasiclayoutbasic .table-guide-text2line_m-copy-5-OCYHve {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeaturebasiclayoutbasic .group-34-iGGxLS {
  background-color: transparent;
  height: 1107px;
  left: 384px;
  position: absolute;
  top: 3182px;
  width: 706px;
}

.servicefeaturebasiclayoutbasic .group-28-iGGxLS {
  background-color: transparent;
  height: 120px;
  left: 1140px;
  position: absolute;
  top: 3683px;
  width: 680px;
}

.servicefeaturebasiclayoutbasic .web-title-area-iGGxLS {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicefeaturebasiclayoutbasic .lnb-favorite-card-iGGxLS {
  background-color: transparent;
  height: 804px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .rectangle-RaLRgL {
  background-color: var(--concrete);
  height: 804px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .background-RaLRgL {
  background-color: var(--concrete);
  height: 717px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .stacked-group-RaLRgL {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .web-index-title-common-DdO8Ax {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .web-index-contents1dpeth_close-DdO8Ax {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .web-index-contents1dpeth_close-DbHpjZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .web-index-contents1dpeth_close-px52dE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .web-index-contents1dpeth_close-Nbp9nM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .web-index-contents1dpeth_open_selected-DdO8Ax {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .web-index-contents2dpeth-DdO8Ax {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .web-index-contents2dpeth-DbHpjZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .group-copy-DdO8Ax {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .empty-copy-KnjcV7 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .line-copy-2-KnjcV7 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicefeaturebasiclayoutbasic .empty-copy-2-KnjcV7 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .web-index-title-common-copy-DdO8Ax {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .web-index-contents1dpeth_close-EiBOq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .web-index-contents1dpeth_close-ExLUpQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .group-DdO8Ax {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .empty-Px6IAm {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .line-copy-Px6IAm {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicefeaturebasiclayoutbasic .empty-4BV50e {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .web-index-title-common-DbHpjZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturebasiclayoutbasic .line-RaLRgL {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicefeaturebasiclayoutbasic .home-net-gui-guidelin-RaLRgL {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicefeaturebasiclayoutbasic .webgnb-iGGxLS {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicefeaturebasiclayoutbasic .rectangle-lcnBsc {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicefeaturebasiclayoutbasic .background-lcnBsc {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicefeaturebasiclayoutbasic .index-lcnBsc {
  background-color: transparent;
  height: 28px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.servicefeaturebasiclayoutbasic .web-index-select-qmDnxm {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.servicefeaturebasiclayoutbasic .web-index-unselect-qmDnxm {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicefeaturebasiclayoutbasic .web-index-unelect_main-lcnBsc {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicefeaturebasiclayoutbasic .logo-jq8OiK {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
