/* screen - servicepluginhomehelpguide */

.servicepluginhomehelpguide {
  background-color: var(--white);
  height: 3683px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomehelpguide .group-15-PtPxmu {
  background-color: transparent;
  height: 866px;
  left: 412px;
  position: absolute;
  top: 1412px;
  width: 678px;
}

.servicepluginhomehelpguide .group-19-PtPxmu {
  background-color: transparent;
  height: 487px;
  left: 1140px;
  position: absolute;
  top: 1741px;
  width: 672px;
}

.servicepluginhomehelpguide .group-16-PtPxmu {
  background-color: transparent;
  height: 1055px;
  left: 380px;
  position: absolute;
  top: 2428px;
  width: 710px;
}

.servicepluginhomehelpguide .group-7-PtPxmu {
  background-color: transparent;
  height: 866px;
  left: 380px;
  position: absolute;
  top: 396px;
  width: 710px;
}

.servicepluginhomehelpguide .group-17-PtPxmu {
  background-color: transparent;
  height: 182px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.servicepluginhomehelpguide .descriptiontabletop-elkH7n {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginhomehelpguide .group-3-elkH7n {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginhomehelpguide .table-guide-text1line-copy-LGZnFf {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomehelpguide .table-guide-text2line_b-copy-2-LGZnFf {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomehelpguide .table-guide-text1line-LGZnFf {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomehelpguide .group-3-copy-elkH7n {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 125px;
  width: 680px;
}

.servicepluginhomehelpguide .table-guide-text1line-copy-2-qPqqBR {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomehelpguide .table-guide-text2line_b-copy-3-qPqqBR {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomehelpguide .table-guide-text1line-copy-3-qPqqBR {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomehelpguide .group-18-PtPxmu {
  background-color: transparent;
  height: 229px;
  left: 1140px;
  position: absolute;
  top: 1412px;
  width: 680px;
}

.servicepluginhomehelpguide .group-4-2gtiqx {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginhomehelpguide .table-guide-text1line-13aPxj {
  background-color: transparent;
  height: 86px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomehelpguide .table-guide-text2line-13aPxj {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomehelpguide .table-guide-text1line-pt4hex {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomehelpguide .descriptiontabletop-2gtiqx {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginhomehelpguide .group-3-copy-2-2gtiqx {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 152px;
  width: 680px;
}

.servicepluginhomehelpguide .table-guide-text1line-copy-4-9KgJsM {
  background-color: transparent;
  cursor: pointer;
  height: 77px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomehelpguide .table-guide-text2line_b-copy-4-9KgJsM {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomehelpguide .table-guide-text1line-copy-5-9KgJsM {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomehelpguide .group-20-PtPxmu {
  background-color: transparent;
  height: 133px;
  left: 1140px;
  position: absolute;
  top: 2428px;
  width: 680px;
}

.servicepluginhomehelpguide .descriptiontabletop-copy-QGf6ER {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginhomehelpguide .group-3-copy-3-QGf6ER {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginhomehelpguide .table-guide-text1line-copy-6-Ol0Hvy {
  background-color: transparent;
  cursor: pointer;
  height: 77px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomehelpguide .table-guide-text2line_b-copy-5-Ol0Hvy {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomehelpguide .table-guide-text1line-copy-7-Ol0Hvy {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomehelpguide .web-sub_-title-PtPxmu {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.servicepluginhomehelpguide .web-title-area-PtPxmu {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomehelpguide .web-tab-service-plug-in_-home-screen-PtPxmu {
  background-color: transparent;
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.servicepluginhomehelpguide .x3rd-depth-YoJxGN {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginhomehelpguide .tab-XAeP6P {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginhomehelpguide .default-type-jC8jjP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 78px;
}

.servicepluginhomehelpguide .shortcut-default-t-jC8jjP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 142px;
}

.servicepluginhomehelpguide .brand-type-jC8jjP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.servicepluginhomehelpguide .shortcut-brand-typ-jC8jjP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 133px;
}

.servicepluginhomehelpguide .banner-jC8jjP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginhomehelpguide .app-link-copy-jC8jjP {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 54px;
}

.servicepluginhomehelpguide .x3rd-depth-qz0klP {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.servicepluginhomehelpguide .tab-rUluCA {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginhomehelpguide .more-zxtMgV {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 35px;
}

.servicepluginhomehelpguide .edit-_-feature-zxtMgV {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 87px;
}

.servicepluginhomehelpguide .notifications-_-feat-zxtMgV {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 144px;
}

.servicepluginhomehelpguide .help-guide-zxtMgV {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 70px;
}

.servicepluginhomehelpguide .help-guide-_-expanda-zxtMgV {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 179px;
}

.servicepluginhomehelpguide .help-guide-_-image-zxtMgV {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 120px;
}

.servicepluginhomehelpguide .service-feature-zxtMgV {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.servicepluginhomehelpguide .service-feature-_-no-zxtMgV {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 161px;
}

.servicepluginhomehelpguide .touch-area-zxtMgV {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.servicepluginhomehelpguide .lnb-service-plug-in-PtPxmu {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomehelpguide .rectangle-MHhyzb {
  background-color: var(--concrete);
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomehelpguide .lnb-MHhyzb {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomehelpguide .stacked-group-J6MLzN {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginhomehelpguide .web-index-title-common-copy-BcCsEx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguide .web-index-contents1dpeth_close-BcCsEx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguide .web-index-contents1dpeth_close-vpNVTp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguide .web-index-contents1dpeth_close-BgZdHG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguide .web-index-contents1dpeth_close-CK2Ob2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguide .web-index-contents1dpeth_close-YkQ6kb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguide .group-copy-BcCsEx {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguide .empty-copy-63haxm {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginhomehelpguide .line-copy-2-63haxm {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginhomehelpguide .empty-copy-2-63haxm {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomehelpguide .web-index-title-common-BcCsEx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguide .web-index-contents1dpeth_close-8Dof9t {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguide .web-index-contents1dpeth_open_selected-BcCsEx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguide .web-index-contents2dpeth-copy-2-BcCsEx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguide .web-index-contents2dpeth-BcCsEx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguide .web-index-contents2dpeth-vpNVTp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguide .web-index-contents2dpeth-BgZdHG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguide .web-index-contents2dpeth-CK2Ob2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguide .web-index-contents2dpeth-YkQ6kb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguide .web-index-contents2dpeth-8Dof9t {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguide .web-index-contents2dpeth-1rTFue {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguide .web-index-contents2dpeth-LQYONR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguide .web-index-contents2dpeth-LZmE7y {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguide .web-index-contents2dpeth-copy-BcCsEx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguide .web-index-contents2dpeth-HJ5E8B {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguide .group-BcCsEx {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguide .empty-QTwINn {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginhomehelpguide .line-copy-QTwINn {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginhomehelpguide .empty-Xcex5W {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomehelpguide .web-index-title-common-vpNVTp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguide .line-J6MLzN {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginhomehelpguide .home-net-gui-guidelin-J6MLzN {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginhomehelpguide .webgnb-PtPxmu {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginhomehelpguide .rectangle-bEGopr {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomehelpguide .background-bEGopr {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomehelpguide .index-bEGopr {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginhomehelpguide .web-index-select-6gEfXI {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginhomehelpguide .web-index-unselect-6gEfXI {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginhomehelpguide .web-index-unelect_main-bEGopr {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginhomehelpguide .logo-x7gAZS {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
