/* screen - servicepluginhomeshortcutbrandtype */

.servicepluginhomeshortcutbrandtype {
  background-color: var(--white);
  height: 2364px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomeshortcutbrandtype .group-31-EIdBXI {
  background-color: transparent;
  height: 440px;
  left: 400px;
  position: absolute;
  top: 1435px;
  width: 690px;
}

.servicepluginhomeshortcutbrandtype .group-25-EIdBXI {
  background-color: transparent;
  height: 462px;
  left: 400px;
  position: absolute;
  top: 396px;
  width: 690px;
}

.servicepluginhomeshortcutbrandtype .group-32-EIdBXI {
  background-color: transparent;
  height: 189px;
  left: 1140px;
  position: absolute;
  top: 1435px;
  width: 680px;
}

.servicepluginhomeshortcutbrandtype .group-5-PSRNb4 {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text2line_b-copy-4-Havm6Q {
  background-color: transparent;
  height: 86px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text1line-copy-5-Havm6Q {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text2line_m-copy-2-Havm6Q {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeshortcutbrandtype .group-4-PSRNb4 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text2line_b-copy-3-pQLtc7 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text1line-copy-4-pQLtc7 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text2line_m-copy-pQLtc7 {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeshortcutbrandtype .descriptiontabletop-copy-PSRNb4 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginhomeshortcutbrandtype .group-6-EIdBXI {
  background-color: transparent;
  height: 194px;
  left: 1140px;
  position: absolute;
  top: 1091px;
  width: 680px;
}

.servicepluginhomeshortcutbrandtype .group-23-EIdBXI {
  background-color: transparent;
  height: 440px;
  left: 1140px;
  position: absolute;
  top: 1724px;
  width: 680px;
}

.servicepluginhomeshortcutbrandtype .group-30-EIdBXI {
  background-color: transparent;
  height: 595px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.servicepluginhomeshortcutbrandtype .group-9-pi9U4u {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text2line_b-jA0CDA {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text1line-jA0CDA {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text1line-H5g0r2 {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeshortcutbrandtype .group-26-pi9U4u {
  background-color: transparent;
  height: 211px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text1line-copy-xzb1vo {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text2line_b-copy-2-xzb1vo {
  background-color: transparent;
  height: 164px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text1line-xzb1vo {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text1line-copy-2-xzb1vo {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 174px;
  width: 340px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text2line_b-xzb1vo {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 174px;
  width: 270px;
}

.servicepluginhomeshortcutbrandtype .group-27-pi9U4u {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 324px;
  width: 680px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text2line_m-CIS4UQ {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text2line_b-copy-CIS4UQ {
  background-color: transparent;
  height: 86px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text1line-copy-3-CIS4UQ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeshortcutbrandtype .group-28-pi9U4u {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 420px;
  width: 680px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text2line_m-Sdcqhq {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text2line_b-copy-Sdcqhq {
  background-color: transparent;
  height: 79px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text1line-copy-3-Sdcqhq {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeshortcutbrandtype .group-7-pi9U4u {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 509px;
  width: 680px;
}

.servicepluginhomeshortcutbrandtype .group-29-46omil {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 680px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text2line_b-copy-3-lpMsZN {
  background-color: transparent;
  height: 86px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text1line-copy-4-lpMsZN {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text2line_m-copy-lpMsZN {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeshortcutbrandtype .descriptiontabletop-pi9U4u {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginhomeshortcutbrandtype .web-sub_-title-EIdBXI {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.servicepluginhomeshortcutbrandtype .web-title-area-EIdBXI {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomeshortcutbrandtype .web-tab-service-plug-in_-home-screen-EIdBXI {
  background-color: transparent;
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.servicepluginhomeshortcutbrandtype .x3rd-depth-yvGMvS {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginhomeshortcutbrandtype .tab-3J7eQp {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginhomeshortcutbrandtype .default-type-7kgsvY {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 78px;
}

.servicepluginhomeshortcutbrandtype .shortcut-default-t-7kgsvY {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 142px;
}

.servicepluginhomeshortcutbrandtype .brand-type-7kgsvY {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.servicepluginhomeshortcutbrandtype .shortcut-brand-typ-7kgsvY {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 133px;
}

.servicepluginhomeshortcutbrandtype .banner-7kgsvY {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginhomeshortcutbrandtype .app-link-copy-7kgsvY {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 54px;
}

.servicepluginhomeshortcutbrandtype .x3rd-depth-V58iPp {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.servicepluginhomeshortcutbrandtype .tab-Stx2rC {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginhomeshortcutbrandtype .more-7OVObA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 35px;
}

.servicepluginhomeshortcutbrandtype .edit-_-feature-7OVObA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 87px;
}

.servicepluginhomeshortcutbrandtype .notifications-_-feat-7OVObA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 144px;
}

.servicepluginhomeshortcutbrandtype .help-guide-7OVObA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 70px;
}

.servicepluginhomeshortcutbrandtype .help-guide-_-expanda-7OVObA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 179px;
}

.servicepluginhomeshortcutbrandtype .help-guide-_-image-7OVObA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 120px;
}

.servicepluginhomeshortcutbrandtype .service-feature-7OVObA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.servicepluginhomeshortcutbrandtype .service-feature-_-no-7OVObA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 161px;
}

.servicepluginhomeshortcutbrandtype .touch-area-7OVObA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.servicepluginhomeshortcutbrandtype .lnb-service-plug-in-EIdBXI {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .rectangle-u7B0yq {
  background-color: var(--concrete);
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .lnb-u7B0yq {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .stacked-group-o4fAxj {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .web-index-title-common-copy-d7uxFu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .web-index-contents1dpeth_close-d7uxFu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .web-index-contents1dpeth_close-UoQApx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .web-index-contents1dpeth_close-LcDfCu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .web-index-contents1dpeth_close-P4bQPe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .web-index-contents1dpeth_close-O9VCNz {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .group-copy-d7uxFu {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .empty-copy-kMvzXl {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .line-copy-2-kMvzXl {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginhomeshortcutbrandtype .empty-copy-2-kMvzXl {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .web-index-title-common-d7uxFu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .web-index-contents1dpeth_close-Twm43w {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .web-index-contents1dpeth_open_selected-d7uxFu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .web-index-contents2dpeth-copy-2-d7uxFu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .web-index-contents2dpeth-d7uxFu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .web-index-contents2dpeth-UoQApx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .web-index-contents2dpeth-LcDfCu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .web-index-contents2dpeth-P4bQPe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .web-index-contents2dpeth-O9VCNz {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .web-index-contents2dpeth-Twm43w {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .web-index-contents2dpeth-KFwsem {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .web-index-contents2dpeth-FWVDek {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .web-index-contents2dpeth-M2XPSw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .web-index-contents2dpeth-copy-d7uxFu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .web-index-contents2dpeth-Txb91h {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .group-d7uxFu {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .empty-dhbolP {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .line-copy-dhbolP {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginhomeshortcutbrandtype .empty-4jwtP5 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .web-index-title-common-UoQApx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutbrandtype .line-o4fAxj {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginhomeshortcutbrandtype .home-net-gui-guidelin-o4fAxj {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginhomeshortcutbrandtype .webgnb-EIdBXI {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginhomeshortcutbrandtype .rectangle-Mn3zPL {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomeshortcutbrandtype .background-Mn3zPL {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomeshortcutbrandtype .index-Mn3zPL {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginhomeshortcutbrandtype .web-index-select-xwgyNZ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginhomeshortcutbrandtype .web-index-unselect-xwgyNZ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginhomeshortcutbrandtype .web-index-unelect_main-Mn3zPL {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginhomeshortcutbrandtype .logo-bmm5FV {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
