/* screen - serviceplugindeliveriesfeaturenoinformation */

.serviceplugindeliveriesfeaturenoinformation {
  background-color: var(--white);
  height: 1408px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.serviceplugindeliveriesfeaturenoinformation .group-2-OpA6Q6 {
  background-color: transparent;
  height: 115px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.serviceplugindeliveriesfeaturenoinformation .group-xyuXO9 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.serviceplugindeliveriesfeaturenoinformation .table-guide-text2line_m-copy-yrVTdg {
  background-color: transparent;
  height: 59px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.serviceplugindeliveriesfeaturenoinformation .table-guide-text1line-yrVTdg {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.serviceplugindeliveriesfeaturenoinformation .table-guide-text2line_m-yrVTdg {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.serviceplugindeliveriesfeaturenoinformation .descriptiontabletop-xyuXO9 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.serviceplugindeliveriesfeaturenoinformation .group-4-OpA6Q6 {
  background-color: transparent;
  height: 866px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.serviceplugindeliveriesfeaturenoinformation .web-sub_-title-OpA6Q6 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.serviceplugindeliveriesfeaturenoinformation .web-title-area-OpA6Q6 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.serviceplugindeliveriesfeaturenoinformation .web-tab-service-plug-in_-deliveries-OpA6Q6 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.serviceplugindeliveriesfeaturenoinformation .x3rd-depth-egmoUi {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.serviceplugindeliveriesfeaturenoinformation .tab-lMxKxD {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.serviceplugindeliveriesfeaturenoinformation .card-vpsozN {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.serviceplugindeliveriesfeaturenoinformation .feature-vpsozN {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.serviceplugindeliveriesfeaturenoinformation .feature-_-no-informa-vpsozN {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 156px;
}

.serviceplugindeliveriesfeaturenoinformation .case-vpsozN {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 30px;
}

.serviceplugindeliveriesfeaturenoinformation .lnb-service-plug-in-OpA6Q6 {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .rectangle-H1LGLF {
  background-color: var(--concrete);
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .lnb-H1LGLF {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .stacked-group-TFP7HY {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .web-index-title-common-copy-4obef7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .web-index-contents1dpeth_close-4obef7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .web-index-contents1dpeth_close-UzGxGt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .web-index-contents1dpeth_close-XGcAii {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .web-index-contents1dpeth_close-rxzb6B {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .web-index-contents1dpeth_close-X430GO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .group-copy-4obef7 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .empty-copy-4Dqv1Y {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .line-copy-2-4Dqv1Y {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.serviceplugindeliveriesfeaturenoinformation .empty-copy-2-4Dqv1Y {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .web-index-title-common-4obef7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .web-index-contents1dpeth_close-bCBlCU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .web-index-contents1dpeth_open_selected-4obef7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .web-index-contents2dpeth-copy-2-4obef7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .web-index-contents2dpeth-4obef7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .web-index-contents2dpeth-UzGxGt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .web-index-contents2dpeth-XGcAii {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .web-index-contents2dpeth-rxzb6B {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .web-index-contents2dpeth-X430GO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .web-index-contents2dpeth-bCBlCU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .web-index-contents2dpeth-TzeDQQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .web-index-contents2dpeth-lS68JY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .web-index-contents2dpeth-qN27xc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .web-index-contents2dpeth-copy-4obef7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .web-index-contents2dpeth-JD4rwe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .group-4obef7 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .empty-15NBvE {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .line-copy-15NBvE {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.serviceplugindeliveriesfeaturenoinformation .empty-yyGKt9 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .web-index-title-common-UzGxGt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesfeaturenoinformation .line-TFP7HY {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.serviceplugindeliveriesfeaturenoinformation .home-net-gui-guidelin-TFP7HY {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.serviceplugindeliveriesfeaturenoinformation .webgnb-OpA6Q6 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.serviceplugindeliveriesfeaturenoinformation .rectangle-wWhGmT {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.serviceplugindeliveriesfeaturenoinformation .background-wWhGmT {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.serviceplugindeliveriesfeaturenoinformation .index-wWhGmT {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.serviceplugindeliveriesfeaturenoinformation .web-index-select-cWp0tU {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.serviceplugindeliveriesfeaturenoinformation .web-index-unselect-cWp0tU {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.serviceplugindeliveriesfeaturenoinformation .web-index-unelect_main-wWhGmT {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.serviceplugindeliveriesfeaturenoinformation .logo-eQJNSJ {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
