/* screen - servicepluginvehicleinformationvehicleentryandexitcard */

.servicepluginvehicleinformationvehicleentryandexitcard {
  background-color: var(--white);
  height: 1163px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .group-9-urrKbk {
  background-color: transparent;
  height: 467px;
  left: 380px;
  position: absolute;
  top: 342px;
  width: 710px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .group-8-urrKbk {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 870px;
  width: 680px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .group-6-urrKbk {
  background-color: transparent;
  height: 428px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .group-5-FpHbsm {
  background-color: transparent;
  height: 124px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .table-guide-text1line-copy-3-lrhraa {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .table-guide-text1line-copy-10-lrhraa {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 67px;
  width: 340px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .table-guide-text1line-copy-8-lrhraa {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .table-guide-text1line-copy-17-lrhraa {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 67px;
  width: 270px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .table-guide-text1line-copy-6-lrhraa {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .group-7-FpHbsm {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .table-guide-text1line-copy-xFUZVF {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .table-guide-text1line-copy-7-xFUZVF {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .table-guide-text1line-xFUZVF {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .group-FpHbsm {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 237px;
  width: 680px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .table-guide-text1line-copy-11-DFU1dQ {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .table-guide-text1line-copy-4-DFU1dQ {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .table-guide-text1line-copy-13-DFU1dQ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .group-2-FpHbsm {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 304px;
  width: 680px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .table-guide-text1line-copy-12-ZgBGbf {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .table-guide-text1line-copy-14-ZgBGbf {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .table-guide-text1line-copy-4-ZgBGbf {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .group-4-FpHbsm {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 371px;
  width: 680px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .table-guide-text1line-copy-15-pZYxbT {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .table-guide-text1line-copy-5-pZYxbT {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .table-guide-text1line-copy-14-pZYxbT {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .descriptiontabletop-FpHbsm {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-sub_-title-urrKbk {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-title-area-urrKbk {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-tab-service-plug-urrKbk {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .x3rd-depth-Ox0AGW {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .tab-EIl5nO {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginvehicleinformationvehicleentryandexitcard .icon-3CND63 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 26px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .vehicle-entry-and-ex-3CND63 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 174px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .parking-location-_-c-3CND63 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 143px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .feature-3CND63 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .no-information-3CND63 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 94px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .lnb-service-plug-in-urrKbk {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .rectangle-5feZt5 {
  background-color: var(--concrete);
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .lnb-5feZt5 {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .stacked-group-AP6ajt {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-index-title-common-copy-fWYjyA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-index-contents1dpeth_close-fWYjyA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-index-contents1dpeth_close-TzxzY4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-index-contents1dpeth_close-v1v1RV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-index-contents1dpeth_close-bwwvEt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-index-contents1dpeth_close-3KxB1F {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .group-copy-fWYjyA {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .empty-copy-61rcbq {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .line-copy-2-61rcbq {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .empty-copy-2-61rcbq {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-index-title-common-fWYjyA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-index-contents1dpeth_close-2SJcxl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-index-contents1dpeth_open_selected-fWYjyA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-index-contents2dpeth-copy-2-fWYjyA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-index-contents2dpeth-fWYjyA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-index-contents2dpeth-TzxzY4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-index-contents2dpeth-v1v1RV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-index-contents2dpeth-bwwvEt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-index-contents2dpeth-3KxB1F {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-index-contents2dpeth-2SJcxl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-index-contents2dpeth-pNgvRR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-index-contents2dpeth-0glwvX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-index-contents2dpeth-iwp57j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-index-contents2dpeth-copy-fWYjyA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-index-contents2dpeth-9XqY3x {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .group-fWYjyA {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .empty-eEKA0v {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .line-copy-eEKA0v {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .empty-g2jLg9 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-index-title-common-TzxzY4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .line-AP6ajt {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .home-net-gui-guidelin-AP6ajt {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .webgnb-urrKbk {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .rectangle-wM034y {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .background-wM034y {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .index-wM034y {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-index-select-8wJENQ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-index-unselect-8wJENQ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .web-index-unelect_main-wM034y {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginvehicleinformationvehicleentryandexitcard .logo-RfUJRf {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
