/* screen - servicepluginvehicleinformationfeature */

.servicepluginvehicleinformationfeature {
  background-color: var(--white);
  height: 13032px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginvehicleinformationfeature .group-57-MbhWg8 {
  background-color: transparent;
  height: 1530px;
  left: 400px;
  position: absolute;
  top: 2748px;
  width: 690px;
}

.servicepluginvehicleinformationfeature .group-51-MbhWg8 {
  background-color: transparent;
  height: 313px;
  left: 1140px;
  position: absolute;
  top: 8973px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .group-47-66fNHj {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_m-copy-2-n6Qrnc {
  background-color: transparent;
  height: 79px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-n6Qrnc {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_m-n6Qrnc {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationfeature .group-46-66fNHj {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 234px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_m-copy-2-UA0Eyf {
  background-color: transparent;
  height: 59px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-UA0Eyf {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_m-UA0Eyf {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationfeature .group-50-66fNHj {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_m-copy-HXYGQq {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-HXYGQq {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .table-guide-text2line_m-HXYGQq {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationfeature .descriptiontabletop-66fNHj {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .group-59-MbhWg8 {
  background-color: transparent;
  height: 440px;
  left: 400px;
  position: absolute;
  top: 6018px;
  width: 690px;
}

.servicepluginvehicleinformationfeature .group-61-MbhWg8 {
  background-color: transparent;
  height: 652px;
  left: 370px;
  position: absolute;
  top: 6608px;
  width: 720px;
}

.servicepluginvehicleinformationfeature .group-62-MbhWg8 {
  background-color: transparent;
  height: 1159px;
  left: 400px;
  position: absolute;
  top: 7664px;
  width: 690px;
}

.servicepluginvehicleinformationfeature .group-53-MbhWg8 {
  background-color: transparent;
  height: 1676px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.servicepluginvehicleinformationfeature .group-54-MbhWg8 {
  background-color: transparent;
  height: 430px;
  left: 379px;
  position: absolute;
  top: 2168px;
  width: 711px;
}

.servicepluginvehicleinformationfeature .group-43-MbhWg8 {
  background-color: transparent;
  height: 866px;
  left: 368px;
  position: absolute;
  top: 10968px;
  width: 412px;
}

.servicepluginvehicleinformationfeature .group-42-MbhWg8 {
  background-color: transparent;
  height: 898px;
  left: 420px;
  position: absolute;
  top: 11934px;
  width: 400px;
}

.servicepluginvehicleinformationfeature .group-44-MbhWg8 {
  background-color: transparent;
  height: 929px;
  left: 374px;
  position: absolute;
  top: 8973px;
  width: 716px;
}

.servicepluginvehicleinformationfeature .group-45-MbhWg8 {
  background-color: transparent;
  height: 866px;
  left: 420px;
  position: absolute;
  top: 10002px;
  width: 670px;
}

.servicepluginvehicleinformationfeature .group-24-MbhWg8 {
  background-color: transparent;
  height: 116px;
  left: 1141px;
  position: absolute;
  top: 10968px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .group-52-MbhWg8 {
  background-color: transparent;
  height: 116px;
  left: 1140px;
  position: absolute;
  top: 9386px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .group-58-MbhWg8 {
  background-color: transparent;
  height: 1490px;
  left: 419px;
  position: absolute;
  top: 4378px;
  width: 797px;
}

.servicepluginvehicleinformationfeature .group-31-MbhWg8 {
  background-color: transparent;
  height: 495px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .group-30-xHUeMj {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-3-PghJi9 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-8-PghJi9 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-6-PghJi9 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .group-7-xHUeMj {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-hxgMi8 {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-7-hxgMi8 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-hxgMi8 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .group-28-xHUeMj {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-11-tDpgFn {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-4-tDpgFn {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-13-tDpgFn {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .group-27-xHUeMj {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 237px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-12-GldLPJ {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-14-GldLPJ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-4-GldLPJ {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationfeature .group-26-xHUeMj {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 304px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-16-rg0POE {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-15-rg0POE {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-5-rg0POE {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationfeature .group-25-xHUeMj {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 371px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-18-ECjzDF {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-17-ECjzDF {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-9-ECjzDF {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationfeature .group-23-xHUeMj {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 438px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-20-5vc0qu {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-19-5vc0qu {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-10-5vc0qu {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationfeature .descriptiontabletop-xHUeMj {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .group-34-MbhWg8 {
  background-color: transparent;
  height: 345px;
  left: 1140px;
  position: absolute;
  top: 6018px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .group-30-s2q3oF {
  background-color: transparent;
  height: 126px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-42-IGFZAy {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-43-IGFZAy {
  background-color: transparent;
  height: 126px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-44-IGFZAy {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .group-28-s2q3oF {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 192px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-47-CawHMv {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-48-CawHMv {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-49-CawHMv {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .group-27-s2q3oF {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 259px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-43-Qwmy7h {
  background-color: transparent;
  height: 86px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-51-Qwmy7h {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-52-Qwmy7h {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationfeature .descriptiontabletop-copy-4-s2q3oF {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .group-38-MbhWg8 {
  background-color: transparent;
  height: 691px;
  left: 1140px;
  position: absolute;
  top: 6608px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .group-37-pHFcRx {
  background-color: transparent;
  height: 279px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-45-IMN9Er {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-50-IMN9Er {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-56-IMN9Er {
  background-color: transparent;
  height: 126px;
  left: 410px;
  position: absolute;
  top: 153px;
  width: 270px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-53-IMN9Er {
  background-color: transparent;
  height: 143px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationfeature .group-36-pHFcRx {
  background-color: transparent;
  height: 279px;
  left: 0px;
  position: absolute;
  top: 345px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-46-X0qjAL {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-54-X0qjAL {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-57-X0qjAL {
  background-color: transparent;
  height: 143px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-58-X0qjAL {
  background-color: transparent;
  height: 126px;
  left: 410px;
  position: absolute;
  top: 153px;
  width: 270px;
}

.servicepluginvehicleinformationfeature .descriptiontabletop-copy-5-pHFcRx {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .group-35-pHFcRx {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 634px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-60-ifOZ4z {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-55-ifOZ4z {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-59-ifOZ4z {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationfeature .group-63-MbhWg8 {
  background-color: transparent;
  height: 135px;
  left: 1140px;
  position: absolute;
  top: 7664px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .group-37-F2RQeH {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .group-39-Jo0dFn {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-61-k3wNQA {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-62-k3wNQA {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-64-k3wNQA {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationfeature .descriptiontabletop-copy-6-F2RQeH {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .group-33-MbhWg8 {
  background-color: transparent;
  height: 398px;
  left: 1140px;
  position: absolute;
  top: 2748px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .group-32-agYf8f {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-27-PSwjAR {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-28-PSwjAR {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-32-PSwjAR {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .group-11-agYf8f {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 319px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-41-pb69jo {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-34-pb69jo {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-33-pb69jo {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .group-16-agYf8f {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-35-ROwzmb {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-36-ROwzmb {
  background-color: transparent;
  cursor: pointer;
  height: 77px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-37-ROwzmb {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .group-15-agYf8f {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 232px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-38-utxmtd {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-39-utxmtd {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-40-utxmtd {
  background-color: transparent;
  cursor: pointer;
  height: 77px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationfeature .descriptiontabletop-copy-3-agYf8f {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .group-56-MbhWg8 {
  background-color: transparent;
  height: 377px;
  left: 1140px;
  position: absolute;
  top: 2168px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .group-29-MbhWg8 {
  background-color: transparent;
  height: 113px;
  left: 1140px;
  position: absolute;
  top: 1258px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .group-5CubNp {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-23-h6gAbT {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-22-h6gAbT {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvehicleinformationfeature .table-guide-text1line-copy-21-h6gAbT {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvehicleinformationfeature .descriptiontabletop-copy-5CubNp {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .group-3-copy-2-MbhWg8 {
  background-color: transparent;
  height: 115px;
  left: 1140px;
  position: absolute;
  top: 3246px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .group-3-copy-3-MbhWg8 {
  background-color: transparent;
  height: 115px;
  left: 1140px;
  position: absolute;
  top: 7399px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .group-40-MbhWg8 {
  background-color: transparent;
  height: 140px;
  left: 1140px;
  position: absolute;
  top: 7899px;
  width: 680px;
}

.servicepluginvehicleinformationfeature .web-sub_-title-MbhWg8 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginvehicleinformationfeature .web-title-area-MbhWg8 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginvehicleinformationfeature .web-tab-service-plug-MbhWg8 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginvehicleinformationfeature .x3rd-depth-MDiH0v {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginvehicleinformationfeature .tab-FBigNW {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginvehicleinformationfeature .icon-Y2LKnE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 26px;
}

.servicepluginvehicleinformationfeature .vehicle-entry-and-ex-Y2LKnE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 173px;
}

.servicepluginvehicleinformationfeature .parking-location-_-c-Y2LKnE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 143px;
}

.servicepluginvehicleinformationfeature .feature-Y2LKnE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginvehicleinformationfeature .no-information-Y2LKnE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 94px;
}

.servicepluginvehicleinformationfeature .lnb-service-plug-in-MbhWg8 {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvehicleinformationfeature .rectangle-EK7EHZ {
  background-color: var(--concrete);
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvehicleinformationfeature .lnb-EK7EHZ {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvehicleinformationfeature .stacked-group-WKa5Ua {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-title-common-copy-mFxbKW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents1dpeth_close-mFxbKW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents1dpeth_close-SFIpMO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents1dpeth_close-7YCdxM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents1dpeth_close-4xtrFL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents1dpeth_close-eRW8F4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .group-copy-mFxbKW {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .empty-copy-xpGSUx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginvehicleinformationfeature .line-copy-2-xpGSUx {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginvehicleinformationfeature .empty-copy-2-xpGSUx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-title-common-mFxbKW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents1dpeth_close-FEaQTQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents1dpeth_open_selected-mFxbKW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents2dpeth-copy-2-mFxbKW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents2dpeth-mFxbKW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents2dpeth-SFIpMO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents2dpeth-7YCdxM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents2dpeth-4xtrFL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents2dpeth-eRW8F4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents2dpeth-FEaQTQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents2dpeth-sF1ZAK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents2dpeth-dfZw4l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents2dpeth-csxYq5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents2dpeth-copy-mFxbKW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-contents2dpeth-WSk7dA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .group-mFxbKW {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .empty-SHGyrC {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginvehicleinformationfeature .line-copy-SHGyrC {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginvehicleinformationfeature .empty-dbHHEO {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvehicleinformationfeature .web-index-title-common-SFIpMO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationfeature .line-WKa5Ua {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginvehicleinformationfeature .home-net-gui-guidelin-WKa5Ua {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginvehicleinformationfeature .webgnb-MbhWg8 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginvehicleinformationfeature .rectangle-7yyhQ0 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginvehicleinformationfeature .background-7yyhQ0 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginvehicleinformationfeature .index-7yyhQ0 {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginvehicleinformationfeature .web-index-select-x2ZhZO {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginvehicleinformationfeature .web-index-unselect-x2ZhZO {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginvehicleinformationfeature .web-index-unelect_main-7yyhQ0 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginvehicleinformationfeature .logo-ubTexw {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
