/* screen - servicepluginhomehelpguideexpandablelist */

.servicepluginhomehelpguideexpandablelist {
  background-color: var(--white);
  height: 2563px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomehelpguideexpandablelist .group-3-Q8Pwxx {
  background-color: transparent;
  height: 447px;
  left: 420px;
  position: absolute;
  top: 1126px;
  width: 670px;
}

.servicepluginhomehelpguideexpandablelist .group-16-Q8Pwxx {
  background-color: transparent;
  height: 690px;
  left: 412px;
  position: absolute;
  top: 1723px;
  width: 678px;
}

.servicepluginhomehelpguideexpandablelist .group-19-Q8Pwxx {
  background-color: transparent;
  height: 301px;
  left: 1140px;
  position: absolute;
  top: 1723px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .group-22-FJb6Yb {
  background-color: transparent;
  height: 301px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .group-18-wpxtHC {
  background-color: transparent;
  height: 178px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .group-13-W8L6uh {
  background-color: transparent;
  height: 109px;
  left: 60px;
  position: absolute;
  top: 69px;
  width: 340px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-21-W8L6uh {
  background-color: transparent;
  height: 77px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-22-W8L6uh {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-23-W8L6uh {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomehelpguideexpandablelist .group-11-copy-wpxtHC {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 244px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-27-kSMXrU {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-28-kSMXrU {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-29-kSMXrU {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomehelpguideexpandablelist .descriptiontabletop-copy-2-wpxtHC {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .group-21-Q8Pwxx {
  background-color: transparent;
  height: 370px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .group-12-CinqJ5 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-VdlUM0 {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-7-VdlUM0 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-VdlUM0 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomehelpguideexpandablelist .group-11-CinqJ5 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-3-1OLXAl {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-8-1OLXAl {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-6-1OLXAl {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomehelpguideexpandablelist .group-10-CinqJ5 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-10-EHDVJd {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-2-EHDVJd {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-9-EHDVJd {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomehelpguideexpandablelist .group-4-CinqJ5 {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 217px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-11-xVk9xk {
  background-color: transparent;
  height: 86px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-4-xVk9xk {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-13-xVk9xk {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomehelpguideexpandablelist .group-CinqJ5 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 313px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-12-iUN4hT {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-5-iUN4hT {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-14-iUN4hT {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomehelpguideexpandablelist .descriptiontabletop-CinqJ5 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .group-20-Q8Pwxx {
  background-color: transparent;
  height: 113px;
  left: 1140px;
  position: absolute;
  top: 1126px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .group-copy-8xrejq {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-15-ctxhux {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-16-ctxhux {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-17-ctxhux {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomehelpguideexpandablelist .descriptiontabletop-copy-8xrejq {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .group-6-Q8Pwxx {
  background-color: transparent;
  height: 120px;
  left: 1140px;
  position: absolute;
  top: 2124px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .group-23-Q8Pwxx {
  background-color: transparent;
  height: 581px;
  left: 400px;
  position: absolute;
  top: 396px;
  width: 690px;
}

.servicepluginhomehelpguideexpandablelist .web-sub_-title-Q8Pwxx {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.servicepluginhomehelpguideexpandablelist .web-title-area-Q8Pwxx {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomehelpguideexpandablelist .web-tab-service-plug-in_-home-screen-Q8Pwxx {
  background-color: transparent;
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.servicepluginhomehelpguideexpandablelist .x3rd-depth-GsLUUx {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginhomehelpguideexpandablelist .tab-lgy3KA {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginhomehelpguideexpandablelist .default-type-q4UNgw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 78px;
}

.servicepluginhomehelpguideexpandablelist .shortcut-default-t-q4UNgw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 142px;
}

.servicepluginhomehelpguideexpandablelist .brand-type-q4UNgw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.servicepluginhomehelpguideexpandablelist .shortcut-brand-typ-q4UNgw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 133px;
}

.servicepluginhomehelpguideexpandablelist .banner-q4UNgw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginhomehelpguideexpandablelist .app-link-copy-q4UNgw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 54px;
}

.servicepluginhomehelpguideexpandablelist .x3rd-depth-sgyF29 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.servicepluginhomehelpguideexpandablelist .tab-MemaF8 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginhomehelpguideexpandablelist .more-J3Ug5G {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 35px;
}

.servicepluginhomehelpguideexpandablelist .edit-_-feature-J3Ug5G {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 87px;
}

.servicepluginhomehelpguideexpandablelist .notifications-_-feat-J3Ug5G {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 144px;
}

.servicepluginhomehelpguideexpandablelist .help-guide-J3Ug5G {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 70px;
}

.servicepluginhomehelpguideexpandablelist .help-guide-_-expanda-J3Ug5G {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 180px;
}

.servicepluginhomehelpguideexpandablelist .help-guide-_-image-J3Ug5G {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 120px;
}

.servicepluginhomehelpguideexpandablelist .service-feature-J3Ug5G {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.servicepluginhomehelpguideexpandablelist .service-feature-_-no-J3Ug5G {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 161px;
}

.servicepluginhomehelpguideexpandablelist .touch-area-J3Ug5G {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.servicepluginhomehelpguideexpandablelist .lnb-service-plug-in-Q8Pwxx {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .rectangle-HZGJnd {
  background-color: var(--concrete);
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .lnb-HZGJnd {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .stacked-group-mwDX6K {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .web-index-title-common-copy-MuFFY1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .web-index-contents1dpeth_close-MuFFY1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .web-index-contents1dpeth_close-2Mf1nq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .web-index-contents1dpeth_close-GHFXkX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .web-index-contents1dpeth_close-BG7l38 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .web-index-contents1dpeth_close-0rarOq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .group-copy-MuFFY1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .empty-copy-Wxh4J6 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .line-copy-2-Wxh4J6 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginhomehelpguideexpandablelist .empty-copy-2-Wxh4J6 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .web-index-title-common-MuFFY1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .web-index-contents1dpeth_close-4EgSa9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .web-index-contents1dpeth_open_selected-MuFFY1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .web-index-contents2dpeth-copy-2-MuFFY1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .web-index-contents2dpeth-MuFFY1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .web-index-contents2dpeth-2Mf1nq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .web-index-contents2dpeth-GHFXkX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .web-index-contents2dpeth-BG7l38 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .web-index-contents2dpeth-0rarOq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .web-index-contents2dpeth-4EgSa9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .web-index-contents2dpeth-x4xCaO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .web-index-contents2dpeth-kEu3lc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .web-index-contents2dpeth-Akny3c {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .web-index-contents2dpeth-copy-MuFFY1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .web-index-contents2dpeth-nEe444 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .group-MuFFY1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .empty-tXH2lI {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .line-copy-tXH2lI {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginhomehelpguideexpandablelist .empty-Ka4TrF {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .web-index-title-common-2Mf1nq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .line-mwDX6K {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginhomehelpguideexpandablelist .home-net-gui-guidelin-mwDX6K {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginhomehelpguideexpandablelist .webgnb-Q8Pwxx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginhomehelpguideexpandablelist .rectangle-yrrbym {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomehelpguideexpandablelist .background-yrrbym {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomehelpguideexpandablelist .index-yrrbym {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginhomehelpguideexpandablelist .web-index-select-xM4g0w {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginhomehelpguideexpandablelist .web-index-unselect-xM4g0w {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginhomehelpguideexpandablelist .web-index-unelect_main-yrrbym {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginhomehelpguideexpandablelist .logo-2WaqTf {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
