/* screen - serviceplugincctvfeaturelistdetail */

.serviceplugincctvfeaturelistdetail {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.serviceplugincctvfeaturelistdetail .group-5-yqN90C {
  background-color: transparent;
  height: 300px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.serviceplugincctvfeaturelistdetail .group-2-2mucoH {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.serviceplugincctvfeaturelistdetail .table-guide-text1line-W4sRca {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.serviceplugincctvfeaturelistdetail .table-guide-text2line_m-W4sRca {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.serviceplugincctvfeaturelistdetail .table-guide-text2line_m-copy-6-W4sRca {
  background-color: transparent;
  height: 59px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.serviceplugincctvfeaturelistdetail .group-3-2mucoH {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 214px;
  width: 680px;
}

.serviceplugincctvfeaturelistdetail .table-guide-text1line-ewxXX4 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.serviceplugincctvfeaturelistdetail .table-guide-text2line_m-ewxXX4 {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.serviceplugincctvfeaturelistdetail .table-guide-text2line_m-copy-5-ewxXX4 {
  background-color: transparent;
  height: 86px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.serviceplugincctvfeaturelistdetail .descriptiontabletop-2mucoH {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.serviceplugincctvfeaturelistdetail .group-2mucoH {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.serviceplugincctvfeaturelistdetail .table-guide-text2line_m-copy-BvbvDT {
  background-color: transparent;
  height: 59px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.serviceplugincctvfeaturelistdetail .table-guide-text1line-BvbvDT {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.serviceplugincctvfeaturelistdetail .table-guide-text2line_m-BvbvDT {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.serviceplugincctvfeaturelistdetail .group-7-yqN90C {
  background-color: transparent;
  height: 518px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.serviceplugincctvfeaturelistdetail .web-sub_-title-yqN90C {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.serviceplugincctvfeaturelistdetail .web-title-area-yqN90C {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.serviceplugincctvfeaturelistdetail .web-tab-service-plug-in_cctv-yqN90C {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.serviceplugincctvfeaturelistdetail .x3rd-depth-35ntMv {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.serviceplugincctvfeaturelistdetail .tab-Jqboxy {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.serviceplugincctvfeaturelistdetail .card-qwxxMF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.serviceplugincctvfeaturelistdetail .feature-_-list-qwxxMF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 85px;
}

.serviceplugincctvfeaturelistdetail .feature-_-list-det-qwxxMF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 132px;
}

.serviceplugincctvfeaturelistdetail .feature-detail-qwxxMF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 95px;
}

.serviceplugincctvfeaturelistdetail .lnb-service-plug-in-yqN90C {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .rectangle-fIBpi1 {
  background-color: var(--concrete);
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .lnb-fIBpi1 {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .stacked-group-4HajAc {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .web-index-title-common-copy-FdeInp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .web-index-contents1dpeth_close-FdeInp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .web-index-contents1dpeth_close-pDr9IH {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .web-index-contents1dpeth_close-JMRTuH {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .web-index-contents1dpeth_close-zsx6ZN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .web-index-contents1dpeth_close-ZVGdex {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .group-copy-FdeInp {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .empty-copy-1vKTEc {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .line-copy-2-1vKTEc {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.serviceplugincctvfeaturelistdetail .empty-copy-2-1vKTEc {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .web-index-title-common-FdeInp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .web-index-contents1dpeth_close-IY4imG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .web-index-contents1dpeth_open_selected-FdeInp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .web-index-contents2dpeth-copy-2-FdeInp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .web-index-contents2dpeth-FdeInp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .web-index-contents2dpeth-pDr9IH {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .web-index-contents2dpeth-JMRTuH {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .web-index-contents2dpeth-zsx6ZN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .web-index-contents2dpeth-ZVGdex {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .web-index-contents2dpeth-IY4imG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .web-index-contents2dpeth-atJfjs {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .web-index-contents2dpeth-kZt9GX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .web-index-contents2dpeth-jEUON3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .web-index-contents2dpeth-copy-FdeInp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .web-index-contents2dpeth-Aq70WQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .group-FdeInp {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .empty-m816KE {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .line-copy-m816KE {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.serviceplugincctvfeaturelistdetail .empty-bMfJCJ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .web-index-title-common-pDr9IH {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelistdetail .line-4HajAc {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.serviceplugincctvfeaturelistdetail .home-net-gui-guidelin-4HajAc {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.serviceplugincctvfeaturelistdetail .webgnb-yqN90C {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.serviceplugincctvfeaturelistdetail .rectangle-ur65TY {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.serviceplugincctvfeaturelistdetail .background-ur65TY {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.serviceplugincctvfeaturelistdetail .index-ur65TY {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 128px;
}

.serviceplugincctvfeaturelistdetail .web-index-select-I3Kkbu {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.serviceplugincctvfeaturelistdetail .web-index-unselect-I3Kkbu {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 96px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.serviceplugincctvfeaturelistdetail .web-index-unelect_main-ur65TY {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.serviceplugincctvfeaturelistdetail .logo-lGS5dA {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
