/* screen - servicepluginenergyusagefeature */

.servicepluginenergyusagefeature {
  background-color: var(--white);
  height: 4296px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginenergyusagefeature .group-21-GoOHYX {
  background-color: transparent;
  height: 1153px;
  left: 400px;
  position: absolute;
  top: 2943px;
  width: 690px;
}

.servicepluginenergyusagefeature .group-13-GoOHYX {
  background-color: transparent;
  height: 763px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.servicepluginenergyusagefeature .group-9-R3G9Fo {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text1line-JqhbEq {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-JqhbEq {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text1line-2K2VhL {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagefeature .group-6-R3G9Fo {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 237px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text1line-byM9xN {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-byM9xN {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text1line-lcklBC {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagefeature .group-3-R3G9Fo {
  background-color: transparent;
  height: 392px;
  left: 0px;
  position: absolute;
  top: 371px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text1line-BTxfus {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-BTxfus {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-2-BTxfus {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 67px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-3-BTxfus {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 134px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-4-BTxfus {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 201px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-6-BTxfus {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 268px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-38-BTxfus {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 335px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-27-BTxfus {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 335px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text1line-z9WjEU {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-37-BTxfus {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 335px;
  width: 50px;
}

.servicepluginenergyusagefeature .group-5-R3G9Fo {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 304px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text1line-x8ix6N {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-x8ix6N {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text1line-sZX1pp {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagefeature .group-10-R3G9Fo {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text1line-PCJDcI {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-PCJDcI {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text1line-HoNsn0 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagefeature .group-12-R3G9Fo {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-2-x6umVx {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-x6umVx {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-x6umVx {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagefeature .descriptiontabletop-R3G9Fo {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginenergyusagefeature .group-15-GoOHYX {
  background-color: transparent;
  height: 696px;
  left: 1140px;
  position: absolute;
  top: 1623px;
  width: 680px;
}

.servicepluginenergyusagefeature .group-7-c3rvCr {
  background-color: transparent;
  height: 392px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-7-Zxg7X9 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-7-Zxg7X9 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-8-Zxg7X9 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-9-Zxg7X9 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 67px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-8-Zxg7X9 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 67px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-11-Zxg7X9 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 201px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-9-Zxg7X9 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 201px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-12-Zxg7X9 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 268px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-10-Zxg7X9 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 268px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-13-Zxg7X9 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 335px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-5-Zxg7X9 {
  background-color: transparent;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 335px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-11-bxQR99 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-17-Zxg7X9 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 134px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-14-Zxg7X9 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 134px;
  width: 340px;
}

.servicepluginenergyusagefeature .group-11-c3rvCr {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 572px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-16-iWUMn8 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-14-iWUMn8 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-12-iWUMn8 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagefeature .group-14-c3rvCr {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 639px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-10-1c4DLp {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-15-1c4DLp {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-13-1c4DLp {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagefeature .group-10-c3rvCr {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-19-1v3SqT {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-15-1v3SqT {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-20-1v3SqT {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagefeature .group-12-c3rvCr {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-21-ErZcTL {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-16-ErZcTL {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-22-ErZcTL {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagefeature .descriptiontabletop-copy-c3rvCr {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginenergyusagefeature .group-17-GoOHYX {
  background-color: transparent;
  height: 1131px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.servicepluginenergyusagefeature .group-19-GoOHYX {
  background-color: transparent;
  height: 1170px;
  left: 400px;
  position: absolute;
  top: 1623px;
  width: 690px;
}

.servicepluginenergyusagefeature .group-15-copy-GoOHYX {
  background-color: transparent;
  height: 696px;
  left: 1140px;
  position: absolute;
  top: 2943px;
  width: 680px;
}

.servicepluginenergyusagefeature .group-7-7JNwcb {
  background-color: transparent;
  height: 392px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-18-OcNyBh {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-17-OcNyBh {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-23-OcNyBh {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-24-OcNyBh {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 67px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-18-OcNyBh {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 67px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-25-OcNyBh {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 201px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-19-OcNyBh {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 201px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-26-OcNyBh {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 268px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-20-OcNyBh {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 268px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-27-OcNyBh {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 335px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-5-OcNyBh {
  background-color: transparent;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 335px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-21-Qb0Gii {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-28-OcNyBh {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 134px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-22-OcNyBh {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 134px;
  width: 340px;
}

.servicepluginenergyusagefeature .group-11-7JNwcb {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 572px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-29-OUpo1e {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-30-OUpo1e {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-23-OUpo1e {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagefeature .group-14-7JNwcb {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 639px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-31-HAGHQm {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-32-HAGHQm {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-24-HAGHQm {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagefeature .group-10-7JNwcb {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-33-zg5wxC {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-25-zg5wxC {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-34-zg5wxC {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagefeature .group-12-7JNwcb {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-35-wXplmu {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginenergyusagefeature .table-guide-text2line-copy-26-wXplmu {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagefeature .table-guide-text1line-copy-36-wXplmu {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagefeature .descriptiontabletop-copy-2-7JNwcb {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginenergyusagefeature .web-sub_-title-GoOHYX {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginenergyusagefeature .web-title-area-GoOHYX {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginenergyusagefeature .web-tab-service-plug-GoOHYX {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginenergyusagefeature .x3rd-depth-4tTn7K {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginenergyusagefeature .tab-yglDlI {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginenergyusagefeature .card-45vykr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginenergyusagefeature .feature-45vykr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginenergyusagefeature .lnb-service-plug-in-GoOHYX {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginenergyusagefeature .rectangle-yYagQq {
  background-color: var(--concrete);
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginenergyusagefeature .lnb-yYagQq {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginenergyusagefeature .stacked-group-2UKVsh {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-title-common-copy-G1PJQ1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-contents1dpeth_close-G1PJQ1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-contents1dpeth_close-OR8TQE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-contents1dpeth_close-pr0iCt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-contents1dpeth_close-MIIGHo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-contents1dpeth_close-DTQmo0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .group-copy-G1PJQ1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .empty-copy-pLpe6K {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginenergyusagefeature .line-copy-2-pLpe6K {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginenergyusagefeature .empty-copy-2-pLpe6K {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-title-common-G1PJQ1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-contents1dpeth_close-Dgxx0u {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-contents1dpeth_open_selected-G1PJQ1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-contents2dpeth-copy-2-G1PJQ1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-contents2dpeth-G1PJQ1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-contents2dpeth-OR8TQE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-contents2dpeth-pr0iCt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-contents2dpeth-MIIGHo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-contents2dpeth-DTQmo0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-contents2dpeth-Dgxx0u {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-contents2dpeth-ASMZrc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-contents2dpeth-4XXwAI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-contents2dpeth-fbZxrI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-contents2dpeth-copy-G1PJQ1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-contents2dpeth-92js5V {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .group-G1PJQ1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .empty-LnEaEk {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginenergyusagefeature .line-copy-LnEaEk {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginenergyusagefeature .empty-udtw2W {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-title-common-OR8TQE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .line-2UKVsh {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginenergyusagefeature .home-net-gui-guidelin-2UKVsh {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginenergyusagefeature .webgnb-GoOHYX {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginenergyusagefeature .rectangle-xPCMi2 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginenergyusagefeature .background-xPCMi2 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginenergyusagefeature .index-xPCMi2 {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 128px;
}

.servicepluginenergyusagefeature .web-index-select-Vhyk3U {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginenergyusagefeature .web-index-unselect-Vhyk3U {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 96px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginenergyusagefeature .web-index-unelect_main-xPCMi2 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginenergyusagefeature .logo-vsmVNN {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
