/* screen - servicepluginreservevisitorvehiclefeatureregister */

.servicepluginreservevisitorvehiclefeatureregister {
  background-color: var(--white);
  height: 2318px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginreservevisitorvehiclefeatureregister .group-13-jOl5tg {
  background-color: transparent;
  height: 494px;
  left: 1140px;
  position: absolute;
  top: 1358px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeatureregister .group-12-2BoKgo {
  background-color: transparent;
  height: 438px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeatureregister .group-11-mHK8qz {
  background-color: transparent;
  height: 186px;
  left: 0px;
  position: absolute;
  top: 252px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeatureregister .group-9-U7sG8m {
  background-color: transparent;
  height: 99px;
  left: 35px;
  position: absolute;
  top: 87px;
  width: 97px;
}

.servicepluginreservevisitorvehiclefeatureregister .table-guide-text1line-copy-3-U7sG8m {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeatureregister .table-guide-text2line_m-copy-8-U7sG8m {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeatureregister .table-guide-text2line_m-copy-7-U7sG8m {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeatureregister .group-10-mHK8qz {
  background-color: transparent;
  height: 128px;
  left: 0px;
  position: absolute;
  top: 114px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeatureregister .group-18-copy-mHK8qz {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeatureregister .table-guide-text1line-copy-4-xjHDbq {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeatureregister .table-guide-text2line_m-copy-10-xjHDbq {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeatureregister .table-guide-text2line_m-copy-11-xjHDbq {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeatureregister .group-5-mHK8qz {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeatureregister .table-guide-text1line-Yk8LLA {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeatureregister .table-guide-text2line_m-Yk8LLA {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeatureregister .table-guide-text2line_m-w5pYtY {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeatureregister .descriptiontabletop-copy-2BoKgo {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeatureregister .group-7-jOl5tg {
  background-color: transparent;
  height: 1776px;
  left: 380px;
  position: absolute;
  top: 342px;
  width: 710px;
}

.servicepluginreservevisitorvehiclefeatureregister .group-8-jOl5tg {
  background-color: transparent;
  height: 294px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeatureregister .group-17-U5W6Kk {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeatureregister .table-guide-text1line-jkWGgT {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeatureregister .table-guide-text2line_m-jkWGgT {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeatureregister .table-guide-text2line_m-Q3hVzV {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeatureregister .group-18-U5W6Kk {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeatureregister .table-guide-text1line-copy-xmdvCS {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeatureregister .table-guide-text2line_m-copy-5-xmdvCS {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeatureregister .table-guide-text2line_m-copy-6-xmdvCS {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeatureregister .group-2-U5W6Kk {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeatureregister .table-guide-text1line-1Y3yaI {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeatureregister .table-guide-text2line_m-1Y3yaI {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeatureregister .table-guide-text2line_m-Al1oRg {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeatureregister .group-U5W6Kk {
  background-color: transparent;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 237px;
  width: 620px;
}

.servicepluginreservevisitorvehiclefeatureregister .table-guide-text2line_m-copy-E3d24L {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeatureregister .table-guide-text2line_m-copy-2-E3d24L {
  background-color: transparent;
  height: 37px;
  left: 350px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeatureregister .descriptiontabletop-U5W6Kk {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeatureregister .table-guide-text2line_m-copy-9-jOl5tg {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 1200px;
  position: absolute;
  top: 295px;
  width: 295px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-sub_-title-jOl5tg {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-title-area-jOl5tg {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-tab-service-plug-in_cctv-jOl5tg {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginreservevisitorvehiclefeatureregister .x3rd-depth-I9tsPH {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginreservevisitorvehiclefeatureregister .tab-A0pyLD {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginreservevisitorvehiclefeatureregister .card-cMdnNB {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginreservevisitorvehiclefeatureregister .feature-cMdnNB {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginreservevisitorvehiclefeatureregister .feature-register-cMdnNB {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 112px;
}

.servicepluginreservevisitorvehiclefeatureregister .feature-informatio-cMdnNB {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 131px;
}

.servicepluginreservevisitorvehiclefeatureregister .pop-up-cMdnNB {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.servicepluginreservevisitorvehiclefeatureregister .pop-up-detail-cMdnNB {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 93px;
}

.servicepluginreservevisitorvehiclefeatureregister .feature-_-delete-lis-cMdnNB {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 128px;
}

.servicepluginreservevisitorvehiclefeatureregister .lnb-service-plug-in-jOl5tg {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .rectangle-xVtxvK {
  background-color: var(--concrete);
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .lnb-xVtxvK {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .stacked-group-HcWsP2 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-index-title-common-copy-WJaNqc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-index-contents1dpeth_close-WJaNqc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-index-contents1dpeth_close-PXJgzq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-index-contents1dpeth_close-jRcLgU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-index-contents1dpeth_close-A6e6TP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-index-contents1dpeth_close-anZ1Rs {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .group-copy-WJaNqc {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .empty-copy-Hvgs0B {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .line-copy-2-Hvgs0B {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginreservevisitorvehiclefeatureregister .empty-copy-2-Hvgs0B {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-index-title-common-WJaNqc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-index-contents1dpeth_close-xbNvpl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-index-contents1dpeth_open_selected-WJaNqc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-index-contents2dpeth-copy-2-WJaNqc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-index-contents2dpeth-WJaNqc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-index-contents2dpeth-PXJgzq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-index-contents2dpeth-jRcLgU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-index-contents2dpeth-A6e6TP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-index-contents2dpeth-anZ1Rs {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-index-contents2dpeth-xbNvpl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-index-contents2dpeth-EKVBWK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-index-contents2dpeth-ipxlrY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-index-contents2dpeth-6Mw4l7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-index-contents2dpeth-copy-WJaNqc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-index-contents2dpeth-94QWl8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .group-WJaNqc {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .empty-afFJOE {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .line-copy-afFJOE {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginreservevisitorvehiclefeatureregister .empty-XFFCkf {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-index-title-common-PXJgzq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeatureregister .line-HcWsP2 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginreservevisitorvehiclefeatureregister .home-net-gui-guidelin-HcWsP2 {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginreservevisitorvehiclefeatureregister .webgnb-jOl5tg {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginreservevisitorvehiclefeatureregister .rectangle-wZPNx6 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginreservevisitorvehiclefeatureregister .background-wZPNx6 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginreservevisitorvehiclefeatureregister .index-wZPNx6 {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 128px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-index-select-5sO3zl {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-index-unselect-5sO3zl {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 96px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginreservevisitorvehiclefeatureregister .web-index-unelect_main-wZPNx6 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginreservevisitorvehiclefeatureregister .logo-sUMivi {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
