/* screen - servicepluginreservevisitorvehiclepopup */

.servicepluginreservevisitorvehiclepopup {
  background-color: var(--white);
  height: 2266px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginreservevisitorvehiclepopup .group-11-xl6Cv9 {
  background-color: transparent;
  height: 699px;
  left: 400px;
  position: absolute;
  top: 1367px;
  width: 438px;
}

.servicepluginreservevisitorvehiclepopup .group-7-xl6Cv9 {
  background-color: transparent;
  height: 925px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.servicepluginreservevisitorvehiclepopup .group-xl6Cv9 {
  background-color: transparent;
  height: 120px;
  left: 1140px;
  position: absolute;
  top: 1776px;
  width: 680px;
}

.servicepluginreservevisitorvehiclepopup .group-9-xl6Cv9 {
  background-color: transparent;
  height: 356px;
  left: 1140px;
  position: absolute;
  top: 1320px;
  width: 680px;
}

.servicepluginreservevisitorvehiclepopup .group-17-TaMUFH {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 279px;
  width: 680px;
}

.servicepluginreservevisitorvehiclepopup .table-guide-text1line-5ybahL {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclepopup .table-guide-text2line_m-5ybahL {
  background-color: transparent;
  cursor: pointer;
  height: 77px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclepopup .table-guide-text2line_m-8h3lXY {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclepopup .group-8-TaMUFH {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicepluginreservevisitorvehiclepopup .table-guide-text1line-copy-ofDnTu {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclepopup .table-guide-text2line_m-copy-5-ofDnTu {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclepopup .table-guide-text2line_m-copy-6-ofDnTu {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclepopup .group-2-TaMUFH {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 192px;
  width: 680px;
}

.servicepluginreservevisitorvehiclepopup .table-guide-text1line-PkgvNV {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclepopup .table-guide-text2line_m-PkgvNV {
  background-color: transparent;
  cursor: pointer;
  height: 77px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclepopup .table-guide-text2line_m-6BE0kL {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclepopup .descriptiontabletop-TaMUFH {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 680px;
}

.servicepluginreservevisitorvehiclepopup .table-guide-text2line_m-copy-9-TaMUFH {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 295px;
}

.servicepluginreservevisitorvehiclepopup .web-sub_-title-xl6Cv9 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginreservevisitorvehiclepopup .web-title-area-xl6Cv9 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginreservevisitorvehiclepopup .web-tab-service-plug-in_cctv-xl6Cv9 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginreservevisitorvehiclepopup .x3rd-depth-1qvrNR {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginreservevisitorvehiclepopup .tab-QbNjYW {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginreservevisitorvehiclepopup .card-SLffaQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginreservevisitorvehiclepopup .feature-SLffaQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginreservevisitorvehiclepopup .feature-register-SLffaQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 112px;
}

.servicepluginreservevisitorvehiclepopup .feature-informatio-SLffaQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 131px;
}

.servicepluginreservevisitorvehiclepopup .pop-up-SLffaQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.servicepluginreservevisitorvehiclepopup .pop-up-detail-SLffaQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 93px;
}

.servicepluginreservevisitorvehiclepopup .feature-_-delete-lis-SLffaQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 128px;
}

.servicepluginreservevisitorvehiclepopup .lnb-service-plug-in-xl6Cv9 {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .rectangle-yIee2X {
  background-color: var(--concrete);
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .lnb-yIee2X {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .stacked-group-p9eNSB {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .web-index-title-common-copy-TOG0dU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .web-index-contents1dpeth_close-TOG0dU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .web-index-contents1dpeth_close-QTKoGF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .web-index-contents1dpeth_close-D2eTh7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .web-index-contents1dpeth_close-3kd0es {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .web-index-contents1dpeth_close-rTTxPo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .group-copy-TOG0dU {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .empty-copy-pS8vLx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .line-copy-2-pS8vLx {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginreservevisitorvehiclepopup .empty-copy-2-pS8vLx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .web-index-title-common-TOG0dU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .web-index-contents1dpeth_close-k7WT8B {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .web-index-contents1dpeth_open_selected-TOG0dU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .web-index-contents2dpeth-copy-2-TOG0dU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .web-index-contents2dpeth-TOG0dU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .web-index-contents2dpeth-QTKoGF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .web-index-contents2dpeth-D2eTh7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .web-index-contents2dpeth-3kd0es {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .web-index-contents2dpeth-rTTxPo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .web-index-contents2dpeth-k7WT8B {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .web-index-contents2dpeth-MDT12U {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .web-index-contents2dpeth-5IO11Q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .web-index-contents2dpeth-ESghcV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .web-index-contents2dpeth-copy-TOG0dU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .web-index-contents2dpeth-kOeKGB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .group-TOG0dU {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .empty-ynyMEf {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .line-copy-ynyMEf {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginreservevisitorvehiclepopup .empty-97c7on {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .web-index-title-common-QTKoGF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclepopup .line-p9eNSB {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginreservevisitorvehiclepopup .home-net-gui-guidelin-p9eNSB {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginreservevisitorvehiclepopup .webgnb-xl6Cv9 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginreservevisitorvehiclepopup .rectangle-aX6Apz {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginreservevisitorvehiclepopup .background-aX6Apz {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginreservevisitorvehiclepopup .index-aX6Apz {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 128px;
}

.servicepluginreservevisitorvehiclepopup .web-index-select-HYSCK6 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginreservevisitorvehiclepopup .web-index-unselect-HYSCK6 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 96px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginreservevisitorvehiclepopup .web-index-unelect_main-aX6Apz {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginreservevisitorvehiclepopup .logo-QQjw2x {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
