/* screen - servicepluginmaintenancefeefeature */

.servicepluginmaintenancefeefeature {
  background-color: var(--white);
  height: 7317px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginmaintenancefeefeature .group-42-RDmwEL {
  background-color: transparent;
  height: 401px;
  left: 349px;
  position: absolute;
  top: 4818px;
  width: 741px;
}

.servicepluginmaintenancefeefeature .group-43-RDmwEL {
  background-color: transparent;
  height: 427px;
  left: 1140px;
  position: absolute;
  top: 4818px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .group-18-BAye9f {
  background-color: transparent;
  height: 190px;
  left: 0px;
  position: absolute;
  top: 237px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .descriptiontabletop-copy-5-BAye9f {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .group-19-BAye9f {
  background-color: transparent;
  height: 171px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-71-ZxgbP9 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-77-ZxgbP9 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 94px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-34-ZxgbP9 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-70-ZxgbP9 {
  background-color: transparent;
  cursor: pointer;
  height: 84px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-68-ZxgbP9 {
  background-color: transparent;
  cursor: pointer;
  height: 77px;
  left: 60px;
  position: absolute;
  top: 94px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-23-RDmwEL {
  background-color: transparent;
  height: 1583px;
  left: 379px;
  position: absolute;
  top: 342px;
  width: 711px;
}

.servicepluginmaintenancefeefeature .group-46-RDmwEL {
  background-color: transparent;
  height: 267px;
  left: 420px;
  position: absolute;
  top: 5818px;
  width: 670px;
}

.servicepluginmaintenancefeefeature .group-47-RDmwEL {
  background-color: transparent;
  height: 565px;
  left: 1140px;
  position: absolute;
  top: 5818px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .group-51-RDmwEL {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 6533px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .group-48-RDmwEL {
  background-color: transparent;
  height: 217px;
  left: 419px;
  position: absolute;
  top: 6533px;
  width: 411px;
}

.servicepluginmaintenancefeefeature .group-50-RDmwEL {
  background-color: transparent;
  height: 217px;
  left: 419px;
  position: absolute;
  top: 6900px;
  width: 440px;
}

.servicepluginmaintenancefeefeature .group-5-RDmwEL {
  background-color: transparent;
  height: 194px;
  left: 1140px;
  position: absolute;
  top: 6726px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .group-29-RDmwEL {
  background-color: transparent;
  height: 824px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .group-27-J7xa8z {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 102px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-bjq7IJ {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-bjq7IJ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-bjq7IJ {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-26-J7xa8z {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 169px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-6-8a9Xmj {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-2-8a9Xmj {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-5-8a9Xmj {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-25-J7xa8z {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 236px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-9-05LsSG {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-4-05LsSG {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-8-05LsSG {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-16-J7xa8z {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 303px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-11-tTpkD4 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-5-tTpkD4 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-10-tTpkD4 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-3-J7xa8z {
  background-color: transparent;
  height: 166px;
  left: 0px;
  position: absolute;
  top: 370px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-13-aynJjt {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-42-aynJjt {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 87px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-6-aynJjt {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-12-aynJjt {
  background-color: transparent;
  cursor: pointer;
  height: 77px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-16-aynJjt {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 87px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-28-J7xa8z {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 546px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-15-oEWx1I {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-7-oEWx1I {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-14-oEWx1I {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-28-copy-J7xa8z {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 613px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-17-rPwgTp {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-8-rPwgTp {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-18-rPwgTp {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-28-copy-2-J7xa8z {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 680px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-19-W1XHBj {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-9-W1XHBj {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-20-W1XHBj {
  background-color: transparent;
  cursor: pointer;
  height: 77px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-28-copy-3-J7xa8z {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 767px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-21-T6TwnZ {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-10-T6TwnZ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-22-T6TwnZ {
  background-color: transparent;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .descriptiontabletop-J7xa8z {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .group-7-J7xa8z {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-25PS90 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line-copy-4-25PS90 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-3-25PS90 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .group-35-RDmwEL {
  background-color: transparent;
  height: 762px;
  left: 1140px;
  position: absolute;
  top: 2074px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .group-34-E6OLWV {
  background-color: transparent;
  height: 706px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .group-27-MyJO3W {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 46px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-2-gdGsxs {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-11-gdGsxs {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-3-gdGsxs {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-26-MyJO3W {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 113px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-25-7QIEjy {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-12-7QIEjy {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-26-7QIEjy {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-25-MyJO3W {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 180px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-27-GgxPcG {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-13-GgxPcG {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-28-GgxPcG {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-16-MyJO3W {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 247px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-29-q3T0iq {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-14-q3T0iq {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-30-q3T0iq {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-17-MyJO3W {
  background-color: transparent;
  height: 191px;
  left: 0px;
  position: absolute;
  top: 314px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-31-XlLEDh {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-44-XlLEDh {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 67px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-15-XlLEDh {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-32-XlLEDh {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-43-XlLEDh {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 67px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-46-XlLEDh {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 134px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-45-XlLEDh {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 134px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-28-MyJO3W {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 515px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-34-Ddls3j {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-16-Ddls3j {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-35-Ddls3j {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-28-copy-MyJO3W {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 582px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-36-HnX3Er {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-17-HnX3Er {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-37-HnX3Er {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-28-copy-2-MyJO3W {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 649px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-38-aLlxGf {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-18-aLlxGf {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-39-aLlxGf {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-7-MyJO3W {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-20-hXXL9n {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line-copy-5-hXXL9n {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-21-hXXL9n {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .descriptiontabletop-copy-E6OLWV {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .group-31-RDmwEL {
  background-color: transparent;
  height: 1235px;
  left: 380px;
  position: absolute;
  top: 2074px;
  width: 710px;
}

.servicepluginmaintenancefeefeature .group-33-RDmwEL {
  background-color: transparent;
  height: 393px;
  left: 1141px;
  position: absolute;
  top: 2936px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .group-11-RDmwEL {
  background-color: transparent;
  height: 495px;
  left: 1140px;
  position: absolute;
  top: 3479px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .descriptiontabletop-copy-3-sm0nSx {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .group-27-copy-sm0nSx {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-4-G4yZO6 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-26-G4yZO6 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-50-G4yZO6 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-26-copy-sm0nSx {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-48-4xyOsZ {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-25-4xyOsZ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-49-4xyOsZ {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-25-copy-sm0nSx {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 237px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-41-exDlHs {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-24-exDlHs {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-47-exDlHs {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-16-copy-sm0nSx {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 304px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-33-udoWgL {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-19-udoWgL {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-40-udoWgL {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-16-copy-2-sm0nSx {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 371px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-51-Hxeudg {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-27-Hxeudg {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-52-Hxeudg {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-16-copy-3-sm0nSx {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 438px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-53-YdxnrF {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-28-YdxnrF {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-54-YdxnrF {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-7-copy-sm0nSx {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-22-q2RoUx {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line-copy-6-q2RoUx {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-23-q2RoUx {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .group-36-RDmwEL {
  background-color: transparent;
  height: 414px;
  left: 400px;
  position: absolute;
  top: 3479px;
  width: 690px;
}

.servicepluginmaintenancefeefeature .group-39-RDmwEL {
  background-color: transparent;
  height: 544px;
  left: 1140px;
  position: absolute;
  top: 4124px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .descriptiontabletop-copy-4-KVYhSe {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .group-27-copy-KVYhSe {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-55-HCY3W6 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-29-HCY3W6 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-56-HCY3W6 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-26-copy-KVYhSe {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-57-bUhI6W {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-30-bUhI6W {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-58-bUhI6W {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-25-copy-KVYhSe {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 237px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-59-2G2z09 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-31-2G2z09 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-60-2G2z09 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-16-copy-KVYhSe {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 304px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-61-EoBkBL {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-32-EoBkBL {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-62-EoBkBL {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-40-KVYhSe {
  background-color: transparent;
  height: 173px;
  left: 0px;
  position: absolute;
  top: 371px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-63-2WE2TS {
  background-color: transparent;
  height: 79px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text1line-copy-33-2WE2TS {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-64-2WE2TS {
  background-color: transparent;
  cursor: pointer;
  height: 84px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-65-2WE2TS {
  background-color: transparent;
  height: 59px;
  left: 410px;
  position: absolute;
  top: 94px;
  width: 270px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_m-copy-66-2WE2TS {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 94px;
  width: 340px;
}

.servicepluginmaintenancefeefeature .group-7-copy-KVYhSe {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .group-38-RDmwEL {
  background-color: transparent;
  height: 418px;
  left: 400px;
  position: absolute;
  top: 4124px;
  width: 690px;
}

.servicepluginmaintenancefeefeature .group-30-RDmwEL {
  background-color: transparent;
  height: 392px;
  left: 1141px;
  position: absolute;
  top: 1266px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .group-45-RDmwEL {
  background-color: transparent;
  height: 323px;
  left: 1140px;
  position: absolute;
  top: 5345px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .web-sub_-title-RDmwEL {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginmaintenancefeefeature .web-title-area-RDmwEL {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginmaintenancefeefeature .web-tab-service-plug-in_-maintenance-fee-RDmwEL {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginmaintenancefeefeature .x3rd-depth-yTIYh5 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginmaintenancefeefeature .tab-AraOJM {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginmaintenancefeefeature .card-7dwbmL {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginmaintenancefeefeature .feature-7dwbmL {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginmaintenancefeefeature .lnb-service-plug-in-RDmwEL {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginmaintenancefeefeature .rectangle-2fIpag {
  background-color: var(--concrete);
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginmaintenancefeefeature .lnb-2fIpag {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginmaintenancefeefeature .stacked-group-SADRKx {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginmaintenancefeefeature .web-index-title-common-copy-w8ikzi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .web-index-contents1dpeth_close-w8ikzi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .web-index-contents1dpeth_close-so1kVm {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .web-index-contents1dpeth_close-oNrFqJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .web-index-contents1dpeth_close-BLHejE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .web-index-contents1dpeth_close-IzZLHf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .group-copy-w8ikzi {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .empty-copy-W9rbar {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginmaintenancefeefeature .line-copy-2-W9rbar {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginmaintenancefeefeature .empty-copy-2-W9rbar {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginmaintenancefeefeature .web-index-title-common-w8ikzi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .web-index-contents1dpeth_close-ZfAsME {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .web-index-contents1dpeth_open_selected-w8ikzi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .web-index-contents2dpeth-copy-2-w8ikzi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .web-index-contents2dpeth-w8ikzi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .web-index-contents2dpeth-so1kVm {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .web-index-contents2dpeth-oNrFqJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .web-index-contents2dpeth-BLHejE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .web-index-contents2dpeth-IzZLHf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .web-index-contents2dpeth-ZfAsME {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .web-index-contents2dpeth-AljC8n {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .web-index-contents2dpeth-5Swlvj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .web-index-contents2dpeth-hekskv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .web-index-contents2dpeth-copy-w8ikzi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .web-index-contents2dpeth-C8tvCE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .group-w8ikzi {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .empty-u1M89a {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginmaintenancefeefeature .line-copy-u1M89a {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginmaintenancefeefeature .empty-UowxHH {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginmaintenancefeefeature .web-index-title-common-so1kVm {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .line-SADRKx {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginmaintenancefeefeature .home-net-gui-guidelin-SADRKx {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginmaintenancefeefeature .webgnb-RDmwEL {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginmaintenancefeefeature .rectangle-Z3RYCL {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginmaintenancefeefeature .background-Z3RYCL {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginmaintenancefeefeature .index-Z3RYCL {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 128px;
}

.servicepluginmaintenancefeefeature .web-index-select-QLNLjt {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginmaintenancefeefeature .web-index-unselect-QLNLjt {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 96px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginmaintenancefeefeature .web-index-unelect_main-Z3RYCL {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginmaintenancefeefeature .logo-lEob3a {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
