/* screen - servicefeatureservicefeaturetypesdropdwonagraph */

.servicefeatureservicefeaturetypesdropdwonagraph {
  background-color: var(--white);
  height: 2610px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .optional-text-61BmoA {
  background-color: transparent;
  height: 17px;
  left: 421px;
  position: absolute;
  top: 989px;
  width: 92px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-22-61BmoA {
  background-color: transparent;
  height: 72px;
  left: 420px;
  position: absolute;
  top: 1126px;
  width: 670px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-23-61BmoA {
  background-color: transparent;
  height: 215px;
  left: 352px;
  position: absolute;
  top: 1456px;
  width: 506px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-18-61BmoA {
  background-color: transparent;
  height: 132px;
  left: 352px;
  position: absolute;
  top: 1224px;
  width: 500px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-7-61BmoA {
  background-color: transparent;
  height: 589px;
  left: 419px;
  position: absolute;
  top: 1821px;
  width: 670px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-5-61BmoA {
  background-color: transparent;
  height: 596px;
  left: 380px;
  position: absolute;
  top: 343px;
  width: 710px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-21-61BmoA {
  background-color: transparent;
  height: 447px;
  left: 1140px;
  position: absolute;
  top: 343px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-19-jYyIfz {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-QOVi5p {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-QOVi5p {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-UJKzpp {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-14-jYyIfz {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 256px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-L1fTqC {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-L1fTqC {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-O6s6sq {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-8-jYyIfz {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 323px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-jwytHy {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-jwytHy {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-dNDafp {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-jYyIfz {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 390px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-copy-8Oxkmn {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-copy-8Oxkmn {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-copy-2-8Oxkmn {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-20-jYyIfz {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-cwlPOr {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-cwlPOr {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-VfbvFQ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-17-jYyIfz {
  background-color: transparent;
  height: 76px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-shShxk {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line-shShxk {
  background-color: transparent;
  cursor: pointer;
  height: 76px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-6YTsYl {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .descriptiontabletop-jYyIfz {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-13-61BmoA {
  background-color: transparent;
  height: 189px;
  left: 1140px;
  position: absolute;
  top: 1126px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-10-61BmoA {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 1821px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-16-pgMcib {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line_m-copy-3-tbi8Dq {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-copy-3-tbi8Dq {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line_m-copy-2-tbi8Dq {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .descriptiontabletop-copy-pgMcib {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-11-61BmoA {
  background-color: transparent;
  height: 256px;
  left: 1140px;
  position: absolute;
  top: 1415px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-sub_-title-61BmoA {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 285px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-title-area-61BmoA {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 65px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-tab-favorite-car-61BmoA {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .x3rd-depth-5dnb8R {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .tab-5dnb8R {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.servicefeatureservicefeaturetypesdropdwonagraph .service-feature-type-0A88MT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 130px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .service-feature-type-759Qfx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 26px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .list-0A88MT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 23px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .dropdown-list-0A88MT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .dropdwon-graph-copy-0A88MT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 117px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .info-text-graph-0A88MT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 104px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .graph-rule-0A88MT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .media-0A88MT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .lnb-favorite-card-61BmoA {
  background-color: transparent;
  height: 804px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-Auwr8U {
  background-color: var(--concrete);
  height: 804px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .background-Auwr8U {
  background-color: var(--concrete);
  height: 717px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .stacked-group-Auwr8U {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-title-common-n2pLzv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-contents1dpeth_close-n2pLzv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-contents1dpeth_close-9PAPHD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-contents1dpeth_close-8NPOHg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-contents1dpeth_close-9HG7UC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-contents1dpeth_open_selected-n2pLzv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-contents2dpeth-n2pLzv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-contents2dpeth-9PAPHD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-copy-n2pLzv {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .empty-copy-4gH67r {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .line-copy-2-4gH67r {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .empty-copy-2-4gH67r {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-title-common-copy-n2pLzv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-contents1dpeth_close-0G4kWD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-contents1dpeth_close-EXHdDa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-n2pLzv {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .empty-wY7mD8 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .line-copy-wY7mD8 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .empty-w1eVZi {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-title-common-9PAPHD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .line-Auwr8U {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .home-net-gui-guidelin-Auwr8U {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .webgnb-61BmoA {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-41agsY {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .background-41agsY {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .index-41agsY {
  background-color: transparent;
  height: 28px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-select-9Ml5bc {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-unselect-9Ml5bc {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-unelect_main-41agsY {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .logo-MTmCxM {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
