/* screen - serviceplugincctvfeaturelist */

.serviceplugincctvfeaturelist {
  background-color: var(--white);
  height: 2245px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.serviceplugincctvfeaturelist .group-8-sFqQMd {
  background-color: transparent;
  height: 113px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.serviceplugincctvfeaturelist .group-14-WLdkfB {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.serviceplugincctvfeaturelist .table-guide-text1line-FYKmok {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.serviceplugincctvfeaturelist .table-guide-text2line_m-FYKmok {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.serviceplugincctvfeaturelist .table-guide-text2line_m-3RKWnL {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.serviceplugincctvfeaturelist .descriptiontabletop-WLdkfB {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.serviceplugincctvfeaturelist .group-10-sFqQMd {
  background-color: transparent;
  height: 165px;
  left: 1140px;
  position: absolute;
  top: 1362px;
  width: 680px;
}

.serviceplugincctvfeaturelist .group-6-lisOx6 {
  background-color: transparent;
  height: 109px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.serviceplugincctvfeaturelist .table-guide-text1line-60omKA {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.serviceplugincctvfeaturelist .group-2-60omKA {
  background-color: transparent;
  height: 109px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.serviceplugincctvfeaturelist .table-guide-text2line_m-10eC2z {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.serviceplugincctvfeaturelist .group-3-10eC2z {
  background-color: transparent;
  height: 40px;
  left: 6px;
  position: absolute;
  top: 69px;
  width: 40px;
}

.serviceplugincctvfeaturelist .table-guide-text2line_m-60omKA {
  background-color: transparent;
  height: 59px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.serviceplugincctvfeaturelist .descriptiontabletop-lisOx6 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.serviceplugincctvfeaturelist .group-sFqQMd {
  background-color: transparent;
  height: 870px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.serviceplugincctvfeaturelist .group-5-sFqQMd {
  background-color: transparent;
  height: 683px;
  left: 420px;
  position: absolute;
  top: 1362px;
  width: 670px;
}

.serviceplugincctvfeaturelist .web-sub_-title-sFqQMd {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.serviceplugincctvfeaturelist .web-title-area-sFqQMd {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.serviceplugincctvfeaturelist .web-tab-service-plug-in_cctv-sFqQMd {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.serviceplugincctvfeaturelist .x3rd-depth-QNtgop {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.serviceplugincctvfeaturelist .tab-jxVaGJ {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.serviceplugincctvfeaturelist .card-PCArx6 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.serviceplugincctvfeaturelist .feature-_-list-PCArx6 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 85px;
}

.serviceplugincctvfeaturelist .feature-_-list-det-PCArx6 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 132px;
}

.serviceplugincctvfeaturelist .feature-detail-PCArx6 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 95px;
}

.serviceplugincctvfeaturelist .lnb-service-plug-in-sFqQMd {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugincctvfeaturelist .rectangle-Cl5nPo {
  background-color: var(--concrete);
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugincctvfeaturelist .lnb-Cl5nPo {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugincctvfeaturelist .stacked-group-8XZAWO {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.serviceplugincctvfeaturelist .web-index-title-common-copy-Nd10II {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelist .web-index-contents1dpeth_close-Nd10II {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelist .web-index-contents1dpeth_close-wMGbOd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelist .web-index-contents1dpeth_close-yPPdD9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelist .web-index-contents1dpeth_close-FDnxsS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelist .web-index-contents1dpeth_close-aKUjfJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelist .group-copy-Nd10II {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelist .empty-copy-eS09xq {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.serviceplugincctvfeaturelist .line-copy-2-eS09xq {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.serviceplugincctvfeaturelist .empty-copy-2-eS09xq {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugincctvfeaturelist .web-index-title-common-Nd10II {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelist .web-index-contents1dpeth_close-jRUTqi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelist .web-index-contents1dpeth_open_selected-Nd10II {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelist .web-index-contents2dpeth-copy-2-Nd10II {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelist .web-index-contents2dpeth-Nd10II {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelist .web-index-contents2dpeth-wMGbOd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelist .web-index-contents2dpeth-yPPdD9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelist .web-index-contents2dpeth-FDnxsS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelist .web-index-contents2dpeth-aKUjfJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelist .web-index-contents2dpeth-jRUTqi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelist .web-index-contents2dpeth-SxLiF5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelist .web-index-contents2dpeth-hbol4z {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelist .web-index-contents2dpeth-vrmI3p {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelist .web-index-contents2dpeth-copy-Nd10II {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelist .web-index-contents2dpeth-cL3CTC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelist .group-Nd10II {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelist .empty-HaEDnx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.serviceplugincctvfeaturelist .line-copy-HaEDnx {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.serviceplugincctvfeaturelist .empty-rG4W0j {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugincctvfeaturelist .web-index-title-common-wMGbOd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturelist .line-8XZAWO {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.serviceplugincctvfeaturelist .home-net-gui-guidelin-8XZAWO {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.serviceplugincctvfeaturelist .webgnb-sFqQMd {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.serviceplugincctvfeaturelist .rectangle-C2fJnn {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.serviceplugincctvfeaturelist .background-C2fJnn {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.serviceplugincctvfeaturelist .index-C2fJnn {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 128px;
}

.serviceplugincctvfeaturelist .web-index-select-8Ft4tO {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.serviceplugincctvfeaturelist .web-index-unselect-8Ft4tO {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 96px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.serviceplugincctvfeaturelist .web-index-unelect_main-C2fJnn {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.serviceplugincctvfeaturelist .logo-7Hxw5P {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
