/* screen - servicepluginenergyusagecard */

.servicepluginenergyusagecard {
  background-color: var(--white);
  height: 1886px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginenergyusagecard .group-5-DxSnLn {
  background-color: transparent;
  height: 572px;
  left: 380px;
  position: absolute;
  top: 342px;
  width: 710px;
}

.servicepluginenergyusagecard .group-6-DxSnLn {
  background-color: transparent;
  height: 622px;
  left: 380px;
  position: absolute;
  top: 1064px;
  width: 710px;
}

.servicepluginenergyusagecard .group-13-DxSnLn {
  background-color: transparent;
  height: 361px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.servicepluginenergyusagecard .group-3-aWpEte {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicepluginenergyusagecard .table-guide-text1line-9T54ND {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginenergyusagecard .table-guide-text2line-9T54ND {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagecard .table-guide-text1line-6NZUFB {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagecard .group-10-aWpEte {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.servicepluginenergyusagecard .table-guide-text1line-MTJM1Q {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginenergyusagecard .table-guide-text2line-MTJM1Q {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagecard .table-guide-text1line-55eu9i {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagecard .group-2-aWpEte {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 237px;
  width: 680px;
}

.servicepluginenergyusagecard .table-guide-text1line-w5wPdH {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginenergyusagecard .table-guide-text2line-w5wPdH {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagecard .table-guide-text1line-5fLDeI {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagecard .group-aWpEte {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 304px;
  width: 680px;
}

.servicepluginenergyusagecard .table-guide-text1line-nlLGn0 {
  background-color: transparent;
  height: 57px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginenergyusagecard .table-guide-text2line-nlLGn0 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagecard .table-guide-text1line-eyMAyb {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagecard .descriptiontabletop-aWpEte {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginenergyusagecard .group-7-aWpEte {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginenergyusagecard .table-guide-text1line-copy-bAWt9C {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginenergyusagecard .table-guide-text2line-copy-4-bAWt9C {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagecard .table-guide-text1line-copy-3-bAWt9C {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagecard .group-13-copy-DxSnLn {
  background-color: transparent;
  height: 361px;
  left: 1140px;
  position: absolute;
  top: 1064px;
  width: 680px;
}

.servicepluginenergyusagecard .group-3-n6jJYP {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicepluginenergyusagecard .table-guide-text1line-copy-2-AUAExy {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginenergyusagecard .table-guide-text2line-copy-AUAExy {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagecard .table-guide-text1line-copy-4-AUAExy {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagecard .group-10-n6jJYP {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.servicepluginenergyusagecard .table-guide-text1line-copy-5-raHx6e {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginenergyusagecard .table-guide-text2line-copy-2-raHx6e {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagecard .table-guide-text1line-copy-6-raHx6e {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagecard .group-2-n6jJYP {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 237px;
  width: 680px;
}

.servicepluginenergyusagecard .table-guide-text1line-copy-7-PqEjA9 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginenergyusagecard .table-guide-text2line-copy-3-PqEjA9 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagecard .table-guide-text1line-copy-8-PqEjA9 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagecard .group-n6jJYP {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 304px;
  width: 680px;
}

.servicepluginenergyusagecard .table-guide-text1line-copy-9-oSJO5x {
  background-color: transparent;
  height: 57px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginenergyusagecard .table-guide-text2line-copy-5-oSJO5x {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagecard .table-guide-text1line-copy-10-oSJO5x {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagecard .descriptiontabletop-copy-n6jJYP {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginenergyusagecard .group-7-n6jJYP {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginenergyusagecard .table-guide-text1line-copy-11-3waO9U {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginenergyusagecard .table-guide-text2line-copy-6-3waO9U {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginenergyusagecard .table-guide-text1line-copy-12-3waO9U {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagecard .web-sub_-title-DxSnLn {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginenergyusagecard .web-title-area-DxSnLn {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginenergyusagecard .web-tab-service-plug-DxSnLn {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginenergyusagecard .x3rd-depth-krxN6s {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginenergyusagecard .tab-1Yp9Ln {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginenergyusagecard .card-weu4PG {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginenergyusagecard .feature-weu4PG {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginenergyusagecard .lnb-service-plug-in-DxSnLn {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginenergyusagecard .rectangle-oJaDcF {
  background-color: var(--concrete);
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginenergyusagecard .lnb-oJaDcF {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginenergyusagecard .stacked-group-5abpwE {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginenergyusagecard .web-index-title-common-copy-q4dstv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .web-index-contents1dpeth_close-q4dstv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .web-index-contents1dpeth_close-VygiNH {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .web-index-contents1dpeth_close-xwFZo8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .web-index-contents1dpeth_close-VJ3Qu2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .web-index-contents1dpeth_close-xgFvhc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .group-copy-q4dstv {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .empty-copy-VkxuEY {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginenergyusagecard .line-copy-2-VkxuEY {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginenergyusagecard .empty-copy-2-VkxuEY {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginenergyusagecard .web-index-title-common-q4dstv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .web-index-contents1dpeth_close-w9BstJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .web-index-contents1dpeth_open_selected-q4dstv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .web-index-contents2dpeth-copy-2-q4dstv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .web-index-contents2dpeth-q4dstv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .web-index-contents2dpeth-VygiNH {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .web-index-contents2dpeth-xwFZo8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .web-index-contents2dpeth-VJ3Qu2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .web-index-contents2dpeth-xgFvhc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .web-index-contents2dpeth-w9BstJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .web-index-contents2dpeth-YxtcJu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .web-index-contents2dpeth-JKvzJK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .web-index-contents2dpeth-QccDpK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .web-index-contents2dpeth-copy-q4dstv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .web-index-contents2dpeth-DFLbcp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .group-q4dstv {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .empty-E4KdQ0 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginenergyusagecard .line-copy-E4KdQ0 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginenergyusagecard .empty-j9M7VZ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginenergyusagecard .web-index-title-common-VygiNH {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .line-5abpwE {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginenergyusagecard .home-net-gui-guidelin-5abpwE {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginenergyusagecard .webgnb-DxSnLn {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginenergyusagecard .rectangle-MnH8yO {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginenergyusagecard .background-MnH8yO {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginenergyusagecard .index-MnH8yO {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 128px;
}

.servicepluginenergyusagecard .web-index-select-UO2wAd {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginenergyusagecard .web-index-unselect-UO2wAd {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 96px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginenergyusagecard .web-index-unelect_main-MnH8yO {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginenergyusagecard .logo-gwQ9qf {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
