/* screen - serviceplugintutorialheaderappbar */

.serviceplugintutorialheaderappbar {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.serviceplugintutorialheaderappbar .group-2-O4zaFx {
  background-color: transparent;
  height: 227px;
  left: 359px;
  position: absolute;
  top: 342px;
  width: 731px;
}

.serviceplugintutorialheaderappbar .group-5-O4zaFx {
  background-color: transparent;
  height: 165px;
  left: 1140px;
  position: absolute;
  top: 312px;
  width: 680px;
}

.serviceplugintutorialheaderappbar .group-6-O4zaFx {
  background-color: transparent;
  height: 116px;
  left: 1140px;
  position: absolute;
  top: 577px;
  width: 680px;
}

.serviceplugintutorialheaderappbar .web-sub_-title-O4zaFx {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.serviceplugintutorialheaderappbar .web-title-area-O4zaFx {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.serviceplugintutorialheaderappbar .web-tab-service-plug-in_-home-screen-O4zaFx {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.serviceplugintutorialheaderappbar .x3rd-depth-0JtCdC {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.serviceplugintutorialheaderappbar .tab-vv2prk {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.serviceplugintutorialheaderappbar .key-screen-YLZitJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 66px;
}

.serviceplugintutorialheaderappbar .header_-app-bar-YLZitJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 107px;
}

.serviceplugintutorialheaderappbar .card-copy-YLZitJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 29px;
}

.serviceplugintutorialheaderappbar .service-title-copy-YLZitJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 76px;
}

.serviceplugintutorialheaderappbar .bottom-buttons-YLZitJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.serviceplugintutorialheaderappbar .lnb-service-plug-in-O4zaFx {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugintutorialheaderappbar .rectangle-9HxO5J {
  background-color: var(--concrete);
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugintutorialheaderappbar .lnb-9HxO5J {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugintutorialheaderappbar .stacked-group-L3G9sx {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.serviceplugintutorialheaderappbar .web-index-title-common-copy-3hWacL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialheaderappbar .web-index-contents1dpeth_close-3hWacL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialheaderappbar .web-index-contents1dpeth_close-niakbj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialheaderappbar .web-index-contents1dpeth_close-UUHK7o {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialheaderappbar .web-index-contents1dpeth_close-Y4cF7a {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialheaderappbar .web-index-contents1dpeth_close-n2grQA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialheaderappbar .group-copy-3hWacL {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialheaderappbar .empty-copy-nYgbHc {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.serviceplugintutorialheaderappbar .line-copy-2-nYgbHc {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.serviceplugintutorialheaderappbar .empty-copy-2-nYgbHc {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugintutorialheaderappbar .web-index-title-common-3hWacL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialheaderappbar .web-index-contents1dpeth_close-JcSPf5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialheaderappbar .web-index-contents1dpeth_open_selected-3hWacL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialheaderappbar .web-index-contents2dpeth-copy-2-3hWacL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialheaderappbar .web-index-contents2dpeth-3hWacL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialheaderappbar .web-index-contents2dpeth-niakbj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialheaderappbar .web-index-contents2dpeth-UUHK7o {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialheaderappbar .web-index-contents2dpeth-Y4cF7a {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialheaderappbar .web-index-contents2dpeth-n2grQA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialheaderappbar .web-index-contents2dpeth-JcSPf5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialheaderappbar .web-index-contents2dpeth-0texck {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialheaderappbar .web-index-contents2dpeth-n9wmy5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialheaderappbar .web-index-contents2dpeth-AVJmKr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialheaderappbar .web-index-contents2dpeth-copy-3hWacL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialheaderappbar .web-index-contents2dpeth-Clgy62 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialheaderappbar .group-3hWacL {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialheaderappbar .empty-3zdsnQ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.serviceplugintutorialheaderappbar .line-copy-3zdsnQ {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.serviceplugintutorialheaderappbar .empty-7UsTjz {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugintutorialheaderappbar .web-index-title-common-niakbj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialheaderappbar .line-L3G9sx {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.serviceplugintutorialheaderappbar .home-net-gui-guidelin-L3G9sx {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.serviceplugintutorialheaderappbar .webgnb-O4zaFx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.serviceplugintutorialheaderappbar .rectangle-UFyJYW {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.serviceplugintutorialheaderappbar .background-UFyJYW {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.serviceplugintutorialheaderappbar .index-UFyJYW {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.serviceplugintutorialheaderappbar .web-index-select-FxbSoJ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.serviceplugintutorialheaderappbar .web-index-unselect-FxbSoJ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.serviceplugintutorialheaderappbar .web-index-unelect_main-UFyJYW {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.serviceplugintutorialheaderappbar .logo-zVFjq0 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
