/* screen - serviceplugintutorialservicetitle */

.serviceplugintutorialservicetitle {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.serviceplugintutorialservicetitle .group-2-yF5iSn {
  background-color: transparent;
  height: 288px;
  left: 419px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.serviceplugintutorialservicetitle .group-6-yF5iSn {
  background-color: transparent;
  height: 186px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.serviceplugintutorialservicetitle .web-sub_-title-yF5iSn {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.serviceplugintutorialservicetitle .web-title-area-yF5iSn {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.serviceplugintutorialservicetitle .web-tab-service-plug-in_-home-screen-yF5iSn {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.serviceplugintutorialservicetitle .x3rd-depth-v5iAl6 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.serviceplugintutorialservicetitle .tab-f1GFx4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.serviceplugintutorialservicetitle .key-screen-wTbrbm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 66px;
}

.serviceplugintutorialservicetitle .header_-app-bar-wTbrbm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 107px;
}

.serviceplugintutorialservicetitle .card-copy-wTbrbm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 29px;
}

.serviceplugintutorialservicetitle .service-title-copy-wTbrbm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 76px;
}

.serviceplugintutorialservicetitle .bottom-buttons-wTbrbm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.serviceplugintutorialservicetitle .lnb-service-plug-in-yF5iSn {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugintutorialservicetitle .rectangle-e1E87Q {
  background-color: var(--concrete);
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugintutorialservicetitle .lnb-e1E87Q {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugintutorialservicetitle .stacked-group-q1NGq9 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-title-common-copy-SDY3Gd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-contents1dpeth_close-SDY3Gd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-contents1dpeth_close-V1aEHB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-contents1dpeth_close-RqMHop {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-contents1dpeth_close-5qAqen {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-contents1dpeth_close-hnLh78 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .group-copy-SDY3Gd {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .empty-copy-uFuZnO {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.serviceplugintutorialservicetitle .line-copy-2-uFuZnO {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.serviceplugintutorialservicetitle .empty-copy-2-uFuZnO {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-title-common-SDY3Gd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-contents1dpeth_close-x4yyui {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-contents1dpeth_open_selected-SDY3Gd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-contents2dpeth-copy-2-SDY3Gd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-contents2dpeth-SDY3Gd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-contents2dpeth-V1aEHB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-contents2dpeth-RqMHop {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-contents2dpeth-5qAqen {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-contents2dpeth-hnLh78 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-contents2dpeth-x4yyui {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-contents2dpeth-KcQZ9X {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-contents2dpeth-bv4DjP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-contents2dpeth-RDR5zK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-contents2dpeth-copy-SDY3Gd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-contents2dpeth-MTf4xF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .group-SDY3Gd {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .empty-0yxX2S {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.serviceplugintutorialservicetitle .line-copy-0yxX2S {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.serviceplugintutorialservicetitle .empty-1CaQPx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-title-common-V1aEHB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .line-q1NGq9 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.serviceplugintutorialservicetitle .home-net-gui-guidelin-q1NGq9 {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.serviceplugintutorialservicetitle .webgnb-yF5iSn {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.serviceplugintutorialservicetitle .rectangle-KhsyyW {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.serviceplugintutorialservicetitle .background-KhsyyW {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.serviceplugintutorialservicetitle .index-KhsyyW {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.serviceplugintutorialservicetitle .web-index-select-y1265v {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.serviceplugintutorialservicetitle .web-index-unselect-y1265v {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.serviceplugintutorialservicetitle .web-index-unelect_main-KhsyyW {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.serviceplugintutorialservicetitle .logo-YCHIWl {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
