/* screen - servicepluginreservevisitorvehiclecard */

.servicepluginreservevisitorvehiclecard {
  background-color: var(--white);
  height: 4617px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginreservevisitorvehiclecard .group-12-WyqC5G {
  background-color: transparent;
  height: 1224px;
  left: 380px;
  position: absolute;
  top: 1463px;
  width: 710px;
}

.servicepluginreservevisitorvehiclecard .group-14-WyqC5G {
  background-color: transparent;
  height: 916px;
  left: 380px;
  position: absolute;
  top: 2837px;
  width: 710px;
}

.servicepluginreservevisitorvehiclecard .group-15-WyqC5G {
  background-color: transparent;
  height: 403px;
  left: 380px;
  position: absolute;
  top: 3903px;
  width: 710px;
}

.servicepluginreservevisitorvehiclecard .group-22-WyqC5G {
  background-color: transparent;
  height: 388px;
  left: 1140px;
  position: absolute;
  top: 1463px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .group-21-7c1m4S {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text1line-biRUGf {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-biRUGf {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-Ky1ptQ {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclecard .group-20-7c1m4S {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-ZBWOjz {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text1line-ZBWOjz {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-ZBWOjz {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclecard .group-16-7c1m4S {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-3-ZNnEpx {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text1line-ZNnEpx {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-ZNnEpx {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclecard .group-4-7c1m4S {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 351px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-5-YfYfN4 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text1line-copy-2-YfYfN4 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-4-YfYfN4 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclecard .group-7-7c1m4S {
  background-color: transparent;
  height: 104px;
  left: 0px;
  position: absolute;
  top: 237px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text1line-copy-8Lc6RV {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-2-8Lc6RV {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-8-8Lc6RV {
  background-color: transparent;
  height: 104px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclecard .descriptiontabletop-7c1m4S {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .group-22-copy-WyqC5G {
  background-color: transparent;
  height: 341px;
  left: 1140px;
  position: absolute;
  top: 2245px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .group-21-oMyOHh {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text1line-copy-3-O4W4At {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-6-O4W4At {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-9-O4W4At {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclecard .group-20-oMyOHh {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-10-2eMySx {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text1line-copy-4-2eMySx {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-11-2eMySx {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclecard .group-16-oMyOHh {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-12-g4AUt5 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text1line-copy-5-g4AUt5 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-13-g4AUt5 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclecard .group-7-oMyOHh {
  background-color: transparent;
  height: 104px;
  left: 0px;
  position: absolute;
  top: 237px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text1line-copy-7-FlsyoC {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-16-FlsyoC {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-17-FlsyoC {
  background-color: transparent;
  height: 104px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclecard .descriptiontabletop-copy-oMyOHh {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .group-22-copy-2-WyqC5G {
  background-color: transparent;
  height: 294px;
  left: 1140px;
  position: absolute;
  top: 2837px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .group-21-TvR4VZ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text1line-copy-6-n7JbAd {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-14-n7JbAd {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-15-n7JbAd {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclecard .group-20-TvR4VZ {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-18-xexaqz {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text1line-copy-8-xexaqz {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-19-xexaqz {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclecard .group-16-TvR4VZ {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-20-XHTxeD {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text1line-copy-9-XHTxeD {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-21-XHTxeD {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclecard .group-7-TvR4VZ {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 237px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text1line-copy-10-4f88jc {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-22-4f88jc {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-23-4f88jc {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclecard .descriptiontabletop-copy-2-TvR4VZ {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .group-22-copy-3-WyqC5G {
  background-color: transparent;
  height: 294px;
  left: 1140px;
  position: absolute;
  top: 3903px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .group-21-uif7av {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text1line-copy-11-Pj7PCS {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-24-Pj7PCS {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-25-Pj7PCS {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclecard .group-20-uif7av {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-26-2KCSUM {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text1line-copy-12-2KCSUM {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-27-2KCSUM {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclecard .group-16-uif7av {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-28-QoEfxv {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text1line-copy-13-QoEfxv {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-29-QoEfxv {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclecard .group-7-uif7av {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 237px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text1line-copy-14-yanV0P {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-30-yanV0P {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_m-copy-31-yanV0P {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclecard .descriptiontabletop-copy-3-uif7av {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .group-5-WyqC5G {
  background-color: transparent;
  height: 194px;
  left: 1141px;
  position: absolute;
  top: 1951px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .group-3-WyqC5G {
  background-color: transparent;
  height: 120px;
  left: 1140px;
  position: absolute;
  top: 4297px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .group-6-WyqC5G {
  background-color: transparent;
  height: 971px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1208px;
}

.servicepluginreservevisitorvehiclecard .web-sub_-title-WyqC5G {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginreservevisitorvehiclecard .web-title-area-WyqC5G {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginreservevisitorvehiclecard .web-tab-service-plug-in_cctv-WyqC5G {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginreservevisitorvehiclecard .x3rd-depth-2Jquze {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginreservevisitorvehiclecard .tab-OcD3V2 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginreservevisitorvehiclecard .card-0cHTQc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginreservevisitorvehiclecard .feature-0cHTQc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginreservevisitorvehiclecard .feature-register-0cHTQc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 112px;
}

.servicepluginreservevisitorvehiclecard .feature-informatio-0cHTQc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 131px;
}

.servicepluginreservevisitorvehiclecard .pop-up-0cHTQc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.servicepluginreservevisitorvehiclecard .pop-up-detail-0cHTQc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 93px;
}

.servicepluginreservevisitorvehiclecard .feature-_-delete-lis-0cHTQc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 128px;
}

.servicepluginreservevisitorvehiclecard .lnb-service-plug-in-WyqC5G {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .rectangle-ci4N24 {
  background-color: var(--concrete);
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .lnb-ci4N24 {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .stacked-group-iNv3RS {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-title-common-copy-KndcQU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-contents1dpeth_close-KndcQU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-contents1dpeth_close-jeLDOe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-contents1dpeth_close-xnCgVF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-contents1dpeth_close-ye6MKT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-contents1dpeth_close-09IYJF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .group-copy-KndcQU {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .empty-copy-Qt5Dca {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .line-copy-2-Qt5Dca {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginreservevisitorvehiclecard .empty-copy-2-Qt5Dca {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-title-common-KndcQU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-contents1dpeth_close-0ffMrv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-contents1dpeth_open_selected-KndcQU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-contents2dpeth-copy-2-KndcQU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-contents2dpeth-KndcQU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-contents2dpeth-jeLDOe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-contents2dpeth-xnCgVF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-contents2dpeth-ye6MKT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-contents2dpeth-09IYJF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-contents2dpeth-0ffMrv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-contents2dpeth-AZts9R {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-contents2dpeth-TuGxg9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-contents2dpeth-v7aS0o {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-contents2dpeth-copy-KndcQU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-contents2dpeth-ugxjPP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .group-KndcQU {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .empty-Es7Sur {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .line-copy-Es7Sur {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginreservevisitorvehiclecard .empty-yOvINA {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-title-common-jeLDOe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .line-iNv3RS {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginreservevisitorvehiclecard .home-net-gui-guidelin-iNv3RS {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginreservevisitorvehiclecard .webgnb-WyqC5G {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginreservevisitorvehiclecard .rectangle-dWSTXx {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginreservevisitorvehiclecard .background-dWSTXx {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginreservevisitorvehiclecard .index-dWSTXx {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 128px;
}

.servicepluginreservevisitorvehiclecard .web-index-select-0PqxLt {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginreservevisitorvehiclecard .web-index-unselect-0PqxLt {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 96px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginreservevisitorvehiclecard .web-index-unelect_main-dWSTXx {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginreservevisitorvehiclecard .logo-sNrX70 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
