/* screen - servicefeatureservicefeaturetypesinfotextgraph */

.servicefeatureservicefeaturetypesinfotextgraph {
  background-color: var(--white);
  height: 1794px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicefeatureservicefeaturetypesinfotextgraph .group-4-f6jIuS {
  background-color: transparent;
  height: 551px;
  left: 380px;
  position: absolute;
  top: 343px;
  width: 710px;
}

.servicefeatureservicefeaturetypesinfotextgraph .group-5-f6jIuS {
  background-color: transparent;
  height: 550px;
  left: 374px;
  position: absolute;
  top: 1044px;
  width: 716px;
}

.servicefeatureservicefeaturetypesinfotextgraph .group-8-f6jIuS {
  background-color: transparent;
  height: 313px;
  left: 1140px;
  position: absolute;
  top: 343px;
  width: 680px;
}

.servicefeatureservicefeaturetypesinfotextgraph .group-7-S4GGxK {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.servicefeatureservicefeaturetypesinfotextgraph .table-guide-text1line-IS5fGq {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeatureservicefeaturetypesinfotextgraph .table-guide-text2line-IS5fGq {
  background-color: transparent;
  cursor: pointer;
  height: 56px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicefeatureservicefeaturetypesinfotextgraph .table-guide-text1line-D9wtCu {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesinfotextgraph .group-14-S4GGxK {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 256px;
  width: 680px;
}

.servicefeatureservicefeaturetypesinfotextgraph .table-guide-text1line-mZxBYt {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeatureservicefeaturetypesinfotextgraph .table-guide-text2line-mZxBYt {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicefeatureservicefeaturetypesinfotextgraph .table-guide-text1line-yAxZZp {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesinfotextgraph .group-20-S4GGxK {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicefeatureservicefeaturetypesinfotextgraph .table-guide-text1line-BwsjHR {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeatureservicefeaturetypesinfotextgraph .table-guide-text2line-BwsjHR {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicefeatureservicefeaturetypesinfotextgraph .table-guide-text1line-35TFIi {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesinfotextgraph .group-17-S4GGxK {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 189px;
  width: 680px;
}

.servicefeatureservicefeaturetypesinfotextgraph .table-guide-text1line-PfGZue {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeatureservicefeaturetypesinfotextgraph .table-guide-text2line-PfGZue {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicefeatureservicefeaturetypesinfotextgraph .table-guide-text1line-YgxWBj {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesinfotextgraph .descriptiontabletop-S4GGxK {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicefeatureservicefeaturetypesinfotextgraph .group-6-f6jIuS {
  background-color: transparent;
  height: 313px;
  left: 1140px;
  position: absolute;
  top: 1044px;
  width: 680px;
}

.servicefeatureservicefeaturetypesinfotextgraph .group-3-EdHgM9 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.servicefeatureservicefeaturetypesinfotextgraph .table-guide-text1line-copy-2-6PGyF9 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeatureservicefeaturetypesinfotextgraph .table-guide-text2line-copy-6PGyF9 {
  background-color: transparent;
  cursor: pointer;
  height: 56px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicefeatureservicefeaturetypesinfotextgraph .table-guide-text1line-copy-6PGyF9 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesinfotextgraph .group-14-copy-EdHgM9 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 256px;
  width: 680px;
}

.servicefeatureservicefeaturetypesinfotextgraph .table-guide-text1line-copy-8-bWHLy7 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeatureservicefeaturetypesinfotextgraph .table-guide-text2line-copy-4-bWHLy7 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicefeatureservicefeaturetypesinfotextgraph .table-guide-text1line-copy-9-bWHLy7 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesinfotextgraph .group-20-copy-EdHgM9 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicefeatureservicefeaturetypesinfotextgraph .table-guide-text1line-copy-6-ecM8mi {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeatureservicefeaturetypesinfotextgraph .table-guide-text2line-copy-3-ecM8mi {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicefeatureservicefeaturetypesinfotextgraph .table-guide-text1line-copy-7-ecM8mi {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesinfotextgraph .group-17-copy-EdHgM9 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 189px;
  width: 680px;
}

.servicefeatureservicefeaturetypesinfotextgraph .table-guide-text1line-copy-4-e14QdB {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeatureservicefeaturetypesinfotextgraph .table-guide-text2line-copy-2-e14QdB {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicefeatureservicefeaturetypesinfotextgraph .table-guide-text1line-copy-5-e14QdB {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesinfotextgraph .descriptiontabletop-copy-2-EdHgM9 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicefeatureservicefeaturetypesinfotextgraph .web-sub_-title-f6jIuS {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 285px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesinfotextgraph .web-title-area-f6jIuS {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 65px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesinfotextgraph .web-tab-favorite-car-f6jIuS {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesinfotextgraph .x3rd-depth-ukvPTl {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesinfotextgraph .tab-ukvPTl {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.servicefeatureservicefeaturetypesinfotextgraph .service-feature-type-djE699 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 130px;
}

.servicefeatureservicefeaturetypesinfotextgraph .service-feature-type-M8ydUK {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 26px;
}

.servicefeatureservicefeaturetypesinfotextgraph .list-djE699 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 23px;
}

.servicefeatureservicefeaturetypesinfotextgraph .dropdown-list-djE699 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicefeatureservicefeaturetypesinfotextgraph .dropdwon-graph-copy-djE699 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 117px;
}

.servicefeatureservicefeaturetypesinfotextgraph .info-text-graph-djE699 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicefeatureservicefeaturetypesinfotextgraph .graph-rule-djE699 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.servicefeatureservicefeaturetypesinfotextgraph .media-djE699 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 38px;
}

.servicefeatureservicefeaturetypesinfotextgraph .lnb-favorite-card-f6jIuS {
  background-color: transparent;
  height: 804px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesinfotextgraph .rectangle-sD2LZN {
  background-color: var(--concrete);
  height: 804px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesinfotextgraph .background-sD2LZN {
  background-color: var(--concrete);
  height: 717px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesinfotextgraph .stacked-group-sD2LZN {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicefeatureservicefeaturetypesinfotextgraph .web-index-title-common-2r8FmF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesinfotextgraph .web-index-contents1dpeth_close-2r8FmF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesinfotextgraph .web-index-contents1dpeth_close-b5U9Y9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesinfotextgraph .web-index-contents1dpeth_close-K17BkZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesinfotextgraph .web-index-contents1dpeth_close-D90ZwK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesinfotextgraph .web-index-contents1dpeth_open_selected-2r8FmF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesinfotextgraph .web-index-contents2dpeth-2r8FmF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesinfotextgraph .web-index-contents2dpeth-b5U9Y9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesinfotextgraph .group-copy-2r8FmF {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesinfotextgraph .empty-copy-SIeZ5y {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicefeatureservicefeaturetypesinfotextgraph .line-copy-2-SIeZ5y {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicefeatureservicefeaturetypesinfotextgraph .empty-copy-2-SIeZ5y {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesinfotextgraph .web-index-title-common-copy-2r8FmF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesinfotextgraph .web-index-contents1dpeth_close-4FzxRw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesinfotextgraph .web-index-contents1dpeth_close-RCCu6x {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesinfotextgraph .group-2r8FmF {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesinfotextgraph .empty-6xkStq {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicefeatureservicefeaturetypesinfotextgraph .line-copy-6xkStq {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicefeatureservicefeaturetypesinfotextgraph .empty-2oelGb {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesinfotextgraph .web-index-title-common-b5U9Y9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesinfotextgraph .line-sD2LZN {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicefeatureservicefeaturetypesinfotextgraph .home-net-gui-guidelin-sD2LZN {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicefeatureservicefeaturetypesinfotextgraph .webgnb-f6jIuS {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicefeatureservicefeaturetypesinfotextgraph .rectangle-xleazn {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicefeatureservicefeaturetypesinfotextgraph .background-xleazn {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicefeatureservicefeaturetypesinfotextgraph .index-xleazn {
  background-color: transparent;
  height: 28px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.servicefeatureservicefeaturetypesinfotextgraph .web-index-select-0tYx7v {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.servicefeatureservicefeaturetypesinfotextgraph .web-index-unselect-0tYx7v {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicefeatureservicefeaturetypesinfotextgraph .web-index-unelect_main-xleazn {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicefeatureservicefeaturetypesinfotextgraph .logo-zxwlKV {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
