/* screen - serviceplugintutorialbottombuttons */

.serviceplugintutorialbottombuttons {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.serviceplugintutorialbottombuttons .group-2-Dy01Vs {
  background-color: transparent;
  height: 472px;
  left: 352px;
  position: absolute;
  top: 342px;
  width: 738px;
}

.serviceplugintutorialbottombuttons .group-6-Dy01Vs {
  background-color: transparent;
  height: 203px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.serviceplugintutorialbottombuttons .web-sub_-title-Dy01Vs {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.serviceplugintutorialbottombuttons .web-title-area-Dy01Vs {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.serviceplugintutorialbottombuttons .web-tab-service-plug-in_-home-screen-Dy01Vs {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.serviceplugintutorialbottombuttons .x3rd-depth-91QxHo {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.serviceplugintutorialbottombuttons .tab-FeiTdR {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.serviceplugintutorialbottombuttons .key-screen-BdU5pI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 66px;
}

.serviceplugintutorialbottombuttons .header_-app-bar-BdU5pI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 107px;
}

.serviceplugintutorialbottombuttons .card-copy-BdU5pI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 29px;
}

.serviceplugintutorialbottombuttons .service-title-copy-BdU5pI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 76px;
}

.serviceplugintutorialbottombuttons .bottom-buttons-BdU5pI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 99px;
}

.serviceplugintutorialbottombuttons .lnb-service-plug-in-Dy01Vs {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugintutorialbottombuttons .rectangle-BAYmCc {
  background-color: var(--concrete);
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugintutorialbottombuttons .lnb-BAYmCc {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugintutorialbottombuttons .stacked-group-SDxfjf {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.serviceplugintutorialbottombuttons .web-index-title-common-copy-T8KSq2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialbottombuttons .web-index-contents1dpeth_close-T8KSq2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialbottombuttons .web-index-contents1dpeth_close-vOvxwv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialbottombuttons .web-index-contents1dpeth_close-bAbzZj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialbottombuttons .web-index-contents1dpeth_close-hIR6gU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialbottombuttons .web-index-contents1dpeth_close-eq70HY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialbottombuttons .group-copy-T8KSq2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialbottombuttons .empty-copy-duEBYi {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.serviceplugintutorialbottombuttons .line-copy-2-duEBYi {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.serviceplugintutorialbottombuttons .empty-copy-2-duEBYi {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugintutorialbottombuttons .web-index-title-common-T8KSq2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialbottombuttons .web-index-contents1dpeth_close-V1EfZV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialbottombuttons .web-index-contents1dpeth_open_selected-T8KSq2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialbottombuttons .web-index-contents2dpeth-copy-2-T8KSq2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialbottombuttons .web-index-contents2dpeth-T8KSq2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialbottombuttons .web-index-contents2dpeth-vOvxwv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialbottombuttons .web-index-contents2dpeth-bAbzZj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialbottombuttons .web-index-contents2dpeth-hIR6gU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialbottombuttons .web-index-contents2dpeth-eq70HY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialbottombuttons .web-index-contents2dpeth-V1EfZV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialbottombuttons .web-index-contents2dpeth-GLC4cF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialbottombuttons .web-index-contents2dpeth-e4psxh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialbottombuttons .web-index-contents2dpeth-NdZt55 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialbottombuttons .web-index-contents2dpeth-copy-T8KSq2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialbottombuttons .web-index-contents2dpeth-hfsFTf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialbottombuttons .group-T8KSq2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialbottombuttons .empty-7vMOy0 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.serviceplugintutorialbottombuttons .line-copy-7vMOy0 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.serviceplugintutorialbottombuttons .empty-xkdgCI {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugintutorialbottombuttons .web-index-title-common-vOvxwv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialbottombuttons .line-SDxfjf {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.serviceplugintutorialbottombuttons .home-net-gui-guidelin-SDxfjf {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.serviceplugintutorialbottombuttons .webgnb-Dy01Vs {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.serviceplugintutorialbottombuttons .rectangle-9LuUuJ {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.serviceplugintutorialbottombuttons .background-9LuUuJ {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.serviceplugintutorialbottombuttons .index-9LuUuJ {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.serviceplugintutorialbottombuttons .web-index-select-gDPg7E {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.serviceplugintutorialbottombuttons .web-index-unselect-gDPg7E {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.serviceplugintutorialbottombuttons .web-index-unelect_main-9LuUuJ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.serviceplugintutorialbottombuttons .logo-pFqDWk {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
