/* screen - servicepluginvisitorspopup */

.servicepluginvisitorspopup {
  background-color: var(--white);
  height: 3800px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginvisitorspopup .group-28-rnE1r3 {
  background-color: transparent;
  height: 194px;
  left: 400px;
  position: absolute;
  top: 3289px;
  width: 690px;
}

.servicepluginvisitorspopup .group-29-rnE1r3 {
  background-color: transparent;
  height: 1731px;
  left: 378px;
  position: absolute;
  top: 1408px;
  width: 712px;
}

.servicepluginvisitorspopup .group-14-rnE1r3 {
  background-color: transparent;
  height: 194px;
  left: 1140px;
  position: absolute;
  top: 1643px;
  width: 680px;
}

.servicepluginvisitorspopup .group-10-rnE1r3 {
  background-color: transparent;
  height: 433px;
  left: 1140px;
  position: absolute;
  top: 2133px;
  width: 680px;
}

.servicepluginvisitorspopup .group-8-rnE1r3 {
  background-color: transparent;
  height: 311px;
  left: 1140px;
  position: absolute;
  top: 3289px;
  width: 680px;
}

.servicepluginvisitorspopup .group-9-rnE1r3 {
  background-color: transparent;
  height: 135px;
  left: 1140px;
  position: absolute;
  top: 1408px;
  width: 680px;
}

.servicepluginvisitorspopup .group-copy-2-KK13ce {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginvisitorspopup .table-guide-text2line_m-copy-ozkln4 {
  background-color: transparent;
  height: 59px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvisitorspopup .table-guide-text1line-ozkln4 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvisitorspopup .table-guide-text2line_m-ozkln4 {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvisitorspopup .descriptiontabletop-KK13ce {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginvisitorspopup .group-22-rnE1r3 {
  background-color: transparent;
  height: 866px;
  left: 419px;
  position: absolute;
  top: 342px;
  width: 1280px;
}

.servicepluginvisitorspopup .web-sub_-title-rnE1r3 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginvisitorspopup .web-title-area-rnE1r3 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginvisitorspopup .web-tab-service-plug-in_-visitors-rnE1r3 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginvisitorspopup .x3rd-depth-ztsNRo {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginvisitorspopup .tab-YSHYD8 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginvisitorspopup .card-XHzL0F {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginvisitorspopup .pop-up-XHzL0F {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 43px;
}

.servicepluginvisitorspopup .feature-copy-XHzL0F {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginvisitorspopup .feature_-list-XHzL0F {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 78px;
}

.servicepluginvisitorspopup .lnb-service-plug-in-rnE1r3 {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorspopup .rectangle-C0iksD {
  background-color: var(--concrete);
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorspopup .lnb-C0iksD {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorspopup .stacked-group-iwxDZx {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginvisitorspopup .web-index-title-common-copy-GeOaxl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorspopup .web-index-contents1dpeth_close-GeOaxl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorspopup .web-index-contents1dpeth_close-Zy03JB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorspopup .web-index-contents1dpeth_close-DeZ9CD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorspopup .web-index-contents1dpeth_close-tMTN58 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorspopup .web-index-contents1dpeth_close-a7CXQu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorspopup .group-copy-GeOaxl {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorspopup .empty-copy-F0Sp2V {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginvisitorspopup .line-copy-2-F0Sp2V {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginvisitorspopup .empty-copy-2-F0Sp2V {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorspopup .web-index-title-common-GeOaxl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorspopup .web-index-contents1dpeth_close-dIWU1x {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorspopup .web-index-contents1dpeth_open_selected-GeOaxl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorspopup .web-index-contents2dpeth-copy-2-GeOaxl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorspopup .web-index-contents2dpeth-GeOaxl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorspopup .web-index-contents2dpeth-Zy03JB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorspopup .web-index-contents2dpeth-DeZ9CD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorspopup .web-index-contents2dpeth-tMTN58 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorspopup .web-index-contents2dpeth-a7CXQu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorspopup .web-index-contents2dpeth-dIWU1x {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorspopup .web-index-contents2dpeth-OTMd0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorspopup .web-index-contents2dpeth-Llu8ng {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorspopup .web-index-contents2dpeth-ggl7dr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorspopup .web-index-contents2dpeth-copy-GeOaxl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorspopup .web-index-contents2dpeth-sQ6XFu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorspopup .group-GeOaxl {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorspopup .empty-iXV1vA {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginvisitorspopup .line-copy-iXV1vA {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginvisitorspopup .empty-PU69Ab {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorspopup .web-index-title-common-Zy03JB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorspopup .line-iwxDZx {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginvisitorspopup .home-net-gui-guidelin-iwxDZx {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginvisitorspopup .webgnb-rnE1r3 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginvisitorspopup .rectangle-GhtXUR {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginvisitorspopup .background-GhtXUR {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginvisitorspopup .index-GhtXUR {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 128px;
}

.servicepluginvisitorspopup .web-index-select-XVVKcL {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginvisitorspopup .web-index-unselect-XVVKcL {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 96px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginvisitorspopup .web-index-unelect_main-GhtXUR {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginvisitorspopup .logo-QlOUXL {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
