/* screen - servicepluginhomenotificationsfeature */

.servicepluginhomenotificationsfeature {
  background-color: var(--white);
  height: 1446px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomenotificationsfeature .group-3-WNL5Rp {
  background-color: transparent;
  height: 341px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.servicepluginhomenotificationsfeature .group-2-7Ao5qZ {
  background-color: transparent;
  height: 285px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginhomenotificationsfeature .table-guide-text1line-copy-y7eFxp {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomenotificationsfeature .table-guide-text1line-copy-7-y7eFxp {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomenotificationsfeature .table-guide-text1line-copy-3-y7eFxp {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 47px;
  width: 340px;
}

.servicepluginhomenotificationsfeature .table-guide-text1line-copy-8-y7eFxp {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 47px;
  width: 270px;
}

.servicepluginhomenotificationsfeature .table-guide-text1line-copy-10-y7eFxp {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 114px;
  width: 270px;
}

.servicepluginhomenotificationsfeature .table-guide-text1line-copy-11-y7eFxp {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 181px;
  width: 270px;
}

.servicepluginhomenotificationsfeature .table-guide-text1line-copy-12-y7eFxp {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 248px;
  width: 270px;
}

.servicepluginhomenotificationsfeature .table-guide-text1line-copy-2-y7eFxp {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 114px;
  width: 340px;
}

.servicepluginhomenotificationsfeature .table-guide-text1line-copy-4-y7eFxp {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 181px;
  width: 340px;
}

.servicepluginhomenotificationsfeature .table-guide-text1line-copy-5-y7eFxp {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 248px;
  width: 340px;
}

.servicepluginhomenotificationsfeature .table-guide-text1line-y7eFxp {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomenotificationsfeature .table-guide-text1line-copy-6-y7eFxp {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 50px;
}

.servicepluginhomenotificationsfeature .table-guide-text1line-copy-9-y7eFxp {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 114px;
  width: 50px;
}

.servicepluginhomenotificationsfeature .descriptiontabletop-7Ao5qZ {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginhomenotificationsfeature .group-4-WNL5Rp {
  background-color: transparent;
  height: 851px;
  left: 380px;
  position: absolute;
  top: 395px;
  width: 710px;
}

.servicepluginhomenotificationsfeature .table-guide-title-3PhuSp {
  background-color: transparent;
  height: 56px;
  left: 40px;
  position: absolute;
  top: 0px;
  width: 670px;
}

.servicepluginhomenotificationsfeature .group-3PhuSp {
  background-color: transparent;
  height: 795px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 440px;
}

.servicepluginhomenotificationsfeature .web-sub_-title-WNL5Rp {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 337px;
  width: 1600px;
}

.servicepluginhomenotificationsfeature .web-title-area-WNL5Rp {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomenotificationsfeature .web-tab-service-plug-in_-home-screen-WNL5Rp {
  background-color: transparent;
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.servicepluginhomenotificationsfeature .x3rd-depth-jbifvm {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginhomenotificationsfeature .tab-xcycyv {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginhomenotificationsfeature .default-type-Bx3jza {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 78px;
}

.servicepluginhomenotificationsfeature .shortcut-default-t-Bx3jza {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 142px;
}

.servicepluginhomenotificationsfeature .brand-type-Bx3jza {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.servicepluginhomenotificationsfeature .shortcut-brand-typ-Bx3jza {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 133px;
}

.servicepluginhomenotificationsfeature .banner-Bx3jza {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginhomenotificationsfeature .app-link-copy-Bx3jza {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 54px;
}

.servicepluginhomenotificationsfeature .x3rd-depth-MsMIG1 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.servicepluginhomenotificationsfeature .tab-WSP1Wx {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginhomenotificationsfeature .more-FaxQSF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 35px;
}

.servicepluginhomenotificationsfeature .edit-_-feature-FaxQSF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 87px;
}

.servicepluginhomenotificationsfeature .notifications-_-feat-FaxQSF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 145px;
}

.servicepluginhomenotificationsfeature .help-guide-FaxQSF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 70px;
}

.servicepluginhomenotificationsfeature .help-guide-_-expanda-FaxQSF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 179px;
}

.servicepluginhomenotificationsfeature .help-guide-_-image-FaxQSF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 120px;
}

.servicepluginhomenotificationsfeature .service-feature-FaxQSF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.servicepluginhomenotificationsfeature .service-feature-_-no-FaxQSF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 161px;
}

.servicepluginhomenotificationsfeature .touch-area-FaxQSF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.servicepluginhomenotificationsfeature .lnb-service-plug-in-WNL5Rp {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomenotificationsfeature .rectangle-gSvTvt {
  background-color: var(--concrete);
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomenotificationsfeature .lnb-gSvTvt {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomenotificationsfeature .stacked-group-6QHmo9 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginhomenotificationsfeature .web-index-title-common-copy-o2A7q2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginhomenotificationsfeature .web-index-contents1dpeth_close-o2A7q2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomenotificationsfeature .web-index-contents1dpeth_close-KEIxhF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomenotificationsfeature .web-index-contents1dpeth_close-dqg0Z6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomenotificationsfeature .web-index-contents1dpeth_close-wVYRtn {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomenotificationsfeature .web-index-contents1dpeth_close-wP2H48 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomenotificationsfeature .group-copy-o2A7q2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomenotificationsfeature .empty-copy-BwvF4F {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginhomenotificationsfeature .line-copy-2-BwvF4F {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginhomenotificationsfeature .empty-copy-2-BwvF4F {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomenotificationsfeature .web-index-title-common-o2A7q2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomenotificationsfeature .web-index-contents1dpeth_close-MyfYOM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomenotificationsfeature .web-index-contents1dpeth_open_selected-o2A7q2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomenotificationsfeature .web-index-contents2dpeth-copy-2-o2A7q2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomenotificationsfeature .web-index-contents2dpeth-o2A7q2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomenotificationsfeature .web-index-contents2dpeth-KEIxhF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomenotificationsfeature .web-index-contents2dpeth-dqg0Z6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomenotificationsfeature .web-index-contents2dpeth-wVYRtn {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomenotificationsfeature .web-index-contents2dpeth-wP2H48 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomenotificationsfeature .web-index-contents2dpeth-MyfYOM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomenotificationsfeature .web-index-contents2dpeth-zx6A0l {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomenotificationsfeature .web-index-contents2dpeth-cdmD5V {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomenotificationsfeature .web-index-contents2dpeth-VyqrKz {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomenotificationsfeature .web-index-contents2dpeth-copy-o2A7q2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomenotificationsfeature .web-index-contents2dpeth-wnbirS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomenotificationsfeature .group-o2A7q2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomenotificationsfeature .empty-BoVxRH {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginhomenotificationsfeature .line-copy-BoVxRH {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginhomenotificationsfeature .empty-TKxBV2 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomenotificationsfeature .web-index-title-common-KEIxhF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomenotificationsfeature .line-6QHmo9 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginhomenotificationsfeature .home-net-gui-guidelin-6QHmo9 {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginhomenotificationsfeature .webgnb-WNL5Rp {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginhomenotificationsfeature .rectangle-crc9UY {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomenotificationsfeature .background-crc9UY {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomenotificationsfeature .index-crc9UY {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginhomenotificationsfeature .web-index-select-wtkQ2S {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginhomenotificationsfeature .web-index-unselect-wtkQ2S {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginhomenotificationsfeature .web-index-unelect_main-crc9UY {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginhomenotificationsfeature .logo-6xw4if {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
