/* screen - servicepluginhomeapplink */

.servicepluginhomeapplink {
  background-color: var(--white);
  height: 3110px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomeapplink .group-14-j7SgKQ {
  background-color: transparent;
  height: 271px;
  left: 400px;
  position: absolute;
  top: 837px;
  width: 460px;
}

.servicepluginhomeapplink .group-13-j7SgKQ {
  background-color: transparent;
  height: 341px;
  left: 400px;
  position: absolute;
  top: 396px;
  width: 690px;
}

.servicepluginhomeapplink .group-16-j7SgKQ {
  background-color: transparent;
  height: 341px;
  left: 400px;
  position: absolute;
  top: 1258px;
  width: 690px;
}

.servicepluginhomeapplink .group-19-j7SgKQ {
  background-color: transparent;
  height: 342px;
  left: 420px;
  position: absolute;
  top: 2501px;
  width: 670px;
}

.servicepluginhomeapplink .group-17-j7SgKQ {
  background-color: transparent;
  height: 652px;
  left: 420px;
  position: absolute;
  top: 1699px;
  width: 360px;
}

.servicepluginhomeapplink .group-15-j7SgKQ {
  background-color: transparent;
  height: 441px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.servicepluginhomeapplink .group-9-OKcmvX {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginhomeapplink .table-guide-text2line_b-MBV225 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeapplink .table-guide-text1line-MBV225 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeapplink .table-guide-text1line-EL4Ojj {
  background-color: transparent;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeapplink .group-3-OKcmvX {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.servicepluginhomeapplink .table-guide-text1line-copy-pNmgMG {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeapplink .table-guide-text2line_b-copy-2-pNmgMG {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeapplink .table-guide-text1line-pNmgMG {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeapplink .group-7-OKcmvX {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 192px;
  width: 680px;
}

.servicepluginhomeapplink .group-12-LbIsvu {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 680px;
}

.servicepluginhomeapplink .table-guide-text2line_m-fha59x {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeapplink .table-guide-text2line_b-copy-fha59x {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeapplink .table-guide-text1line-copy-3-fha59x {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeapplink .group-4-OKcmvX {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 259px;
  width: 680px;
}

.servicepluginhomeapplink .table-guide-text2line_b-copy-iikVRx {
  background-color: transparent;
  height: 86px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeapplink .table-guide-text1line-copy-4-iikVRx {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeapplink .table-guide-text2line_m-copy-iikVRx {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeapplink .group-4-copy-OKcmvX {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 355px;
  width: 680px;
}

.servicepluginhomeapplink .table-guide-text2line_b-copy-4-K53Wbu {
  background-color: transparent;
  height: 86px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeapplink .table-guide-text1line-copy-5-K53Wbu {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeapplink .table-guide-text2line_m-copy-2-K53Wbu {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeapplink .descriptiontabletop-OKcmvX {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginhomeapplink .group-21-j7SgKQ {
  background-color: transparent;
  height: 345px;
  left: 1140px;
  position: absolute;
  top: 1258px;
  width: 680px;
}

.servicepluginhomeapplink .group-9-copy-ftLYMb {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginhomeapplink .table-guide-text2line_b-copy-7-yehASU {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeapplink .table-guide-text1line-copy-2-yehASU {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeapplink .table-guide-text1line-copy-9-yehASU {
  background-color: transparent;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeapplink .group-7-copy-ftLYMb {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.servicepluginhomeapplink .group-12-jAXobP {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 680px;
}

.servicepluginhomeapplink .table-guide-text2line_m-copy-5-2zCR7x {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeapplink .table-guide-text2line_b-copy-6-2zCR7x {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeapplink .table-guide-text1line-copy-8-2zCR7x {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeapplink .group-10-ftLYMb {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 192px;
  width: 680px;
}

.servicepluginhomeapplink .table-guide-text2line_b-copy-3-r13p4x {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeapplink .table-guide-text1line-copy-7-r13p4x {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeapplink .table-guide-text2line_m-copy-4-r13p4x {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeapplink .group-8-ftLYMb {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 259px;
  width: 680px;
}

.servicepluginhomeapplink .table-guide-text2line_b-copy-5-qWzxDc {
  background-color: transparent;
  height: 86px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeapplink .table-guide-text1line-copy-6-qWzxDc {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeapplink .table-guide-text2line_m-copy-3-qWzxDc {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeapplink .descriptiontabletop-copy-ftLYMb {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginhomeapplink .group-20-j7SgKQ {
  background-color: transparent;
  height: 115px;
  left: 1140px;
  position: absolute;
  top: 2501px;
  width: 680px;
}

.servicepluginhomeapplink .group-6-j7SgKQ {
  background-color: transparent;
  height: 194px;
  left: 1140px;
  position: absolute;
  top: 2716px;
  width: 680px;
}

.servicepluginhomeapplink .web-sub_-title-j7SgKQ {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.servicepluginhomeapplink .web-title-area-j7SgKQ {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomeapplink .web-tab-service-plug-in_-home-screen-j7SgKQ {
  background-color: transparent;
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.servicepluginhomeapplink .x3rd-depth-3NxS1q {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginhomeapplink .tab-k4axJZ {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginhomeapplink .default-type-Xck2Ha {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 78px;
}

.servicepluginhomeapplink .shortcut-default-t-Xck2Ha {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 142px;
}

.servicepluginhomeapplink .brand-type-Xck2Ha {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.servicepluginhomeapplink .shortcut-brand-typ-Xck2Ha {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 133px;
}

.servicepluginhomeapplink .banner-Xck2Ha {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginhomeapplink .app-link-copy-Xck2Ha {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 55px;
}

.servicepluginhomeapplink .x3rd-depth-rjpix4 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.servicepluginhomeapplink .tab-jptW3R {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginhomeapplink .more-v0a5JF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 35px;
}

.servicepluginhomeapplink .edit-_-feature-v0a5JF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 87px;
}

.servicepluginhomeapplink .notifications-_-feat-v0a5JF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 144px;
}

.servicepluginhomeapplink .help-guide-v0a5JF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 70px;
}

.servicepluginhomeapplink .help-guide-_-expanda-v0a5JF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 179px;
}

.servicepluginhomeapplink .help-guide-_-image-v0a5JF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 120px;
}

.servicepluginhomeapplink .service-feature-v0a5JF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.servicepluginhomeapplink .service-feature-_-no-v0a5JF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 161px;
}

.servicepluginhomeapplink .touch-area-v0a5JF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.servicepluginhomeapplink .lnb-service-plug-in-j7SgKQ {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomeapplink .rectangle-HsACux {
  background-color: var(--concrete);
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomeapplink .lnb-HsACux {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomeapplink .stacked-group-65TxzH {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginhomeapplink .web-index-title-common-copy-JX7gfT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeapplink .web-index-contents1dpeth_close-JX7gfT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeapplink .web-index-contents1dpeth_close-zcdR55 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeapplink .web-index-contents1dpeth_close-7BtWmn {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeapplink .web-index-contents1dpeth_close-uZpQUY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeapplink .web-index-contents1dpeth_close-ABKt8O {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeapplink .group-copy-JX7gfT {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeapplink .empty-copy-UxQi0I {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginhomeapplink .line-copy-2-UxQi0I {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginhomeapplink .empty-copy-2-UxQi0I {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomeapplink .web-index-title-common-JX7gfT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeapplink .web-index-contents1dpeth_close-st2xLi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeapplink .web-index-contents1dpeth_open_selected-JX7gfT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeapplink .web-index-contents2dpeth-copy-2-JX7gfT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeapplink .web-index-contents2dpeth-JX7gfT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeapplink .web-index-contents2dpeth-zcdR55 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeapplink .web-index-contents2dpeth-7BtWmn {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeapplink .web-index-contents2dpeth-uZpQUY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeapplink .web-index-contents2dpeth-ABKt8O {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeapplink .web-index-contents2dpeth-st2xLi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeapplink .web-index-contents2dpeth-kjXDda {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeapplink .web-index-contents2dpeth-VoXwY9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeapplink .web-index-contents2dpeth-WBbir9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeapplink .web-index-contents2dpeth-copy-JX7gfT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeapplink .web-index-contents2dpeth-eGmxt5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeapplink .group-JX7gfT {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeapplink .empty-A6pi3l {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginhomeapplink .line-copy-A6pi3l {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginhomeapplink .empty-XAnIYt {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomeapplink .web-index-title-common-zcdR55 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeapplink .line-65TxzH {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginhomeapplink .home-net-gui-guidelin-65TxzH {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginhomeapplink .webgnb-j7SgKQ {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginhomeapplink .rectangle-rS2LEt {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomeapplink .background-rS2LEt {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomeapplink .index-rS2LEt {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginhomeapplink .web-index-select-5v4pZK {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginhomeapplink .web-index-unselect-5v4pZK {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginhomeapplink .web-index-unelect_main-rS2LEt {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginhomeapplink .logo-WCIWBx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
