/* screen - servicepluginhomeshortcutdefaulttype */

.servicepluginhomeshortcutdefaulttype {
  background-color: var(--white);
  height: 2337px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomeshortcutdefaulttype .group-23-8voBWY {
  background-color: transparent;
  height: 440px;
  left: 1140px;
  position: absolute;
  top: 1697px;
  width: 680px;
}

.servicepluginhomeshortcutdefaulttype .group-26-8voBWY {
  background-color: transparent;
  height: 423px;
  left: 400px;
  position: absolute;
  top: 1388px;
  width: 690px;
}

.servicepluginhomeshortcutdefaulttype .group-24-8voBWY {
  background-color: transparent;
  height: 462px;
  left: 400px;
  position: absolute;
  top: 396px;
  width: 690px;
}

.servicepluginhomeshortcutdefaulttype .group-6-8voBWY {
  background-color: transparent;
  height: 194px;
  left: 1140px;
  position: absolute;
  top: 1044px;
  width: 680px;
}

.servicepluginhomeshortcutdefaulttype .group-25-8voBWY {
  background-color: transparent;
  height: 548px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.servicepluginhomeshortcutdefaulttype .group-9-9carHB {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginhomeshortcutdefaulttype .table-guide-text2line_b-HDPuaF {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeshortcutdefaulttype .table-guide-text1line-HDPuaF {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeshortcutdefaulttype .table-guide-text1line-DVuPdb {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeshortcutdefaulttype .group-8-9carHB {
  background-color: transparent;
  height: 151px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicepluginhomeshortcutdefaulttype .table-guide-text1line-copy-jwRgiw {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeshortcutdefaulttype .table-guide-text1line-copy-2-jwRgiw {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 114px;
  width: 340px;
}

.servicepluginhomeshortcutdefaulttype .table-guide-text2line_b-copy-2-jwRgiw {
  background-color: transparent;
  height: 104px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeshortcutdefaulttype .table-guide-text2line_b-jwRgiw {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 114px;
  width: 270px;
}

.servicepluginhomeshortcutdefaulttype .table-guide-text1line-jwRgiw {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeshortcutdefaulttype .group-7-9carHB {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 264px;
  width: 680px;
}

.servicepluginhomeshortcutdefaulttype .table-guide-text2line_m-di88h6 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeshortcutdefaulttype .table-guide-text2line_b-copy-di88h6 {
  background-color: transparent;
  height: 86px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeshortcutdefaulttype .table-guide-text1line-copy-3-di88h6 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeshortcutdefaulttype .group-5-9carHB {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 360px;
  width: 680px;
}

.servicepluginhomeshortcutdefaulttype .table-guide-text2line_m-73Hkix {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeshortcutdefaulttype .table-guide-text2line_b-copy-73Hkix {
  background-color: transparent;
  height: 79px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeshortcutdefaulttype .table-guide-text1line-copy-3-73Hkix {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeshortcutdefaulttype .group-4-copy-9carHB {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 462px;
  width: 680px;
}

.servicepluginhomeshortcutdefaulttype .table-guide-text2line_b-copy-4-iJVoFc {
  background-color: transparent;
  height: 86px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeshortcutdefaulttype .table-guide-text1line-copy-5-iJVoFc {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeshortcutdefaulttype .table-guide-text2line_m-copy-2-iJVoFc {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeshortcutdefaulttype .descriptiontabletop-9carHB {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginhomeshortcutdefaulttype .group-27-8voBWY {
  background-color: transparent;
  height: 209px;
  left: 1140px;
  position: absolute;
  top: 1388px;
  width: 680px;
}

.servicepluginhomeshortcutdefaulttype .group-4-qfQtPQ {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.servicepluginhomeshortcutdefaulttype .table-guide-text2line_b-copy-3-yhugEd {
  background-color: transparent;
  height: 86px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeshortcutdefaulttype .table-guide-text1line-copy-4-yhugEd {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeshortcutdefaulttype .table-guide-text2line_m-copy-yhugEd {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeshortcutdefaulttype .group-10-qfQtPQ {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginhomeshortcutdefaulttype .table-guide-text2line_b-copy-3-HnWQ03 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeshortcutdefaulttype .table-guide-text1line-copy-4-HnWQ03 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeshortcutdefaulttype .table-guide-text2line_m-copy-HnWQ03 {
  background-color: transparent;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeshortcutdefaulttype .descriptiontabletop-copy-qfQtPQ {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginhomeshortcutdefaulttype .web-sub_-title-8voBWY {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.servicepluginhomeshortcutdefaulttype .web-title-area-8voBWY {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomeshortcutdefaulttype .web-tab-service-plug-in_-home-screen-8voBWY {
  background-color: transparent;
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.servicepluginhomeshortcutdefaulttype .x3rd-depth-sr9Lyp {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginhomeshortcutdefaulttype .tab-xMHMlV {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginhomeshortcutdefaulttype .default-type-fO4ATI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 78px;
}

.servicepluginhomeshortcutdefaulttype .shortcut-default-t-fO4ATI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 142px;
}

.servicepluginhomeshortcutdefaulttype .brand-type-fO4ATI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.servicepluginhomeshortcutdefaulttype .shortcut-brand-typ-fO4ATI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 133px;
}

.servicepluginhomeshortcutdefaulttype .banner-fO4ATI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginhomeshortcutdefaulttype .app-link-copy-fO4ATI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 54px;
}

.servicepluginhomeshortcutdefaulttype .x3rd-depth-EQKkhF {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.servicepluginhomeshortcutdefaulttype .tab-iumx6w {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginhomeshortcutdefaulttype .more-EeC0gQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 35px;
}

.servicepluginhomeshortcutdefaulttype .edit-_-feature-EeC0gQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 87px;
}

.servicepluginhomeshortcutdefaulttype .notifications-_-feat-EeC0gQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 144px;
}

.servicepluginhomeshortcutdefaulttype .help-guide-EeC0gQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 70px;
}

.servicepluginhomeshortcutdefaulttype .help-guide-_-expanda-EeC0gQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 179px;
}

.servicepluginhomeshortcutdefaulttype .help-guide-_-image-EeC0gQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 120px;
}

.servicepluginhomeshortcutdefaulttype .service-feature-EeC0gQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.servicepluginhomeshortcutdefaulttype .service-feature-_-no-EeC0gQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 161px;
}

.servicepluginhomeshortcutdefaulttype .touch-area-EeC0gQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.servicepluginhomeshortcutdefaulttype .lnb-service-plug-in-8voBWY {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .rectangle-5AHxs4 {
  background-color: var(--concrete);
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .lnb-5AHxs4 {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .stacked-group-LDVC50 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .web-index-title-common-copy-TlzKjw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .web-index-contents1dpeth_close-TlzKjw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .web-index-contents1dpeth_close-Nsih10 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .web-index-contents1dpeth_close-Wt41l9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .web-index-contents1dpeth_close-z0JTKR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .web-index-contents1dpeth_close-fGMgFF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .group-copy-TlzKjw {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .empty-copy-Z8QgSl {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .line-copy-2-Z8QgSl {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginhomeshortcutdefaulttype .empty-copy-2-Z8QgSl {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .web-index-title-common-TlzKjw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .web-index-contents1dpeth_close-SGNsRz {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .web-index-contents1dpeth_open_selected-TlzKjw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .web-index-contents2dpeth-copy-2-TlzKjw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .web-index-contents2dpeth-TlzKjw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .web-index-contents2dpeth-Nsih10 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .web-index-contents2dpeth-Wt41l9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .web-index-contents2dpeth-z0JTKR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .web-index-contents2dpeth-fGMgFF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .web-index-contents2dpeth-SGNsRz {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .web-index-contents2dpeth-5No8jK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .web-index-contents2dpeth-Hmk33F {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .web-index-contents2dpeth-SGGPzM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .web-index-contents2dpeth-copy-TlzKjw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .web-index-contents2dpeth-Z0nPzX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .group-TlzKjw {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .empty-I8xRAO {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .line-copy-I8xRAO {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginhomeshortcutdefaulttype .empty-u32Rhv {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .web-index-title-common-Nsih10 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomeshortcutdefaulttype .line-LDVC50 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginhomeshortcutdefaulttype .home-net-gui-guidelin-LDVC50 {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginhomeshortcutdefaulttype .webgnb-8voBWY {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginhomeshortcutdefaulttype .rectangle-YPrxcD {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomeshortcutdefaulttype .background-YPrxcD {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomeshortcutdefaulttype .index-YPrxcD {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginhomeshortcutdefaulttype .web-index-select-WjzGh6 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginhomeshortcutdefaulttype .web-index-unselect-WjzGh6 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginhomeshortcutdefaulttype .web-index-unelect_main-YPrxcD {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginhomeshortcutdefaulttype .logo-SKcgFS {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
