/* screen - serviceplugincctvfeaturedetail */

.serviceplugincctvfeaturedetail {
  background-color: var(--white);
  height: 1704px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.serviceplugincctvfeaturedetail .group-16-4sxz97 {
  background-color: transparent;
  height: 1162px;
  left: 380px;
  position: absolute;
  top: 342px;
  width: 710px;
}

.serviceplugincctvfeaturedetail .group-13-4sxz97 {
  background-color: transparent;
  height: 541px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.serviceplugincctvfeaturedetail .group-5-FLDfjW {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.serviceplugincctvfeaturedetail .table-guide-text1line-qwLS51 {
  background-color: transparent;
  height: 23px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.serviceplugincctvfeaturedetail .table-guide-text2line_m-qwLS51 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.serviceplugincctvfeaturedetail .table-guide-text2line_m-copy-6-qwLS51 {
  background-color: transparent;
  height: 99px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.serviceplugincctvfeaturedetail .group-FLDfjW {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 462px;
  width: 680px;
}

.serviceplugincctvfeaturedetail .table-guide-text1line-copy-AMt6Lo {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.serviceplugincctvfeaturedetail .table-guide-text2line_m-copy-3-AMt6Lo {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.serviceplugincctvfeaturedetail .table-guide-text2line_m-copy-8-AMt6Lo {
  background-color: transparent;
  height: 79px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.serviceplugincctvfeaturedetail .group-4-FLDfjW {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 254px;
  width: 680px;
}

.serviceplugincctvfeaturedetail .table-guide-text1line-h4h9Ti {
  background-color: transparent;
  height: 68px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.serviceplugincctvfeaturedetail .table-guide-text2line_m-h4h9Ti {
  background-color: transparent;
  cursor: pointer;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.serviceplugincctvfeaturedetail .table-guide-text2line_m-copy-5-h4h9Ti {
  background-color: transparent;
  height: 59px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.serviceplugincctvfeaturedetail .group-3-FLDfjW {
  background-color: transparent;
  height: 109px;
  left: 0px;
  position: absolute;
  top: 343px;
  width: 680px;
}

.serviceplugincctvfeaturedetail .table-guide-text2line_m-copy-2-p9Kx21 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.serviceplugincctvfeaturedetail .table-guide-text1line-p9Kx21 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.serviceplugincctvfeaturedetail .table-guide-text2line_m-copy-7-p9Kx21 {
  background-color: transparent;
  height: 59px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.serviceplugincctvfeaturedetail .group-2-p9Kx21 {
  background-color: transparent;
  height: 40px;
  left: 60px;
  position: absolute;
  top: 69px;
  width: 40px;
}

.serviceplugincctvfeaturedetail .descriptiontabletop-FLDfjW {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.serviceplugincctvfeaturedetail .group-8-FLDfjW {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.serviceplugincctvfeaturedetail .table-guide-text2line_m-copy-RtKKVd {
  background-color: transparent;
  height: 79px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.serviceplugincctvfeaturedetail .table-guide-text1line-RtKKVd {
  background-color: transparent;
  height: 30px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.serviceplugincctvfeaturedetail .table-guide-text2line_m-RtKKVd {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.serviceplugincctvfeaturedetail .web-sub_-title-4sxz97 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.serviceplugincctvfeaturedetail .web-title-area-4sxz97 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.serviceplugincctvfeaturedetail .web-tab-service-plug-in_cctv-4sxz97 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.serviceplugincctvfeaturedetail .x3rd-depth-GaZO6o {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.serviceplugincctvfeaturedetail .tab-98zai4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.serviceplugincctvfeaturedetail .card-xaXnBF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.serviceplugincctvfeaturedetail .feature-_-list-xaXnBF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 85px;
}

.serviceplugincctvfeaturedetail .feature-_-list-det-xaXnBF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 132px;
}

.serviceplugincctvfeaturedetail .feature-detail-xaXnBF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 95px;
}

.serviceplugincctvfeaturedetail .lnb-service-plug-in-4sxz97 {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugincctvfeaturedetail .rectangle-ivylf3 {
  background-color: var(--concrete);
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugincctvfeaturedetail .lnb-ivylf3 {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugincctvfeaturedetail .stacked-group-Z8iFMv {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.serviceplugincctvfeaturedetail .web-index-title-common-copy-4XvwDQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturedetail .web-index-contents1dpeth_close-4XvwDQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturedetail .web-index-contents1dpeth_close-hZJzqe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturedetail .web-index-contents1dpeth_close-DqHBtF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturedetail .web-index-contents1dpeth_close-5xy0Uw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturedetail .web-index-contents1dpeth_close-xN7Oqo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturedetail .group-copy-4XvwDQ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturedetail .empty-copy-cHru5V {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.serviceplugincctvfeaturedetail .line-copy-2-cHru5V {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.serviceplugincctvfeaturedetail .empty-copy-2-cHru5V {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugincctvfeaturedetail .web-index-title-common-4XvwDQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturedetail .web-index-contents1dpeth_close-dUroXo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturedetail .web-index-contents1dpeth_open_selected-4XvwDQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturedetail .web-index-contents2dpeth-copy-2-4XvwDQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturedetail .web-index-contents2dpeth-4XvwDQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturedetail .web-index-contents2dpeth-hZJzqe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturedetail .web-index-contents2dpeth-DqHBtF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturedetail .web-index-contents2dpeth-5xy0Uw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturedetail .web-index-contents2dpeth-xN7Oqo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturedetail .web-index-contents2dpeth-dUroXo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturedetail .web-index-contents2dpeth-NGiGxO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturedetail .web-index-contents2dpeth-Z8Ep9x {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturedetail .web-index-contents2dpeth-n9MGJT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturedetail .web-index-contents2dpeth-copy-4XvwDQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturedetail .web-index-contents2dpeth-b7kYkk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturedetail .group-4XvwDQ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturedetail .empty-3dnEIF {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.serviceplugincctvfeaturedetail .line-copy-3dnEIF {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.serviceplugincctvfeaturedetail .empty-TKXQEC {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugincctvfeaturedetail .web-index-title-common-hZJzqe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeaturedetail .line-Z8iFMv {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.serviceplugincctvfeaturedetail .home-net-gui-guidelin-Z8iFMv {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.serviceplugincctvfeaturedetail .webgnb-4sxz97 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.serviceplugincctvfeaturedetail .rectangle-xwCfMC {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.serviceplugincctvfeaturedetail .background-xwCfMC {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.serviceplugincctvfeaturedetail .index-xwCfMC {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 128px;
}

.serviceplugincctvfeaturedetail .web-index-select-lOWZ9Y {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.serviceplugincctvfeaturedetail .web-index-unselect-lOWZ9Y {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 96px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.serviceplugincctvfeaturedetail .web-index-unelect_main-xwCfMC {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.serviceplugincctvfeaturedetail .logo-zo5BLr {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
