/* screen - servicepluginvisitorsfeature */

.servicepluginvisitorsfeature {
  background-color: var(--white);
  height: 2374px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginvisitorsfeature .group-9-zsTjAy {
  background-color: transparent;
  height: 816px;
  left: 400px;
  position: absolute;
  top: 1358px;
  width: 690px;
}

.servicepluginvisitorsfeature .group-8-zsTjAy {
  background-color: transparent;
  height: 866px;
  left: 412px;
  position: absolute;
  top: 342px;
  width: 678px;
}

.servicepluginvisitorsfeature .visitors-_-feature-error-usd-NBxNhf {
  background-color: transparent;
  height: 760px;
  left: 8px;
  position: absolute;
  top: 106px;
  width: 360px;
}

.servicepluginvisitorsfeature .group-NBxNhf {
  background-color: transparent;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 385px;
  width: 61px;
}

.servicepluginvisitorsfeature .table-guide-title-NBxNhf {
  background-color: transparent;
  height: 56px;
  left: 8px;
  position: absolute;
  top: 0px;
  width: 670px;
}

.servicepluginvisitorsfeature .group-3-zsTjAy {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginvisitorsfeature .group-7-zsTjAy {
  background-color: transparent;
  height: 160px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.servicepluginvisitorsfeature .group-6-GGjCuo {
  background-color: transparent;
  height: 104px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginvisitorsfeature .table-guide-text2line_m-copy-W0TYXf {
  background-color: transparent;
  height: 59px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvisitorsfeature .table-guide-text1line-W0TYXf {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvisitorsfeature .table-guide-text2line_m-W0TYXf {
  background-color: transparent;
  cursor: pointer;
  height: 104px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvisitorsfeature .descriptiontabletop-GGjCuo {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginvisitorsfeature .group-5-zsTjAy {
  background-color: transparent;
  height: 115px;
  left: 1140px;
  position: absolute;
  top: 1358px;
  width: 680px;
}

.servicepluginvisitorsfeature .descriptiontabletop-dCuA1K {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginvisitorsfeature .group-4-dCuA1K {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginvisitorsfeature .table-guide-text2line_m-copy-4-0rooRL {
  background-color: transparent;
  height: 59px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginvisitorsfeature .table-guide-text1line-copy-0rooRL {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginvisitorsfeature .table-guide-text2line_m-copy-2-0rooRL {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginvisitorsfeature .web-sub_-title-zsTjAy {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginvisitorsfeature .web-title-area-zsTjAy {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginvisitorsfeature .lnb-service-plug-in-zsTjAy {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorsfeature .rectangle-vNVM5p {
  background-color: var(--concrete);
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorsfeature .lnb-vNVM5p {
  background-color: transparent;
  height: 1264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorsfeature .stacked-group-LQemAd {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginvisitorsfeature .web-index-title-common-copy-Ru2fVT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsfeature .web-index-contents1dpeth_close-Ru2fVT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsfeature .web-index-contents1dpeth_close-IXsxtv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsfeature .web-index-contents1dpeth_close-2rv26V {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsfeature .web-index-contents1dpeth_close-UcWPke {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsfeature .web-index-contents1dpeth_close-p8xZAa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsfeature .group-copy-Ru2fVT {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsfeature .empty-copy-x0RxpE {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginvisitorsfeature .line-copy-2-x0RxpE {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginvisitorsfeature .empty-copy-2-x0RxpE {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorsfeature .web-index-title-common-Ru2fVT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsfeature .web-index-contents1dpeth_close-bBunbk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsfeature .web-index-contents1dpeth_open_selected-Ru2fVT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsfeature .web-index-contents2dpeth-copy-2-Ru2fVT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsfeature .web-index-contents2dpeth-Ru2fVT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsfeature .web-index-contents2dpeth-IXsxtv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsfeature .web-index-contents2dpeth-2rv26V {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsfeature .web-index-contents2dpeth-UcWPke {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsfeature .web-index-contents2dpeth-p8xZAa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsfeature .web-index-contents2dpeth-bBunbk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsfeature .web-index-contents2dpeth-rnG0OL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsfeature .web-index-contents2dpeth-2NSdBZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsfeature .web-index-contents2dpeth-ZLF6Gr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsfeature .web-index-contents2dpeth-copy-Ru2fVT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsfeature .web-index-contents2dpeth-svlnN7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsfeature .group-Ru2fVT {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsfeature .empty-mBr8GB {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginvisitorsfeature .line-copy-mBr8GB {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginvisitorsfeature .empty-MDeffh {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginvisitorsfeature .web-index-title-common-IXsxtv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorsfeature .line-LQemAd {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginvisitorsfeature .home-net-gui-guidelin-LQemAd {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginvisitorsfeature .webgnb-zsTjAy {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginvisitorsfeature .rectangle-8Siotb {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginvisitorsfeature .background-8Siotb {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginvisitorsfeature .index-8Siotb {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 128px;
}

.servicepluginvisitorsfeature .web-index-select-AcQ93t {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginvisitorsfeature .web-index-unselect-AcQ93t {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 96px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginvisitorsfeature .web-index-unelect_main-8Siotb {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginvisitorsfeature .logo-nPXA4O {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginvisitorsfeature .web-tab-service-plug-in_-visitors-zsTjAy {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginvisitorsfeature .x3rd-depth-tqDKUk {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginvisitorsfeature .tab-eMF74q {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginvisitorsfeature .card-dxpERx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginvisitorsfeature .pop-up-dxpERx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 42px;
}

.servicepluginvisitorsfeature .feature-copy-dxpERx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginvisitorsfeature .feature_-list-dxpERx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 78px;
}
