/* screen - basiccomponentdialogsdetailinputpopup */

.basiccomponentdialogsdetailinputpopup {
  background-color: var(--white);
  height: 4158px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentdialogsdetailinputpopup .group-16-LxdBtK {
  background-color: transparent;
  height: 511px;
  left: 410px;
  position: absolute;
  top: 342px;
  width: 1410px;
}

.basiccomponentdialogsdetailinputpopup .group-15-LxdBtK {
  background-color: transparent;
  height: 734px;
  left: 410px;
  position: absolute;
  top: 1003px;
  width: 1410px;
}

.basiccomponentdialogsdetailinputpopup .group-13-LxdBtK {
  background-color: transparent;
  height: 2071px;
  left: 420px;
  position: absolute;
  top: 1887px;
  width: 1400px;
}

.basiccomponentdialogsdetailinputpopup .web-sub_-title-LxdBtK {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentdialogsdetailinputpopup .web-title-area-LxdBtK {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentdialogsdetailinputpopup .web-tab-basic-component_-dialogs-LxdBtK {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentdialogsdetailinputpopup .x3rd-depth-uxSA5a {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.basiccomponentdialogsdetailinputpopup .tab-asDHL8 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.basiccomponentdialogsdetailinputpopup .dialogs-qlMbtw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 47px;
}

.basiccomponentdialogsdetailinputpopup .detail-input-popup-copy-qlMbtw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 116px;
}

.basiccomponentdialogsdetailinputpopup .tablet-dialogs-qlMbtw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 86px;
}

.basiccomponentdialogsdetailinputpopup .lnb-basic-component-LxdBtK {
  background-color: transparent;
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .rectangle-ml3eOf {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .background-ml3eOf {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .rectangle-YqJPw8 {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .line-ml3eOf {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentdialogsdetailinputpopup .home-net-ui-guideline-ml3eOf {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.basiccomponentdialogsdetailinputpopup .group-ml3eOf {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1437px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .empty-jQsfUr {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .empty-SLxETG {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .line-copy-jQsfUr {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentdialogsdetailinputpopup .group-YqJPw8 {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1166px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .empty-xA3QCW {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .empty-FH2gUx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .line-copy-xA3QCW {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentdialogsdetailinputpopup .web-index-contents1dpeth_close-ml3eOf {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1391px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .web-index-contents1dpeth_close-YqJPw8 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1345px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .web-index-contents1dpeth_close-rqIvoj {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1299px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .web-index-contents1dpeth_close-1BSVuc {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1253px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .web-index-title-reference-ml3eOf {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1478px;
  width: 313px;
}

.basiccomponentdialogsdetailinputpopup .web-index-title-reference-YqJPw8 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1207px;
  width: 313px;
}

.basiccomponentdialogsdetailinputpopup .web-index-contents1dpeth_close-ndGymj {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1120px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .web-index-contents1dpeth_close-toDXpz {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1074px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .web-index-contents1dpeth_close-6N5hxB {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1028px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .web-index-contents2dpeth-ml3eOf {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 982px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .web-index-contents2dpeth-YqJPw8 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 936px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .web-index-contents2dpeth-rqIvoj {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 890px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .web-index-contents2dpeth-1BSVuc {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 844px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .web-index-contents2dpeth-ndGymj {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 798px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .web-index-contents2dpeth-toDXpz {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 752px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .web-index-contents2dpeth-6N5hxB {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 706px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .web-index-contents2dpeth-zel6Q1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 614px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .web-index-contents2dpeth-xBi6OI {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 660px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .web-index-contents2dpeth-Wdax5s {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 568px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .web-index-contents2dpeth-DmWxnQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 522px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .web-index-contents2dpeth-LOxsAy {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 476px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .web-index-contents2dpeth-gZUsU3 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 430px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .web-index-contents2dpeth-W3gT1s {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 384px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .web-index-contents2dpeth-ed6Nmg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 338px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .web-index-contents1dpeth_open_selected-ml3eOf {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 292px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .web-index-contents1dpeth_close-zel6Q1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .web-index-contents1dpeth_close-xBi6OI {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 200px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .web-index-title-common-ml3eOf {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 154px;
  width: 320px;
}

.basiccomponentdialogsdetailinputpopup .webgnb-LxdBtK {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentdialogsdetailinputpopup .rectangle-Scwpuw {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentdialogsdetailinputpopup .background-Scwpuw {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentdialogsdetailinputpopup .index-Scwpuw {
  background-color: transparent;
  height: 28px;
  left: 421px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.basiccomponentdialogsdetailinputpopup .web-index-select-5TOltG {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.basiccomponentdialogsdetailinputpopup .web-index-unselect-5TOltG {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentdialogsdetailinputpopup .web-index-unelect_main-Scwpuw {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentdialogsdetailinputpopup .logo-xBeF4N {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
