/* screen - basiccomponentlistbasic */

.basiccomponentlistbasic {
  background-color: var(--white);
  height: 2239px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentlistbasic .group-6-ZJ33bs {
  background-color: transparent;
  height: 617px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.basiccomponentlistbasic .group-16-ZJ33bs {
  background-color: transparent;
  height: 1077px;
  left: 419px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.basiccomponentlistbasic .group-15-ZJ33bs {
  background-color: transparent;
  height: 481px;
  left: 419px;
  position: absolute;
  top: 1568px;
  width: 1402px;
}

.basiccomponentlistbasic .web-sub_-title-ZJ33bs {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentlistbasic .web-title-area-ZJ33bs {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentlistbasic .web-tab-basic-component_-list-ZJ33bs {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentlistbasic .x3rd-depth-qPxaej {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.basiccomponentlistbasic .tab-jSAxcv {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.basiccomponentlistbasic .list-KWXzWV {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 23px;
}

.basiccomponentlistbasic .list-with-button-copy-2-KWXzWV {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.basiccomponentlistbasic .expandable-list-copy-KWXzWV {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 95px;
}

.basiccomponentlistbasic .grid-list-KWXzWV {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 49px;
}

.basiccomponentlistbasic .web-tab-basic-component_-list-gA9Ei4 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentlistbasic .x3rd-depth-fpKRSx {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.basiccomponentlistbasic .tab-Hxyzbn {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.basiccomponentlistbasic .list-xn5b4f {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 23px;
}

.basiccomponentlistbasic .list-with-button-copy-2-xn5b4f {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.basiccomponentlistbasic .expandable-list-copy-xn5b4f {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 95px;
}

.basiccomponentlistbasic .grid-list-xn5b4f {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 49px;
}

.basiccomponentlistbasic .web-tab-basic-component_-list-dnE83V {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentlistbasic .x3rd-depth-GrnBrN {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.basiccomponentlistbasic .tab-e8xJ0J {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.basiccomponentlistbasic .list-RvgSUx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 23px;
}

.basiccomponentlistbasic .list-with-button-copy-2-RvgSUx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.basiccomponentlistbasic .expandable-list-copy-RvgSUx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 95px;
}

.basiccomponentlistbasic .grid-list-RvgSUx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 49px;
}

.basiccomponentlistbasic .web-tab-basic-component_-list-WzitD3 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentlistbasic .x3rd-depth-WHZkXM {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.basiccomponentlistbasic .tab-Mg5Kna {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.basiccomponentlistbasic .list-CwM0lk {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 23px;
}

.basiccomponentlistbasic .list-with-button-copy-2-CwM0lk {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.basiccomponentlistbasic .expandable-list-copy-CwM0lk {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 95px;
}

.basiccomponentlistbasic .grid-list-CwM0lk {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 49px;
}

.basiccomponentlistbasic .lnb-basic-component-ZJ33bs {
  background-color: transparent;
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .rectangle-1sxQK7 {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .background-1sxQK7 {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .rectangle-gEZkus {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .line-1sxQK7 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentlistbasic .home-net-ui-guideline-1sxQK7 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.basiccomponentlistbasic .group-1sxQK7 {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1437px;
  width: 320px;
}

.basiccomponentlistbasic .empty-hi5Bno {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentlistbasic .empty-9YU8GA {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .line-copy-hi5Bno {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentlistbasic .group-gEZkus {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1166px;
  width: 320px;
}

.basiccomponentlistbasic .empty-9Fjmco {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentlistbasic .empty-UbtxzW {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .line-copy-9Fjmco {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-1sxQK7 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1391px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-gEZkus {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1345px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-xLix2B {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1299px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-sJ38Zz {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1253px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-title-reference-1sxQK7 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1478px;
  width: 313px;
}

.basiccomponentlistbasic .web-index-title-reference-gEZkus {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1207px;
  width: 313px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-BYz1uw {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1120px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-0itZKf {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1074px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-6edjUS {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1028px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-1sxQK7 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 982px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-gEZkus {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 936px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-xLix2B {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 890px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-sJ38Zz {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 844px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-BYz1uw {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 798px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-0itZKf {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 752px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-6edjUS {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 706px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-FAOWAE {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 614px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-9gR7d9 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 660px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-LqfRAC {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 568px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-lKFtiX {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 522px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-Bl0Jwf {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 476px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-XtcCGX {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 430px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-GxRzn9 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 384px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-axPoGg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 338px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_open_selected-1sxQK7 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 292px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-FAOWAE {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-9gR7d9 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 200px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-title-common-1sxQK7 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 154px;
  width: 320px;
}

.basiccomponentlistbasic .lnb-basic-component-gA9Ei4 {
  background-color: transparent;
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .rectangle-BGbcks {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .background-BGbcks {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .rectangle-POkfWe {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .line-BGbcks {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentlistbasic .home-net-ui-guideline-BGbcks {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.basiccomponentlistbasic .group-BGbcks {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1437px;
  width: 320px;
}

.basiccomponentlistbasic .empty-hNvLGR {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentlistbasic .empty-qMfRIP {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .line-copy-hNvLGR {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentlistbasic .group-POkfWe {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1166px;
  width: 320px;
}

.basiccomponentlistbasic .empty-T26fjj {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentlistbasic .empty-rHJBOx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .line-copy-T26fjj {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-BGbcks {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1391px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-POkfWe {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1345px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-I1h0iN {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1299px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-LS1C5P {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1253px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-title-reference-BGbcks {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1478px;
  width: 313px;
}

.basiccomponentlistbasic .web-index-title-reference-POkfWe {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1207px;
  width: 313px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-wikRu1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1120px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-xcE9iX {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1074px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-zxhfgM {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1028px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-BGbcks {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 982px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-POkfWe {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 936px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-I1h0iN {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 890px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-LS1C5P {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 844px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-wikRu1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 798px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-xcE9iX {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 752px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-zxhfgM {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 706px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-oiOEEh {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 614px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-a8j2EY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 660px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-xcv9kZ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 568px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-tcCIBR {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 522px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-ltM14L {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 476px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-iFK1ae {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 430px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-bVCumW {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 384px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-Q8Mybe {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 338px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_open_selected-BGbcks {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 292px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-oiOEEh {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-a8j2EY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 200px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-title-common-BGbcks {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 154px;
  width: 320px;
}

.basiccomponentlistbasic .lnb-basic-component-dnE83V {
  background-color: transparent;
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .rectangle-XceAzp {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .background-XceAzp {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .rectangle-SWkHxi {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .line-XceAzp {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentlistbasic .home-net-ui-guideline-XceAzp {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.basiccomponentlistbasic .group-XceAzp {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1437px;
  width: 320px;
}

.basiccomponentlistbasic .empty-RGXRb5 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentlistbasic .empty-xL81qR {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .line-copy-RGXRb5 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentlistbasic .group-SWkHxi {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1166px;
  width: 320px;
}

.basiccomponentlistbasic .empty-d2TH1i {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentlistbasic .empty-5SOqpq {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .line-copy-d2TH1i {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-XceAzp {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1391px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-SWkHxi {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1345px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-tw851e {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1299px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-4DGcJ5 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1253px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-title-reference-XceAzp {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1478px;
  width: 313px;
}

.basiccomponentlistbasic .web-index-title-reference-SWkHxi {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1207px;
  width: 313px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-KJdA0h {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1120px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-7NVV1Z {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1074px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-LjgxQ1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1028px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-XceAzp {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 982px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-SWkHxi {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 936px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-tw851e {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 890px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-4DGcJ5 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 844px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-KJdA0h {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 798px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-7NVV1Z {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 752px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-LjgxQ1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 706px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-U2gfwY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 614px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-hcIPzl {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 660px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-TiYC1T {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 568px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-DdSFXR {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 522px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-LnvEU9 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 476px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-YGkRMd {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 430px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-a795cp {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 384px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-nccUMc {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 338px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_open_selected-XceAzp {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 292px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-U2gfwY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-hcIPzl {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 200px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-title-common-XceAzp {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 154px;
  width: 320px;
}

.basiccomponentlistbasic .lnb-basic-component-WzitD3 {
  background-color: transparent;
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .rectangle-5hJxhg {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .background-5hJxhg {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .rectangle-NxDi5z {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .line-5hJxhg {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentlistbasic .home-net-ui-guideline-5hJxhg {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.basiccomponentlistbasic .group-5hJxhg {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1437px;
  width: 320px;
}

.basiccomponentlistbasic .empty-lxwXB9 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentlistbasic .empty-OehevA {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .line-copy-lxwXB9 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentlistbasic .group-NxDi5z {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1166px;
  width: 320px;
}

.basiccomponentlistbasic .empty-ZNSxxv {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentlistbasic .empty-VCBITy {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistbasic .line-copy-ZNSxxv {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-5hJxhg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1391px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-NxDi5z {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1345px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-FGXzmH {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1299px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-w6xXwS {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1253px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-title-reference-5hJxhg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1478px;
  width: 313px;
}

.basiccomponentlistbasic .web-index-title-reference-NxDi5z {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1207px;
  width: 313px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-CXFpvr {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1120px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-z3b9F1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1074px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-u66bew {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1028px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-5hJxhg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 982px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-NxDi5z {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 936px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-FGXzmH {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 890px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-w6xXwS {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 844px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-CXFpvr {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 798px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-z3b9F1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 752px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-u66bew {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 706px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-jz00uh {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 614px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-yH69NI {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 660px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-nVkLGx {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 568px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-8eEo6v {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 522px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-zaSt9s {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 476px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-w0BUP1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 430px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-7aiYCZ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 384px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents2dpeth-vm9tw5 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 338px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_open_selected-5hJxhg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 292px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-jz00uh {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-contents1dpeth_close-yH69NI {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 200px;
  width: 320px;
}

.basiccomponentlistbasic .web-index-title-common-5hJxhg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 154px;
  width: 320px;
}

.basiccomponentlistbasic .webgnb-ZJ33bs {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistbasic .rectangle-JQlHvy {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistbasic .background-JQlHvy {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistbasic .index-JQlHvy {
  background-color: transparent;
  height: 28px;
  left: 421px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.basiccomponentlistbasic .web-index-select-vqsxzi {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.basiccomponentlistbasic .web-index-unselect-vqsxzi {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentlistbasic .web-index-unelect_main-JQlHvy {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentlistbasic .logo-4ECrxG {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentlistbasic .webgnb-gA9Ei4 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistbasic .rectangle-kWvVx5 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistbasic .background-kWvVx5 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistbasic .index-kWvVx5 {
  background-color: transparent;
  height: 28px;
  left: 421px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.basiccomponentlistbasic .web-index-select-ww4XZn {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.basiccomponentlistbasic .web-index-unselect-ww4XZn {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentlistbasic .web-index-unelect_main-kWvVx5 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentlistbasic .logo-OHQyy1 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentlistbasic .webgnb-dnE83V {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistbasic .rectangle-V65Wzz {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistbasic .background-V65Wzz {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistbasic .index-V65Wzz {
  background-color: transparent;
  height: 28px;
  left: 421px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.basiccomponentlistbasic .web-index-select-xJ1W9X {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.basiccomponentlistbasic .web-index-unselect-xJ1W9X {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentlistbasic .web-index-unelect_main-V65Wzz {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentlistbasic .logo-b10TuY {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentlistbasic .webgnb-WzitD3 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistbasic .rectangle-ljLYtW {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistbasic .background-ljLYtW {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistbasic .index-ljLYtW {
  background-color: transparent;
  height: 28px;
  left: 421px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.basiccomponentlistbasic .web-index-select-S1DMAp {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.basiccomponentlistbasic .web-index-unselect-S1DMAp {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentlistbasic .web-index-unelect_main-ljLYtW {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentlistbasic .logo-wxVBdZ {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
