/* screen - basiccomponentgraphgraphwithunit */

.basiccomponentgraphgraphwithunit {
  background-color: var(--white);
  height: 2183px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentgraphgraphwithunit .group-21-kcvPnW {
  background-color: transparent;
  height: 974px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.basiccomponentgraphgraphwithunit .group-18-kcvPnW {
  background-color: transparent;
  height: 517px;
  left: 420px;
  position: absolute;
  top: 1466px;
  width: 1400px;
}

.basiccomponentgraphgraphwithunit .web-sub_-title-kcvPnW {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentgraphgraphwithunit .web-title-area-kcvPnW {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentgraphgraphwithunit .web-tab-basic-component_-graph-kcvPnW {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentgraphgraphwithunit .x3rd-depth-B0DwQf {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.basiccomponentgraphgraphwithunit .tab-11TvxY {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.basiccomponentgraphgraphwithunit .graph-rmxj4x {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 38px;
}

.basiccomponentgraphgraphwithunit .graph-with-unit-rmxj4x {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.basiccomponentgraphgraphwithunit .lnb-basic-component-kcvPnW {
  background-color: transparent;
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .rectangle-CpcdgN {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .background-CpcdgN {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .rectangle-2O6vvW {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .line-CpcdgN {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentgraphgraphwithunit .home-net-ui-guideline-CpcdgN {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.basiccomponentgraphgraphwithunit .group-CpcdgN {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1437px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .empty-ctz9Uf {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .empty-gJHmOk {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .line-copy-ctz9Uf {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentgraphgraphwithunit .group-2O6vvW {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1166px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .empty-ub28nm {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .empty-6rmdNn {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .line-copy-ub28nm {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentgraphgraphwithunit .web-index-contents1dpeth_close-CpcdgN {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1391px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents1dpeth_close-2O6vvW {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1345px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents1dpeth_close-pIRpi0 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1299px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents1dpeth_close-tWnsQe {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1253px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-title-reference-CpcdgN {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1478px;
  width: 313px;
}

.basiccomponentgraphgraphwithunit .web-index-title-reference-2O6vvW {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1207px;
  width: 313px;
}

.basiccomponentgraphgraphwithunit .web-index-contents1dpeth_close-LpHxTQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1120px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents1dpeth_close-vKDMXb {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1074px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents1dpeth_close-Z4SkSi {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1028px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-CpcdgN {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 982px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-2O6vvW {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 936px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-pIRpi0 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 890px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-tWnsQe {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 844px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-LpHxTQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 798px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-vKDMXb {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 752px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-Z4SkSi {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 706px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-ChXcNh {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 614px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-Txxb98 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 660px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-yDiyX1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 568px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-ZjTk3r {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 522px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-3dVxAx {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 476px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-GBsKE5 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 430px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-wUCQMU {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 384px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents2dpeth-EKz3mX {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 338px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents1dpeth_open_selected-CpcdgN {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 292px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents1dpeth_close-ChXcNh {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-contents1dpeth_close-Txxb98 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 200px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .web-index-title-common-CpcdgN {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 154px;
  width: 320px;
}

.basiccomponentgraphgraphwithunit .webgnb-kcvPnW {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentgraphgraphwithunit .rectangle-iWTUyv {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentgraphgraphwithunit .background-iWTUyv {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentgraphgraphwithunit .index-iWTUyv {
  background-color: transparent;
  height: 28px;
  left: 421px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.basiccomponentgraphgraphwithunit .web-index-select-Cp9dCY {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.basiccomponentgraphgraphwithunit .web-index-unselect-Cp9dCY {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentgraphgraphwithunit .web-index-unelect_main-iWTUyv {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentgraphgraphwithunit .logo-iuoJzx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
