/* screen - basiccomponentdialogstabletdialogs */

.basiccomponentdialogstabletdialogs {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentdialogstabletdialogs .group-3-n3Vm0q {
  background-color: transparent;
  height: 566px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.basiccomponentdialogstabletdialogs .web-sub_-title-n3Vm0q {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentdialogstabletdialogs .web-title-area-n3Vm0q {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentdialogstabletdialogs .web-tab-basic-component_-dialogs-n3Vm0q {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentdialogstabletdialogs .x3rd-depth-aeJs62 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.basiccomponentdialogstabletdialogs .tab-M46X5R {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.basiccomponentdialogstabletdialogs .dialogs-Pryakf {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 47px;
}

.basiccomponentdialogstabletdialogs .detail-input-popup-copy-Pryakf {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 115px;
}

.basiccomponentdialogstabletdialogs .tablet-dialogs-Pryakf {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 87px;
}

.basiccomponentdialogstabletdialogs .lnb-basic-component-n3Vm0q {
  background-color: transparent;
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .rectangle-64hI1S {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .background-64hI1S {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .rectangle-Y1s0sy {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .line-64hI1S {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentdialogstabletdialogs .home-net-ui-guideline-64hI1S {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.basiccomponentdialogstabletdialogs .group-64hI1S {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1437px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .empty-qLgdE4 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .empty-Bnhy7e {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .line-copy-qLgdE4 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentdialogstabletdialogs .group-Y1s0sy {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1166px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .empty-yR2upX {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .empty-ungE0T {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .line-copy-yR2upX {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentdialogstabletdialogs .web-index-contents1dpeth_close-64hI1S {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1391px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents1dpeth_close-Y1s0sy {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1345px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents1dpeth_close-oq0VSf {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1299px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents1dpeth_close-SeVsJT {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1253px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-title-reference-64hI1S {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1478px;
  width: 313px;
}

.basiccomponentdialogstabletdialogs .web-index-title-reference-Y1s0sy {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1207px;
  width: 313px;
}

.basiccomponentdialogstabletdialogs .web-index-contents1dpeth_close-ftT1bv {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1120px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents1dpeth_close-RwTpAN {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1074px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents1dpeth_close-HnEz8J {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1028px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-64hI1S {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 982px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-Y1s0sy {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 936px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-oq0VSf {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 890px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-SeVsJT {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 844px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-ftT1bv {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 798px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-RwTpAN {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 752px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-HnEz8J {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 706px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-3p9zRv {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 614px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-vfNbxl {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 660px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-0rkZqV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 568px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-caw8lw {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 522px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-5mnke6 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 476px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-cluFSU {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 430px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-2xxrN4 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 384px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents2dpeth-EeZQVm {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 338px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents1dpeth_open_selected-64hI1S {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 292px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents1dpeth_close-3p9zRv {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-contents1dpeth_close-vfNbxl {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 200px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .web-index-title-common-64hI1S {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 154px;
  width: 320px;
}

.basiccomponentdialogstabletdialogs .webgnb-n3Vm0q {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentdialogstabletdialogs .rectangle-6bQ3W2 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentdialogstabletdialogs .background-6bQ3W2 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentdialogstabletdialogs .index-6bQ3W2 {
  background-color: transparent;
  height: 28px;
  left: 421px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.basiccomponentdialogstabletdialogs .web-index-select-CgqeCp {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.basiccomponentdialogstabletdialogs .web-index-unselect-CgqeCp {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentdialogstabletdialogs .web-index-unelect_main-6bQ3W2 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentdialogstabletdialogs .logo-jWwoxS {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
