/* screen - basicinteractionloadingscrollbar */

.basicinteractionloadingscrollbar {
  background-color: var(--white);
  height: 2108px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basicinteractionloadingscrollbar .group-4-RcU9m8 {
  background-color: transparent;
  height: 1624px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basicinteractionloadingscrollbar .web-title-area-RcU9m8 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basicinteractionloadingscrollbar .web-tab-basic-interaction_-loading-RcU9m8 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basicinteractionloadingscrollbar .x3rd-depth-X7Mfha {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.basicinteractionloadingscrollbar .tab-89NrCx {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 104px;
  position: relative;
  top: 1px;
  width: auto;
}

.basicinteractionloadingscrollbar .loading-page-xpcIQT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 83px;
}

.basicinteractionloadingscrollbar .scroll-bar-xpcIQT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 60px;
}

.basicinteractionloadingscrollbar .lnb-basic-interaction-RcU9m8 {
  background-color: transparent;
  height: 1172px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basicinteractionloadingscrollbar .rectangle-BuxP4M {
  background-color: var(--concrete);
  height: 1172px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basicinteractionloadingscrollbar .background-BuxP4M {
  background-color: var(--concrete);
  height: 1172px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basicinteractionloadingscrollbar .stacked-group-BuxP4M {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basicinteractionloadingscrollbar .web-index-title-common-sBQIsi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.basicinteractionloadingscrollbar .web-index-contents1dpeth_close-sBQIsi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionloadingscrollbar .web-index-contents1dpeth_close-f6uc9H {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionloadingscrollbar .web-index-contents1dpeth_close-tRNd8b {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionloadingscrollbar .web-index-contents1dpeth_open_selected-sBQIsi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionloadingscrollbar .web-index-contents2dpeth-sBQIsi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionloadingscrollbar .web-index-contents2dpeth-f6uc9H {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionloadingscrollbar .web-index-contents2dpeth-tRNd8b {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionloadingscrollbar .web-index-contents2dpeth-u2IAAp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionloadingscrollbar .web-index-contents2dpeth-fMSbU5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionloadingscrollbar .web-index-contents2dpeth-61rZxT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionloadingscrollbar .web-index-contents2dpeth-copy-sBQIsi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionloadingscrollbar .web-index-contents1dpeth_close-u2IAAp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionloadingscrollbar .web-index-contents1dpeth_close-fMSbU5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionloadingscrollbar .group-sBQIsi {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionloadingscrollbar .empty-MZ2GXp {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basicinteractionloadingscrollbar .line-copy-MZ2GXp {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basicinteractionloadingscrollbar .empty-xakNMs {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basicinteractionloadingscrollbar .web-index-title-reference-sBQIsi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.basicinteractionloadingscrollbar .web-index-contents1dpeth_close-61rZxT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionloadingscrollbar .web-index-contents1dpeth_close-MzwHd3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionloadingscrollbar .web-index-contents1dpeth_close-XMXt55 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionloadingscrollbar .web-index-contents1dpeth_close-2mfiU8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionloadingscrollbar .group-f6uc9H {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionloadingscrollbar .empty-e48SMv {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basicinteractionloadingscrollbar .line-copy-e48SMv {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basicinteractionloadingscrollbar .empty-lBSZjO {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basicinteractionloadingscrollbar .web-index-title-reference-f6uc9H {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.basicinteractionloadingscrollbar .line-BuxP4M {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basicinteractionloadingscrollbar .home-net-ui-guideline-BuxP4M {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.basicinteractionloadingscrollbar .webgnb-RcU9m8 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basicinteractionloadingscrollbar .rectangle-wnM9wN {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basicinteractionloadingscrollbar .background-wnM9wN {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basicinteractionloadingscrollbar .index-wnM9wN {
  background-color: transparent;
  height: 28px;
  left: 421px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.basicinteractionloadingscrollbar .web-index-select-m4DeSb {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.basicinteractionloadingscrollbar .web-index-unselect-m4DeSb {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basicinteractionloadingscrollbar .web-index-unelect_main-wnM9wN {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basicinteractionloadingscrollbar .logo-QjYst3 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
