/* screen - basiccomponentlistexpandablelist */

.basiccomponentlistexpandablelist {
  background-color: var(--white);
  height: 1619px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentlistexpandablelist .group-7-tPAyUx {
  background-color: transparent;
  height: 313px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.basiccomponentlistexpandablelist .group-9-tPAyUx {
  background-color: transparent;
  height: 597px;
  left: 419px;
  position: absolute;
  top: 822px;
  width: 1400px;
}

.basiccomponentlistexpandablelist .group-8-tPAyUx {
  background-color: transparent;
  height: 331px;
  left: 419px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.basiccomponentlistexpandablelist .web-sub_-title-tPAyUx {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentlistexpandablelist .web-title-area-tPAyUx {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentlistexpandablelist .web-tab-basic-component_-list-tPAyUx {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentlistexpandablelist .x3rd-depth-KzIffl {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.basiccomponentlistexpandablelist .tab-pxM6VG {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.basiccomponentlistexpandablelist .list-SG60jn {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 23px;
}

.basiccomponentlistexpandablelist .list-with-button-copy-2-SG60jn {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.basiccomponentlistexpandablelist .expandable-list-copy-SG60jn {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.basiccomponentlistexpandablelist .grid-list-SG60jn {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 49px;
}

.basiccomponentlistexpandablelist .lnb-basic-component-tPAyUx {
  background-color: transparent;
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistexpandablelist .rectangle-UTpy9w {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistexpandablelist .background-UTpy9w {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistexpandablelist .rectangle-tAP86Q {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistexpandablelist .line-UTpy9w {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentlistexpandablelist .home-net-ui-guideline-UTpy9w {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.basiccomponentlistexpandablelist .group-UTpy9w {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1437px;
  width: 320px;
}

.basiccomponentlistexpandablelist .empty-i8oknU {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentlistexpandablelist .empty-UVcL9f {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistexpandablelist .line-copy-i8oknU {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentlistexpandablelist .group-tAP86Q {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1166px;
  width: 320px;
}

.basiccomponentlistexpandablelist .empty-w2sv66 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentlistexpandablelist .empty-JkAffc {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentlistexpandablelist .line-copy-w2sv66 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentlistexpandablelist .web-index-contents1dpeth_close-UTpy9w {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1391px;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents1dpeth_close-tAP86Q {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1345px;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents1dpeth_close-5tIDzQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1299px;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents1dpeth_close-KrljyQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1253px;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-title-reference-UTpy9w {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1478px;
  width: 313px;
}

.basiccomponentlistexpandablelist .web-index-title-reference-tAP86Q {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1207px;
  width: 313px;
}

.basiccomponentlistexpandablelist .web-index-contents1dpeth_close-yPYUVk {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1120px;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents1dpeth_close-6ErpnL {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1074px;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents1dpeth_close-u9xMem {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1028px;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-UTpy9w {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 982px;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-tAP86Q {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 936px;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-5tIDzQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 890px;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-KrljyQ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 844px;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-yPYUVk {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 798px;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-6ErpnL {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 752px;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-u9xMem {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 706px;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-wWWMv8 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 614px;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-NnCDoj {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 660px;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-xenQNl {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 568px;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-AKlKwl {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 522px;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-hceAbj {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 476px;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-RNdiAu {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 430px;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-plkXiK {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 384px;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents2dpeth-T8s5i4 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 338px;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents1dpeth_open_selected-UTpy9w {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 292px;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents1dpeth_close-wWWMv8 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-contents1dpeth_close-NnCDoj {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 200px;
  width: 320px;
}

.basiccomponentlistexpandablelist .web-index-title-common-UTpy9w {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 154px;
  width: 320px;
}

.basiccomponentlistexpandablelist .webgnb-tPAyUx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistexpandablelist .rectangle-lxN5xL {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistexpandablelist .background-lxN5xL {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentlistexpandablelist .index-lxN5xL {
  background-color: transparent;
  height: 28px;
  left: 421px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.basiccomponentlistexpandablelist .web-index-select-aXUo2Q {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.basiccomponentlistexpandablelist .web-index-unselect-aXUo2Q {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentlistexpandablelist .web-index-unelect_main-lxN5xL {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponentlistexpandablelist .logo-9PCbgN {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
