/* screen - basiccomponenttextfieldsstate */

.basiccomponenttextfieldsstate {
  background-color: var(--white);
  height: 1185px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponenttextfieldsstate .group-11-nRO1ga {
  background-color: transparent;
  height: 643px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.basiccomponenttextfieldsstate .web-sub_-title-nRO1ga {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponenttextfieldsstate .web-title-area-nRO1ga {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponenttextfieldsstate .web-tab-basic-component_-graph-nRO1ga {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponenttextfieldsstate .x3rd-depth-YfBC7g {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.basiccomponenttextfieldsstate .tab-2uAx7B {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.basiccomponenttextfieldsstate .text-fields-7uS4Qf {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 63px;
}

.basiccomponenttextfieldsstate .auto-complete-text-f-7uS4Qf {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 151px;
}

.basiccomponenttextfieldsstate .states-copy-7uS4Qf {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 40px;
}

.basiccomponenttextfieldsstate .interaction-flow-7uS4Qf {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 101px;
}

.basiccomponenttextfieldsstate .lnb-basic-component-nRO1ga {
  background-color: transparent;
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponenttextfieldsstate .rectangle-ESte4K {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponenttextfieldsstate .background-ESte4K {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponenttextfieldsstate .rectangle-fDqowp {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponenttextfieldsstate .line-ESte4K {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponenttextfieldsstate .home-net-ui-guideline-ESte4K {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.basiccomponenttextfieldsstate .group-ESte4K {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1437px;
  width: 320px;
}

.basiccomponenttextfieldsstate .empty-FyC7u6 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponenttextfieldsstate .empty-5jX7nv {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponenttextfieldsstate .line-copy-FyC7u6 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponenttextfieldsstate .group-fDqowp {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1166px;
  width: 320px;
}

.basiccomponenttextfieldsstate .empty-JfhiaZ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponenttextfieldsstate .empty-Hxw3EX {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponenttextfieldsstate .line-copy-JfhiaZ {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponenttextfieldsstate .web-index-contents1dpeth_close-ESte4K {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1391px;
  width: 320px;
}

.basiccomponenttextfieldsstate .web-index-contents1dpeth_close-fDqowp {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1345px;
  width: 320px;
}

.basiccomponenttextfieldsstate .web-index-contents1dpeth_close-gjGvIx {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1299px;
  width: 320px;
}

.basiccomponenttextfieldsstate .web-index-contents1dpeth_close-4Q568l {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1253px;
  width: 320px;
}

.basiccomponenttextfieldsstate .web-index-title-reference-ESte4K {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1478px;
  width: 313px;
}

.basiccomponenttextfieldsstate .web-index-title-reference-fDqowp {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1207px;
  width: 313px;
}

.basiccomponenttextfieldsstate .web-index-contents1dpeth_close-1cRIfg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1120px;
  width: 320px;
}

.basiccomponenttextfieldsstate .web-index-contents1dpeth_close-ZxCVJI {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1074px;
  width: 320px;
}

.basiccomponenttextfieldsstate .web-index-contents1dpeth_close-UvMhLX {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1028px;
  width: 320px;
}

.basiccomponenttextfieldsstate .web-index-contents2dpeth-ESte4K {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 982px;
  width: 320px;
}

.basiccomponenttextfieldsstate .web-index-contents2dpeth-fDqowp {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 936px;
  width: 320px;
}

.basiccomponenttextfieldsstate .web-index-contents2dpeth-gjGvIx {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 890px;
  width: 320px;
}

.basiccomponenttextfieldsstate .web-index-contents2dpeth-4Q568l {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 844px;
  width: 320px;
}

.basiccomponenttextfieldsstate .web-index-contents2dpeth-1cRIfg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 798px;
  width: 320px;
}

.basiccomponenttextfieldsstate .web-index-contents2dpeth-ZxCVJI {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 752px;
  width: 320px;
}

.basiccomponenttextfieldsstate .web-index-contents2dpeth-UvMhLX {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 706px;
  width: 320px;
}

.basiccomponenttextfieldsstate .web-index-contents2dpeth-15C5zx {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 614px;
  width: 320px;
}

.basiccomponenttextfieldsstate .web-index-contents2dpeth-3s7vrJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 660px;
  width: 320px;
}

.basiccomponenttextfieldsstate .web-index-contents2dpeth-zfT0QF {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 568px;
  width: 320px;
}

.basiccomponenttextfieldsstate .web-index-contents2dpeth-3chvUx {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 522px;
  width: 320px;
}

.basiccomponenttextfieldsstate .web-index-contents2dpeth-zaUYJz {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 476px;
  width: 320px;
}

.basiccomponenttextfieldsstate .web-index-contents2dpeth-ejIRXC {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 430px;
  width: 320px;
}

.basiccomponenttextfieldsstate .web-index-contents2dpeth-OrE1is {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 384px;
  width: 320px;
}

.basiccomponenttextfieldsstate .web-index-contents2dpeth-Ds7lXk {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 338px;
  width: 320px;
}

.basiccomponenttextfieldsstate .web-index-contents1dpeth_open_selected-ESte4K {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 292px;
  width: 320px;
}

.basiccomponenttextfieldsstate .web-index-contents1dpeth_close-15C5zx {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 320px;
}

.basiccomponenttextfieldsstate .web-index-contents1dpeth_close-3s7vrJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 200px;
  width: 320px;
}

.basiccomponenttextfieldsstate .web-index-title-common-ESte4K {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 154px;
  width: 320px;
}

.basiccomponenttextfieldsstate .webgnb-nRO1ga {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponenttextfieldsstate .rectangle-xBHIs7 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponenttextfieldsstate .background-xBHIs7 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponenttextfieldsstate .index-xBHIs7 {
  background-color: transparent;
  height: 28px;
  left: 421px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.basiccomponenttextfieldsstate .web-index-select-9pKqxt {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.basiccomponenttextfieldsstate .web-index-unselect-9pKqxt {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponenttextfieldsstate .web-index-unelect_main-xBHIs7 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basiccomponenttextfieldsstate .logo-52X9eA {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
