/* screen - basicinteractionmotioneffect */

.basicinteractionmotioneffect {
  background-color: var(--white);
  height: 4250px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basicinteractionmotioneffect .group-10-oXGR8y {
  background-color: transparent;
  height: 848px;
  left: 420px;
  position: absolute;
  top: 1210px;
  width: 1441px;
}

.basicinteractionmotioneffect .group-7-oXGR8y {
  background-color: transparent;
  height: 904px;
  left: 400px;
  position: absolute;
  top: 3146px;
  width: 1420px;
}

.basicinteractionmotioneffect .group-12-oXGR8y {
  background-color: transparent;
  height: 768px;
  left: 420px;
  position: absolute;
  top: 292px;
  width: 1420px;
}

.basicinteractionmotioneffect .group-9-oXGR8y {
  background-color: transparent;
  height: 788px;
  left: 418px;
  position: absolute;
  top: 2208px;
  width: 1402px;
}

.basicinteractionmotioneffect .web-sub_-title-copy-oXGR8y {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 234px;
  width: 1600px;
}

.basicinteractionmotioneffect .srceen-comments-comment-oXGR8y {
  background-color: transparent;
  height: 34px;
  left: 584px;
  position: absolute;
  top: 234px;
  width: 622px;
}

.basicinteractionmotioneffect .web-title-area-oXGR8y {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basicinteractionmotioneffect .lnb-basic-interaction-oXGR8y {
  background-color: transparent;
  height: 1172px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basicinteractionmotioneffect .rectangle-9YpOsW {
  background-color: var(--concrete);
  height: 1172px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basicinteractionmotioneffect .background-9YpOsW {
  background-color: var(--concrete);
  height: 1172px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basicinteractionmotioneffect .stacked-group-9YpOsW {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basicinteractionmotioneffect .web-index-title-common-xDs4my {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.basicinteractionmotioneffect .web-index-contents1dpeth_close-xDs4my {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionmotioneffect .web-index-contents1dpeth_close-9Yx3UR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionmotioneffect .web-index-contents1dpeth_close-jcU7oX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionmotioneffect .web-index-contents1dpeth_open_selected-xDs4my {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionmotioneffect .web-index-contents2dpeth-xDs4my {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionmotioneffect .web-index-contents2dpeth-9Yx3UR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionmotioneffect .web-index-contents2dpeth-jcU7oX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionmotioneffect .web-index-contents2dpeth-37KfZT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionmotioneffect .web-index-contents2dpeth-pKJDV4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionmotioneffect .web-index-contents2dpeth-AEakDb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionmotioneffect .web-index-contents2dpeth-copy-xDs4my {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionmotioneffect .web-index-contents1dpeth_close-37KfZT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionmotioneffect .web-index-contents1dpeth_close-pKJDV4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionmotioneffect .group-xDs4my {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionmotioneffect .empty-UM7Twx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basicinteractionmotioneffect .line-copy-UM7Twx {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basicinteractionmotioneffect .empty-gSXOyU {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basicinteractionmotioneffect .web-index-title-reference-xDs4my {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.basicinteractionmotioneffect .web-index-contents1dpeth_close-AEakDb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionmotioneffect .web-index-contents1dpeth_close-5pHzAf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionmotioneffect .web-index-contents1dpeth_close-M6Nt2O {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionmotioneffect .web-index-contents1dpeth_close-z66rqR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionmotioneffect .group-9Yx3UR {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionmotioneffect .empty-qxvlX8 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basicinteractionmotioneffect .line-copy-qxvlX8 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basicinteractionmotioneffect .empty-Mfxsz2 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basicinteractionmotioneffect .web-index-title-reference-9Yx3UR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.basicinteractionmotioneffect .line-9YpOsW {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basicinteractionmotioneffect .home-net-ui-guideline-9YpOsW {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.basicinteractionmotioneffect .webgnb-oXGR8y {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basicinteractionmotioneffect .rectangle-5mKnle {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basicinteractionmotioneffect .background-5mKnle {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basicinteractionmotioneffect .index-5mKnle {
  background-color: transparent;
  height: 28px;
  left: 421px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.basicinteractionmotioneffect .web-index-select-UWSWHe {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.basicinteractionmotioneffect .web-index-unselect-UWSWHe {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basicinteractionmotioneffect .web-index-unelect_main-5mKnle {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.basicinteractionmotioneffect .logo-IVZTEy {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
