/* screen - overviewprinciplereleaseversion */

.overviewprinciplereleaseversion {
  background-color: var(--white);
  height: 1305px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.overviewprinciplereleaseversion .group-2-6H6Ttm {
  background-color: transparent;
  height: 437px;
  left: 420px;
  position: absolute;
  top: 668px;
  width: 1400px;
}

.overviewprinciplereleaseversion .web-sub_-title-6H6Ttm {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.overviewprinciplereleaseversion .table-guidesub-title_-disabled-divider-6H6Ttm {
  background-color: transparent;
  height: 276px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.overviewprinciplereleaseversion .web-title-area-6H6Ttm {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: absolute;
  top: 64px;
  width: 1600px;
}

.overviewprinciplereleaseversion .x3rd-depth-6H6Ttm {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: absolute;
  top: 187px;
  width: 1600px;
}

.overviewprinciplereleaseversion .tab-x4jI9A {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.overviewprinciplereleaseversion .responsive-ui-U5orx7 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 87px;
}

.overviewprinciplereleaseversion .text-overflow-U5orx7 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 83px;
}

.overviewprinciplereleaseversion .word-break-U5orx7 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 73px;
}

.overviewprinciplereleaseversion .case-sensitive-U5orx7 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 90px;
}

.overviewprinciplereleaseversion .date-and-time-inform-U5orx7 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 163px;
}

.overviewprinciplereleaseversion .release-version-U5orx7 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 97px;
}

.overviewprinciplereleaseversion .lnb-overview-6H6Ttm {
  background-color: transparent;
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewprinciplereleaseversion .rectangle-QzPame {
  background-color: var(--concrete);
  height: 942px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewprinciplereleaseversion .background-QzPame {
  background-color: var(--concrete);
  height: 942px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewprinciplereleaseversion .stacked-group-QzPame {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.overviewprinciplereleaseversion .web-index-title-common-ykm2eM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.overviewprinciplereleaseversion .web-index-contents1dpeth_close-ykm2eM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplereleaseversion .web-index-contents1dpeth_open_selected-ykm2eM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplereleaseversion .web-index-contents2dpeth-ykm2eM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplereleaseversion .web-index-contents2dpeth-odYCpV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplereleaseversion .web-index-contents1dpeth_close-odYCpV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplereleaseversion .web-index-contents1dpeth_close-ECYse5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplereleaseversion .web-index-contents1dpeth_close-rjHn5c {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplereleaseversion .web-index-contents1dpeth_close-UX76B0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplereleaseversion .group-2-ykm2eM {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplereleaseversion .web-index-title-reference-ykm2eM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.overviewprinciplereleaseversion .web-index-contents1dpeth_close-vltxWU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplereleaseversion .web-index-contents1dpeth_close-3dwLaf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplereleaseversion .web-index-contents1dpeth_close-2qnUQx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplereleaseversion .web-index-contents1dpeth_close-42J5u8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplereleaseversion .group-ykm2eM {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplereleaseversion .empty-xDxiz1 {
  background-color: var(--concrete);
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.overviewprinciplereleaseversion .line-copy-xDxiz1 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.overviewprinciplereleaseversion .empty-aJtHxf {
  background-color: var(--concrete);
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewprinciplereleaseversion .web-index-title-reference-odYCpV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.overviewprinciplereleaseversion .line-QzPame {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.overviewprinciplereleaseversion .home-net-ui-guideline-QzPame {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.overviewprinciplereleaseversion .webgnb-6H6Ttm {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.overviewprinciplereleaseversion .rectangle-OxtoDD {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.overviewprinciplereleaseversion .background-OxtoDD {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.overviewprinciplereleaseversion .index-OxtoDD {
  background-color: transparent;
  height: 22px;
  left: 429px;
  position: absolute;
  top: 21px;
  width: 114px;
}

.overviewprinciplereleaseversion .web-index-select-bKVZ5k {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.overviewprinciplereleaseversion .web-index-unselect-bKVZ5k {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.overviewprinciplereleaseversion .web-index-unelect_main-OxtoDD {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.overviewprinciplereleaseversion .logo-APYouX {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
