/* screen - overviewprincipledateandtimeinformation */

.overviewprincipledateandtimeinformation {
  background-color: var(--white);
  height: 1094px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.overviewprincipledateandtimeinformation .group-2-1YNaNa {
  background-color: transparent;
  height: 610px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.overviewprincipledateandtimeinformation .web-title-area-1YNaNa {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: absolute;
  top: 64px;
  width: 1600px;
}

.overviewprincipledateandtimeinformation .x3rd-depth-1YNaNa {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: absolute;
  top: 187px;
  width: 1600px;
}

.overviewprincipledateandtimeinformation .tab-WV1uKN {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.overviewprincipledateandtimeinformation .responsive-ui-Ti5UoJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 87px;
}

.overviewprincipledateandtimeinformation .text-overflow-Ti5UoJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 83px;
}

.overviewprincipledateandtimeinformation .word-break-Ti5UoJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 73px;
}

.overviewprincipledateandtimeinformation .case-sensitive-Ti5UoJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 90px;
}

.overviewprincipledateandtimeinformation .date-and-time-inform-Ti5UoJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 164px;
}

.overviewprincipledateandtimeinformation .release-version-Ti5UoJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 97px;
}

.overviewprincipledateandtimeinformation .lnb-overview-1YNaNa {
  background-color: transparent;
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewprincipledateandtimeinformation .rectangle-XOyZPs {
  background-color: var(--concrete);
  height: 942px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewprincipledateandtimeinformation .background-XOyZPs {
  background-color: var(--concrete);
  height: 942px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewprincipledateandtimeinformation .stacked-group-XOyZPs {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.overviewprincipledateandtimeinformation .web-index-title-common-0JNFnu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.overviewprincipledateandtimeinformation .web-index-contents1dpeth_close-0JNFnu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipledateandtimeinformation .web-index-contents1dpeth_open_selected-0JNFnu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipledateandtimeinformation .web-index-contents2dpeth-0JNFnu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipledateandtimeinformation .web-index-contents2dpeth-KAugNR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipledateandtimeinformation .web-index-contents1dpeth_close-KAugNR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipledateandtimeinformation .web-index-contents1dpeth_close-huQT9g {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipledateandtimeinformation .web-index-contents1dpeth_close-n4hiNA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipledateandtimeinformation .web-index-contents1dpeth_close-gqe7xe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipledateandtimeinformation .group-2-0JNFnu {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipledateandtimeinformation .web-index-title-reference-0JNFnu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.overviewprincipledateandtimeinformation .web-index-contents1dpeth_close-M8ETvx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipledateandtimeinformation .web-index-contents1dpeth_close-Au1fFn {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipledateandtimeinformation .web-index-contents1dpeth_close-oXdZm8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipledateandtimeinformation .web-index-contents1dpeth_close-y4HJPL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipledateandtimeinformation .group-0JNFnu {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipledateandtimeinformation .empty-rOXnTZ {
  background-color: var(--concrete);
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.overviewprincipledateandtimeinformation .line-copy-rOXnTZ {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.overviewprincipledateandtimeinformation .empty-x8xyoT {
  background-color: var(--concrete);
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewprincipledateandtimeinformation .web-index-title-reference-KAugNR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.overviewprincipledateandtimeinformation .line-XOyZPs {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.overviewprincipledateandtimeinformation .home-net-ui-guideline-XOyZPs {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.overviewprincipledateandtimeinformation .webgnb-1YNaNa {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.overviewprincipledateandtimeinformation .rectangle-XZIZt6 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.overviewprincipledateandtimeinformation .background-XZIZt6 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.overviewprincipledateandtimeinformation .index-XZIZt6 {
  background-color: transparent;
  height: 22px;
  left: 429px;
  position: absolute;
  top: 21px;
  width: 114px;
}

.overviewprincipledateandtimeinformation .web-index-select-uqengp {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.overviewprincipledateandtimeinformation .web-index-unselect-uqengp {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.overviewprincipledateandtimeinformation .web-index-unelect_main-XZIZt6 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.overviewprincipledateandtimeinformation .logo-wlcvSC {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
