/* screen - overviewprinciplecasesensitive */

.overviewprinciplecasesensitive {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.overviewprinciplecasesensitive .group-2oNxLf {
  background-color: transparent;
  height: 523px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.overviewprinciplecasesensitive .web-sub_-title-2oNxLf {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.overviewprinciplecasesensitive .web-title-area-2oNxLf {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: absolute;
  top: 64px;
  width: 1600px;
}

.overviewprinciplecasesensitive .x3rd-depth-2oNxLf {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: absolute;
  top: 187px;
  width: 1600px;
}

.overviewprinciplecasesensitive .tab-1JBdOQ {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.overviewprinciplecasesensitive .responsive-ui-iOQcx5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 87px;
}

.overviewprinciplecasesensitive .text-overflow-iOQcx5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 83px;
}

.overviewprinciplecasesensitive .word-break-iOQcx5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 73px;
}

.overviewprinciplecasesensitive .case-sensitive-iOQcx5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 91px;
}

.overviewprinciplecasesensitive .date-and-time-inform-iOQcx5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 163px;
}

.overviewprinciplecasesensitive .release-version-iOQcx5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 97px;
}

.overviewprinciplecasesensitive .lnb-overview-2oNxLf {
  background-color: transparent;
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewprinciplecasesensitive .rectangle-bc9x70 {
  background-color: var(--concrete);
  height: 942px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewprinciplecasesensitive .background-bc9x70 {
  background-color: var(--concrete);
  height: 942px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewprinciplecasesensitive .stacked-group-bc9x70 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.overviewprinciplecasesensitive .web-index-title-common-HQ1dxx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.overviewprinciplecasesensitive .web-index-contents1dpeth_close-HQ1dxx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplecasesensitive .web-index-contents1dpeth_open_selected-HQ1dxx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplecasesensitive .web-index-contents2dpeth-HQ1dxx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplecasesensitive .web-index-contents2dpeth-DIM7KD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplecasesensitive .web-index-contents1dpeth_close-DIM7KD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplecasesensitive .web-index-contents1dpeth_close-0A7jnr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplecasesensitive .web-index-contents1dpeth_close-NV3cJq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplecasesensitive .web-index-contents1dpeth_close-ao1lEe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplecasesensitive .group-2-HQ1dxx {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplecasesensitive .web-index-title-reference-HQ1dxx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.overviewprinciplecasesensitive .web-index-contents1dpeth_close-Jec65J {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplecasesensitive .web-index-contents1dpeth_close-rnuXAh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplecasesensitive .web-index-contents1dpeth_close-bIxQeq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplecasesensitive .web-index-contents1dpeth_close-qOIVEt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplecasesensitive .group-HQ1dxx {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprinciplecasesensitive .empty-yOx52N {
  background-color: var(--concrete);
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.overviewprinciplecasesensitive .line-copy-yOx52N {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.overviewprinciplecasesensitive .empty-yKOXQ3 {
  background-color: var(--concrete);
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewprinciplecasesensitive .web-index-title-reference-DIM7KD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.overviewprinciplecasesensitive .line-bc9x70 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.overviewprinciplecasesensitive .home-net-ui-guideline-bc9x70 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.overviewprinciplecasesensitive .webgnb-2oNxLf {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.overviewprinciplecasesensitive .rectangle-NA5xAX {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.overviewprinciplecasesensitive .background-NA5xAX {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.overviewprinciplecasesensitive .index-NA5xAX {
  background-color: transparent;
  height: 22px;
  left: 429px;
  position: absolute;
  top: 21px;
  width: 114px;
}

.overviewprinciplecasesensitive .web-index-select-C2IWEE {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.overviewprinciplecasesensitive .web-index-unselect-C2IWEE {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.overviewprinciplecasesensitive .web-index-unelect_main-NA5xAX {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.overviewprinciplecasesensitive .logo-sR3Af6 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
