/* screen - overviewprincipleresponsiveui */

.overviewprincipleresponsiveui {
  background-color: var(--white);
  height: 2052px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.overviewprincipleresponsiveui .group-5-UMBVl5 {
  background-color: transparent;
  height: 1568px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.overviewprincipleresponsiveui .web-title-area-UMBVl5 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.overviewprincipleresponsiveui .x3rd-depth-UMBVl5 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.overviewprincipleresponsiveui .tab-f0vWiH {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.overviewprincipleresponsiveui .responsive-ui-92JtMi {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 87px;
}

.overviewprincipleresponsiveui .text-overflow-92JtMi {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 83px;
}

.overviewprincipleresponsiveui .word-break-92JtMi {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 73px;
}

.overviewprincipleresponsiveui .case-sensitive-92JtMi {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 90px;
}

.overviewprincipleresponsiveui .date-and-time-inform-92JtMi {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 163px;
}

.overviewprincipleresponsiveui .release-version-92JtMi {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 97px;
}

.overviewprincipleresponsiveui .lnb-overview-UMBVl5 {
  background-color: transparent;
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewprincipleresponsiveui .rectangle-ShzVXe {
  background-color: var(--concrete);
  height: 942px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewprincipleresponsiveui .background-ShzVXe {
  background-color: var(--concrete);
  height: 942px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewprincipleresponsiveui .stacked-group-ShzVXe {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.overviewprincipleresponsiveui .web-index-title-common-txBLK6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.overviewprincipleresponsiveui .web-index-contents1dpeth_close-txBLK6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipleresponsiveui .web-index-contents1dpeth_open_selected-txBLK6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipleresponsiveui .web-index-contents2dpeth-txBLK6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipleresponsiveui .web-index-contents2dpeth-Q3zn06 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipleresponsiveui .web-index-contents1dpeth_close-Q3zn06 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipleresponsiveui .web-index-contents1dpeth_close-F3M7Le {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipleresponsiveui .web-index-contents1dpeth_close-4reYP4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipleresponsiveui .web-index-contents1dpeth_close-8AAOfz {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipleresponsiveui .group-2-txBLK6 {
  background-color: transparent;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipleresponsiveui .web-index-title-reference-txBLK6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.overviewprincipleresponsiveui .web-index-contents1dpeth_close-5osL4U {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipleresponsiveui .web-index-contents1dpeth_close-Ajaxea {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipleresponsiveui .web-index-contents1dpeth_close-04gsED {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipleresponsiveui .web-index-contents1dpeth_close-UPhN6A {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipleresponsiveui .group-txBLK6 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewprincipleresponsiveui .empty-B5KZ0D {
  background-color: var(--concrete);
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.overviewprincipleresponsiveui .line-copy-B5KZ0D {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.overviewprincipleresponsiveui .empty-TEPWm6 {
  background-color: var(--concrete);
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewprincipleresponsiveui .web-index-title-reference-Q3zn06 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.overviewprincipleresponsiveui .line-ShzVXe {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.overviewprincipleresponsiveui .home-net-ui-guideline-ShzVXe {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.overviewprincipleresponsiveui .webgnb-UMBVl5 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.overviewprincipleresponsiveui .rectangle-sY9QyB {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.overviewprincipleresponsiveui .background-sY9QyB {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.overviewprincipleresponsiveui .index-sY9QyB {
  background-color: transparent;
  height: 22px;
  left: 429px;
  position: absolute;
  top: 21px;
  width: 114px;
}

.overviewprincipleresponsiveui .web-index-select-pbPoWQ {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.overviewprincipleresponsiveui .web-index-unselect-pbPoWQ {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.overviewprincipleresponsiveui .web-index-unelect_main-sY9QyB {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.overviewprincipleresponsiveui .logo-0L9iCq {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
