/* screen - servicepluginsaloggingliveview */

.servicepluginsaloggingliveview {
  background-color: var(--white);
  height: 3819px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginsaloggingliveview .group-17-ydjqx4 {
  background-color: transparent;
  height: 3288px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 1600px;
}

.servicepluginsaloggingliveview .web-title-area-ydjqx4 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginsaloggingliveview .web-tab-service-plug-in_cctv-ydjqx4 {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginsaloggingliveview .rectangle-MMeSR8 {
  background-color: var(--white);
  height: 94px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginsaloggingliveview .x3rd-depth-MMeSR8 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginsaloggingliveview .tab-wMM0n7 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginsaloggingliveview .sa-logging-QooLbx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 70px;
}

.servicepluginsaloggingliveview .home-screen-QooLbx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 81px;
}

.servicepluginsaloggingliveview .more-option-copy-QooLbx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 77px;
}

.servicepluginsaloggingliveview .notices-copy-QooLbx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.servicepluginsaloggingliveview .deliveries-QooLbx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 62px;
}

.servicepluginsaloggingliveview .vehicle-information-QooLbx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 122px;
}

.servicepluginsaloggingliveview .x3rd-depth-copy-MMeSR8 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.servicepluginsaloggingliveview .tab-COyGV4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginsaloggingliveview .visitors-copy-oszIGm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 47px;
}

.servicepluginsaloggingliveview .ems-copy-oszIGm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 28px;
}

.servicepluginsaloggingliveview .maintenance-fee-copy-oszIGm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 102px;
}

.servicepluginsaloggingliveview .cctv-copy-oszIGm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 32px;
}

.servicepluginsaloggingliveview .ev-charging-copy-oszIGm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.servicepluginsaloggingliveview .reserve-visitor-vehi-copy-2-oszIGm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 137px;
}

.servicepluginsaloggingliveview .live-view-copy-oszIGm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 57px;
}

.servicepluginsaloggingliveview .lnb-service-plug-in-ydjqx4 {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginsaloggingliveview .rectangle-Uxiz8u {
  background-color: var(--concrete);
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginsaloggingliveview .lnb-Uxiz8u {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginsaloggingliveview .stacked-group-WFRrcd {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-title-common-HGK5M6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-contents1dpeth_close-HGK5M6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-contents1dpeth_close-xHF6gm {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-contents1dpeth_close-h7KZGN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-contents1dpeth_close-a5XCZW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-contents1dpeth_close-Q1n6me {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-contents1dpeth_close-mpxjtt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .group-HGK5M6 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .empty-Y9axbg {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginsaloggingliveview .line-copy-Y9axbg {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginsaloggingliveview .empty-y0fHJI {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-title-reference-HGK5M6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-contents1dpeth_close-8su1T0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-contents1dpeth_close-VUkJT3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-contents1d-HGK5M6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-contents1dpeth_open_selected-HGK5M6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-contents2dpeth-copy-3-HGK5M6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-contents2dpeth-HGK5M6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-contents2dpeth-xHF6gm {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-contents2dpeth-h7KZGN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-contents2dpeth-a5XCZW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-contents2dpeth-Q1n6me {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-contents2dpeth-mpxjtt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-contents2dpeth-8su1T0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-contents2dpeth-VUkJT3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-contents2dpeth-mCTHYV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-contents2dpeth-lp19E0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-contents2dpeth-copy-2-HGK5M6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-contents2dpeth-copy-HGK5M6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-contents2dpeth-copy-4-HGK5M6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-contents2dpeth-A5084q {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .group-xHF6gm {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .empty-OS0YCB {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginsaloggingliveview .line-copy-OS0YCB {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginsaloggingliveview .empty-izHx9M {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginsaloggingliveview .web-index-title-reference-xHF6gm {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingliveview .line-WFRrcd {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginsaloggingliveview .home-net-ui-guideline-WFRrcd {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.servicepluginsaloggingliveview .webgnb-ydjqx4 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginsaloggingliveview .rectangle-hxtxxF {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginsaloggingliveview .background-hxtxxF {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginsaloggingliveview .index-hxtxxF {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.servicepluginsaloggingliveview .web-index-select-hVCiu1 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginsaloggingliveview .web-index-unselect-hVCiu1 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginsaloggingliveview .web-index-unelect_main-hxtxxF {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginsaloggingliveview .logo-7ZUM65 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
