/* screen - servicepluginliveviewincomingcallinteractionflow */

.servicepluginliveviewincomingcallinteractionflow {
  background-color: var(--white);
  height: 3472px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginliveviewincomingcallinteractionflow .group-5-xlLAnM {
  background-color: transparent;
  height: 857px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 1600px;
}

.servicepluginliveviewincomingcallinteractionflow .group-4-xlLAnM {
  background-color: transparent;
  height: 823px;
  left: 320px;
  position: absolute;
  top: 2449px;
  width: 1600px;
}

.servicepluginliveviewincomingcallinteractionflow .group-13-xlLAnM {
  background-color: transparent;
  height: 862px;
  left: 320px;
  position: absolute;
  top: 1387px;
  width: 1600px;
}

.servicepluginliveviewincomingcallinteractionflow .web-title-area-xlLAnM {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginliveviewincomingcallinteractionflow .lnb-service-plug-in-xlLAnM {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .rectangle-FbUllC {
  background-color: var(--concrete);
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .lnb-FbUllC {
  background-color: transparent;
  height: 1540px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .stacked-group-zr113G {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-title-common-YHtjak {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-contents1dpeth_close-YHtjak {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-contents1dpeth_close-QnF1iz {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-contents1dpeth_close-EDmgNF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-contents1dpeth_close-HcMF9G {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-contents1dpeth_close-k83Ldz {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-contents1dpeth_close-7gsAXv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .group-YHtjak {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .empty-I9jsQg {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .line-copy-I9jsQg {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginliveviewincomingcallinteractionflow .empty-vzN7xl {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-title-reference-YHtjak {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-contents1dpeth_close-Ho7Ehh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-contents1dpeth_close-B0P2xN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-contents1d-YHtjak {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-contents1dpeth_open_selected-YHtjak {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-contents2dpeth-copy-3-YHtjak {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-contents2dpeth-YHtjak {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-contents2dpeth-QnF1iz {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-contents2dpeth-EDmgNF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-contents2dpeth-HcMF9G {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-contents2dpeth-k83Ldz {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-contents2dpeth-7gsAXv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-contents2dpeth-Ho7Ehh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-contents2dpeth-B0P2xN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-contents2dpeth-UryqhU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-contents2dpeth-8oNxhE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-contents2dpeth-copy-2-YHtjak {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-contents2dpeth-copy-YHtjak {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-contents2dpeth-copy-4-YHtjak {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-contents2dpeth-e08o3J {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .group-QnF1iz {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .empty-ZMfYG3 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .line-copy-ZMfYG3 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginliveviewincomingcallinteractionflow .empty-s3TSTl {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-title-reference-QnF1iz {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewincomingcallinteractionflow .line-zr113G {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginliveviewincomingcallinteractionflow .home-net-ui-guideline-zr113G {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.servicepluginliveviewincomingcallinteractionflow .webgnb-xlLAnM {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewincomingcallinteractionflow .rectangle-1OdZ3A {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewincomingcallinteractionflow .background-1OdZ3A {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewincomingcallinteractionflow .index-1OdZ3A {
  background-color: transparent;
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-select-AoD4qS {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-unselect-AoD4qS {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginliveviewincomingcallinteractionflow .web-index-unelect_main-1OdZ3A {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginliveviewincomingcallinteractionflow .logo-gKs5dV {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.servicepluginliveviewincomingcallinteractionflow .web-tab-service-plug-in_cctv-xlLAnM {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginliveviewincomingcallinteractionflow .rectangle-KPqunx {
  background-color: var(--white);
  height: 94px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginliveviewincomingcallinteractionflow .x3rd-depth-KPqunx {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginliveviewincomingcallinteractionflow .tab-MUGRf4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginliveviewincomingcallinteractionflow .live-view-_-basic-st-qScjyF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 165px;
}

.servicepluginliveviewincomingcallinteractionflow .live-view-qScjyF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 57px;
}

.servicepluginliveviewincomingcallinteractionflow .live-view-_-feature-qScjyF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 118px;
}

.servicepluginliveviewincomingcallinteractionflow .live-view-_-interact-qScjyF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 168px;
}

.servicepluginliveviewincomingcallinteractionflow .incoming-call-_-stru-copy-qScjyF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 156px;
}

.servicepluginliveviewincomingcallinteractionflow .incoming-call-_-scre-qScjyF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 139px;
}

.servicepluginliveviewincomingcallinteractionflow .x3rd-depth-copy-KPqunx {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.servicepluginliveviewincomingcallinteractionflow .tab-xxaxv1 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginliveviewincomingcallinteractionflow .incoming-call-uxC293 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 85px;
}

.servicepluginliveviewincomingcallinteractionflow .incoming-call-_-feat-uxC293 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 146px;
}

.servicepluginliveviewincomingcallinteractionflow .incoming-call-_-inte-uxC293 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 198px;
}

.servicepluginliveviewincomingcallinteractionflow .incoming-call-_-inte-W00FqQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 262px;
}

.servicepluginliveviewincomingcallinteractionflow .incoming-call-_-inte-9XPven {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 315px;
}
